.mat-progress-bar {
    display: block;
    height: 1px;
    overflow: hidden;
    position: relative;
    transform: translateZ(0);
    transition: opacity 250ms linear;
    width: 100%;
  }
table{
margin-bottom:5px !important;
}
.table > tbody > tr > td, tr > th{
    padding:0px;
}
tr{
    height:30px;
}
td{
    vertical-align:middle !important;
}
th{
    background-color: rgb(196, 196, 196);
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.inputbox{
    background: transparent;
    width:16px;
    text-align:center;
    border: 0px solid;
    height:35px;
}

.row{
    margin:0px !important;
}