/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

.basic-container {
  padding: 5px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

.myPanel{
  .mat-dialog-container{
    background-color: #eaeaea;
}

}

.red{
  color:red;
}
.green
{
  color:green;
}
.orange{
  color:orange;
}

.login_bg{
  background:#f1f2f7; // url(assets/images/footer_bg.png) no-repeat bottom 0 center;

}
.login_logo{ text-align: center;padding:20px 0 10px 0;

}
.brand_element { float: left; width:174px; height:243px; background: url(assets/images/brand_element.png) no-repeat;
position: absolute; margin:-100px -268px 0 268px;      z-index: -99;
}

.zero_logo{
  z-index: -0;
  text-align: center;
  padding-left:400px;
 }


//////////////////////////////
//MAT - TABLE - STYLES
/////////////////////////////
mat-header-row{
  background-color: #adcfeb;
  padding-left: 0px !important;
  padding-right : 0px !important;
  margin-bottom: 0px;
  align-items: normal !important;
  min-height: none !important;
}
mat-row{
  border-bottom-style: none !important;
  padding-left: 0px !important;
  padding-right : 0px !important;
}
mat-header-cell {
  margin: 0 !important;
  padding:2px 2px 0 2px !important;
  color: #303c7a !important;
  font-size: 14px !important;
  font-weight:bold;
  border: solid 1px #c6ddf1 !important;
  border-bottom-style: none !important;
}
mat-cell{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  /* align-items center so that cell content is vertically centered */
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: solid 1px #c6ddf1;
  font-size: 12px !important;
}
mat-sort-header-button{
  line-height: normal !important;
}
.indexWidth{
  flex: 0 0 35px !important;
  padding-left:5px !important;
  text-align: center !important;
}
.editWidth{
  padding-left:3px !important;
  flex: 0 0 25px !important;
  border-right:none !important;
}
.viewWidth{
  padding-left:3px !important;
  flex: 0 0 25px !important;
  border-right:none !important;
}
.boolWidth{
  padding-left:3px !important;
  flex: 0 0 70px !important;
  border-right:none !important;
  text-align: center;
}
.deleteWidth{
  flex: 0 0 25px !important;
  border-left:none !important;
}
.panel {
  margin-bottom: 20px;
  background-color: #F3F4F8;
  border: 1px solid transparent;
}
.row {
    margin-right: -15px;
    margin-left: 0px;
}
/////////////////////////////
.mat-dialog-container{
  padding:0px !important;
}
.mat-cell, .mat-header-cell{
  padding-left:5px;
}
.mat-progress-bar {
  display: block;
  height: 1px;
  overflow: hidden;
  position: relative;
  transform: translateZ(0);
  transition: opacity 250ms linear;
  width: 100%;
}

.defaultAccess{
  padding: 1px 5px 1px 5px;
  border-radius: 5px;
}
app-project-process-config .mat-tab-label {
  color: black;
  font-family: calibri;
  background-color: #ccc;
}
app-project-process-config .mat-tab-label-active
{
  color: black;
  font-family: calibri;
  font-weight: 600;
  background-color:#fff;
}
app-project-process-config .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background:#353434;
}
app-project-process-config .mat-tab-labels
{
  background:#ccc
}

//Material Drop down Plain
.mat-dropdown-plain{
  width:100px !important;
  background-color: white;
  border: solid #d0d0d0 1px;
  padding: 5px;
}
.iconbutton{
  padding: 4px 8px 6px 7px;
  font-size: 18px;
  background-color: white;
  border: 1px solid #d0d0d0;
  cursor:pointer;
  border-collapse: collapse;
}
.maticonbutton{
  padding: 2px 2px 4px 3px;
  font-size: 18px;
  background-color: white;
  border: 1px solid #d0d0d0;
  cursor:pointer;
  border-collapse: collapse;
}
.flatbutton{
  padding: 7px 8px 5px 8px;
  font-size: 13px;
  background-color: white;
  border: 1px solid #d0d0d0;
  cursor:pointer;
  border-collapse: collapse;
}

.mat-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.mat-radio-label{
  font-weight: normal;
  align-items: unset;
}

.mat-radio-button-custom {
  margin: 5px;
}

.mat-radio-button.mat-accent .mat-radio-container{
  height: 15px;
  width: 15px;
}

.mat-radio-button.mat-accent .mat-radio-outer-circle{
  height: 15px;
  width: 15px;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle{
  height: 15px;
  width: 15px;
}

.mat-radio-button.mat-accent.mat-radio-checked div.mat-radio-outer-circle{
  border-color:rgb(75, 185, 130);
}

.mat-radio-button.mat-accent .mat-radio-inner-circle{
  color:rgb(75, 185, 130);
  background-color:rgb(75, 185, 130);
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color:rgb(75, 200, 130);
}

.mat-checkbox.mat-accent div.mat-checkbox-inner-container{
  height: 15px;
  width: 15px;
}

.mat-checkbox-label{
  font-weight: normal;
}

.multiselect-dropdown .dropdown-btn{
  border-radius: 0px !important;
  border: none !important;
  border-bottom: 1px solid #adadad !important;
  outline: none !important;
  text-decoration: none !important;

}
.multiselect-dropdown .dropdown-btn .dropdown-down
{
  display: inline-block !important;
  top: 10px !important;
  width: 0 !important;
  height: 0 !important;
  border-top: 8px solid #adadad !important;
  border-left: 5px solid transparent !important;
  border-right: 5px solid transparent !important;
}

.mat-select-disabled .mat-select-value{
  font-weight: bold !important;
  color:  black !important;
 }

 .mat-form-field-disabled{
  font-weight: bold !important;
  color: black !important;
 }
 .fa-trash{
  color: red !important;
 }
