<div class="row">
  <div class="row" mat-dialog-title style="height: 40px;background: #EBEBEB 0% 0% no-repeat padding-box;opacity: 1;"
    *ngIf="isFromDashboard">
    <div style="float:left;margin-top: 0.5%;">
      <label
        style="height: 17px;text-align: left;font: normal normal normal 14px/17px Roboto,'Helvetica Neue',sans-serif;;letter-spacing: 0px;color: #333333;opacity: 1;margin-left: 15px;margin-top: 5px">Assessment
        Finding Details
      </label>
    </div>
    <div style="float:right;margin-right: 3%;">
      <a class="close-button" (click)="onClose()" style="color:#333333;cursor: pointer;">
        <mat-icon class="close-icon">close</mat-icon>
      </a>
    </div>
  </div>
  <div style="padding: 12px; margin-left: 10px;" class="col-lg-6 col-md-6 col-sm-6">
    <app-project-selector (onChange)="project_onChange($event)" [allcust]="allcust" [allproj]="allproj"
      [skipNonAuditProjects]="true" [custId]="custId" [projId]="projId">
    </app-project-selector>
  </div>
</div>

<div class="row">
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
</div>
<mat-accordion style="margin-bottom: 10px !important;">
  <mat-expansion-panel [expanded]="IsSavedAuditsLoaded" style="margin: 10px;">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>Planned Assessment</b>
      </mat-panel-title>
      <mat-panel-description>
        Click here to view List of planned assessment for the selected Project !!
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div style="display: flex">
      <div *ngIf="plannedAudits?.length > 0" style="justify-content: flex-start; width: 255%">
        <table class="table-bordered table-striped" style="width: 95%; margin-left: 10px; margin-right: 20px;">
          <tr>
            <th style="padding: 5px;">Title</th>
            <th style="padding: 5px;">Planned Date</th>
            <th style="padding: 5px;">Actual Start Date</th>
            <th style="padding: 5px;width: 10%;">Due Date</th>
            <th style="padding: 5px;">Process Compliance (%) as on audit date</th>
            <th style="padding: 5px;">Current Process Compliance (%)</th>
            <th style="padding: 5px;">Total Audit Findings</th>
            <th style="padding: 5px;width: 0%;">No. of Open findings</th>
            <th style="padding: 5px;width: 0%;">No. of Closed findings</th>
            <th style="padding: 5px;">Audit Status</th>
            <th style="padding: 5px;">Findings</th>
            <th style="padding: 5px;">Action</th>
            <th style="padding: 5px;">Audit Report</th>
          </tr>
          <tr *ngFor="let list of plannedAudits; let i = index;">
            <td style="padding: 5px;"><a class="link"
                (click)="GetAuditAssesment(i, list.id, list.servicE_AREA_ID, list.description,
              list.scheduleD_START_DATE, list.duE_DATE,
              list.auditoR_ID, list.auditesS_ID, list.status, list.scheduleD_DURATION, list.actuaL_DURATION, list.actuaL_START_DATE, list.actuaL_END_DATE)">{{list.description
                }}</a></td>
            <td style="padding: 5px;">{{list.scheduleD_START_DATE?.slice(0, 10) }}</td>
            <td style="padding: 5px;">{{list.actuaL_AUDIT_START_DATE?.slice(0, 10) }}</td>
            <td style="padding: 5px;">{{list.duE_DATE?.slice(0, 10) }}</td>
            <td style="padding: 5px;">{{list.procesS_COMPLIANCE_AS_ON_AUDIT_DATE }}</td>
            <td style="padding: 5px;">{{list.currenT_PROCESS_COMPLIANCE }}</td>
            <td style="padding: 5px;">{{(findings !== undefined && findings.length > 0 ?
              getFindingsCount(list.id) : '0')}}</td>
            <td style="padding: 5px;">{{findings !== undefined && findings.length > 0 ? getOpenFindingCount(list.id) : '0'}}</td>
            <td style="padding: 5px;">{{findings !== undefined && findings.length > 0 ? getClosedFindingsCount(list.id) : '0'}}</td>
            <td style="padding: 5px;">{{list.status.charAt(0)+ list.status.slice(1).toLowerCase() }}</td>
            <td style="padding: 5px;">
              <a title="Findings" style="cursor: pointer;"
                (click)="GetAuditAssesment(i, list.id, list.servicE_AREA_ID, list.description,
              list.scheduleD_START_DATE, list.duE_DATE,
              list.auditoR_ID, list.auditesS_ID, list.status, list.scheduleD_DURATION, list.actuaL_DURATION, list.actuaL_START_DATE, list.actuaL_END_DATE)">View
                Findings</a>
            </td>
            <td style="padding: 5px;">
              <a title="Revert" style="cursor: pointer;" (click)="resubmitChecklistAssessment(list)">Revert to
                Re-Submit</a>
            </td>
            <td style="padding: 5px;">
              <a class="iconbutton" title="Export to PDF" (click)="handlePdfExport(i,list)">
                <i style="color: #da1f00;" class="fa fa-file-pdf-o"></i>
              </a>
            </td>
          </tr>
        </table>
      </div>
      <div style="justify-content: flex-end" [style.display]="isDisabledIncludeAssessment?'none':''">
        <mat-checkbox [(ngModel)]="completed" (ngModelChange)="filterList()" [disabled]="isDisabledIncludeAssessment">
          <b>Include Completed Assessements</b>
        </mat-checkbox>
      </div>
      <ng-template #confirmationDialog let-data>
        <h2 mat-dialog-title style="padding: 12px 13pc 0 13pc; margin: 0;">Confirm</h2>
        <mat-dialog-content style="padding: 12px 12px 0 12px; margin: 0;">
          Do you want the system to retain the corrective action plan as it is or remove the corrective action plan?
        </mat-dialog-content>
        <mat-dialog-actions style="padding: 20px;">
          <button mat-button [mat-dialog-close]="1" class="btn btn-primary">Retain</button>
          <button mat-button [mat-dialog-close]="0" class="btn btn-warning" style="margin-left: 67%;">Remove</button>
        </mat-dialog-actions>
      </ng-template>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<div style="margin: 10px;">
  <mat-tab-group [(selectedIndex)]="selectedIndex">
    <mat-tab label="Checklist" *ngIf="auditDataTitle">
      <div class="row" style="margin-left: 10px">
        <div style="float: left;margin-left: 15px">
          <mat-form-field style="width: 130px;">
            <textarea (keyup)="autoGrowTextZone($event)" placeholder="Assessment Title" [readonly]="true" matInput
              [(ngModel)]="auditDataTitle" required [disabled]="IsSubmitted || isCreateAccessDisabled"
              style="color: black;background-color: #fff;"></textarea>
          </mat-form-field>
        </div>
        <div style="float: left; padding: 12px;width: 200px;margin-left: 20px;">
          <mat-form-field>
            <mat-select placeholder="Appraiser Name" [(ngModel)]="selectedAuditor"
              [disabled]="IsSubmitted || isCreateAccessDisabled" required style="width:100% !important">
              <mat-option *ngFor="let list of auditorList" [value]="list.emP_ID" [title]="list.frsT_NM">{{list.frsT_NM}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div style="float: left;padding: 12px; margin-left: 20px;width: 200px;">
          <mat-form-field>
            <mat-select placeholder="Appraisee Name(s)" [(ngModel)]="selectedAuditees" multiple
              [disabled]="IsSubmitted || isCreateAccessDisabled" required style="width:100% !important">
              <mat-option *ngFor="let list of auditeesList" [value]="list.emP_ID" [title]="list.frsT_NM">
                {{list.frsT_NM}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div style="float: left; margin-top: 10px;margin-left: 20px;">
          <mat-form-field style="width: 155px;margin-right: 10px;">
            <input [(ngModel)]="startDate" matInput [matDatepicker]="picker1" [readonly]="true"
              placeholder="Planned start date" required [disabled]="IsSubmitted"
              style="color: black;background-color: #fff;">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
          <mat-form-field style="width: 155px;margin-right: 10px;margin-left: 20px; ">
            <input [min]="getMinDate()" [(ngModel)]="endDate" matInput [matDatepicker]="picker2" [readonly]="true"
              placeholder="Planned end date" required [disabled]="IsSubmitted"
              style="color: black;background-color: #fff;">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
        <div style="margin-left: 20px;float: left;margin-top: 10px; ">
          <mat-form-field style="width: 95px;">
            <input matInput type="number" name="plannedHrs" [readonly]="true" placeholder="Planned hrs"
              [(ngModel)]="plannedHours" required [disabled]="IsSubmitted" style="color: black;background-color: #fff;">
          </mat-form-field>
        </div>
        <div style="margin-left: 20px;float: left;margin-top: 10px; ">
          <mat-form-field style="width: 95px;">
            <input matInput type="number" name="actualHrs" placeholder="Actual Hrs" [(ngModel)]="actualHours" required
              [disabled]="IsSubmitted || isCreateAccessDisabled" style="color: black;background-color: #fff;">
          </mat-form-field>
        </div>

      </div>
      <div class="row" style="margin-bottom: 7px;margin-left: 10px">
        <div style="margin-left: 10px;float: left; ">
          <mat-form-field style="width: 380px;">
            <mat-select placeholder="Choose a Checklist" [(ngModel)]="selectedchecklist"
              [disabled]="IsChecklistDisabled || IsSubmitted || isCreateAccessDisabled"
              (selectionChange)="setChecklistData()" style="width:100% !important">
              <mat-option *ngFor="let list of checklist" [value]="list.checklisT_ID"
                [title]="list.checklisT_NAME +' ('+ list.versioN_ID +' - '+ list.checklisT_EFFECTIVE_FROM.slice(0, 10) +')'">
                {{list.checklisT_NAME}}
                <span style="font-weight: bold;">
                  {{ ' (' + list.versioN_ID + ' - ' + list.checklisT_EFFECTIVE_FROM.slice(0, 10) + ')'}}</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div style="margin-left: 20px;float: left; ">
          <mat-form-field style="width: 60px;">
            <input matInput type="number" name="checklistversion" placeholder="version" [(ngModel)]="checklistversion"
              required [disabled]="IsSubmitted || isCreateAccessDisabled" style="color: black;background-color: #fff;"
              [readonly]="true">
          </mat-form-field>
        </div>
        <div style="margin-left: 20px; float: left;">
          <mat-form-field style="width: 75px;">
            <input matInput type="number" name="checklistscore" placeholder="Score" [(ngModel)]="checklistScore"
              required [disabled]="IsSubmitted || isCreateAccessDisabled" style="color: black;background-color: #fff;"
              [readonly]="true">
          </mat-form-field>
        </div>
        <div *ngIf="IsSubmitted" style="text-align: center; float: left;">
          <h6 style="margin: -20px;font-weight: 700;">As on audit date</h6>
        </div>
        <div style="margin-left: 20px; float: left;">
          <mat-form-field style="width: 165px;">
            <input matInput type="number" name="checklistPercentage" placeholder="Process Compliance(%)"
              [(ngModel)]="checklistScorePercentage" required [disabled]="IsSubmitted || isCreateAccessDisabled"
              style="color: black;background-color: #fff;" [readonly]="true">
          </mat-form-field>
        </div>
        <div *ngIf="IsSubmitted" style="margin-left: 20px;float: left;">
          <mat-form-field style="width: 75px;">
            <input matInput type="text" name="updatedchecklistscore" placeholder="Score"
              [(ngModel)]="updatedChecklistScore" [disabled]="IsSubmitted || isCreateAccessDisabled"
              style="color: black;background-color: #fff;" [readonly]="true">
          </mat-form-field>
        </div>
        <div *ngIf="IsSubmitted" style="text-align: center; float: left;">
          <h6 style="margin: -20px;font-weight: 700;">As on today</h6>
        </div>
        <div *ngIf="IsSubmitted" style="margin-left: 20px;float: left;">
          <mat-form-field style="width: 165px;">
            <input matInput type="text" name="updatedchecklistScorePercentage" placeholder="Process Compliance(%)"
              [(ngModel)]="updatedChecklistScorePercentage" [disabled]="IsSubmitted || isCreateAccessDisabled"
              style="color: black;background-color: #fff;" [readonly]="true">
          </mat-form-field>
        </div>
        <div style="margin-left: 20px;float: left;" *ngIf="isMaturityLevelApplicable">
          <mat-form-field style="width: 180px;">
            <input matInput type="text" name="checklistmaturitylevel" placeholder="Maturity Level"
              [(ngModel)]="checklistmaturitylevel" required [disabled]="IsSubmitted || isCreateAccessDisabled">
          </mat-form-field>
        </div>
        <div style="text-align: left; float: left; margin-left: 10px;">
          <mat-form-field style="width: 140px;margin-right: 10px;">
            <input [(ngModel)]="actualstartDate" matInput [matDatepicker]="picker3" [min]="startDate"
              [max]="_util.Today()" placeholder="Actual Start date" required
              [disabled]="IsSubmitted || isCreateAccessDisabled" style="color: black;background-color: #fff;">
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
          </mat-form-field>
        </div>
        <div style="text-align: left; float: left; margin-left: 10px;">
          <mat-form-field style="width: 140px;margin-right: 10px">
            <input [(ngModel)]="actualendDate" matInput [matDatepicker]="picker4" [min]="startDate"
              [max]="_util.Today()" placeholder="Actual End date" required [disabled]="IsSubmitted"
              style="color: black;background-color: #fff;">
            <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
            <mat-datepicker #picker4></mat-datepicker>
          </mat-form-field>
        </div>

        <div style="float: left;margin-left: 10px">
          <mat-form-field style="width:200px !important; ">
            <mat-select name="ddCustomer" [(ngModel)]='custIds' multiple (selectionChange)="LoadCustomerID()"
              (openedChange)="sortCustomer()" placeholder="Customer" [disabled]="IsSubmitted || isCreateAccessDisabled"
              style="color: black ;background-color: #fff;">
              <mat-form-field style="padding-left: 10px; width: 300px !important">
                <input matInput placeholder="Search Customer" (keydown)="$event.stopPropagation()"
                  (keyup)="filterCustomer()" [(ngModel)]="searchCustomerValue">
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
              <mat-option *ngFor="let c of Customer" [value]="c.cusT_ID" [title]="c.cusT_NM">
                {{ c.cusT_NM}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div style="margin-left: 20px;float: left; ">
          <mat-form-field style="width:200px !important; ">
            <mat-select name="ddCcList" [(ngModel)]="selectedCCs" (openedChange)="sortCCList()" placeholder="CC List"
              multiple [disabled]="IsSubmitted || isCreateAccessDisabled" style="color: black;background-color: #fff;">
              <mat-form-field style="padding-left: 10px; width: 300px !important">
                <input matInput placeholder="Search Employee" (keydown)="$event.stopPropagation()"
                  (keyup)="filterCCEmployees()" [(ngModel)]="searchCCValue">
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
              <div *ngIf="cclist.length == 0" style="padding-left: 10px; font-weight: bold; font-size: 12px;">
                No results found
              </div>
              <mat-option *ngFor="let c of cclist" [value]="c.emP_ID"> {{c.frsT_NM}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div style="margin-left: 20px;float: left; ">
          <mat-form-field style="width:200px !important;">
            <mat-select name="ddToList" [(ngModel)]="selectedTos" (openedChange)="sortToList()" placeholder="To List"
              multiple [disabled]="IsSubmitted || isCreateAccessDisabled" style="color: black ;background-color: #fff;">
              <mat-form-field style="padding-left: 10px; width: 300px !important">
                <input matInput placeholder="Search Employee" (keydown)="$event.stopPropagation()"
                  (keyup)="filterToEmployees()" [(ngModel)]="searchToValue">
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
              <div *ngIf="tolist.length == 0" style="padding-left: 10px; font-weight: bold; font-size: 12px;">
                No results found
              </div>
              <mat-option *ngFor="let c of tolist" [value]="c.emP_ID"> {{c.frsT_NM}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div style="float: left;margin-left: 10px;margin-top: auto; ">
          <mat-form-field>
            <mat-select placeholder="Applicable Service Tower" [disabled]="true" [(ngModel)]="selectedServiceArea"
              multiple class="serviceareadd" style="width:100% !important">
              <mat-option *ngFor="let list of serviceAreaNew" [value]="list.id" [title]="list.title">{{list.title}}
              </mat-option>
            </mat-select>
          </mat-form-field> &nbsp;&nbsp;&nbsp;&nbsp;
          <a style="color:royalblue;margin-bottom: 80%;" href="/assets/images/maturitylevelaudit.png"
            target="_blank">Click here to view Maturity Level</a>
        </div>
      </div>

      <div>
        <mat-progress-bar *ngIf="!isdataSubmitted" mode="indeterminate"></mat-progress-bar>
      </div>
      <div *ngIf="!checklist" style="text-align: center; height: 100px; line-height: 100px;">
        <i class="fa fa-circle-o-notch fa-spin" style="margin-right: 10px; font-size: 25px;"></i>Loading...
      </div>
      <div *ngFor="let data of checkListDataNew; let i = index" style="margin-top: 10px; padding-left: 20px;">
        <mat-accordion>
          <div *ngIf="IsSubmitted" style="display: flex;justify-content: flex-end;text-align: right;font-weight: 600;">
            <span style="margin-right: 7%;">As on audit date</span>
            <span style="margin-right: 10%;">As on today</span>
          </div>

          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div style="color:black;font-size: 14px !important;">
                  <b style="margin-right: 7px">Service Tower :
                    <u>{{data.servicE_AREA_NAME}}</u>
                  </b>
                  <b>
                    N/A :
                  </b>
                  <mat-checkbox [(ngModel)]="data.isSelected" (change)="selectAllServiceArea($event, data)">
                  </mat-checkbox>
                </div>
              </mat-panel-title>
              <mat-panel-description>

                <div style="display: flex;justify-content: flex-end;text-align: right;width:100%; margin-right: 4%;">
                  <div style="color:black;font-size: 14px !important;text-align: right;white-space: pre-wrap;"
                    *ngIf="isMaturityLevelApplicable">
                    <b> Maturity Level: {{getServiceAreaMaturityLevel(data.percentage)}}</b>
                  </div>
                  <div style="color:black;font-size: 14px !important;">
                    <b> {{'Score : '+ getServiceAreaScore(data) + ' out of '+ getServiceAreaMaxScore(data) + ' (' +
                      getServiceAreaPercentage(data) +' %)'}} </b>
                  </div> &nbsp;&nbsp;
                  <div *ngIf="IsSubmitted" style="color:black;font-size: 14px !important;">
                    <b> {{'Score : '+ getServiceAreaUpdatedScore(data) + ' out of '+ getServiceAreaMaxScore(data)
                      + ' (' +
                      getServiceAreaUpdatedPercentage(data) +' %)'}} </b>
                  </div>
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <ng-container *ngFor="let processModel of data.checkpointS_BY_PROCESS_MODEL">
              <div style="display : flex;align-items: center;margin-top: -14px;">
                <div
                  style="color:grey;font-size: 14px !important; padding-left: 20px !important;margin-bottom: 10px;white-space: nowrap;">
                  <b style="margin-right: 7px">Process Model:
                    <u>{{processModel.procesS_MODEL_NAME}}</u>
                  </b>
                  <b>
                    N/A :
                  </b>
                  <mat-checkbox [(ngModel)]="processModel.isSelected"
                    (change)="selectAllProcessModel($event, processModel)"></mat-checkbox>
                </div>
                <div style="display: flex; justify-content: flex-end;text-align: right;width:100%;margin-right: 3%;">
                  <div style="color:grey;font-size: 14px !important;white-space: pre-wrap;"
                    *ngIf="isMaturityLevelApplicable">
                    <b> Maturity Level: {{getProcessModelMaturityLevel(processModel.percentage)}}</b>
                  </div>
                  <div style="color:grey;font-size: 14px !important;">
                    <b> {{'Score : '+ getProcessModelScore(processModel) + ' out of '+
                      getProcessModelMaxScore(processModel) + ' (' + getProcessModelPercentage(processModel) +' %)'}}
                    </b>
                  </div> &nbsp;&nbsp;
                  <div *ngIf="IsSubmitted" style="color:grey;font-size: 14px !important;">
                    <b> {{'Score : '+ getProcessModelUpdatedScore(processModel) + ' out of '+
                      getProcessModelMaxScore(processModel) + ' (' + getProcessModelUpdatedPercentage(processModel) +'
                      %)'}}
                    </b>
                  </div>
                </div>
              </div>

              <ng-container *ngFor="let processArea of processModel.checkpointS_BY_PROCESS_AREA">
                <div style="display : flex;align-items: center">
                  <div
                    style="color:grey;font-size: 14px !important; padding-left: 35px !important;margin-bottom: 10px;white-space: nowrap;">
                    <b style="margin-right: 7px">Process Area:
                      <u>{{processArea.procesS_AREA_NAME}}</u>
                    </b>
                    <b>
                      N/A :
                    </b>
                    <mat-checkbox [(ngModel)]="processArea.isSelected"
                      (change)="selectAllProcessArea($event, processArea)"></mat-checkbox>
                  </div>
                  <div style="display: flex; justify-content: flex-end;text-align: right;width:100%">

                    <div style="color:grey;font-size: 14px !important;white-space: pre-wrap;margin-right: 2%;"
                      *ngIf="isMaturityLevelApplicable">
                      <b> Maturity Level: {{getProcessAreaMaturityLevel(processArea.percentage)}}</b>
                    </div>
                    <div style="color:grey;font-size: 14px !important;margin-right: 0.8%;">
                      <b> {{'Score : '+ getProcessAreaScore(processArea) + ' out of '+
                        getProcessAreaMaxScore(processArea) + ' (' + getProcessAreaPercentage(processArea) +' %)'}} </b>
                    </div> &nbsp;&nbsp;
                    <div *ngIf="IsSubmitted" style="color:grey;font-size: 14px !important;margin-right: 4.5%;">
                      <b> {{'Score : '+ getProcessAreaUpdatedScore(processArea) + ' out of '+
                        getProcessAreaMaxScore(processArea) + ' (' + getProcessAreaUpdatedercentage(processArea) +'
                        %)'}} </b>
                    </div>
                  </div>
                </div>
                <ng-container *ngFor="let process of processArea.checkpointS_BY_PROCESS">
                  <div style="display : flex; align-items: center">
                    <div
                      style="color:grey;font-size: 14px !important; padding-left: 50px !important;margin-bottom: 10px;white-space: nowrap;">
                      <b style="margin-right: 7px">Process:
                        <u>{{process.procesS_NAME}}</u>
                      </b>
                      <b>
                        N/A :
                      </b>
                      <mat-checkbox [(ngModel)]="process.isSelected" (change)="selectAllProcess($event, process)">
                      </mat-checkbox>
                    </div>
                    <div style="display: flex; justify-content: flex-end;text-align: right;width:100%;">
                      <div style="color:grey;font-size: 14px !important;">
                        <b> {{'Score : '+ getProcessScore(process) + ' out of '+ getProcessMaxScore(process) + ' (' +
                          getProcessPercentage(process) +' %)'}} </b>
                      </div> &nbsp;&nbsp;
                      <div *ngIf="IsSubmitted" style="color:grey;font-size: 14px !important; margin-right: 3.5%;">
                        <b> {{'Score : '+ getProcessUpdatedScore(process) + ' out of '+
                          getProcessMaxScore(process) + ' (' +
                          getProcessUpdatedPercentage(process) +' %)'}} </b>
                      </div>
                    </div>
                  </div>
                  <table style="width: 100%; font-size: 13px !important;"
                    class="table table-bordered table-striped table-hover">
                    <thead style="background-color: #c6ddf9;">
                      <tr>
                        <th style="width: 2px;">S.No</th>
                        <th [hidden]="hideweightage" style="width: 5%;">Weightage category</th>
                        <th style="width:40%">Look for</th>
                        <th style="width: 50%;">Status</th>
                        <th style="width: 2% !important">Score</th>
                        <th style="width: 10%">Notes</th>
                        <th>Add/Edit Findings</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let row of process.checkpoints;let i = index">
                        <td style="width: 2px;padding: 0px;vertical-align: middle">{{i+1}}</td>
                        <td [hidden]="hideweightage" style="width: 5%;padding: 0px;vertical-align: middle">
                          {{row.weightagE_TITLE}}</td>
                        <td
                          style="min-width: 40% !important; white-space:break-spaces;width:80%;padding: 0px;vertical-align: middle">
                          {{row.looK_FOR}}</td>
                        <td style="width: 10% !important;padding: 0px;vertical-align: middle">
                          <mat-select placeholder="Select Status" [(ngModel)]="row.statuS_VALUE_ID"
                            (ngModelChange)="setStatusCategory(row, process, processArea, data)"
                            [disabled]="row.issubmitted">
                            <mat-option *ngFor="let val of checklistStatusValues"
                              [value]="val.id">{{val.statuS_LIST_VALUE}}</mat-option>
                          </mat-select>
                        </td>
                        <td style="width: 2% !important;padding: 0px;vertical-align: middle;text-align: center;">
                          <mat-form-field style="width: 40px;">
                            <input matInput style="text-align: center;" type="number" name="score"
                              [(ngModel)]="row.score" required [readonly]="true">
                          </mat-form-field>
                        </td>
                        <td style="width: 15%;padding: 0px;vertical-align: middle">
                          <mat-form-field style="width: 100%;">
                            <textarea style="height: 15px;" [(ngModel)]="row.notes" (keyup)="autoGrowTextZone($event)"
                              matInput name="notes" [readonly]="IsSubmitted || isCreateAccessDisabled">
                                {{row.notes}}
                              </textarea>
                          </mat-form-field>
                        </td>
                        <td style="text-align: center;padding: 0px;vertical-align: middle">
                          <div *ngIf="row.statuS_CATEGORY == 'MET' || row.statuS_CATEGORY == 'NMET'">
                            <a title="Add Findings" style="cursor: pointer;" (click)="showFindingPopup(row, i)">
                              <i class="material-icons">
                                note_add
                              </i>
                            </a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </ng-container>
              </ng-container>
            </ng-container>
          </mat-expansion-panel>
        </mat-accordion>

      </div>
      <div *ngIf="checkListDataNew && checkListDataNew.length > 0" style="margin: 10px;text-align: center" class="row">
        <button [disabled]="IsSubmitted || isCreateAccessDisabled" class="btn btn-primary"
          (click)="SaveCheckListExecutionNew('Save')" style="margin: 5px" mat-raised-button>Save</button>
        <button (click)="SaveCheckListExecutionNew('AFSubmit')"
          [disabled]="issubmitenabled || isCreateAccessDisabled || IsSubmitted" class="btn btn-primary"
          style="margin: 5px" mat-raised-button>Submit</button>
      </div>
      <div>
        <mat-progress-bar *ngIf="!isdataSubmitted" mode="indeterminate"></mat-progress-bar>
      </div>
    </mat-tab>
    <mat-tab *ngIf="corrective_action_tracking && IsSubmitted" label="Findings">
      <app-checklist-auditee [checkListData]="checkListDataNew" [checklistSummaryRec]="checklistSummaryRec" [originalPlannedAudits]="originalPlannedAudits"
        (selectedChecklist)="changeChecklistStatus($event)"></app-checklist-auditee>
    </mat-tab>
  </mat-tab-group>
</div>