<mat-accordion>
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header style="height:34px">
      Select chart type and features
    </mat-expansion-panel-header>
    <div class="row">
      <div class="col-lg-8">
        <div class="row" style="padding: 1px 0 1px 5px">
          <div class="col-lg-3 col-md-3 col-sm-6">
            <mat-form-field class="padding10">
              <input matInput name="txtTitle" style="font-family:Avenir Next;font-size:15px" [(ngModel)]='selectedParams.title' placeholder="Chart Title">
            </mat-form-field>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <mat-form-field class="padding10">
              <mat-select name="ddChartUser" [(ngModel)]="selectedParams.charT_USER" placeholder="Select chart User" required>
                <mat-option *ngFor="let c of ddChartUsers" [value]="c" [title]="c">{{c}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <!-- <mat-form-field *ngIf="selectedParams.charT_USER === 'PROJECT'" class="padding10">
              <input matInput name="txtCategory" [(ngModel)]="selectedParams.category" disabled placeholder="Group Name" required>
            </mat-form-field> -->
            <mat-form-field *ngIf="selectedParams.charT_USER === 'PROJECT'" class="padding10">
              <mat-select name="ddChart" [(ngModel)]="selectedParams.category" placeholder="Group Name" required>
                <mat-option value="custom" selected>Custom</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="selectedParams.charT_USER === 'SYSTEM'" class="padding10">
              <mat-select name="ddChart" [(ngModel)]="selectedParams.category" placeholder="Group Name" required>
                <mat-option *ngFor="let r of reportGroups" [value]="r" [title]="r">{{r}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <mat-form-field class="padding10">
              <input matInput name="txtSubcategory" [(ngModel)]='selectedParams.subcategory' placeholder="Perspective Description" required>
            </mat-form-field>
          </div>

          <!-- <div class="col-lg-3 col-md-3 col-sm-6">
            <mat-form-field class="padding10">
              <mat-select *ngIf="!_util.IsQuality()" name="ddChartUser" [(ngModel)]="selectedParams.datA_DUMP_TYPE" placeholder="Select Data Type"
                required>
                <mat-option *ngFor="let c of ddChartDataDumpType" [value]="c">{{c}}</mat-option>
              </mat-select>
              <mat-select *ngIf="_util.IsQuality()" name="ddChartUser_quality" [(ngModel)]="selectedParams.datA_DUMP_TYPE" placeholder="Select Data Type"
                required>
                <mat-option *ngFor="let c of ddChartDataDumpType" [value]="c">{{c}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div> -->
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6">
            <mat-form-field style="padding-right:5px;" style="width:80%">
              <mat-select name="ddDatadump" [(ngModel)]="selectedReportType" placeholder="Select Data Dump">
                <mat-option *ngFor="let r of reportTypes" [value]="r" [title]="r.datA_DUMP_NAME">{{r.datA_DUMP_NAME}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <mat-form-field class="padding10">
              <mat-select name="ddChart" [(ngModel)]="selectedParams.charT_TYPE" placeholder="Select Chart Type" required>
                <mat-option *ngFor="let c of HighChartTypes" [value]="c" [title]="c">{{c}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <mat-form-field class="padding10">
              <input name='dtStartDate' [(ngModel)]='selectedParams.starT_DATE' matInput [matDatepicker]="pickerReportStartDate" placeholder="Start Date"
                required>
              <mat-datepicker-toggle matSuffix [for]="pickerReportStartDate"></mat-datepicker-toggle>
              <mat-datepicker #pickerReportStartDate></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <mat-form-field class="padding10">
              <input name='dtEndDate' [(ngModel)]='selectedParams.enD_DATE' matInput [matDatepicker]="pickerReportEndDate" placeholder="End Date"
                required>
              <mat-datepicker-toggle matSuffix [for]="pickerReportEndDate"></mat-datepicker-toggle>
              <mat-datepicker #pickerReportEndDate></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6">
            <mat-form-field class="padding10">
              <mat-select name="ddyAxis" [(ngModel)]="selectedParams.yaxiS_TYPE" placeholder="Select Y axis Type" required>
                <mat-option *ngFor="let c of ddChartFieldsyAxis" [value]="c" [title]="c">{{c}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <mat-form-field class="padding10">
              <input matInput name="txtYAxisLabel" [(ngModel)]='selectedParams.yaxiS_LABLE' placeholder="Chart Y axis lable">
            </mat-form-field>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <mat-form-field class="padding10">
              <input matInput type="number" name="txtTarget" [(ngModel)]='selectedParams.target' placeholder="Target">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6">
            <mat-form-field class="padding10">
              <mat-select name="ddxAxis" [(ngModel)]="selectedParams.xaxiS_TYPE" placeholder="Select X axis Type" required>
                <mat-option *ngFor="let c of xAxisChartFields" [value]="c" [title]="c">{{c}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <mat-form-field class="padding10">
              <mat-select name="ddFrequency" [(ngModel)]="selectedParams.frequency" placeholder="Select Frequency">
                <mat-option *ngFor="let c of ddFrequencyFields" [value]="c" [title]="c">{{c}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <mat-form-field class="padding10">
              <mat-select name="ddGroupBy1" [(ngModel)]="selectedParams.grouP_BY_LEVEL1" placeholder="Level 1">
                <mat-option *ngFor="let c of ddChartFields" [value]="c" [title]="c">{{c}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <!-- <mat-form-field class="padding10">
              <mat-select name="ddGroupBy2" [(ngModel)]="selectedParams.grouP_BY_LEVEL2" placeholder="Level 2">
                <mat-option *ngFor="let c of ddChartFields" [value]="c">{{c}}</mat-option>
              </mat-select>
            </mat-form-field> -->
          </div>
        </div>
        <div class="row" style="background-color: #e8e8e8;">
          <div class="col-lg-8">
            Filter:
          </div>
          <div class="col-lg-4" style="text-align:right">
            <mat-icon class="link_add" (click)='AddFilter_onClick()'>add_circle</mat-icon>
          </div>
        </div>
        <div class="row" *ngFor="let filter of selectedParams.filters">
          <div class="col-lg-3 col-md-3 col-sm-6">
            <mat-form-field class="padding10">
              <mat-select name="ddFilterField" [(ngModel)]="filter.field" placeholder="Select Filter Field">
                <mat-option *ngFor="let c of ddChartFields" [value]="c" [title]="c">{{c}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <mat-form-field class="padding10">
              <mat-select name="ddFilter" [(ngModel)]="filter.filter" placeholder="select Filter">
                <mat-option *ngFor="let c of ddFilter" [value]="c" [title]="c">{{c}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <mat-form-field class="padding10">
              <input matInput name="txtFilterString" [(ngModel)]='filter.filteR_STRING' placeholder="Search text">
            </mat-form-field>
          </div>
          <div class="col-lg-2">
            <mat-form-field class="padding10">
              <mat-select name="ddFilterOperator" [(ngModel)]="filter.operator" placeholder="select operator">
                <mat-option *ngFor="let c of ddFilterOperator" [value]="c" [title]="c">{{c}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-1" style="text-align:right;vertical-align:bottom">
            <mat-icon class="link_remove" (click)='RemoveFilter_onClick(filter)'>remove_circle</mat-icon>
          </div>
        </div>
        <div class="row" style="padding:10px">
          <div class="col-lg-12">
            <button class="btn btn-success" value="Generate Chart" (click)='GenerateChart_onClick()' style="margin-right:5px">Generate Report</button>
            <button class="btn btn-success" value="Generate Chart" (click)='AddToProject_onClick()'>Add to List</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <!-- <div class="example-container"> -->
        <mat-tab-group *ngIf="_util.IsQuality()" style="height:300px;padding:2px;background-color:white">
          <mat-tab label="System Charts">
            <div class="example-container">
              <table mat-table [dataSource]="getSystemCharts()" class="table table-bordered">
                <ng-container matColumnDef="index">
                  <th mat-header-cell [ngClass]="'indexWidth'" *matHeaderCellDef>No.</th>
                  <td mat-cell [ngClass]="'indexWidth'" *matCellDef="let element = index;"> {{(element + 1)}} </td>
                </ng-container>
                <ng-container matColumnDef="category">
                  <th mat-header-cell *matHeaderCellDef>Group</th>
                  <td mat-cell *matCellDef="let definitions">{{definitions.category}}</td>
                </ng-container>
                <ng-container matColumnDef="subcategory">
                  <th mat-header-cell *matHeaderCellDef>Perspective</th>
                  <td mat-cell *matCellDef="let definitions">{{definitions.subcategory}}</td>
                </ng-container>
                <ng-container matColumnDef="title">
                  <th mat-header-cell *matHeaderCellDef>Chart Title</th>
                  <td mat-cell *matCellDef="let definitions">{{definitions.title}}</td>
                </ng-container>
                <ng-container matColumnDef="edit">
                  <th [ngClass]="'editWidth'" *matHeaderCellDef>
                    <div></div>
                  </th>
                  <td nowrap mat-cell [ngClass]="'editWidth'" *matCellDef="let element">
                    <a class="link" (click)="EditRow_onClick(element)" style="padding-right:5px">
                      <i class="fa fa-edit"></i>
                    </a>
                    <a class="link" (click)="DeleteRow_onClick(element)" style="padding-right:5px">
                      <i class="fa fa-trash"></i>
                    </a>
                    <a class="link" (click)="SaveRow_onClick(element)">
                      <i class="fa fa-save"></i>
                    </a>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngStyle]="{'background-color':row.id === selectedParams.id ? '#d9e2ec' : 'transparent' }"></tr>
              </table>
            </div>
          </mat-tab>
          <mat-tab label="Project Charts">
            <div class="example-container">
              <table mat-table [dataSource]="getProjectCharts()" class="table table-bordered">
                <ng-container matColumnDef="index">
                  <th mat-header-cell [ngClass]="'indexWidth'" *matHeaderCellDef>No.</th>
                  <td mat-cell [ngClass]="'indexWidth'" *matCellDef="let element = index;"> {{(element + 1)}} </td>
                </ng-container>
                <ng-container matColumnDef="category">
                  <th mat-header-cell *matHeaderCellDef>Group</th>
                  <td mat-cell *matCellDef="let definitions">{{definitions.category}}</td>
                </ng-container>
                <ng-container matColumnDef="subcategory">
                  <th mat-header-cell *matHeaderCellDef>Perspective</th>
                  <td mat-cell *matCellDef="let definitions">{{definitions.subcategory}}</td>
                </ng-container>
                <ng-container matColumnDef="title">
                  <th mat-header-cell *matHeaderCellDef>Chart Title</th>
                  <td mat-cell *matCellDef="let definitions">{{definitions.title}}</td>
                </ng-container>
                <ng-container matColumnDef="edit">
                  <th [ngClass]="'editWidth'" *matHeaderCellDef>
                    <div></div>
                  </th>
                  <td mat-cell [ngClass]="'editWidth'" *matCellDef="let element">
                    <a class="link" (click)="EditRow_onClick(element)" style="padding-right:5px">
                      <i class="fa fa-edit"></i>
                    </a>
                    <a class="link" (click)="DeleteRow_onClick(element)" style="padding-right:5px">
                      <i class="fa fa-trash"></i>
                    </a>
                    <a class="link" (click)="SaveRow_onClick(element)">
                      <i class="fa fa-save"></i>
                    </a>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
          </mat-tab>
        </mat-tab-group>
        <div *ngIf="!_util.IsQuality()" class="example-container">
          <table *ngIf="!_util.IsQuality()" mat-table [dataSource]="getProjectCharts()" class="table table-bordered">
            <ng-container matColumnDef="index">
              <th mat-header-cell [ngClass]="'indexWidth'" *matHeaderCellDef>No.</th>
              <td mat-cell [ngClass]="'indexWidth'" *matCellDef="let element = index;"> {{(element + 1)}} </td>
            </ng-container>
            <ng-container matColumnDef="category">
              <th mat-header-cell *matHeaderCellDef>Group</th>
              <td mat-cell *matCellDef="let definitions">{{definitions.category}}</td>
            </ng-container>
            <ng-container matColumnDef="subcategory">
              <th mat-header-cell *matHeaderCellDef>Perspective</th>
              <td mat-cell *matCellDef="let definitions">{{definitions.subcategory}}</td>
            </ng-container>
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef>Chart Title</th>
              <td mat-cell *matCellDef="let definitions">{{definitions.title}}</td>
            </ng-container>
            <ng-container matColumnDef="edit">
              <th [ngClass]="'editWidth'" *matHeaderCellDef>
                <div></div>
              </th>
              <td mat-cell [ngClass]="'editWidth'" *matCellDef="let element">
                <a class="link" (click)="EditRow_onClick(element)" style="padding-right:5px">
                  <i class="fa fa-edit"></i>
                </a>
                <a class="link" (click)="DeleteRow_onClick(element)" style="padding-right:5px">
                  <i class="fa fa-trash"></i>
                </a>
                <a class="link" (click)="SaveRow_onClick(element)">
                  <i class="fa fa-save"></i>
                </a>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<div class="row" class="padding10">
  <mat-progress-bar *ngIf="_loading" mode="indeterminate"></mat-progress-bar>
  <div *ngFor="let chart of showCharts" class="row">
    <highcharts-chart [Highcharts]="Highcharts" [options]="chart" [(update)]="updateFromInput" [oneToOne]=true style="width: 100%; display: block;">
    </highcharts-chart>
  </div>
</div>