
.redicon
  {
      color: #f44336;
      float: left;
  }
  .ambericon
  {
      color: #dd8109;
      float: left;
  }
  .greenicon
  {
      color: #237f00;
      float: left;
  }
  .name {
    margin-bottom: 11px;
    font-size: 11px;
    font-weight: 600
  }
  .divClass {
    width: 25px;
    height: 25px;
    float: left;

  }
  .bordered_content {
    font-size: 12px;
  font-family: calibri;
  border: #ccc 1px solid;
  color: #524f4f;
  background-color: #fff!important;
  box-shadow: 1px 1px 1px #ccc;
  border-radius: 3px;
  
  }

.vertical{
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg) !important;
    transform: rotate(-90deg);
    width: 180px;
    height: 180px;
    font-size: 14px;
}
.divVer{
  float: left;
  /* margin: 10px; */
  width: 2em;
  padding: 0px;
  height: 200px;
}
