<mat-horizontal-stepper linear #stepper labelPosition="bottom" class="stepper">

  <mat-step [stepControl]="IdeaDetails" [editable]="isEditable">
    <form [formGroup]="IdeaDetails">
      <ng-template matStepLabel>Idea Submission</ng-template>

      <app-bvd-ideas-list></app-bvd-ideas-list>
    </form>
  </mat-step>
  <mat-step [stepControl]="EvaluateBenefits" [editable]="isEditable">
    <form [formGroup]="EvaluateBenefits">
      <ng-template matStepLabel>Evaluate Benefits</ng-template>
      <app-idea-benefit-entry></app-idea-benefit-entry>
    </form>
  </mat-step>
  <mat-step [stepControl]="ImplementationPlan" [editable]="isEditable">
    <form [formGroup]="ImplementationPlan">
      <ng-template matStepLabel>Implementation Plan</ng-template>

      <app-implementation-plan></app-implementation-plan>
    </form>
  </mat-step>
  <mat-step [stepControl]="ReviewApprove" [editable]="isEditable">
    <form [formGroup]="ReviewApprove">
      <ng-template matStepLabel>Review & Approve</ng-template>
    </form>
  </mat-step>
</mat-horizontal-stepper>