body
{
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}  
::ng-deep .mat-tab-labels {
  color: black;
  font-family: Roboto;
  background-color:#eaeaea;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 1px;
  font-weight: 900
}

::ng-deep .mat-tab-list {
  flex-grow: 1;
  position: relative;
  transition: transform .5s cubic-bezier(.35,0,.25,1);
}

::ng-deep .mat-ink-bar {
  position: absolute;
  bottom: 0;
  height: 2px;
  transition: .5s cubic-bezier(.35,0,.25,1);
  background-color: white !important;
  visibility: visible;
  left: 161px;
  width: 160px;
}

::ng-deep .mat-tab-label
{
  height: 30px !important;
}

::ng-deep .mat-tab-label-active {
  color: black;
  font-family: Roboto;
  font-weight:bolder;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #59a3fd !important;
}