<!-- <div class="container-fluid"> 
    <h2 class="text-center">Test</h2>
    <div class="row">
      <h4 style=" margin-left:1%;">Title:</h4>
     <mat-form-field style="width: 266px; margin-top: -0.7%; margin-left: 0.5%;">
          <input matInput value="">
        </mat-form-field> -->
       <!-- </div>
    <div class="row">
      <h4 style=" margin-left: 1%;">Description:</h4>
        <mat-form-field style="width: 215px;  margin-left:1.2%; margin-top: -2%;" class="process-full-width">
          <textarea matInput></textarea>
        </mat-form-field>
     </div>
   <div class= "row">
      <h4  style=" margin-left: 1%;">Classify:</h4>
      <mat-form-field style="margin-left: 0.3%; width: 110px; margin-top: -0.7%;">
      <mat-select name="name1">
        <mat-option *ngFor="let user1 of users1" [value]="user1.value">
          {{user1.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <h4  style=" margin-left: 1%;">Test assessment:</h4>
      <mat-form-field style="margin-left: 0.3%; width: 110px; margin-top: -0.7%;">
      <mat-select name="name1">
        <mat-option *ngFor="let user2 of users2" [value]="user2.value">
          {{user2.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <h4  style=" margin-left: 1%;">Reference:</h4>
  <form class="control-form" style="margin-top: -0.7%; margin-left: 0.3%;"> -->
    <!-- <mat-form-field style="width: 120px;">
      <input matInput value="">
    </mat-form-field> -->
  <!-- </form>
  <h4  style=" margin-left:1%;">Control:</h4>
  <mat-form-field style="margin-left: 0.3%; width: 115px; margin-top: -0.7%;">
      <mat-select [formControl]="Control" multiple>
          <mat-option *ngFor="let Control of ControlList" [value]="Control">{{Control}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div> -->
  <!-- <div class="row">
      <h4 style="margin-left:1%">Reference Document</h4>
      <i class="material-icons"  style=" margin-left:1%; margin-top: 0.5%; "(click)="fileInput.click()"> add_circle </i>
      <input hidden type="file" #fileInput>
    </div> -->
    <!-- <div class="row">
        <h4 style="margin-left:1%">Reference Document</h4>
      <i class="material-icons"   style=" margin-left:1%; margin-top: 0.5%; "(click)="fileInput.click()"> add_circle </i> -->
        <!-- <input hidden  type="file" #fileInput > -->
         <!-- <input type="file" name="myFile" multiple style="margin-left: 1%; margin-top: 0.5%; background-color: #0000ff38;">
        
      </div>
  </div> -->
  <div class="row" style="margin-bottom: 15px;">
      <button mat-raised-button matTooltip="Add new Test" class="plusbutton" (click)="AddNewTestRow()">
          <mat-icon>add</mat-icon> Create
      </button>
  </div>

  <div class="row"> 
  <table mat-table [dataSource]="dataSource" class="table-bordered table-responsive-md table-striped text-align:left" style="width:100%;" >
      <ng-container matColumnDef="id">
          <th style="text-align: left;color: black" mat-header-cell *matHeaderCellDef ><strong>S.No</strong></th>
          <td mat-cell *matCellDef="let element = index" >
            {{ element+1 }}
          </td>
      </ng-container>
      <ng-container matColumnDef="title">
          <th style="text-align: left;color: black" mat-header-cell *matHeaderCellDef ><strong>Test Title</strong></th>
          <td mat-cell *matCellDef="let element;let id = index" >
            <div *ngIf="id != iEditIndex">
              {{ element.procesS_MODEL_TESTS_NEW?.title }}
            </div>
            <div *ngIf="id === iEditIndex">
              <input type="text"  name="ddtitle" placeholder="enter test title" required [(ngModel)]="title" style="width: 100%;box-sizing: border-box; ">    
            </div>
          </td>
      </ng-container>
      <ng-container matColumnDef="description">
          <th style="text-align: left;color: black" mat-header-cell *matHeaderCellDef ><strong>Test Description</strong></th>
          <td mat-cell *matCellDef="let element;let id = index" >
              <div *ngIf="id != iEditIndex">
                {{ element.procesS_MODEL_TESTS_NEW?.description }}
              </div>
              <div *ngIf="id === iEditIndex">
                <input type="text"  name="dddescription" required placeholder="enter test description" [(ngModel)]="description" style="width: 100%;box-sizing: border-box; ">    
              </div>
          </td>
      </ng-container>
      <ng-container matColumnDef="controls">
          <th style="text-align: left;color: black" mat-header-cell *matHeaderCellDef ><strong>Control List</strong></th>
          <td mat-cell *matCellDef="let element;let id = index" >
              <div *ngIf="id != iEditIndex">
                  {{ displayAsAString(element.procesS_MODEL_CONTROL_NEW) }}
              </div>
              <div *ngIf="id === iEditIndex">
                  <mat-form-field style="width: 100%; box-sizing: border-box">
                      <mat-select name="ddcontrols" [(ngModel)]="controlmodel" [compareWith]="compareFn"  multiple placeholder = "Control Lists" [formControl]="selectedOptions">
                        <mat-option *ngFor = "let control of controls" [value]="control" [title]="control.title"> 
                          {{ control.title}}
                        </mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>
          </td>
      </ng-container>
      <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef ></th>
          <td mat-cell *matCellDef="let element;let id = index">
            &nbsp;
            &nbsp;
            <span *ngIf="id != iEditIndex">
                <a class="link" (click)="EditRow_onClick(element, id)">
                  <i class="fa fa-edit"></i>
                </a>
              </span>
            <span *ngIf="id === iEditIndex">
                  <a class="text-success link" (click)="SaveRow_onClick(element)">
                    <mat-icon>save</mat-icon>
                  </a>
                  <a class="text-success link" (click)="CancelEdit_onClick(element)">
                    <mat-icon>close</mat-icon>
                  </a>
            </span>
            &nbsp;
            &nbsp;
                <a style="color:red" class="link" (click)="DeleteRow_OnClick(element)">
                  <i class="fa fa-trash"></i>
               </a>
          </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> 
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>