<div style="margin-top:0.5%;margin-left: 0%;" class="row">
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2" style="float: left;">
      <div *ngIf="_util.IsGAVS()" class="backbuttonlink" [routerLink]="['/newdashboard/custm']" (click)="resetValues()">
        <img src="assets/images/back_round.png">
      </div>
      <img class="image" style="height:45px;padding:5px;margin-top: -20%;margin-left:15%"
        src="assets/images/{{custId}}.png" onerror="this.src='assets/images/CustomerLogo.png'">
    </div>
    <!-- <div class="prevNext col-lg-2 col-md-2 col-sm-2" style="float: right;padding-left: 5%;">
      <button [disabled]="currIndex == 0" (click)="onPrev()" style="font-size: 12px;margin-right: 5%;border:none">
        <i class="fa fa-arrow-left"></i>&nbsp;Previous</button>
      <button [disabled]="currIndex == 2" (click)="onNext()" style="font-size: 12px;border:none">
        Next&nbsp;<i class="fa fa-arrow-right"></i></button>
    </div> -->
  </div>
</div>
<div style="margin-left: 1%;margin-top:0.5%;" class="row">
  <div class="col-sm-3 col-md-6 col-lg-3" style="float: left;">
    <table class="col-sm-3 col-md-6 col-lg-3">
      <tr>
        <td>
          <mat-form-field>
            <mat-select name="ddCustomer" placeholder="Account" [(ngModel)]='customeR_IDS' [disabled]="_loading"
              (selectionChange)="selectedPeriod_OnChange()" multiple #selectCustomer>
              <mat-option value="-1" (click)="toggleSelectionForCustomer()" #allCustomerSelected>All</mat-option>
              <mat-option *ngFor="let c of customer" [value]="c.cusT_ID" [title]="c.cusT_NM" (click)="customerTosslePerOne()">
                {{ c.cusT_NM}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input type="text" placeholder="Chart Title" matInput
              [(ngModel)]='this.assessmentFindingInputs.charT_TITLE' />
          </mat-form-field>
        </td>


        <td>
          <mat-form-field>
            <mat-select name="ddXaxis" placeholder="Select X axis" [disabled]="_loading"
              [(ngModel)]='this.assessmentFindingInputs.xAxis'>
              <mat-option value="customer">Account</mat-option>              
              <mat-option value="csm">CSM</mat-option>             
              <mat-option value="portfolio" *ngIf="_util.IsPremier(customerId)">Portfolio</mat-option>
              <mat-option value="project">Project</mat-option>
              <mat-option value="month">Month</mat-option>
              <mat-option value="quarter">Quarter</mat-option>
            </mat-select>
          </mat-form-field>
        </td>

        <td>
          <mat-form-field>
            <mat-select name="ddyaxis" placeholder="Select Y axis" [disabled]="_loading"
              [(ngModel)]='this.assessmentFindingInputs.yAxis'>
              <mat-option value="count">Count</mat-option>
            </mat-select>
          </mat-form-field>
        </td>

        <td>

          <mat-form-field>
            <mat-select name="FindingStatus" placeholder="Finding Status" [disabled]="_loading"
              [(ngModel)]='assessmentFindingInputs.findinG_STATUS'>
              <mat-option value="All"> All</mat-option>
              <mat-option value="Open"> Open</mat-option>
              <mat-option value="Close"> Close
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td>

          <mat-form-field>
            <mat-select name="FindingType" placeholder="Finding Type" [disabled]="_loading"
              [(ngModel)]='assessmentFindingInputs.findinG_TYPE' multiple #select>
              <mat-option value="All" (click)="toggleSelection()" #allSelected>All</mat-option>
              <mat-option [value]="type.findingtypE_VALUE" *ngFor="let type of findingsType"
                [title]="type.findingtypE_VALUE" (click)="tosslePerOne()">{{type.findingtypE_VALUE}}</mat-option>
            </mat-select>

          </mat-form-field>

        </td>

        <td>
          <mat-form-field>
            <mat-select name='tableYear' (selectionChange)="selectedPeriod_OnChange()" [(ngModel)]="selectedYear"
              placeholder="Choose Financial Year" [disabled]="_loading">
              <mat-option [value]="bb" *ngFor="let bb of ddyear" [title]="bb">{{bb}}</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field>
            <mat-select name='tableMonth' (selectionChange)="selectedPeriod_OnChange()" [(ngModel)]="selectedQuarter"
              placeholder="Choose Period" [disabled]="_loading">
              <mat-option value='Q1'>Q1</mat-option>
              <mat-option value='Q2'>Q2</mat-option>
              <mat-option value='Q3'>Q3</mat-option>
              <mat-option value='Q4'>Q4</mat-option>
              <mat-option value='Select Period'>Select Period</mat-option>
            </mat-select>
          </mat-form-field>
        </td>


        <td>
          <mat-form-field style="width:89%">
            <input [(ngModel)]="fromDate" matInput [matDatepicker]="picker1" matInput placeholder="From"
              [disabled]="selectedQuarter == 'Select Period'?'false' : 'true'">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field style="width:89%">
            <input [(ngModel)]="toDate" matInput [matDatepicker]="picker2" placeholder="To"
              [disabled]="selectedQuarter == 'Select Period'?'false' : 'true'" matInput>
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </td>

        <td>
          <mat-form-field>
            <mat-select name='tableTrend' (selectionChange)="selectedPeriod_OnChange()" [(ngModel)]="trendQuarter"
              placeholder="Show Data" [disabled]="_loading">
              <mat-option [value]="1">For Specific Period </mat-option>
              <mat-option [value]="2">Till Chosen Period </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <mat-select name='agePeriod' [(ngModel)]="assessmentFindingInputs.findinG_AGE" placeholder="Ageing Period"
              [disabled]="_loading">
              <!-- <mat-option value="0 to 30"> 0 to 30 days</mat-option>
              <mat-option value="30 to 60"> 30 to 60 days</mat-option>   
              <mat-option value="60 to 90"> 60 to 90 days</mat-option>    
              <mat-option value="> 90"> > 90 days</mat-option>        -->
              <mat-option value="-1"> All </mat-option>    
              <mat-option value="1"> > 30 days</mat-option>
              <mat-option value="2"> < 30 days</mat-option>
              
             
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <div
      style="text-align: center !important;display: inline-flex;position: relative;top:0%;left:180%;right:0%;bottom:0%">

      <button class="btn btn-primary" style="float: left;border:none;margin-right: 7%;width:95%" mat-raised-button
        (click)="loadData()" [disabled]="_loading">Generate Chart</button>
      <button class="btn btn-warning" style="border:none;float:right;width:50%" mat-raised-button (click)="reset()"
        [disabled]="_loading">Reset</button>
      <button class="btn btn-primary" mat-raised-button style="border:none;float:right;width:50%;margin-left: 7%;"
        mat-raised-button (click)="ViewAssessmentFindingDetails()" [disabled]="assessmentFindingData == undefined ? true : false">View Account Level Details</button>

    </div>
  </div>

  <div style="float: left;width: 97%;margin-left: 1%;margin-top:0.5%;height:auto">
    <mat-progress-bar *ngIf="_loading" mode="indeterminate"></mat-progress-bar>
  </div>

  <div style="float: left;height: auto;margin-left: 1%;margin-right:1%;width:100%;margin-top:1%"
    *ngIf="assessmentFindingData != undefined">

    <highcharts-chart *ngIf="assessmentFindingData != undefined" [Highcharts]="Highcharts"
      [options]="assessmentFindingData"
      style="display: block;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    </highcharts-chart>
    <div
      style="display: block;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:400px;text-align: center;"
      *ngIf="assessmentFindingData == undefined">
      <div
        style='font-family: Lucida Grande, "Lucida Sans Unicode", Arial, Helvetica, sans-serif;      font-size: 12px;'>
        Internal Assessment Findings</div>
      <i style="font-size: 70px;margin-top: 90px;opacity: 0.6;" class="material-icons md-inactive">warning</i>
      <div style="font-family: calibri;font-weight: normal;font-size: 18px">No Data found </div>
    </div>
  </div>
</div>