<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <app-navbar-new [ShowMenu]="false"></app-navbar-new>
  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav-content style="background-color:#eaeaea">

      <div class="mainDiv">
        <div class="row">
          <div class="crispCard">
            <div class="crispInnerCard">
              <table class="crispTable">
                <tr>
                  <td>
                    <span class="crispLetter">C</span>
                    <span class="crispText">
                      <b>ustomer Success Goals
                        <sub>(c)</sub>
                      </b>
                    </span>
                  </td>
                  <td class="crispCategoryScore" [style.color]="getColorByCustomer('CRISP_C')">
                    <span>{{getTitleByCustomer('CRISP_C')}}</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span style="font-size:10px;padding-left:5px;">View Trend</span>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="crispCard">
            <div class="crispInnerCard">
              <table class="crispTable">
                <tr>
                  <td>
                    <span class="crispLetter">R</span>
                    <span class="crispText">
                      <b>isk & Issues
                        <sub>(R)</sub>
                      </b>
                    </span>
                  </td>
                  <td class="crispCategoryScore" [style.color]="getColorByCustomer('CRISP_R')">
                    <span>{{getTitleByCustomer('CRISP_R')}}</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span style="font-size:10px;padding-left:5px;"></span>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="crispCard">
            <div class="crispInnerCard">
              <table class="crispTable">
                <tr>
                  <td>
                    <span class="crispLetter">I</span>
                    <span class="crispText">
                      <b>deas & Innovations
                        <sub>(I)</sub>
                      </b>
                    </span>
                  </td>
                  <td class="crispCategoryScore" [style.color]="getColorByCustomer('CRISP_I')">
                    <span>{{getTitleByCustomer('CRISP_I')}}</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span style="font-size:10px;padding-left:5px;"></span>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="crispCard">
            <div class="crispInnerCard">
              <table class="crispTable">
                <tr>
                  <td>
                    <span class="crispLetter">S</span>
                    <span class="crispText">
                      <b>ervice Successs
                        <sub>(S)</sub>
                      </b>
                    </span>
                  </td>
                  <td class="crispCategoryScore" [style.color]="getColorByCustomer('CRISP_S')">
                    <span>{{getTitleByCustomer('CRISP_S')}}</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span style="font-size:10px;padding-left:5px;">View Trend</span>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="crispCard">
            <div class="crispInnerCard">
              <table class="crispTable">
                <tr>
                  <td>
                    <span class="crispLetter">P</span>
                    <span class="crispText">
                      <b>rocess Compliance
                        <sub>(P)</sub>
                      </b>
                    </span>
                  </td>
                  <td class="crispCategoryScore" [style.color]="getColorByCustomer('CRISP_P')">
                    <span>{{getTitleByCustomer('CRISP_P')}}</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span style="font-size:10px;padding-left:5px;">View Trend</span>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div id="mainContent">
          <div id="portfolioCount">
            All Accounts
            <span style="font-size: 18px; font-weight: 600">(6)
              <span>(3 /</span>
              <span>2 /</span>
              <span>1)</span>
            </span>
            <img *ngIf="progress" class="image" style="height:20px;padding:0px" src="assets/images/loading_spinner.gif"
              onerror="this.src ='assets/images/CustomerLogo.png'">
            <a *ngIf="!progress" (click)="Refresh_Onclick()" style="cursor: pointer; margin-right: 900px;">
              <mat-icon style="vertical-align: middle;color:#e0dbdb">refresh</mat-icon>
            </a>
            <!-- <button class="btn btn-warning">
              <a style="text-align: right; margin-right: 7px; text-decoration: none; color: white; font-weight: normal !important; font-size: 14px;" class="link" [routerLink]="['/dashboard']">Link to old CSM Portal</a>
            </button> -->
          </div>
          <div id="portfolioCard" style="float: left; margin-right: 15px;" *ngFor="let p of customerList;">
            <div id="topRow" style="display: block; border: 1px solid ;"
              [style.border-color]="getColorByCustomerId('OVERALL_HEALTH', p.cusT_ID)">
              <!-- <div id="crispScore" [style.background-color]="getColorByCustomerId('OVERALL_HEALTH', p.cusT_ID)" style="float: right">
                CRISP : {{getTitleByCustomerId('OVERALL_HEALTH', p.cusT_ID)}}
              </div> -->
              <div id="cardtitle" style="float: left; padding: 5px">
                <div id="portfolioName" style="color: #4e5882; font-size: 11px;width: 224px;">
                  <!-- [routerLink]="['/newdashboard/cust', p.cusT_ID, true]" -->
                  <a style="cursor: pointer;" (click)="ResetFilter(p.cusT_ID, p.iS_SLA_AVAILABLE)">
                    {{p.cusT_NM}}
                  </a>
                </div>
              </div>
            </div>
            <div id="crispComponents" style="display: block; margin-top: 25px; width: 100%;">
              <table style="width: 100%" class="portfolioTable">
                <tr style="margin-bottom: 10px; font-size: 13px; color: #8c8c8c">
                  <td>Success Goal</td>
                  <td>Process Compliance</td>
                  <td>Service Success</td>
                </tr>
                <tr style="font-size: 18px">
                  <td>{{getTitleByCustomerId('SUCCESS_GOAL_SCORE', p.cusT_ID)}}</td>
                  <td></td><!--{{getTitleByCustomerId('CSS_PC', p.cusT_ID)}}-->
                  <td></td><!--{{getTitleByCustomerId('CSS_SS', p.cusT_ID)}}-->
                </tr>
              </table>
            </div>
            <div id="remainingCRISP" style="width: 100%; height: 48px;">
              <div id="risksIssues"
                style="width: 140px;  margin-left: 10px; margin-right: 10px; box-sizing: border-box; float: left">
                <table style="text-align: center; width: 90%">
                  <tr style="font-size: 11px; color:#8c8c8c ">
                    <td colspan="3">Risks/ Issues ({{getTitleByCustomerId('RISK_ISSUE_TOTAL', p.cusT_ID)}})</td>
                  </tr>
                  <tr>
                    <td style="background-color: #ffcccc; color: #ff6666; border-right: 2px solid transparent">
                      {{getTitleByCustomerId('RISK_ISSUE_H_TOTAL', p.cusT_ID)}}</td>
                    <td style="background-color: #ffe0b3; color: #ffb84d;border-right: 2px solid transparent">
                      {{getTitleByCustomerId('RISK_ISSUE_M_TOTAL', p.cusT_ID)}}</td>
                    <td style="background-color: #ccffb3; color: green; border-right: 2px solid transparent">
                      {{getTitleByCustomerId('RISK_ISSUE_L_TOTAL', p.cusT_ID)}}</td>
                  </tr>
                  <tr style="font-size: 10px; color:#8c8c8c ">
                    <td>High</td>
                    <td>Med</td>
                    <td>Low</td>
                  </tr>
                </table>
              </div>
              <div id="ideas" style="float: right; width: 80px; height: 48px;">
                <table style="width: 100%">
                  <tr style="color:#8c8c8c; font-size: 12px; ">
                    <td colspan="3">Ideas ({{getTitleByCustomerId('IDEAS', p.cusT_ID)}})</td>
                  </tr>
                  <tr style="font-size: 14px;color: black">
                    <td>
                      <img src="assets/Premier/Automation.png"
                        style="margin-right: 5px">{{getTitleByCustomerId('IDEAS_AUTOMATIONS', p.cusT_ID)}}
                    </td>
                    <td>
                      <img src="assets/Premier/Innovation.png"
                        style="margin-right: 5px">{{getTitleByCustomerId('IDEAS_INNOVATIONS', p.cusT_ID)}}
                    </td>
                    <td>
                      <img src="assets/Premier/Process Improvements.png"
                        style="margin-right: 5px">{{getTitleByCustomerId('IDEAS_IMPROVEMENTS', p.cusT_ID)}}
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <!-- <div id="footer">
              <span>as on: </span>
              <span>
                <b>{{ today() | date: 'MMM dd, yyyy'}}</b>
              </span>
            </div> -->
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12"
            style="text-align: right;font-size:12px;color:grey;padding-top:10px">
            <!-- <span *ngIf="_access.IsAllowed(900, 1, '', '')">
                  <a style="text-align: right; margin-right: 7px; text-decoration: none; font-weight: normal !important; font-size: 12px;"
                  class="link" [routerLink]="['/csm-dashboard']"> CSM Dashboard
                </a>  
              </span>   -->
            <span>
              <!-- <a style="text-align: right; margin-right: 7px; text-decoration: none; font-weight: normal !important; font-size: 12px;"
                class="link" [routerLink]="['/dashboard']">Link to old CSM Portal</a>|  -->
              For support, contact
              <a style="margin-right: 7px; text-decoration: none;" class="link"
                href="mailto:csmplatformsupport@gavstech.com">csmplatformsupport@gavstech.com</a>|
            </span> Page refresh in {{timeLeft}} sec..
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>