body
{
    width : 100%;
    height: 100%;
    background-color: #eeeeee;
    background-image: none;
    font-family: 'Roboto';
}
@media screen and (min-width: 1366px) {
    body 
    {
        width : 1366px;
    }
  }

#LogoTopLine{ 
    height: 4px;
    width: 100%;
}
#blue1{
    height: 4px;
    width : 52.71%;
    background-color: #5165a4;
    float: left;
}
#red{
    height: 4px;
    width: 30.75%;
    background-color: #dc2540;
    float: left;
}
#blue2{
    height: 4px;
    width: 16.54%;
    background-color:#5165a4;
    float: left;
}

#Gavs-logo
{
   // height: 25px;
    width: 230px;
    margin-top: 11px;
    margin-bottom: 10px;
    margin-left: 15px;
}

#container
{
    margin-top: 130px;
    padding-top: 15px;
    vertical-align: middle;
    height: 410px;
    background-image: url('/assets/images/brand_element.png');
    background-repeat: no-repeat;
    background-position-x : 160px;
    background-position-y: 10px;
    background-size: 235px 320px;
}
#Login_Portal{
    margin-left: auto;
    margin-right: 90px;
    height: 330px;
    width : 607px;
    padding-top:0px;
    background-color: white;
    box-shadow: 1px 1px 5px gray;
    border-radius: 4px;
}
#customerLabel{
  margin-left: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: grey;
  font-weight: bold;
  font-family: 'Roboto';
  padding-bottom: 3px;
  font-size: 15px;
  height: 15px;
  width: 250px;
}

#GavsLabelContainer{
    vertical-align: middle;
}
#GAVSLabel{
  color: black;
  font-weight: 900;
  margin-left: 18px;
  font-size: 13px;
  width: 250px;
  padding-top: 8px;
  padding-bottom: 0px;
  vertical-align: middle;
  height: 30px;
}

#Username{
    height: 40px;
    width: 285px;
    border-radius: 5px;
    border: none;
    background-color: #f4f4f4;
    vertical-align: middle;
    color: black;
    font-size: 13px;
}
button :focus{
    outline-width: 0px;
    box-shadow: 1px 1px 5px gray;
}
#passwd{
    height: 40px;
    width: 285px;
    font-size: 13px;
    border-radius: 5px;   
    border: none;
    background-color: #f4f4f4;
    vertical-align: middle;
    color: black;
}
.textBox
{
    margin-left: 15px;
    margin-top: 10px;
    padding-left: 15px;
}
#LoginButton{
    margin-left: 15px;
    margin-top: 30px;
    height: 40px;
    width : 285px;
    border-radius : 1px;
    background-color: #2a3a6f;
    color: #a4aac1;
    border: none;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 14px;
}
#OneLoginButton{
    margin-left: 15px;
    margin-top: 30px;
    height: 40px;
    width : 285px;
    border-radius : 1px;
    background-color: #2a3a6f;
    color: #a4aac1;
    border: none;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 14px;
}
#forgotPassword{
    text-decoration: none;
   padding-left: 100px;
   padding-top: 15px;
   color : #cfcfcf;
   font-size: 12px;
}
#forgotLink{
  color: gray;
}
#left{
    font-size: xx-small;
    float: left;
    width :320px;
    border-right : 2px dotted #afafaf;
}
#right{
   float: left;
   height: 230px;
   width : 250px;
   margin-bottom: 30px;
}

#LoginHeaderSection{
    text-align: center;
    vertical-align: middle;
    font-size : 27px;
    padding-top: 13px;
}
#cus{
    height: 40px;
    display: inline-block;
    color: #364577;
    font-size: 23px;
    font-weight: 500;
}
#exp{
    height: 40px; 
    display: inline-block;
    color: #6c6c6c;
    font-size: 23px;
    padding-right : 4px;
   font-weight: normal;
}

#switch{
    display: none;
}

#GavsUsers{
    font-size: 12px;
    margin-left: 10px;
    color: #666666;
}
#forgotLink{
    cursor : pointer;
}

#ofcImageContainer{
    text-align: centre;
    vertical-align: middle;
    width: 148px;
    height:50px;
    padding-top: 8px;
    background-color: #E5F3FB;
}

#Office365{
    background-color: #E5F3FB;
    height:40px;
    background-image: url('/assets/images/office365.png');
    background-repeat: no-repeat;
    cursor: pointer;
    width: 140px;
    border: 0px;
    //border-radius: 6px;
    //box-shadow: 1px 1px 5px gray;
}
#Office365 :hover{
    box-shadow: 1px 1px 3px #b1ff32;
}

#googleImageContainer{
    text-align: centre;
    vertical-align: middle;
    width: 148px;
    height:50px;
    padding-top: 2px;
    padding-left: 2px;
    background-color: #E5F3FB;
}

#google{
    background-color: #E5F3FB;
    height:40px;
    background-image: url('/assets//images/Google.PNG');
    background-repeat: no-repeat;
    cursor: pointer;
    width: 140px;
    border: 0px;
    //border-radius: 6px;
    //box-shadow: 1px 1px 5px gray;
}
#google :hover{
    box-shadow: 1px 1px 3px #b1ff32;
}

.btn {
    display: inline-block;
    padding: 2px 2px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
    body{
        width: 320px;
        font-family: 'Roboto';
        background-color: white;
        margin: 0px;
        padding: 0px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    #headerSection {
        display: none;
    }

    #container {
        height: 600px;
        width: 320px;
        margin-top: 0px;
        background-image: url('/assets/images/brand_element.png');
        background-repeat: no-repeat;
        background-position: top;
        background-color: white;
        background-position-y: 50px;
        background-size: 75px 110px;
        margin-left: auto;
        margin-right: auto;
    }

    #Login_Portal {
        margin-top: 150px;
        margin-left: auto;
        margin-right: auto;
        width: 320px;
        height: auto;
        padding-top: 0px;
        background-color: white;
        box-shadow: none;
        border-radius: 0px;
    }

    #cus {
        height: 25px;
        display: inline-block;
        color: #364577;
        font-size: 17px;
        font-weight: bold;
        width: 100%;
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
    }

    #exp {
        height: 25px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
        color: #6c6c6c;
        font-size: 17px;
        font-weight: bold;
    }

    #customerLabel {
        margin-left: 32px;
        margin-top: 25px;
        margin-bottom: 0px;
        padding-left: 90px;
        color: grey;
        font-weight: normal;
        font-family: 'Roboto';
        font-size: 12px;
        height: 15px;
        width: 250px;
    }
    #GavsLabelContainer {
        display: none;
    }
    #Username {
        height: 40px;
        width: 234px;
        border-radius: 0px;
        border-bottom: 1px solid black;
        vertical-align: middle;
        background-color: white;
        color: black;
        font-size: 13px;
        margin-left: 37px;
        margin-right: 49px;
    }
    #passwd {
        height: 40px;
        width: 234px;
        font-size: 13px;
        border-radius: 0px;
        border-bottom: 1px solid gray;
        background-color: white;
        vertical-align: middle;
        color: black;
        margin-left: 37px;
        margin-right: 49px;
    }
    button :focus {
        outline-width: 0px;
        box-shadow: 1px 1px 5px gray;
    }

    .textBox {
        padding-left: 5px;
    }

    #LoginButton {
        margin-top: 34px;
        height: 31px;
        margin-left: 95px;
        width: 73px;
        border-radius: 5px;
        background-color: #2a3a6f;
        color: white;
        border: none;
        cursor: pointer;
        font-family: sans-serif;
        display: block;
        font-size: 14px;
    }
    #forgotPassword {
        text-decoration: none;
        margin-top: 15px;
        padding: 0px;
        color: #cfcfcf;
        font-size: 12px;
        padding-right: 20px;
    }

    #forgotLink {
        color: gray;
    }
    #left {
        font-size: xx-small;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        float: none;
        width: 320px;
        height: auto;
        border-right: none;
    }
    #right {
        float: none;
        width: 100%;
        height: auto;
        padding-top: 10px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    #GavsUsers {
        font-size: 12px;
        text-align: center;
        vertical-align: middle;
        margin:0;
        color: #666666;
    }
    
    #switch{
        display: inline;
        font-size: 12px;
        font-weight: 700;
        color: #666666;
        padding-right: 2px;
    }
    #LoginHeaderSection{
        padding-top: 5px;
    }

}

