.star-rating {   
  display: flex;   
  justify-content: center;   
  gap: 10px;
  
  button.disabled-button {     
    pointer-events: none;     
    opacity: 0.5;   
  }    

  mat-icon {     
    font-size: 40px;          

    &.blue-star {       
      color: skyblue !important;     
    }      
    
    &.rating-1 {       
      color: #ff0000 !important; 
    }      
    
    &.rating-2 {
      color: #da3e3e !important; 
  }
  
    
    &.rating-3 {       
      color: #ffbf00 !important;
    }      
    
    &.rating-4 {       
      color: #90ee90 !important; 
    }      
    
    &.rating-5 {       
      color: #006400 !important; 
    }   
  } 
}  

::ng-deep .mat-icon-button {   
  width: 45px !important;   
  height: 45px !important;   
  line-height: 45px !important;   
  margin: 0 5px;    
  
  .mat-icon {     
    font-size: 40px !important;     
    width: 40px !important;     
    height: 40px !important;     
    line-height: 40px !important;   
  } 
}  

.disabled-button mat-icon {   
  font-size: 40px;   
  color: skyblue; 
}