.mat-tab-body-content{
  background-color: white;
}
.link {
  cursor: pointer;
  text-decoration: none;
  color:steelblue;
  vertical-align: middle;
  text-align: center;
}
.mat-column-starT_DATE {
  flex: 0 0 90px;
}
.mat-column-enD_DATE {
  flex: 0 0 90px;
}
.row{
  padding:0px;
  margin:0px;
}