.mat-progress-bar {
    display: block;
    height: 1px;
    overflow: hidden;
    position: relative;
    transform: translateZ(0);
    transition: opacity 250ms linear;
    width: 100%;
  }
table{
margin-bottom:5px !important;
}
.table > tbody > tr > td, tr > th{
    padding:0px;
}
tr{
    height:30px;
}
td{
    vertical-align:middle !important;
}
th{
    background-color: rgb(196, 196, 196);
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.inputbox{
    background: transparent;
    width:16px;
    text-align:center;
    border: 0px solid;
    height:35px;
}

.row{
    margin:0px !important;
}

// ::ng-deep mat-checkbox > label > div {
//     height:15px;
//     width:15px;
// }
::ng-deep .mat-checkbox-inner-container {
    height:15px !important;
    width:15px !important;
}
// ::ng-deep .mat-checkbox-input {
//     height:15px;
//     width:15px;
// }
// ::ng-deep .mat-checkbox-inner-container-no-side-margin{
//     height:15px;
//     width:15px;
// }

// ::ng-deep mat-checkbox-inner-container {
//     height:15px;
//     width:15px;
// }
// ::ng-deep mat-checkbox-inner-container-no-side-margin{
//     height:15px;
//     width:15px;
// }

//////////////////
body
{
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.container-fluid
{
    margin: 0px;
    padding: 0px;
}

#Gavs-logo {
    height: 34px;
    width: 89px;
    margin-right: 15px;
    margin-left: 5px;
    padding: 6px;
    margin-top: 0px;
}

#header-text
{
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
    color: #535d85;
}

.panel-heading
{
    padding: 0px;
    height: 40px;
    vertical-align: middle;
}
.panel-body{
    background-color: #f5f5f5;
}

// #ContentBody{
//     background-color: #f5f5f5; 
//  }
 #filter{
     height: 6.4%;
     width: 100%;
     background-color: crimson;
 }
#mainContent {
    background-color: white;
    margin: 10px;
    height: 600px;
    margin-top: 0px;
    box-shadow: 0px 0.5px 2.5px gray;
    border-radius: 8px;
}
 #crispScore{
     height: 34px;
     width: 110px;
     background-color: red;
     color: white;
     font-weight: 900;
     text-align: center;
     vertical-align: middle;
     margin-left: auto;
     margin-right: 30px;
     border-radius: 0px 0px 10px 10px;
     padding-top: 8px;
     box-sizing: border-box;
 }
 #portfolios{
     float: left;
     height: 220px;
     width: 700px;
     background-color: white;
     margin-left: 25px;
     border-radius: 10px;
     color: #535d85;
     padding: 9px;
     font-weight: 700;
     box-shadow: 0px 0.5px 2.5px gray;
 }
 
 #customersucess{
    height: 220px;
    width: 190px;
     background-color: white;
     margin-left: 25px;
     border-radius: 10px;
     color: #535d85;
     padding: 8px;
     font-weight: 700;
     box-shadow: 0px 0.5px 2.5px gray;
     float: left;
 }
 #customerPie{
     margin-top: 0px;    
     height: 100px; 
     margin-left: auto;
     margin-right: auto;
     padding-top: 1px;
 }
 table{
     margin-left: auto;
     margin-right: auto;
 }
 .left-column
 {
     width: 100px;
 }
 #Risks{
    height: 260px;
    width: 190px;
     background-color: white;
     border-radius: 10px;
     color: #535d85;
     margin-left: 20px;
     padding: 9px;
     font-weight: 700;
     box-shadow: 0px 0.5px 2.5px gray;
     border: 1px solid red;
     float: left;
     margin-top: 18px;
 }

 .issuesSplitNo{
     text-align: center;
     padding: 3px;
 }

 #ideas
 {
    height: 260px;
    width: 370px;
     background-color: white;
     border-radius: 10px;
     color: #535d85;
     margin-left: 20px;
     margin-top: 18px;
     padding: 9px;
     font-weight: 700;
     box-shadow: 0px 0.5px 2.5px gray;
     float: left;
 }

 #businessProcess{
    height: 80px;
    width: 195px;
 }

 #staffingSummary{
    height: 260px;
    width: 230px;
    background-color: white;
     border-radius: 10px;
     color: #535d85;
     padding: 9px;
     font-weight: 700;
     margin-left: 20px;
     box-shadow: 0px 0.5px 2.5px gray;
     margin-top: 18px;  
     float: left;
 }

 #projectStatus{
    height: 260px;
    width: 210px;
     background-color: white;
     border-radius: 10px;
     color: #535d85;
     margin-left: 20px;
     padding: 9px;
     font-weight: 700;
     box-shadow: 0px 0.5px 2.5px gray;
     float: left;
     margin-top: 18px;
 }
 .alignment{
     text-align: center;
 }
 .portfolioTable table  tbody tr  :nth-child(2){
    color: darkgray; 
    font-size: 13px; 
    font-weight: 300
 }

 //  CSS for toggle switch

 .switch {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 32px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4c567f;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "Engagement";
    padding-top: 5px;
    padding-left: 29px;
    color: white;
    height: 32px;
    width: 26px;
    left: 1px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #4c567f;
    color: white;
  }

  input:checked + .slider :after    {
    background-color: #4c567f;
    content: "Portfolio View";
    color: white;
    padding-right: 30px;
    text-align: right
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #4c567f;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(140px);
    -ms-transform: translateX(140px);
    transform: translateX(140px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

//   .onoffswitch1 {
//     position: relative; width: 90px;
//     -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
//}


// .onoffswitch1-checkbox {
//     display: none;
// }

// .onoffswitch1 {
//     position: relative; width: 90px;
//     -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
// }

// .onoffswitch1-label {
//     display: block; overflow: hidden; cursor: pointer;
//     border: 2px solid #999999; border-radius: 30px;
// }

// .onoffswitch1 {
//     position: relative; width: 90px;
//     -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
// }
//--------------------------
.onoffswitch1-checkbox {
    display: none;
}

.onoffswitch1-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 30px;
}

.onoffswitch1-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch1-inner:before, .onoffswitch1-inner:after {
    display: block; float: left; width: 50%; height: 22px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    border-radius: 30px;
    box-shadow: 0px 15px 0px rgba(0,0,0,0.08) inset;
}

.onoffswitch1-inner:before {
    content: "YES";
    padding-left: 10px;
    background-color: #2FCCFF; color: #FFFFFF;
    border-radius: 30px 0 0 30px;
}

.onoffswitch1-inner:after {
    content: "NO";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
    border-radius: 0 30px 30px 0;
}

.onoffswitch1-switch {
    display: block; width: 30px; margin: 0px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 30px;
    position: absolute; top: 0; bottom: 0; right: 56px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
    background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
    background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
    background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
    background-image: linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%);
    box-shadow: 0 1px 1px white inset;
}

.onoffswitch1-checkbox:checked + .onoffswitch1-label .onoffswitch1-inner {
    margin-left: 0;
}

.onoffswitch1-checkbox:checked + .onoffswitch1-label .onoffswitch1-switch {
    right: 0px; 
}

#goalPerformance{
    height: 220px;
    width: 530px;
     background-color: white;
     border-radius: 10px;
     color: #535d85;
     margin-left: 20px;
     padding: 9px;
     font-weight: 700;
     box-shadow: 0px 0.5px 2.5px gray;
     float: left;
    // margin-top: 18px;
    // font-family: Helvetica Neue;
}

.successgoalTable  thead{
    color : black;
    font-size: 13px;
    font-weight: 800;
    height: 23px;
    display: table; /* to take the same width as tr */
    width: calc(100% - 13px); /* - 17px because of the scrollbar width */
}

.successgoalTable thead tr{
    text-align: center;
}
.successgoalTable thead tr td{
    text-align: center;
    border: 1px solid black;
}
.successgoalTable thead tr :nth-child(1)
{   
    padding-left: 5px;
}
.successgoalTable  thead tr :nth-child(3)    {
    text-align: center;
}
.successgoalTable  tbody tr :nth-child(3)    
{
    text-align: center;
    color: black;
    font-weight: 900;
}

.successgoalTable  tbody tr :nth-child(1)    
{
    width: 220px;
    padding-left: 5px;
}

.successgoalTable  tbody tr :nth-child(2)    
{
    width: 150px;
    padding-left: 5px;
}

.successgoalTable  thead tr :nth-child(2)    {
    width: 150px;
}

.successgoalTable  thead tr :nth-child(1)    
{
    width: 220px;
    padding-left: 5px;
}

.successgoalTable  thead tr :nth-child(2)    
{
    width: 150px;
    padding-left: 0px;
}

.successgoalTable tbody tr {
    color: #787878;
    font-size: 13px;
    font-weight: 400;
}

.successgoalTable tbody tr{
    height : 37px;
    box-shadow: 0px 0.5px 2.5px gray;
}

.successgoalTable td {
    border-collapse: collapse;
}

.successgoalTable tbody {
    display: block; /* to enable vertical scrolling */
    max-height: 150px; /* e.g. */
    overflow-y: scroll; /* keeps the scrollbar even if it doesn't need it; display purpose */
  }
 
  .successgoalTable tr {
    display: table; /* display purpose; th's border */
    width: 100%;
   box-sizing: border-box; /* because of the border (Chrome needs this line, but not FF) */
  }

  .successgoalTable ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  .successgoalTable  ::-webkit-scrollbar-track {
    //box-shadow: inset 0 0 5px grey; 
    background: white;
    border-radius: 10px;
  }
  .successgoalTable ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    height: 0px;
    background: #888;
  }
  .successgoalTable ::-webkit-scrollbar-thumb:vertical{
      height: 18px;
  }
  .successgoalTable ::-webkit-scrollbar-track-piece  :start{
    background: transparent;
    margin-top: 80px;
  }

  .successgoalTable ::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 80px; 
}

.portfolioTable thead tr{
    width: 650px;
}
.portfolioTable thead tr :nth-child(1)
{
    width: 30%;
    height: 25px;
}

//--------- Thead styling for portfolio table-------------------//
.portfolioTable thead tr  :nth-child(4)
{
    width: 15%;
    height: 32px;
}

.portfolioTable thead tr  :nth-child(2)
{
    width: 18%;
    height: 32px;
}
.portfolioTable thead tr :nth-child(1)
{
    width: 27%;
    
    height: 32px;
}

.portfolioTable thead tr :nth-child(3)
{
    width: 27%;
    height: 32px;
}
.portfolioTable thead tr :nth-child(5)
{
    width: 15%;
    height: 32px;
}

//----------- Tbody---------------

.portfolioTable tbody tr  :nth-child(4)
{
    width: 15%;
    height: 32px;
}

.portfolioTable tbody tr  :nth-child(2)
{
    width: 18%;
    height: 32px;
}
.portfolioTable tbody tr :nth-child(1)
{
    width: 27%;
    height: 32px;
}

.portfolioTable tbody tr :nth-child(3)
{
    width: 27%;
    height: 32px;
}
.portfolioTable tbody tr :nth-child(5)
{
    width: 15%;
    height: 32px;
}
// Portfolio Table Scroll 
//-----------------------------------------
.portfolioTable tbody {
    display: block; /* to enable vertical scrolling */
    max-height: 140px; /* e.g. */
    overflow-y: scroll; /* keeps the scrollbar even if it doesn't need it; display purpose */
  }
  .portfolioTable tr {
    display: table; /* display purpose; th's border */
    width: 100%;
   box-sizing: border-box; /* because of the border (Chrome needs this line, but not FF) */
  }

  .portfolioTable  thead{
    display: table; /* to take the same width as tr */
   // width: calc(100% - 13px); /* - 17px because of the scrollbar width */
}

.portfolioTable td {
    border-collapse: collapse;
}

.portfolioTable ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  .portfolioTable  ::-webkit-scrollbar-track {
   // box-shadow: inset 0 0 5px grey; 
    background: white;
    border-radius: 10px;
  }
  .portfolioTable ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    height: 0px;
    background: #888;
  }
  .portfolioTable ::-webkit-scrollbar-thumb:vertical{
      height: 18px;
  }
  .portfolioTable ::-webkit-scrollbar-track-piece  :start{
    background: transparent;
    margin-top: 80px;
  }

  .portfolioTable ::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 80px; 
}





#journeyMap{
     height: 260px;
     width: 180px;
     background-color: white;
     border-radius: 10px;
     color: #535d85;
     margin-left: 25px;
     padding: 9px;
     font-weight: 700;
     box-shadow: 0px 0.5px 2.5px gray;
     float: left;
     margin-top: 18px;
}

.journeyTable tr{
    height: 37px;
    font-size: 13px;
    color: #787878;
    width: 70px
}