<div style="background-color:white">
  <div class="row">
    <div class="col-lg-12" style="text-align:center">View Team Timesheets</div>
  </div>
  <div class="row">
    Select Project:
    <mat-form-field style="width:300px">
      <mat-select name="ddProjects" [(ngModel)]="selectedProject">
        <mat-option *ngFor="let proj of projects" [value]="proj" [title]="_util.GetProjectName(proj)">
          {{_util.GetProjectName(proj)}}
          <!-- {{ proj.proJ_NM}} -->
        </mat-option>
      </mat-select>
    </mat-form-field>
    &nbsp;&nbsp;Reporting Period:
    <mat-form-field style="width:60px;padding-left:10px">
      <mat-select name='tableMonth' [(ngModel)]="tableMonth" (selectionChange)="ddMonth_OnChange()">
        <mat-option value='Jan'>JAN</mat-option>
        <mat-option value='Feb'>FEB</mat-option>
        <mat-option value='Mar'>MAR</mat-option>
        <mat-option value='Apr'>APR</mat-option>
        <mat-option value='May'>MAY</mat-option>
        <mat-option value='Jun'>JUN</mat-option>
        <mat-option value='Jul'>JUL</mat-option>
        <mat-option value='Aug'>AUG</mat-option>
        <mat-option value='Sep'>SEP</mat-option>
        <mat-option value='Oct'>OCT</mat-option>
        <mat-option value='Nov'>NOV</mat-option>
        <mat-option value='Dec'>DEC</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field style="width:80px;padding-left:10px">
      <mat-select name='tableYear' [(ngModel)]="tableYear" (selectionChange)="ddMonth_OnChange()">
        <mat-option *ngFor="let y of _util.Years(3)" [value]="y" [title]="y">{{y}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="timesheetType.period == 0" style="width:200px;padding-left:10px;font-size:13px;">
      <mat-select name='ddWeek' [(ngModel)]="timesheetType.selectedDateRange" (selectionChange)="ddWeek_OnChange()">
        <mat-option *ngFor="let w of timesheetType.dateRange" [value]='w'[title]="w.displayName">{{w.displayName}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button type="button" name="btnPeriod" (click)="GetTimesheetData()" style="border-radius:4px">Go</button>
    <span style="color:red;font-size:12px">{{error}}</span>
  </div>
</div>

<div *ngIf="multipleProjectTimesheets.length > 0">
  <table class="table table-bordered" style="background-color:white">
    <thead>
      <tr>
        <th style="text-align:center;padding:3px;vertical-align:middle;">
          <mat-checkbox name="chkAll" [(ngModel)]="bAllChecked" (change)="chkAll_OnChange()"></mat-checkbox>
        </th>
        <th style="background-color:#d0d0d0;width:25%;vertical-align:middle;">Name</th>
        <th style="text-align:center;width:2%" *ngFor="let d of tmpSelectedDates">{{d}}</th>
        <th style="background-color:#d0d0d0;width:3%;vertical-align:middle;">Total</th>
        <th style="background-color:#d0d0d0;width:10%;vertical-align:middle;">Status</th>
        <th style="background-color:#d0d0d0;width:20%;vertical-align:middle;">Comments</th>
        <th style="background-color:#d0d0d0;width:20%;vertical-align:middle;">Approve/Reject Comments</th>
      </tr>
    </thead>
    <tbody *ngFor="let project of multipleProjectTimesheets">
      <tr>
        <td style="text-align:center;padding:3px;vertical-align:middle;">
          <mat-checkbox name="chkAll[{{project.proJ_ID}}]" [(ngModel)]="project.selected" (change)="chkAllProj_OnChange(project)"></mat-checkbox>
        </td>
        <td [attr.colspan]="5 + daysInMonth" style="background-color:#ececec;color:#9c27b0">{{_util.GetProjectName(project)}}</td>
      </tr>
      <tr *ngIf="project.employees.length == 0">
        <td></td>
        <td [attr.colspan]="5 + daysInMonth">No records available </td>
      </tr>
      <tr *ngFor="let emp of (project.employees ? project.employees : [])">
        <td style="text-align: center;padding:3px">
          <mat-checkbox [(ngModel)]="emp.selected"></mat-checkbox>
        </td>
        <td style="font-size:smaller">{{emp.frsT_NM}}</td>
          <!-- <td *ngFor="let entry of (emp.timesheet ? emp.timesheet : [])" [style.background]="GetBackground(entry)" style="text-align:center;min-width:20px"> -->
            <td *ngFor="let entry of (emp.timesheet ? emp.timesheet : [])" [style.background]="GetBackground(entry,emp)" style="text-align:center;min-width:20px">  
          <b>{{entry.clockeD_MINS}}</b>
        </td>
        <td style="text-align:center">
          <b style="text-align:center">{{emp.total}}</b>
        </td>
        <td style="text-align:center;font-size:x-small;font-weight:bold">{{emp.status}}</td>
        <td style="text-align:center">
          {{emp.comments}}
        </td>
        <td style="text-align:center">
           <textarea style="font-size:smaller;width:100%;height:32px;" [(ngModel)]="emp.rejecT_DESC" placeholder="Approval/Reject comments">{{emp.rejecT_DESC}}</textarea> 
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="multipleProjectTimesheets.length > 0">
    <div class="row" style="text-align:left;vertical-align:left">
      <table>
        <tr>
          <td style="height:30px;width:50px;" [style.background-color]= '_util.ColorShaders.WeekEndShade'></td>
          <td style="padding-left:10px;width:5px">Weekends</td> &nbsp;
          <td style="height:30px;width:50px;" [style.background-color]='_util.ColorShaders.LeaveShade'></td>
          <td style="padding-left:10px;width:5px">Leave</td> &nbsp;
          <td style="height:30px;width:50px;" [style.background-color]= '_util.ColorShaders.HolidayShade'></td>
          <td style="padding-left:10px">Holiday</td>
        </tr>
      </table>
    </div>
  <div *ngIf="IsNYU()" class="row" style="text-align:center;vertical-align:middle">
    <button [disabled]="disablebtn" class="btn btn-success" style="margin:5px" value="Submit" (click)='Approve_onClick()'>Approve</button>
    <button [disabled]="disablebtn" class="btn btn-success" style="margin:5px" value="Reject" (click)='CustomerReject_onClick()'>Reject</button>
  </div>
</div>