
.mainDiv{
    min-height: 500px;
    background-color: #eaeaea;
    margin-top: 50px;
}

.content{
    background-color:white;
    border-radius:9px;
    max-height: 600px;
    overflow : scroll;
    margin: 5px 10px 5px 20px;
    min-height:500px;
    box-shadow: 1px 2px 3px 1px #c7c7c7;
}

.mat-header-cell:first-child,.mat-cell:first-child{
    flex:5%;
    text-align: center !important;
    font-family: 'Roboto', sans-serif;

  }
  .mat-header-cell:nth-child(2),.mat-cell:nth-child(2){
    flex:45%;
    text-align: left !important;
    font-family: 'Roboto', sans-serif;

  }
  .mat-header-cell:nth-child(3),.mat-cell:nth-child(3){
    flex:20%;
    text-align: left !important;
    font-family: 'Roboto', sans-serif;
  }
  // .mat-header-cell:nth-child(4),.mat-cell:nth-child(4){
  //   flex:20%;
  //   text-align: left !important;
  //   font-family: 'Roboto', sans-serif;
  // }

  .mat-header-cell:last-child,.mat-cell:last-child{
    flex:12%;
    text-align: center !important;
    font-family: 'Roboto', sans-serif;
  }


  .mat-header-cell, .mat-cell{
    border: none !important;
  }

  .mat-header-cell{
    font-size : 15px !important;
    color: black !important;
    font-weight: 600 !important;
  }

  .mat-row{
    font-size: 15px !important;
  }


  table
  {
     border-collapse: separate;
    border-spacing: 1px 4px !important;
     border-radius: 3px;
     font-family: 'Roboto', sans-serif
   }

  //  table > .mat-header-cell{
  //   border-bottom-width: 0px !important;
  //   border-bottom-style: none !important;
  //   height: 30px !important;
  // }

  // table > .mat-cell{
  //   border-bottom-width: 0px !important;
  //   border-bottom-style: none !important;
  // }

  // .table th {
  //   color:black!important;
  //   font-size: 14px;
  //   font-weight: 700;
  //   height: 30px !important;
  //   background-color: #e8e8e8;
  //   vertical-align: middle;
  // }

  // .table td {
  //   font-size: 12px;
  //   width: 90px;
  //   max-height: 40px !important;
  //   white-space: normal;
  //   vertical-align: middle;
  // }

  .backbutton{
    font-size: 16px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px;
    color: #4e5882;
  }
  .backbuttonlink{
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    text-decoration: none;
    outline: none
  }

  .mat-form-field-wrapper{
    margin-bottom: 10px;
  }

  .desc ::-webkit-input-placeholder{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
  }

  .desc:-ms-input-placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
  }

  .desc:-moz-placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
  }

  .desc::-moz-placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
  }
