  <app-navbar-new (showDashboardMenu)="onMenuToggleChange($event)"></app-navbar-new>
  <div class="mainDiv">
      <div class="backbutton" style="padding-left: 20px;">
          <div class="backbuttonlink" (click)="closedialog()">
            <img src="assets/images/back_round.png">
          </div>
          <div style="display: inline-block; ">
            Key Highlights
          </div>
        </div>
      <div *ngIf="readonlymode" class="content" style="padding-top: 40px;">
        <table  class="table"  mat-table  style="border-radius: 3px; overflow: hidden;width: 96%;margin-left:2%;" #table [dataSource]="dataSource">
          <ng-container matColumnDef="index">
            <mat-header-cell  *matHeaderCellDef style="padding-left: 20px !important">No.</mat-header-cell>
            <mat-cell  style="text-align: center !important"  *matCellDef="let element = index"> {{element + 1}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="description">
            <mat-header-cell style="text-align: left !important" *matHeaderCellDef >Notes Description</mat-header-cell>
            <mat-cell  style="width: 300px;text-align: left !important"   *matCellDef="let h"> {{h.description}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="publisH_DATE">
            <mat-header-cell style="text-align: center !important" *matHeaderCellDef >KPI performance period</mat-header-cell>
            <mat-cell  style="width: 100px; text-align: center !important" *matCellDef="let h"> {{h.publisH_DATE|date:'MMM-yyyy'}} - {{h.week == '0' ? 'Month':  'Week ' + h.week }} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef style="text-align: center !important">
              <div>
                  <a class="maticonbutton" title="Add Notes" style="text-decoration: none; outline: none; margin-right: 8px;" (click)="addNotes_OnClick()">
                      <mat-icon style="vertical-align: middle;">add</mat-icon>
                   </a>
                   <span>Add New Note</span>
              </div>
            </mat-header-cell>
            <mat-cell  *matCellDef="let element" style="padding-left: 45px !important">
              <a class="link" (click)="EditRow_onClick(element)" style=" color: darkgray;cursor: pointer; font-size: 18px; margin-right: 15px;">
                <i class="fa fa-edit"></i>
              </a>
              <a class="link" (click)="DeleteRow_onClick(element)" style="font-size: 18px; cursor: pointer; color: darkgray">
                <i class="fa fa-trash"></i>
              </a>
            </mat-cell>
          </ng-container>
          <!-- <ng-container matColumnDef="delete">
            <mat-header-cell style="font-family: calibri;" [ngClass]="'deleteWidth'" *matHeaderCellDef>
              <div></div>
            </mat-header-cell>
            <mat-cell [ngClass]="'deleteWidth'" *matCellDef="let element">
              <a class="link" (click)="DeleteRow_onClick(element)">
                <i class="fa fa-trash"></i>
              </a>
            </mat-cell>
          </ng-container> -->
          <mat-header-row *matHeaderRowDef="displayedColumns"  style="background-color: white !important; border: none; box-shadow: 0px 0.5px 3px gray !important;"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"   style="box-shadow: 0.5px 0.5px 2.5px gray, 0.5px 0.5px 4px gray !important"></mat-row>
        </table>
        <mat-paginator style="width: 98%;margin-left: 1%;" #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
      </div>
      <div *ngIf="editmode" class="content" style="font-family: Roboto">
        <div style="text-align: center; padding-top: 25px; font-size: 17px; font-weight: 800">
          Add Note
        </div>
        <div style="width: 60%; margin-left: auto; margin-right: auto; box-shadow: 0px 0.5px 2.5px gray; height: 290px; padding-top: 30px; margin-top: 15px;">
          <div  style="display: block;">
             <!-- <input type="text" placeholder="Notes Description" style="border-radius: 5px;width: 400px; margin-right: 50px; height: 37px; padding-left: 3px; outline: none;" [(ngModel)]="newNote.description"> -->
             <mat-form-field style="width: 500px;padding-left:20px; display: block; margin-bottom: 5px;">
              <textarea name="txtDescription" matInput [(ngModel)]="newNote.description" placeholder="Notes Description (Max:5000char)" required class="desc"></textarea>
            </mat-form-field>
            <span style="display: block; padding-left:20px; font-weight: 500; color: #757575">KPI Performance Period</span>
            <mat-form-field style="width:100px;padding-left:20px;">
              <mat-select name='Month' [(ngModel)]="tableMonth" placeholder="Month" required >
                  <mat-option value='Jan'>Jan</mat-option>
                  <mat-option value='Feb'>Feb</mat-option>
                  <mat-option value='Mar'>Mar</mat-option>
                  <mat-option value='Apr'>Apr</mat-option>
                  <mat-option value='May'>May</mat-option>
                  <mat-option value='Jun'>Jun</mat-option>
                  <mat-option value='Jul'>Jul</mat-option>
                  <mat-option value='Aug'>Aug</mat-option>
                  <mat-option value='Sep'>Sep</mat-option>
                  <mat-option value='Oct'>Oct</mat-option>
                  <mat-option value='Nov'>Nov</mat-option>
                  <mat-option value='Dec'>Dec</mat-option>
              </mat-select>
          </mat-form-field>
          <mat-form-field style="width:100px !important;padding-left:10px; border-radius: 4px;" >
              <mat-select name='Year' [(ngModel)]="tableYear" placeholder="Year"
                  required>

                  <mat-option *ngFor="let year of _util.Years(3)" [value]="year" [title]="year"> {{year}}</mat-option>
                  <!--<mat-option [value]='2019'>2019</mat-option>
                  <mat-option [value]='2020'>2020</mat-option>-->
              </mat-select>
          </mat-form-field>
          <mat-form-field style="width:150px;padding-left:20px;">
            <mat-select name='Week' [(ngModel)]="tableWeek" placeholder="Period" required >
                <mat-option [value]=0>Month</mat-option>
                <mat-option [value]=1>Week 1</mat-option>
                <mat-option [value]=2>Week 2</mat-option>
                <mat-option [value]=3>Week 3</mat-option>
                <mat-option [value]=4>Week 4</mat-option>
                <mat-option [value]=5>Week 5</mat-option>
            </mat-select>
        </mat-form-field>
          </div>
          <div class="row" style="text-align: center; margin-top: 33px;">
              <button type="button"  class="btn btn-primary" style="margin-right: 15px; height: 28px; text-align: center;background-color: #00004d; padding-top: 2px; width: 70px;"
                (click)="saveNotes()"                     >Save</button>
              <button type="button"   class="btn btn-primary" style="height: 28px; text-align: center;background-color: #262626;width: 70px;padding-top: 2px;"

               (click)="cancel_OnClick()"    >Cancel</button>
          </div>
        </div>
      </div>
</div>
