.mainDiv{
    background-color:white; 
    border-radius:9px;
    display: inline-block;
    margin: 5px 10px 5px;
    min-height:648px;    
    height: auto;
   // height: calc(100vh - 57px);
    box-shadow: 1px 2px 3px 1px #c7c7c7;
  }
  .col-lg-3, .col-md-3, .col-sm-3
  {
    padding: 0px;
    margin: 0px;
  }

  // .col-lg-8, .col-md-8, .col-sm-8
  // {
  //   padding-top: 15px;
  //   margin: 0px;
  // }