<div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-9" style="max-height: 150px; overflow-y: auto;">
    <div style="margin-top:5px">
      <label class="verysmalltextblack floatleft">Overall Score</label>
      <label class="verysmalltextblack floatright">  <b>{{_cooDashboardCommon.customerSuccessGoalScore== -1? 0 : _cooDashboardCommon.customerSuccessGoalScore}}%</b></label>
      <mat-progress-bar class="overallBar" mode="determinate"
        [value]="_cooDashboardCommon.customerSuccessGoalScore== -1? 0 : _cooDashboardCommon.customerSuccessGoalScore"></mat-progress-bar>
    </div>
    <div *ngIf="_cooDashboardCommon.KPIPerspectives!= undefined">
      <div style="margin-top:5px" *ngFor="let perspective of _cooDashboardCommon.KPIPerspectives.perspectivesByKPICategory">
        <label class="verysmalltextblack floatleft">{{perspective.kpI_CATEGORY}}</label>
        <label class="verysmalltextblack floatright"><b>{{perspective.score}}%</b></label>
        <mat-progress-bar [ngClass]="getclass(perspective.kpI_CATEGORY)" mode="determinate"
          [value]="perspective.score"></mat-progress-bar>
      </div>
    </div> 
  </div>
  <div class="col-lg-2"></div>
</div>