.sliding-up-content {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    background-color: white;
    transition: all 0.3s ease-in-out;
}

.sliding-up-content.show {
    height: 75%;
    width:100%;
    z-index: 1100;
    background-color: #FFFFFF;
}
.search-icon {
  width: 20px;
  height: 20px;
 border: none;
  box-shadow: none;
  outline:none !important;
}

.rotateimg
    {rotate:65deg;
    -webkit-animation: spin1 5s linear; 
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        // width: 256px;
        // height: 256px;
        // width: 187px;
        // height: 190px;
        // margin-left: -10px;
        // margin-top: -13px;
        width: 184px;
        height: 184px;
        margin-left: -6px;
        margin-top: -14px;
    
    } 
     
    //  @-webkit-keyframes spin1 {
    // 0% { -webkit-transform: rotate(70deg);} 
    // 100% { -webkit-transform: rotate(360deg);}
    // }  
::ng-deep .no-line .mat-form-field-underline {
    display: none;
  } 
  mat-progress-bar{
    height: 5px;
    opacity: 1;
  }
::ng-deep .mat-progress-bar-buffer {
    background-color: #e8e8e8 !important;
}
::ng-deep  .performanceBar .mat-progress-bar-fill::after{
	background: #82D3E5 0% 0% no-repeat padding-box;
}
::ng-deep .overallBar .mat-progress-bar-fill::after {
  background-color: #ff9933;
}
::ng-deep  .qualityBar .mat-progress-bar-fill::after{
	background: #FD7F56 0% 0% no-repeat padding-box;
}
::ng-deep .complianceBar .mat-progress-bar-fill::after{
	background: #60BF66 0% 0% no-repeat padding-box;
}
::ng-deep .valueBar .mat-progress-bar-fill::after{
	background: #99B5F4 0% 0% no-repeat padding-box;
}
label{
  float: left;
  margin-bottom: 0px;
}
::ng-deep .backlogBar .mat-progress-bar-fill::after{
	background: #c650b2 0% 0% no-repeat padding-box;
}

::ng-deep .non-backlogBar .mat-progress-bar-fill::after{
	background: #fff716 0% 0% no-repeat padding-box;
}
.smalltext{
  font-size: 12px;
  color: #494a4d;
  text-decoration: none !important; 
  font-weight: 500;
}
.smalltextblack{
  font-size: 11px;
  color: #474646;
  text-decoration: none !important; 
  font-weight: 500;
}
.verysmalltextblack{
  
  font-size: 11px;
 color: #5c5b5b;
  text-decoration: none !important;
  text-align: center;
  font-weight: 300;
}
.floatleft{
  float: left !important;
}

.floatright{
 float: right !important;
}
.verysmalltext{
font-size: 11px; 
  text-decoration: none !important;
  text-align: center;
  font-weight: 300;
}



::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cac9c9;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #929292;
}
