<div id="overviewSection" *ngIf="ShowElement('client')" class="panel panel-default layout">
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-9 underline" style="font-size: 20px;">
      <p>{{SelectedData.client.client_NM}}
        <!-- <img class="image" style="height:40px" src="assets/images/{{SelectedData.client.client_ID}}.png"
          onerror="this.src ='assets/images/CustomerLogo.png'"> -->
      </p>
    </div>
  </div>
  <!-- {{SelectedData.client.client_ID}} -->
  <tabs>
    <tab tabTitle="Dashboard" tabRAG="false">
      <!-- <div style="min-height:400px;height:100%"> -->
      <app-maindashboard [customerId]="SelectedData.client.client_ID"></app-maindashboard>
      <!--</div> -->
    </tab>
    <!-- <tab tabTitle="Overview" tabRAG="false">
      <div *ngIf="readonlymode" style="min-height:400px;height:100%">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 header" *ngIf="_access.IsAllowed(14, 3, '', '')">
            <a class="link" (click)="Edit_onClick()">
              <i class="fa fa-edit"></i>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6">
            <h3>{{SelectedData.client.client_NM}}</h3>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            <h3>GAVS</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6">
            <p style="white-space: pre-wrap;">{{SelectedData.client.client_Description}}</p>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            <p style="white-space: pre-wrap;">{{SelectedData.client.gavs_Description}}</p>
          </div>
        </div>
      </div>
      <div *ngIf="editmode" style="min-height:400px;">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 header">
            <a class="link" (click)="Save_onClick(SelectedData.client.client_ID, SelectedData.client.client_RAG, txtClient.value, txtGavs.value)">
              <i class="fa fa-save"></i>
            </a>&nbsp;&nbsp;
            <a class="link" (click)="Cancel_onClick()">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div>
          <div class="row">
            <div class="col-sx-5 col-sm-5 col-md-5 col-lg-5">
              <h3>{{SelectedData.client.client_NM}}</h3>
            </div>
            <div class="col-sx-5 col-sm-5 col-md-5 col-lg-5">
              <h3>GAVS</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
              <mat-form-field style="width:calc(100% - 20px)">
                <textarea #txtClient matInput style="height:300px">{{SelectedData.client.client_Description}}</textarea>
              </mat-form-field>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
              <mat-form-field style="width:calc(100% - 20px)">
                <textarea #txtGavs matInput style="height:300px">{{SelectedData.client.gavs_Description}}</textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </tab>
    <tab tabTitle="Success Goals" tabRAG="false">
      <div *ngIf="readonlymode" style="min-height:400px;height:100%">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 header" *ngIf="_access.IsAllowed(15, 3, '', '')">
            <a class="link" (click)="Edit_onClick()">
              <i class="fa fa-edit"></i>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <p style="white-space: pre-line;">
              {{SelectedData.client.client_Goals}}
            </p>
          </div>
        </div>
      </div>
      <div *ngIf="editmode" style="min-height:400px;">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 header">
            <a class="link" (click)="GoalsSave_onClick(SelectedData.client.client_ID, txtGoals.value)">
              <i class="fa fa-save"></i>
            </a>&nbsp;&nbsp;
            <a class="link" (click)="Cancel_onClick()">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div>
       
          <div class="row">
            <div class="col">
              <mat-form-field style="width:calc(100% - 20px)">
                <textarea #txtGoals matInput style="height:150px">{{SelectedData.client.client_Goals}}</textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </tab> -->
    <!-- <tab tabTitle="Journey map" tabRAG="false" *ngIf="_access.IsAllowed(21, 1, '', '')">
      <app-successjourney [custId]="SelectedData.client.client_ID"></app-successjourney>
    </tab> -->
    <!-- <tab tabTitle="Contacts" tabRAG="false">
      <app-contacts CustomerId="{{SelectedData.client.client_ID}}"></app-contacts>
    </tab> -->
    <!-- <tab tabTitle="Reports" tabRAG="false">
      <div class="col-lg-2 col-md-2 col-sm-2 header" *ngIf="_access.IsAllowed(17, 2, '', '')">
        <div *ngIf="reportreadonlymode">
          <a class="link" (click)="Edit_onClickreport()">
            <i class="fa fa-plus"></i>
          </a>
        </div>
      </div> -->
      <!-- <mat-card *ngIf="_access.IsAllowed(17, 2, '', '')" style="padding: 0px;float: right;    margin: 5px;">
        <div style="margin: 2px">
          <i style="font-size : 30px;vertical-align: middle;" class="material-icons">
            attach_file
          </i>
          <span style="font-family: calibri;">Add File</span>
        </div>
      </mat-card> -->
      <!-- <div *ngIf="reportreadonlymode">
        <table style="border-radius: 3px;overflow:hidden" class="table table-bordered">
          <thead>
            <tr>
              <th style="width: 95%;">Engagement Specific Reports</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="background: white">
                <table style="width: 100%;">
                  <tr *ngFor="let report of SelectedData.client.reports ;let i=index;">
                    <td *ngIf="report.reporT_TYPE=='OtherReport'">
                      <a (click)='export(report.filE_NAME,report.filE_NAME_SERVER, report.filE_TYPE ,report.filE_EXTENSION)'>
                        <i [class]='getIcon(report.filE_EXTENSION)'></i>
                        {{report.filE_NAME}} ({{report.publisH_DATE | date :'dd-MMM-yyyy'}})
                      </a>
                      <a style="float: right;;" *ngIf="_access.IsAllowed(17, 4, '', '')" (click)='DeleteRow_onClick(report,i)'>
                        <i class="fa fa-trash"></i>
                      </a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="SelectedData.client.reports.length === 0">
            <tr>
              <td>
                No Reports to display.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="reporteditmode">
        <div class="row tabheader">
          <div class="col-lg-10 col-md-10 col-sm-10">
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 header">
            <a class="link" (click)='Save_onClickReport("OtherReport", selectedDate, fileUpload)'>
              <i class="fa fa-save"></i>
            </a>
            <a class="link" (click)="Cancel_onClickReport()">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div> -->
          <!-- <div class="row fieldheader">
                    <h3>Report Type</h3>
                </div>
                <div class="row">
                    <mat-form-field>
                        <mat-select #reportType placeholder="Report Type">
                            <mat-option value="OtherReport">Engagement Specific Report</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div> -->
          <!-- <div class="row fieldheader">
            <h3>Report Date</h3>
          </div>
          <div class="row">
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="selectedDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="row fieldheader">
            <h3>File</h3>
          </div>
          <div class="row">
            <input type="file" #fileUpload class="form-control" name="single" ng2FileSelect style="width:calc(100% - 20px)" />
          </div> -->
          <!-- <div class="row fieldheader">
                    <h3>Comments</h3>
                </div>
                <div class="row">
                    <mat-form-field style="width:calc(100% - 20px)">
                        <textarea matInput placeholder="Leave a comment" ></textarea>
                    </mat-form-field>
                </div> -->
          <!-- <div class="row fieldheader">
            <button value="Upload" (click)='Save_onClickReport("OtherReport", selectedDate, fileUpload)'> Upload </button>
          </div>
        </div>
      </div>
    </tab> -->
    <!-- <tab *ngIf="IsPremier()" tabTitle="Time Sheets" tabRAG="false"> -->
    <tab *ngIf="_access.IsAllowed(23, 1 ,SelectedData.client.client_ID,'')" tabTitle="Time Sheets" tabRAG="false">
      <app-timesheet [customerId]="SelectedData.client.client_ID"></app-timesheet>
    </tab>
    <tab *ngIf="_access.IsAllowed(26, 1 ,SelectedData.client.client_ID,'')" tabTitle="Staffing Summary" tabRAG="false">
      <app-staffing-summary [customerId]="SelectedData.client.client_ID"></app-staffing-summary>
    </tab>
    <!-- <tab tabTitle="Insights" tabRAG="false" *ngIf="_access.IsAllowed(20, 1, '', '')">
      <app-data-analysis [custId]="SelectedData.client.client_ID"></app-data-analysis>
    </tab>
    <tab *ngIf="_access.IsAllowed(22, 1, '', '')" tabTitle="Feedback" tabRAG="false">
      <app-feedback CustomerId="{{SelectedData.client.client_ID}}"></app-feedback>
    </tab> -->
    <!-- <tab *ngIf="_access.IsAllowed(27, 1, '', '')" tabTitle="SQA" tabRAG="false">
      <app-project-process-config></app-project-process-config>
    </tab> -->
  </tabs>
</div>
<div id="projectSection" *ngIf="ShowElement('project')" class="panel panel-default layout">
  {{SelectedData.project.lastupdated}}
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-9" style="font-size: 18px;">
      <p style="color:#303c7a">{{_util.GetProjectName(SelectedData.project)}}</p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3" style="text-align: right;font-size: 0.9em;">Updated on: {{LastUpdatedDate | date: 'medium'}}</div>
  </div>
  <!-- <div style="color:grey;text-align:right;margin-right:10px">Updated on: {{LastUpdatedDate | date: 'medium'}}</div> -->
  <div style="padding:5px">
    <!-- <h2>{{SelectedData.project.proJ_NM}}</h2> -->
    <!-- <h2>{{_util.GetProjectName(SelectedData.project)}}</h2> -->
    <tabs>
      <tab tabTitle="Customer Objectives" tabRAG="{{getRAG('scope')}}">
        <app-scope ProjectId="{{SelectedData.project.proJ_ID}}" [input]="SelectedData.project.details.scope" [inputrag]="SelectedData.project.details.rags"></app-scope>
        
      </tab>
      <tab tabTitle="Risks" tabRAG="{{getRAG('risk')}}">
        <app-risk CustomerId="{{SelectedData.client.client_ID}}" ProjectId="{{SelectedData.project.proJ_ID}}" [input]="SelectedData.project.details.risk" [inputrag]="SelectedData.project.details.rags"></app-risk>
      </tab>
      <tab tabTitle="Ideas / Innovations" tabRAG="{{getRAG('innovation')}}">
        <app-innovation ProjectId="{{SelectedData.project.proJ_ID}}" [input]="SelectedData.project.details.innovation" [inputrag]="SelectedData.project.details.rags"></app-innovation>
      </tab>
      <tab tabTitle="Success" tabRAG="{{getRAG('success')}}">
        <app-success ProjectId="{{SelectedData.project.proJ_ID}}" [input]="SelectedData.project.details.success" [inputrag]="SelectedData.project.details.rags"></app-success>
      </tab>
      <tab tabTitle="Process" tabRAG="{{getRAG('process')}}">
        <app-process ProjectId="{{SelectedData.project.proJ_ID}}" [input]="SelectedData.project.details.process" [inputrag]="SelectedData.project.details.rags"></app-process>
      </tab>
      
      <!-- <tab tabTitle="Issues" tabRAG="{{getRAG('issue')}}">
        <app-issue ProjectId="{{SelectedData.project.proJ_ID}}" [input]="SelectedData.project.details.issue" [inputrag]="SelectedData.project.details.rags"></app-issue>
      </tab> -->
      <tab tabTitle="People" tabRAG="{{getRAG('people')}}">
        <app-people ProjectId="{{SelectedData.project.proJ_ID}}" [input]="SelectedData.project.details.people" [inputrag]="SelectedData.project.details.rags"></app-people>
      </tab>
      <tab tabTitle="Delivery" tabRAG="{{getRAG('delivery')}}">
        <app-delivery CustomerId="{{SelectedData.client.client_ID}}" ProjectId="{{SelectedData.project.proJ_ID}}" [input]="SelectedData.project.details.deliveryDetails"
          [inputrag]="SelectedData.project.details.rags"></app-delivery>
      </tab>
      
      <tab tabTitle="Action Items" tabRAG="false">
        <app-actionitem CustomerId="{{SelectedData.client.client_ID}}" ProjectId="{{SelectedData.project.proJ_ID}}" [input]="SelectedData.project.details.actionitems"></app-actionitem>
      </tab>
      <tab tabTitle="Best Practices">
        <app-best-practices ProjectId="{{SelectedData.project.proJ_ID}}" CustomerId="{{SelectedData.client.client_ID}}"></app-best-practices>
      </tab>
      <tab tabTitle="Lessons Learnt">
        <app-lessons-learned ProjectId="{{SelectedData.project.proJ_ID}}"></app-lessons-learned>
      </tab>
      <tab tabTitle="Insights" tabRAG="false"  >
        <app-data-analysis [custId]="SelectedData.client.client_ID"></app-data-analysis>
      </tab>
    </tabs>
  </div>
</div>