<div style="background-color:white;padding:5px 0 15px 0;">
  <div class="row">
    <div class="col-lg-12" style="text-align: right">     
      <mat-form-field style="width:60px;padding-left:10px">
        <mat-select [disabled]="_loading" name='tableMonth' [(ngModel)]="_util.tableMonth"
          (selectionChange)="reloadMonthlyKPITable()" required>
          <mat-option *ngFor="let m of month" [value]="m.title" [title]="m.title">{{m.title}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="width:80px;padding-left:10px">
        <mat-select [disabled]="_loading" name='tableYear' [(ngModel)]="_util.tableYear"
          (selectionChange)="reloadMonthlyKPITable()" required>
          <mat-option *ngFor="let year of _util.Years(3)" [value]="year" [title]="year">{{year}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-lg-6"></div>
  </div>

  <div *ngIf="_loading" style="text-align: center; height: 100px; line-height: 100px;">
    <i class="fa fa-circle-o-notch fa-spin" style="margin-right: 10px; font-size: 25px;"></i>Loading...
  </div>

  <div *ngIf="!_loading" style="padding-top:5px">
    <div *ngIf="!ShowMonthTable() && !ShowWeeklyTable() && !ShowQuarterlyTable()"
      style="font-family: calibri; text-align: center;font-weight:600">KPI not
      available
      for this period - Please check the start date and end date of all customer goals and KPIs.</div>
    <div *ngIf="ShowMonthTable()" style="font-family: calibri; text-align: center;font-weight:600">Monthly KPI Details
    </div>
    <table *ngIf="ShowMonthTable()" class="table table-bordered" style="font-size:12px">
      <thead>
        <tr>
          <th style="width: 7%;">Success Goal</th>
          <th style="width: 7%;">Work Group / KPI Area</th>
          <th style="width: 20%;">KPI Description</th>
          <th style="width: 7%;">Priority</th>
          <th style="width: 10%;">Support window</th>
          <th style="text-align: center;width: 20%" colspan="4">Target</th>
          <th style="width: 3%;">UOM</th>
          <th style="width: 5%;">Actual</th>
          <th style="width: 5%;">SLA Status</th>
        </tr>
        <tr>
          <th style="height:3px;padding:0px!important;border-color: #ffffff;background-color: #ffffff"></th>
          <th style="height:3px;padding:0px!important;border-color: #ffffff;background-color: #ffffff"></th>
          <th style="height:3px;padding:0px!important;border-color: #ffffff;background-color: #ffffff"></th>
          <th style="height:3px;padding:0px!important;border-color: #ffffff;background-color: #ffffff"></th>
          <th style="height:3px;padding:0px!important;border-color: #ffffff;background-color: #ffffff"></th>
          <th style="height:3px;padding:0px!important;border-color: #f60000;background-color: #f60000"></th>
          <th style="height:3px;padding:0px!important;border-color: #f9a400;background-color: #f9a400"></th>
          <th style="height:3px;padding:0px!important;border-color: #237f00;background-color: #237f00"></th>
          <th style="height:3px;padding:0px!important;border-color: #00bfff;background-color: #00bfff"></th>
          <th style="height:3px;padding:0px!important;border-color: #ffffff;background-color: #ffffff"></th>
          <th style="height:3px;padding:0px!important;border-color: #ffffff;background-color: #ffffff"></th>
        </tr>
      </thead>
      <tbody *ngFor="let g of detailmonthly">
        <tr *ngIf="g.kpI_Month.length > 0">
          <td style="vertical-align: middle;" [attr.rowspan]="g.kpI_Month.length + 1">{{ g.goaL_NAME}}</td>
        </tr>
        <tr *ngFor="let m of g.kpI_Month">
          <td style="padding: 0px;vertical-align: middle">{{ m.servicE_AREA}}</td>
          <td style="padding: 0px;vertical-align: middle;">
            <div *ngFor="let l of m.kpiWithTargets" class="row ">
              {{l.kpI_NAME}}
            </div>
          </td>
          <td style="padding: 0px;vertical-align: middle;">
            <div *ngFor="let l of m.kpiWithTargets" class="row">
              {{ l.priority}}
            </div>
          </td>
          <td style="padding: 0px;vertical-align: middle;">
            <div *ngFor="let l of m.kpiWithTargets" class="row ">
              {{ l.supporT_WINDOW}}
            </div>
          </td>
          <td style="padding: 0px;vertical-align: middle;">
            <div *ngFor="let l of m.kpiWithTargets" class="row ">
              <span *ngIf="l.kpI_TARGETS[0]">
                {{ l.kpI_TARGETS[0].slA_TARGET_LOW_DESCRIPTION}}
              </span>
            </div>
          </td>
          <td style="padding: 0px;vertical-align: middle;">
            <div *ngFor="let l of m.kpiWithTargets" class="row ">
              <span *ngIf="l.kpI_TARGETS[0]">
                {{ l.kpI_TARGETS[0].slA_TARGET_MEDIUM_DESCRIPTION}}
              </span>
            </div>
          </td>
          <td style="padding: 0px;vertical-align: middle;">
            <div *ngFor="let l of m.kpiWithTargets" class="row ">
              <span *ngIf="l.kpI_TARGETS[0]">
                {{ l.kpI_TARGETS[0].slA_TARGET_HIGH_DESCRIPTION}}
              </span>
            </div>
          </td>
          <td style="padding: 0px;vertical-align: middle;">
            <div *ngFor="let l of m.kpiWithTargets" class="row ">
              <span *ngIf="l.kpI_TARGETS[0]">
                {{ l.kpI_TARGETS[0].slA_TARGET_VERYHIGH_DESCRIPTION}}
              </span>
            </div>
          </td>
          <td style="padding: 0px;vertical-align: middle;">
            <div *ngFor="let l of m.kpiWithTargets" class="row">
              {{l.slA_TARGET_UNIT_OF_MEASUREMENT}}
            </div>
          </td>
          <td style="padding: 0px;vertical-align: middle;">
            <div *ngFor="let l of m.monthly" class="row" >
              <mat-form-field *ngIf="l != null && !disableKPIEdit" style="width: 50px;height: 35px;;margin-top: 2px;margin-bottom: 2px;" >
                <input type="text" style="width: 60px" name="txtKPIActual" [(ngModel)]="l.kpI_ACTUAL" matInput
                  [disabled]="l.slA_STATUS == 'NA'"
                  (change)="getSLAStatus(l.kpI_ACTUAL,l.kpI_ID)" placeholder="Actual" required maxlength="6">
              </mat-form-field>
              <span style="width: 50px;height: 35px;;margin-top: 2px;margin-bottom: 2px;"  *ngIf=" l != null && disableKPIEdit">{{l.kpI_ACTUAL}}</span>
              <a *ngIf="l.baseMeasureDataList != null && l.baseMeasureDataList.length>0 && !disableKPIEdit" class="link"
                (click)="enterBaseMeasure(l.kpI_ID)"><i class="fa fa-pencil"></i></a>
              <a *ngIf="(l.baseMeasureDataList == null || l.baseMeasureDataList.length == 0) && !disableKPIEdit" class="link"
                (click)="openDialog(l)"><i class="fa fa-pencil"></i></a>
            </div>           
          </td>
        
          <td style="padding: 0px;vertical-align: middle;" >
            <div *ngFor="let l of m.monthly" class="row" >
              <span *ngIf="l.slA_STATUS == 'NA'"
                style="height: 10px;width: 10px;border-radius: 50%;display: inline-block;">
                {{l.slA_STATUS}}
              </span>
              <span *ngIf="l.kpI_ACTUAL" [ngStyle]="{ backgroundColor: l.colorCode}" class="dot"
                style="height: 10px;width: 10px;border-radius: 50%;display: inline-block;">
              </span> &nbsp; &nbsp;
              <a class="link" (click)="ViewCAPA(l.kpI_ID,l.perioD_TYPE,l.kpI_ACTUAL)" 
                *ngIf="(l.colorCode == '#f60000' || l.colorCode == '#f9a400') && l.kpI_ACTUAL">
                <i class="fa fa-pencil"></i>
              </a>
            </div>            
          </td>

        </tr>
      </tbody>
    </table>
    <div *ngIf="ShowQuarterlyTable()" style="font-family: calibri;text-align: center;font-weight:600">Quarterly KPI
      Details
    </div>
    <table *ngIf="ShowQuarterlyTable()" class="table table-bordered" style="font-size:12px">
      <thead>
        <tr>
          <th style="width: 7%;">Success Goal</th>
          <th style="width: 7%;">Work Group / KPI Area</th>
          <th style="width: 20%;">KPI Description</th>
          <th style="width: 7%;">Priority</th>
          <th style="width: 10%;">Support window</th>
          <th style="text-align: center;width: 20%" colspan="4">Target</th>
          <th style="width: 3%;">UOM</th>
          <th style="width: 10%;">Quarter Period</th>
          <th style="width: 5%;">Actual</th>
          <th style="width: 5%;">SLA Status</th>
        </tr>
        <tr>
          <th style="height:3px;padding:0px!important;border-color: #ffffff;background-color: #ffffff"></th>
          <th style="height:3px;padding:0px!important;border-color: #ffffff;background-color: #ffffff"></th>
          <th style="height:3px;padding:0px!important;border-color: #ffffff;background-color: #ffffff"></th>
          <th style="height:3px;padding:0px!important;border-color: #ffffff;background-color: #ffffff"></th>
          <th style="height:3px;padding:0px!important;border-color: #ffffff;background-color: #ffffff"></th>
          <th style="height:3px;padding:0px!important;border-color: #f60000;background-color: #f60000"></th>
          <th style="height:3px;padding:0px!important;border-color: #f9a400;background-color: #f9a400"></th>
          <th style="height:3px;padding:0px!important;border-color: #237f00;background-color: #237f00"></th>
          <th style="height:3px;padding:0px!important;border-color: #00bfff;background-color: #00bfff"></th>
          <th style="height:3px;padding:0px!important;border-color: #ffffff;background-color: #ffffff"></th>
          <th style="height:3px;padding:0px!important;border-color: #ffffff;background-color: #ffffff"></th>
        </tr>
      </thead>
      <tbody *ngFor="let g of detailmonthly">
        <tr *ngIf="g.kpI_Quaterly.length > 0">
          <td style="vertical-align: middle;" [attr.rowspan]="g.kpI_Quaterly.length + 1">{{ g.goaL_NAME}}</td>
        </tr>
        <tr *ngFor="let m of g.kpI_Quaterly">
          <td style="padding: 0px;vertical-align: middle">{{ m.servicE_AREA}}</td>
          <td style="padding: 0px;">
            <div *ngFor="let l of m.kpiWithTargets" class="row">
              {{l.kpI_NAME}}
            </div>
          </td>
          <td style="padding: 0px;vertical-align: middle">
            <div *ngFor="let l of m.kpiWithTargets" class="row">
              {{ l.priority}}
            </div>
          </td>
          <td style="padding: 0px;vertical-align: middle">
            <div *ngFor="let l of m.kpiWithTargets" class="row ">
              {{ l.supporT_WINDOW}}
            </div>
          </td>
          <td style="padding: 0px;vertical-align: middle">
            <div *ngFor="let l of m.kpiWithTargets" class="row ">
              <span *ngIf="l.kpI_TARGETS[0]">
                {{ l.kpI_TARGETS[0].slA_TARGET_LOW_DESCRIPTION}}
              </span>
            </div>
          </td>
          <td style="padding: 0px;vertical-align: middle">
            <div *ngFor="let l of m.kpiWithTargets" class="row ">
              <span *ngIf="l.kpI_TARGETS[0]">
                {{ l.kpI_TARGETS[0].slA_TARGET_MEDIUM_DESCRIPTION}}
              </span>
            </div>
          </td>
          <td style="padding: 0px;vertical-align: middle">
            <div *ngFor="let l of m.kpiWithTargets" class="row ">
              <span *ngIf="l.kpI_TARGETS[0]">
                {{ l.kpI_TARGETS[0].slA_TARGET_HIGH_DESCRIPTION}}
              </span>
            </div>
          </td>
          <td style="padding: 0px;vertical-align: middle">
            <div *ngFor="let l of m.kpiWithTargets" class="row ">
              <span *ngIf="l.kpI_TARGETS[0]">
                {{ l.kpI_TARGETS[0].slA_TARGET_VERYHIGH_DESCRIPTION}}
              </span>
            </div>
          </td>
          <td style="padding: 0px;vertical-align: middle">
            <div *ngFor="let l of m.kpiWithTargets" class="row ">
              {{l.slA_TARGET_UNIT_OF_MEASUREMENT}}
            </div>
          </td>
          <td style="padding: 0px;vertical-align: middle">
            <div *ngFor="let l of m.kpilist" class="row ">
              {{l.startPeriod}} - {{l.endPeriod}}
            </div>
          </td>
          <td style="padding: 0px;vertical-align: middle;" >
            <div *ngFor="let l of m.quarterly" class="row">
              <mat-form-field *ngIf="l != null && !disableKPIEdit" style="width: 50px;height: 35px;;margin-top: 2px;margin-bottom: 2px;">
                <input type="text" style="width: 60px" name="txtKPIActual" [(ngModel)]="l.kpI_ACTUAL" matInput
                  [disabled]="l.slA_STATUS == 'NA'"
                  (change)="getSLAStatus(l.kpI_ACTUAL,l.kpI_ID)" placeholder="Actual" required maxlength="6">
              </mat-form-field>
              <span style="width: 50px;height: 35px;;margin-top: 2px;margin-bottom: 2px;" *ngIf="l != null && disableKPIEdit">{{l.kpI_ACTUAL}}</span>
              <a *ngIf="l.baseMeasureDataList != null && l.baseMeasureDataList.length>0 && !disableKPIEdit" class="link"
                (click)="enterBaseMeasure(l.kpI_ID)"><i class="fa fa-pencil"></i></a>
              <a *ngIf="(l.baseMeasureDataList == null || l.baseMeasureDataList.length == 0)&& !disableKPIEdit" class="link"
                (click)="openDialog(l)"><i class="fa fa-pencil"></i></a>
            </div>
          </td>         
          <td style="padding: 0px;vertical-align: middle;">
            <div *ngFor="let l of m.quarterly" class="row">
              <span *ngIf="l.slA_STATUS == 'NA'"
                style="height: 10px;width: 10px;border-radius: 50%;display: inline-block;">
                {{l.slA_STATUS}}
              </span>
              <span *ngIf="l.kpI_ACTUAL" [ngStyle]="{backgroundColor: l.colorCode}" class="dot"
                style="height: 10px;width: 10px;border-radius: 50%;display: inline-block;">
              </span> &nbsp; &nbsp;
              <a class="link" (click)="ViewCAPA(l.kpI_ID,l.perioD_TYPE,l.kpI_ACTUAL)"
                *ngIf="(l.colorCode == '#f60000' || l.colorCode == '#f9a400') && l.kpI_ACTUAL">
                <i class="fa fa-pencil"></i>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="ShowWeeklyTable()" style="font-family: calibri;text-align: center;font-weight:600">Weekly KPI Details
    </div>
    <table *ngIf="ShowWeeklyTable()" class="table table-bordered" style="font-size:12px">
      <thead>
        <tr>
          <th>Success Goal</th>
          <th>Work Group / KPI Area</th>
          <th style="width: 40%;">KPI Description</th>
          <th>Priority</th>
          <th>Support window</th>
          <th style="text-align: center;width: 40%" colspan="4">Target</th>
          <th>UOM</th>
          <th colspan="5">Actual</th>
          <th colspan="5">SLA Status</th>
        </tr>
        <tr>
          <th style="height:3px;padding:0px!important;border-color: #ffffff;background-color: #ffffff"></th>
          <th style="height:3px;padding:0px!important;border-color: #ffffff;background-color: #ffffff"></th>
          <th style="height:3px;padding:0px!important;border-color: #ffffff;background-color: #ffffff"></th>
          <th style="height:3px;padding:0px!important;border-color: #ffffff;background-color: #ffffff"></th>
          <th style="height:3px;padding:0px!important;border-color: #ffffff;background-color: #ffffff"></th>
          <th style="height:3px;padding:0px!important;border-color: #f60000;background-color: #f60000"></th>
          <th style="height:3px;padding:0px!important;border-color: #f9a400;background-color: #f9a400"></th>
          <th style="height:3px;padding:0px!important;border-color: #237f00;background-color: #237f00"></th>
          <th style="height:3px;padding:0px!important;border-color: #00bfff;background-color: #00bfff"></th>
          <th style="height:3px;padding:0px!important;border-color: #ffffff;background-color: #ffffff"></th>
          <th style="height:3px;padding:0px!important;border-color: #ffffff;background-color: #ffffff"></th>
          <th style="height:3px;padding:0px!important;border-color: #ffffff;background-color: #ffffff"></th>
          <th style="height:3px;padding:0px!important;border-color: #ffffff;background-color: #ffffff"></th>
          <th style="height:3px;padding:0px!important;border-color: #ffffff;background-color: #ffffff"></th>
          <th style="height:3px;padding:0px!important;border-color: #ffffff;background-color: #ffffff"></th>
          <th style="height:3px;padding:0px!important;border-color: #ffffff;background-color: #ffffff"></th>
        </tr>
      </thead>
      <tbody *ngFor="let g of detailmonthly;let ind = index">
        <tr *ngIf="ind == 0">
          <td colspan="10"></td>
          <td style="padding: 0px;">
            <!-- <tbody *ngFor="let m of g.kpI_week;let i = index"> -->
      <tbody *ngFor="let m of WeekDates;let i = index">
        <tr *ngIf="i==0">
          <td style="padding-right: 2px;padding-left: 2px;padding-bottom: 0px;">
            <mat-form-field style="width: 75px;float: left;">
              <input [max]="lastdate" [min]="firstdate" matInput name="dtPeriodDate" [(ngModel)]='m.week1[i].period'
                [matDatepicker]="pickerweek1Period" placeholder=" Week 1" required>
              <mat-datepicker-toggle matSuffix [for]="pickerweek1Period"></mat-datepicker-toggle>
              <mat-datepicker #pickerweek1Period></mat-datepicker>
            </mat-form-field>
          </td>
        </tr>
      </tbody>
      </td>
      <td style="padding: 0px;">
        <tbody *ngFor="let m of WeekDates;let i = index">
          <tr *ngIf="i==0">
            <td style="padding-right: 2px;padding-left: 2px;padding-bottom: 0px;">
              <mat-form-field style="width: 75px;float: left;">
                <input [max]="lastdate" [min]="firstdate" matInput name="dtPeriodDate" [(ngModel)]='m.week2[i].period'
                  [matDatepicker]="pickerweek2Period" placeholder=" Week 2" required>
                <mat-datepicker-toggle matSuffix [for]="pickerweek2Period"></mat-datepicker-toggle>
                <mat-datepicker #pickerweek2Period></mat-datepicker>
              </mat-form-field>
            </td>
          </tr>
        </tbody>
      </td>
      <td style="padding: 0px;">
        <tbody *ngFor="let m of WeekDates;let i = index">
          <tr *ngIf="i==0">
            <td style="padding-right: 2px;padding-left: 2px;padding-bottom: 0px;">
              <mat-form-field style="width: 75px;float: left;">
                <input [max]="lastdate" [min]="firstdate" matInput name="dtPeriodDate" [(ngModel)]='m.week3[i].period'
                  [matDatepicker]="pickerweek3Period" placeholder=" Week 3" required>
                <mat-datepicker-toggle matSuffix [for]="pickerweek3Period"></mat-datepicker-toggle>
                <mat-datepicker #pickerweek3Period></mat-datepicker>
              </mat-form-field>
            </td>
          </tr>
        </tbody>
      </td>
      <td style="padding: 0px;">
        <tbody *ngFor="let m of WeekDates;let i = index">
          <tr *ngIf="i==0">
            <td style="padding-right: 2px;padding-left: 2px;padding-bottom: 0px;">
              <mat-form-field style="width: 75px;float: left;">
                <input [max]="lastdate" [min]="firstdate" matInput name="dtPeriodDate" [(ngModel)]='m.week4[i].period'
                  [matDatepicker]="pickerweek4Period" placeholder=" Week 4" required>
                <mat-datepicker-toggle matSuffix [for]="pickerweek4Period"></mat-datepicker-toggle>
                <mat-datepicker #pickerweek4Period></mat-datepicker>
              </mat-form-field>
            </td>
          </tr>
        </tbody>
      </td>
      <td style="padding: 0px;">
        <tbody *ngFor="let m of WeekDates;let i = index">
          <tr *ngIf="i==0">
            <td style="padding-right: 2px;padding-left: 2px;padding-bottom: 0px;">
              <mat-form-field style="width: 75px;float: left;">
                <input [max]="lastdate" [min]="firstdate" matInput name="dtPeriodDate" [(ngModel)]='m.week5[i].period'
                  [matDatepicker]="pickerweek5Period" placeholder=" Week 5" required>
                <mat-datepicker-toggle matSuffix [for]="pickerweek5Period"></mat-datepicker-toggle>
                <mat-datepicker #pickerweek5Period></mat-datepicker>
              </mat-form-field>
            </td>
          </tr>
        </tbody>
      </td>
      <td style="padding: 0px;">
        <!-- <tbody *ngFor="let m of g.kpI_week;let i = index"> -->
        <tbody *ngFor="let m of WeekDates;let i = index">
          <tr *ngIf="i==0">
            <td style="padding-right: 2px;padding-left: 2px;padding-bottom: 0px;">
              <mat-form-field style="width: 75px;float: left;">
                <input [max]="lastdate" [min]="firstdate" matInput name="dtPeriodDate" [(ngModel)]='m.week1[i].period'
                  [matDatepicker]="pickerweek1Period" placeholder=" Week 1" required>
                <mat-datepicker-toggle matSuffix [for]="pickerweek1Period"></mat-datepicker-toggle>
                <mat-datepicker #pickerweek1Period></mat-datepicker>
              </mat-form-field>
            </td>
          </tr>
        </tbody>
      </td>
      <td style="padding: 0px;">
        <tbody *ngFor="let m of WeekDates;let i = index">
          <tr *ngIf="i==0">
            <td style="padding-right: 2px;padding-left: 2px;padding-bottom: 0px;">
              <mat-form-field style="width: 75px;float: left;">
                <input [max]="lastdate" [min]="firstdate" matInput name="dtPeriodDate" [(ngModel)]='m.week2[i].period'
                  [matDatepicker]="pickerweek2Period" placeholder=" Week 2" required>
                <mat-datepicker-toggle matSuffix [for]="pickerweek2Period"></mat-datepicker-toggle>
                <mat-datepicker #pickerweek2Period></mat-datepicker>
              </mat-form-field>
            </td>
          </tr>
        </tbody>
      </td>
      <td style="padding: 0px;">
        <tbody *ngFor="let m of WeekDates;let i = index">
          <tr *ngIf="i==0">
            <td style="padding-right: 2px;padding-left: 2px;padding-bottom: 0px;">
              <mat-form-field style="width: 75px;float: left;">
                <input [max]="lastdate" [min]="firstdate" matInput name="dtPeriodDate" [(ngModel)]='m.week3[i].period'
                  [matDatepicker]="pickerweek3Period" placeholder=" Week 3" required>
                <mat-datepicker-toggle matSuffix [for]="pickerweek3Period"></mat-datepicker-toggle>
                <mat-datepicker #pickerweek3Period></mat-datepicker>
              </mat-form-field>
            </td>
          </tr>
        </tbody>
      </td>
      <td style="padding: 0px;">
        <tbody *ngFor="let m of WeekDates;let i = index">
          <tr *ngIf="i==0">
            <td style="padding-right: 2px;padding-left: 2px;padding-bottom: 0px;">
              <mat-form-field style="width: 75px;float: left;">
                <input [max]="lastdate" [min]="firstdate" matInput name="dtPeriodDate" [(ngModel)]='m.week4[i].period'
                  [matDatepicker]="pickerweek4Period" placeholder=" Week 4" required>
                <mat-datepicker-toggle matSuffix [for]="pickerweek4Period"></mat-datepicker-toggle>
                <mat-datepicker #pickerweek4Period></mat-datepicker>
              </mat-form-field>
            </td>
          </tr>
        </tbody>
      </td>
      <td style="padding: 0px;">
        <tbody *ngFor="let m of WeekDates;let i = index">
          <tr *ngIf="i==0">
            <td style="padding-right: 2px;padding-left: 2px;padding-bottom: 0px;">
              <mat-form-field style="width: 75px;float: left;">
                <input [max]="lastdate" [min]="firstdate" matInput name="dtPeriodDate" [(ngModel)]='m.week5[i].period'
                  [matDatepicker]="pickerweek5Period" placeholder=" Week 5" required>
                <mat-datepicker-toggle matSuffix [for]="pickerweek5Period"></mat-datepicker-toggle>
                <mat-datepicker #pickerweek5Period></mat-datepicker>
              </mat-form-field>
            </td>
          </tr>
        </tbody>
      </td>
      </tr>
      <tr>
        <td *ngIf="g.kpI_week.length > 0 " style="vertical-align: middle;" [attr.rowspan]="g.kpI_week.length + 1">
          {{ g.goaL_NAME}}
        </td>
      </tr>
      <tr *ngFor="let m of g.kpI_week; let i = index">
        <td style="padding: 0px;vertical-align: middle">{{ m.servicE_AREA}}</td>
        <td style="padding: 0px">
          <!-- <table class="n-bordered">
              <tbody>
                <tr *ngFor="let l of m.kpilist">
                  <td style="height: 40px">{{l.kpI_NAME}}</td>
                </tr>
              </tbody>
            </table> -->
          <div *ngFor="let l of m.kpilist" class="row ">
            {{l.kpI_NAME}}
          </div>
        </td>
        <td style="padding: 0px">
          <!-- <table class="n-bordered">
              <tbody>
                <tr *ngFor="let l of m.kpilist">
                  <td style="height: 40px">{{ l.priority}}</td>
                </tr>
              </tbody>
            </table> -->
          <div *ngFor="let l of m.kpilist" class="row ">
            {{l.priority}}
          </div>
        </td>
        <td style="padding: 0px">
          <!-- <table class="n-bordered">
              <tbody>
                <tr *ngFor="let l of m.kpilist">
                  <td style="height: 40px">{{ l.supporT_WINDOW}}</td>
                </tr>
              </tbody>
            </table> -->
          <div *ngFor="let l of m.kpilist" class="row ">
            {{l.supporT_WINDOW}}
          </div>
        </td>
        <td style="padding: 0px">
          <div *ngFor="let l of m.kpiWithTargets" class="row ">
            <span *ngIf="l.kpI_TARGETS[0]">
              {{l.kpI_TARGETS[0].slA_TARGET_LOW_DESCRIPTION}}
            </span>
          </div>
        </td>
        <td style="padding: 0px">
          <div *ngFor="let l of m.kpiWithTargets" class="row ">
            <span *ngIf="l.kpI_TARGETS[0]">
              {{l.kpI_TARGETS[0].slA_TARGET_MEDIUM_DESCRIPTION}}
            </span>
          </div>
        </td>
        <td style="padding: 0px">
          <div *ngFor="let l of m.kpiWithTargets" class="row ">
            <span *ngIf="l.kpI_TARGETS[0]">
              {{l.kpI_TARGETS[0].slA_TARGET_HIGH_DESCRIPTION}}
            </span>
          </div>
        </td>
        <td style="padding: 0px">
          <div *ngFor="let l of m.kpiWithTargets" class="row ">
            <span *ngIf="l.kpI_TARGETS[0]">
              {{l.kpI_TARGETS[0].slA_TARGET_VERYHIGH_DESCRIPTION}}
            </span>
          </div>
        </td>
        <td style="padding: 0px">
          <div *ngFor="let l of m.kpiWithTargets" class="row ">
            <span *ngIf="l.kpI_TARGETS[0]">
              {{l.slA_TARGET_UNIT_OF_MEASUREMENT}}
            </span>
          </div>
        </td>
        <td style="padding: 0px">
          <div *ngFor="let l of m.week1">
            <mat-form-field style="width: 65px;height: 35px;" *ngIf="!disableKPIEdit">
              <input type="text" name="txtKPIActualw1[{{i}}]" [(ngModel)]="l.kpI_ACTUAL"
                (change)="getSLAStatus(l.kpI_ACTUAL,l.kpI_ID)" matInput
                [disabled]="l.slA_STATUS == 'NA'" placeholder="Actual" maxlength="6" required>
            </mat-form-field>
            <span style="width: 65px;height: 35px;" *ngIf="disableKPIEdit">
              {{l.kpI_ACTUAL}}         
            </span>
            <a *ngIf="l.baseMeasureDataList != null && l.baseMeasureDataList.length>0 && !disableKPIEdit" class="link"
              (click)="enterBaseMeasure(l.kpI_ID)"><i class="fa fa-pencil"></i></a>
            <a *ngIf="(l.baseMeasureDataList == null || l.baseMeasureDataList.length == 0)&& !disableKPIEdit" class="link"
              (click)="openDialog(l)"><i class="fa fa-pencil"></i></a>
          </div>
        </td>
        <td style="padding: 0px">
          <div *ngFor="let l of m.week2">
            <mat-form-field style="width: 65px;height: 35px;" *ngIf="!disableKPIEdit">
              <input type="text" name="txtKPIActualw2[{{i}}]" [(ngModel)]="l.kpI_ACTUAL"
                (change)="getSLAStatus(l.kpI_ACTUAL,l.kpI_ID)" matInput
                [disabled]="l.slA_STATUS == 'NA'" placeholder="Actual" maxlength="6" required>
            </mat-form-field>
            <span style="width: 65px;height: 35px;" *ngIf="disableKPIEdit">
              {{l.kpI_ACTUAL}}         
            </span>
            <a *ngIf="l.baseMeasureDataList != null && l.baseMeasureDataList.length>0 && !disableKPIEdit" class="link"
              (click)="enterBaseMeasure(l.kpI_ID)"><i class="fa fa-pencil"></i></a>
            <a *ngIf="(l.baseMeasureDataList == null || l.baseMeasureDataList.length == 0)&& !disableKPIEdit" class="link"
              (click)="openDialog(l)"><i class="fa fa-pencil"></i></a>
          </div>
        </td>
        <td style="padding: 0px">
          <div *ngFor="let l of m.week3">
            <mat-form-field style="width: 65px;height: 35px;" *ngIf="!disableKPIEdit">
              <input type="text" name="txtKPIActualw3[{{i}}]" [(ngModel)]="l.kpI_ACTUAL"
                (change)="getSLAStatus(l.kpI_ACTUAL,l.kpI_ID)" matInput
                [disabled]="l.slA_STATUS == 'NA'" placeholder="Actual" maxlength="6" required>
            </mat-form-field>
            <span style="width: 65px;height: 35px;" *ngIf="disableKPIEdit">
              {{l.kpI_ACTUAL}}         
            </span>
            <a *ngIf="l.baseMeasureDataList != null && l.baseMeasureDataList.length>0 && !disableKPIEdit" class="link"
              (click)="enterBaseMeasure(l.kpI_ID)"><i class="fa fa-pencil"></i></a>
            <a *ngIf="(l.baseMeasureDataList == null || l.baseMeasureDataList.length == 0)&& !disableKPIEdit" class="link"
              (click)="openDialog(l)"><i class="fa fa-pencil"></i></a>
          </div>
        </td>
        <td style="padding: 0px">
          <div *ngFor="let l of m.week4">
            <mat-form-field style="width: 65px;height: 35px;" *ngIf="!disableKPIEdit">
              <input type="text" name="txtKPIActualw4[{{i}}]" [(ngModel)]="l.kpI_ACTUAL"
                (change)="getSLAStatus(l.kpI_ACTUAL,l.kpI_ID)" matInput
                [disabled]="l.slA_STATUS == 'NA'" placeholder="Actual" maxlength="6" required>
            </mat-form-field>
            <span style="width: 65px;height: 35px;" *ngIf="disableKPIEdit">
              {{l.kpI_ACTUAL}}         
            </span>
            <a *ngIf="l.baseMeasureDataList != null && l.baseMeasureDataList.length>0 && !disableKPIEdit" class="link"
              (click)="enterBaseMeasure(l.kpI_ID)"><i class="fa fa-pencil"></i></a>
            <a *ngIf="(l.baseMeasureDataList == null || l.baseMeasureDataList.length == 0)&& !disableKPIEdit" class="link"
              (click)="openDialog(l)"><i class="fa fa-pencil"></i></a>
          </div>
        </td>
        <td style="padding: 0px">
          <div *ngFor="let l of m.week5">
            <mat-form-field style="width: 65px;height: 35px;" *ngIf="!disableKPIEdit">
              <input type="text" name="txtKPIActualw5[{{i}}]" [(ngModel)]="l.kpI_ACTUAL"
                (change)="getSLAStatus(l.kpI_ACTUAL,l.kpI_ID)" matInput
                [disabled]="l.slA_STATUS == 'NA'" placeholder="Actual" maxlength="6" required>
            </mat-form-field>
            <span style="width: 65px;height: 35px;" *ngIf="disableKPIEdit">
              {{l.kpI_ACTUAL}}         
            </span>
            <a *ngIf="l.baseMeasureDataList != null && l.baseMeasureDataList.length>0 && !disableKPIEdit" class="link"
              (click)="enterBaseMeasure(l.kpI_ID)"><i class="fa fa-pencil"></i></a>
            <a *ngIf="(l.baseMeasureDataList == null || l.baseMeasureDataList.length == 0)&& !disableKPIEdit" class="link"
              (click)="openDialog(l)"><i class="fa fa-pencil"></i></a>
          </div>
        </td>
        <td style="padding: 0px;vertical-align: middle;">
          <div *ngFor="let l of m.week1" class="row">
            <span *ngIf="l.slA_STATUS == 'NA'"
              style="height: 10px;width: 10px;border-radius: 50%;display: inline-block;">
              {{l.slA_STATUS}}
            </span>
            <span *ngIf="l.kpI_ACTUAL" [ngStyle]="{backgroundColor: l.colorCode}" class="dot"
              style="height: 10px;width: 10px;border-radius: 50%;display: inline-block;">
            </span> &nbsp; &nbsp;
            <a class="link" (click)="ViewCAPA(l.kpI_ID,l.perioD_TYPE,l.kpI_ACTUAL)"
              *ngIf="(l.colorCode == '#f60000' || l.colorCode == '#f9a400') && l.kpI_ACTUAL">
              <i class="fa fa-pencil"></i>
            </a>
          </div>
        </td>
        <td style="padding: 0px;vertical-align: middle;">
          <div *ngFor="let l of m.week2" class="row">
            <span *ngIf="l.slA_STATUS == 'NA'"
              style="height: 10px;width: 10px;border-radius: 50%;display: inline-block;">
              {{l.slA_STATUS}}
            </span>
            <span *ngIf="l.kpI_ACTUAL" [ngStyle]="{backgroundColor: l.colorCode}" class="dot"
              style="height: 10px;width: 10px;border-radius: 50%;display: inline-block;">
            </span> &nbsp; &nbsp;
            <a class="link" (click)="ViewCAPA(l.kpI_ID,l.perioD_TYPE,l.kpI_ACTUAL)"
              *ngIf="(l.colorCode == '#f60000' || l.colorCode == '#f9a400') && l.kpI_ACTUAL">
              <i class="fa fa-pencil"></i>
            </a>
          </div>
        </td>
        <td style="padding: 0px;vertical-align: middle;">
          <div *ngFor="let l of m.week3" class="row">
            <span *ngIf="l.slA_STATUS == 'NA'"
              style="height: 10px;width: 10px;border-radius: 50%;display: inline-block;">
              {{l.slA_STATUS}}
            </span>
            <span *ngIf="l.kpI_ACTUAL" [ngStyle]="{backgroundColor: l.colorCode}" class="dot"
              style="height: 10px;width: 10px;border-radius: 50%;display: inline-block;">
            </span> &nbsp; &nbsp;
            <a class="link" (click)="ViewCAPA(l.kpI_ID,l.perioD_TYPE,l.kpI_ACTUAL)"
              *ngIf="(l.colorCode == '#f60000' || l.colorCode == '#f9a400') && l.kpI_ACTUAL">
              <i class="fa fa-pencil"></i>
            </a>
          </div>
        </td>
        <td style="padding: 0px;vertical-align: middle;">
          <div *ngFor="let l of m.week4" class="row">
            <span *ngIf="l.slA_STATUS == 'NA'"
              style="height: 10px;width: 10px;border-radius: 50%;display: inline-block;">
              {{l.slA_STATUS}}
            </span>
            <span *ngIf="l.kpI_ACTUAL" [ngStyle]="{backgroundColor: l.colorCode}" class="dot"
              style="height: 10px;width: 10px;border-radius: 50%;display: inline-block;">
            </span> &nbsp; &nbsp;
            <a class="link" (click)="ViewCAPA(l.kpI_ID,l.perioD_TYPE,l.kpI_ACTUAL)"
              *ngIf="(l.colorCode == '#f60000' || l.colorCode == '#f9a400') && l.kpI_ACTUAL">
              <i class="fa fa-pencil"></i>
            </a>
          </div>
        </td>
        <td style="padding: 0px;vertical-align: middle;">
          <div *ngFor="let l of m.week5" class="row">
            <span *ngIf="l.slA_STATUS == 'NA'"
              style="height: 10px;width: 10px;border-radius: 50%;display: inline-block;">
              {{l.slA_STATUS}}
            </span>
            <span *ngIf="l.kpI_ACTUAL" [ngStyle]="{backgroundColor: l.colorCode}" class="dot"
              style="height: 10px;width: 10px;border-radius: 50%;display: inline-block;">
            </span> &nbsp; &nbsp;
            <a class="link" (click)="ViewCAPA(l.kpI_ID,l.perioD_TYPE,l.kpI_ACTUAL)"
              *ngIf="(l.colorCode == '#f60000' || l.colorCode == '#f9a400') && l.kpI_ACTUAL">
              <i class="fa fa-pencil"></i>
            </a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <label style="padding: 10px;font-size: smaller;"><b>Note :</b> 
      <br>1. Please provide Corrective Action Plan for NOT MET KPIs
      <br>2. KPI actuals cannot be edited after the reporting period/month</label>

    <div class="row" style="text-align:center;margin-bottom:15px">
      <button [disabled]="freez"
        *ngIf="ShowMonthTable() == true || ShowWeeklyTable() == true || ShowQuarterlyTable() == true" type="button"
        (click)="SaveDetails(detailmonthly)" class="btn btn-primary">Save</button>
      <!-- <button type="button" (click)="SaveDetails(detailmonthly)" class="btn btn-primary">Save</button> -->
    </div>
  </div>
</div>