@import '../layout.tables.style.scss';

.col-lg-12, .col-md-12, .col-sm-12, .col-lg-5, .col-md-5, .col-sm-5, .col-lg-6, .col-md-6, .col-sm-6
{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.indexWidth{
    width: 1%;
}

.editWidth{
    width: 1%;
}
// .disable_edit {
//   opacity: 0.5;
//   cursor: default !important;
// }

.deleteWidth{
    width: 1%;
}

// .projWidth{
//     width: 21%;
// }

// .portWidth{
//     width: 21%;
// }

// .desWidth{
//     width: 20%;
// }


// .ownerWidth {
//     width: 5%;
// }

// .idendateWidth{
//     width: 5%;
// }

// .statusWidth{
//     width: 5%;
// }
// .priorWidth{
//     width: 5%;
// }

// .compeldateWidth{
//     width: 5%;
// }

.mat-cell
{
  word-break: break-word;
}
.mat-column-description {
  width: 30% !important;
}
.mat-column-Completion_DATE,.mat-column-Identified_Date {
  width: 8% !important;
  white-space: nowrap;
}
// td.mat-cell
// {
//   font-family: 'calibri';
//   font-size:14px
// }

.mat-column-Portfolio_Name{
    width: 15%;
}

.mat-column-Project_Name{
    width: 15%;
}

.mat-column-owner,.mat-column-Priority,.mat-column-Status {
  width: 8% !important;
  word-break: unset
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 12px;
}



// // table {
// //     border-collapse: collapse;
// //     word-break: break-word;
// //   }
// //   .table-outline {
// //     border: 1px solid #a4b7c1;
// //   }
// .table th {
//     color:white!important;
//     // background-color: #c2cfd6;
//     border-color: #a4b7c1;
//     background-color: #4d8bbf;
//     font-size: 14px
//   }
//   .table td{
//     font-size: 14px
//   }
// //   .table thead th {
// //     vertical-align: bottom;
// //     border-bottom: 2px solid #a4b7c1;
// //     color: #f3f4f8;
// //     background-color: #4d8bbf
// //   }
// //   .table th, .table td {
// //     padding: 0.75rem;
// //     vertical-align: top;
// //     border-top: 1px solid #a4b7c1;

// //   }
//   .mat-header-row {
//     background-color: #adcfeb;
//   }
//   .link {
//     cursor: pointer;
//     text-decoration: none;
//     color:steelblue;
//     vertical-align: middle;
//     text-align: center;
// }
// .buttona
// {
//   color: #757272;
//   cursor: pointer;
//   border: 1px solid #e7e5e5;
//   border-radius: 4px 4px 0 0;
//   text-align: center;
//   font-family: calibri;
//   margin: 15px 7px 11px 7px;
//   box-shadow: 1px 1px 2px #adadad;
//   background: #f3f4f8;
//   float: right;
// }
// // .mat-header-cell
// // {
// //   word-wrap: break-word;
// //   overflow-wrap: break-word;
// // }
// .example-container {
//   height: 300px !important;
//   overflow: auto !important;
// }
// //<<Table
// table{
//   width: 100%;
//   margin-bottom:0px !important;
// }
// td {
//     font-size: 14px!important;
//     padding:2px !important;
// }
// th{
//   text-align: center;
//   padding:2px !important;
//   background-color: #b0cfed;
//   color: #303c7a;
//   font-size: 12px;
//   font-weight: normal;
// }
// .mat-input-element:disabled {
//   color:#333;
// }
// .width
// {
//   width: 20%!important;
// }
// .mat-column-description {
//   width: 25% !important;
// }
// .mat-column-reporteD_DATE ,.mat-column-revieweD_DATE,.mat-column-approveD_DATE {
//   width: 8% !important;
//   white-space: nowrap
// }
// .mat-column-reporteD_BY,.mat-column-revieweD_BY,.mat-column-approveD_BY{
//   width: 12% !important;
//   word-break: unset
// }
// .mat-column-procesS_AREA{
//   width: 10% !important;
// }
// // .mat-column-reporteD_DATE1 ,.mat-column-revieweD_DATE1,.mat-column-approveD_DATE1 {
// //   width: 8% !important;
// //   white-space: nowrap
// // }
// // .mat-column-reporteD_BY1,.mat-column-revieweD_BY1,.mat-column-approveD_BY1{
// //   width: 12% !important;
// //   word-break: unset
// // }
// // .mat-column-procesS_AREA1{
// //   width: 10% !important;
// // }
// .row{
//   margin:0 !important;
// }
// .col-sm-6, .col-md-6, .col-lg-6{
//   padding: 0px;
// }