<!-- <app-matspinner [Hidden]="false"></app-matspinner> -->
<div class="mainlogin">
  <img id="bg" src="assets/images/BrandElement_desktop_v1.jpg" style="width:100vw">
  <div class="layout">
    <form #forgotform="ngForm" (ngSubmit)="SubmitForm(forgotform.valid)" style="align-self: center">
      <div style="text-align:center;font-size:25px;padding:15px 0 15px">Forgot password</div>
      <div class="row" style="padding:15px">
        Please enter your email id to get password reset link to your email.
      </div>

      <div class="row" style="padding:15px">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-user-o fa-fw"></i>
          </span>
          <input type="text" [(ngModel)]="password" placeholder="Email id" name="txtEmailid" class="form-control input-md LoginTextBox"
            style="Width:250px;Height:40px" required>
        </div>
      </div>
      <div style="text-align: center">
        <button type="submit" ID="btnLogin" Text="Login" class="btn btn-success">Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a type="button" class="btn btn-success" [routerLink]="['/login']">Cancel</a>
      </div>
      <!-- <div class="row">
        <p style="color:red;font-size:smaller">{{errMessage}}</p>
      </div> -->
    </form>
    <!-- <div class="row" style="margin-top:25px">
      <a class="link" [routerLink]="['/login']">Login page</a>
    </div> -->
  </div>
</div>