table td .mat-checkbox-inner-container, table .mat-radio-container, table .mat-radio-outer-circle, table .mat-radio-inner-circle {
    height: 10px!important;;
    width: 10px!important;
  }
  ::ng-deep .mat-checkbox .mat-checkbox-inner-container {
    height: 12px!important;;
    width: 12px!important;
  }
  .round
  {
    width: 10px;
    height: 10px;
    border-radius: 50%;;
    float: left;
    margin-right: 3px;
    margin-top: 1px;
  }
  .fixedheight
  {
    height: 200px;
    overflow: auto;
  }
  .color_swatch {
    background: url("/assets/images/color_swatch.png") no-repeat;
    width: 14px;
    height: 14px;
    margin-top: -17px;
    margin-bottom: 3px;
    float: right;
    cursor: pointer;
    margin-right: 95%;
  }
  .bordered_content {
    font-size: 12px;
  font-family: calibri;
  border: #ccc 1px solid;
  color: #524f4f;
  background-color: #fff!important;
  box-shadow: 1px 1px 1px #ccc;
  border-radius: 3px;
  
  }