.th.mat-header-cell
{
    font-family: 'Roboto' !important;
    font-weight: 700 !important;
    font-size: 15px !important;
}

.escalationTable tbody {
    display: block; /* to enable vertical scrolling */
    max-height: 530px; /* e.g. */
    overflow-y: scroll; /* keeps the scrollbar even if it doesn't need it; display purpose */
  }
  .escalationTable tr {
    display: table; /* display purpose; th's border */
    width: 100%;
    box-sizing: border-box; /* because of the border (Chrome needs this line, but not FF) */
  }

  .escalationTable  thead{
    display: table; /* to take the same width as tr */
   // width: calc(100% - 13px); /* - 17px because of the scrollbar width */
}

// .mat-cell
// {
//   word-break: break-word;
// }

// th.mat-header-cell, .mat-column-cusT_NM {
//   width: 14% !important;
// }

// th.mat-header-cell,.mat-column-proJ_NM{
//   width : 14% !important;
// }

// th.mat-header-cell,.mat-column-description{
//   width: 14% !important;
// }

// th.mat-header-cell,.mat-column-status{
//   width: 9% !important;
// }

// th.mat-header-cell,.mat-column-identifieD_DATE{
//   width : 14% !important;
// }

// th.mat-header-cell,.mat-column-identifieD_BY{
//   width : 15% !important;
// }

// th.mat-header-cell, .mat-column-targeT_DATE{
//   width: 15% !important;
// }

// th.mat-header-cell, .mat-column-isEscalated{
//   width: 10% !important;
// }

.accWidth{
  width: 15% !important;
}
.projWidth{
  width: 15% !important;
}

.issueWidth{
  width: 25% !important;
}

.statWidth{
  width: 10% !important;
}

.idenWidth{
  width: 10% !important;
}

.idenbyWidth{
  width: 10% !important;
}

.targetWidth{
  width: 10% !important;
}

