<!-- Sidebar Component Template - Preserved from legacy with modern control flow -->
<div class="sidenav">
  <div class="row">
    <div class="col-lg-12">
      <i class="fa fa-circle"></i>&nbsp;Not Assigned
    </div>
  </div>
  <div class="container-fluid">
    <div class="scroll-area">
      @for (client of receivedData(); track client.client_ID; let clientIndex = $index) {
        <div class="client" style="display:block;height:auto;overflow: auto;">
          <div style="float:left;">
            <a (click)="onClientClick(client.client_ID)" class="link_h3">
              <p>{{client.client_NM}}</p>
            </a>
          </div>
          <div style="float:right;">
            @if (utilityService.isEditable()) {
              <div style="float:left">
                @if (isClientReadonly(clientIndex, client.client_ID)) {
                  <div class="col">
                    <a class="link" (click)="editCustomer(clientIndex, client.client_ID)">
                      &nbsp;<i class="fa fa-edit"></i>
                    </a>
                  </div>
                } @else {
                  <div>
                    <mat-form-field style="width:100px">
                      <mat-select #ragSelected placeholder="RAG" [value]="client.client_RAG">
                        <mat-option value="green" style="color:green">Green</mat-option>
                        <mat-option value="orange" style="color:orange">Amber</mat-option>
                        <mat-option value="red" style="color:red">Red</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <a class="link" (click)="saveCustomer(client, ragSelected.value)">
                      <i class="fa fa-save"></i>
                    </a>&nbsp;
                    <a class="link" (click)="cancelCustomerEdit()">
                      <i class="fa fa-times"></i>
                    </a>
                  </div>
                }
              </div>
            }
          </div>
          <div style="float:right;">
            <i class="fa fa-circle fa-lg" [style.color]="client.client_RAG" style="float:left"></i>
          </div>
        </div>
        
        <!-- Projects under client -->
        @for (project of client.projects; track project.proJ_ID; let projIndex = $index) {
          <div class="row" style="clear: both;">
            <i class="fa fa-circle" [style.color]="project.proJ_RAG"></i>
            <a [href]="'/project/' + project.proJ_ID" class="link">{{project.proJ_NM}}</a>

            @if (utilityService.isEditable()) {
              <div class="col">
                @if (isProjectReadonly(projIndex, project.proJ_ID)) {
                  <div class="col">
                    <a class="link" (click)="editProject(projIndex, project.proJ_ID)">
                      <i class="fa fa-edit"></i>
                    </a>
                  </div>
                } @else {
                  <div>
                    <mat-form-field style="width:100px">
                      <mat-select #projRagSelected placeholder="RAG" [value]="project.proJ_RAG">
                        <mat-option value="green" style="color:green">Green</mat-option>
                        <mat-option value="orange" style="color:orange">Amber</mat-option>
                        <mat-option value="red" style="color:red">Red</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <a class="link" (click)="saveProject(project, projRagSelected.value)">
                      <i class="fa fa-save"></i>
                    </a>&nbsp;
                    <a class="link" (click)="cancelProjectEdit()">
                      <i class="fa fa-times"></i>
                    </a>
                  </div>
                }
              </div>
            }
          </div>
        }
      }
    </div>
  </div>
</div>
