.left {
    width: 14%;
    padding-left: 5%;
    text-align: left;
}

.alignLeft1 {
    padding-left: 19.5%;
    width: 14%;
    text-align: left;
}

.alignLeft2 {
    padding-left: 14%;
    width: 14%;
    text-align: left;
}

.alignLeft3 {
    padding-left: 7.7%;
    width: 14%;
    text-align: left;
}

.alignLeft13 {
    padding-left: 5.2%;
    width: 14%;
    text-align: left;
}

.alignLeft4 {
    padding-left: 12.5%;
    width: 9%;
    text-align: left;
}

.alignLeft5 {
    padding-left: 5%;
    width: 9%;
    text-align: left;
}

.alignLeft6 {
    padding-left: 2.2%;
    width: 9%;
    text-align: left;
}

.alignLeft14 {
    width: 9%;
    text-align: left;
    padding-left: 0%;
}

.alignLeft7 {
    padding-left: 16.3%;
    width: 16%;
    text-align: left;
}

.alignLeft8 {
    padding-left: 13.4%;
    width: 16%;
    text-align: left;
}

.alignLeft9 {
    padding-left: 8.4%;
    width: 16%;
    text-align: left;
}

.alignLeft15 {
    padding-left: 5.8%;
    width: 16%;
    text-align: left;
}

.alignLeft10 {
    padding-left: 16.4%;
    width: 14%;
    text-align: left;
}

.alignLeft11 {
    padding-left: 13.4%;
    width: 14%;
    text-align: left;
}

.alignLeft12 {
    padding-left: 8.9%;
    width: 14%;
    text-align: left;
}

.alignLeft16 {
    padding-left: 7%;
    width: 14%;
    text-align: left;
}