<div class="dialog" style="box-shadow: 0px -3px 3px #00000029;opacity: 1;overflow-x: hidden;height: auto;">
  <div class="row" mat-dialog-title style="height: 40px;background: #EBEBEB 0% 0% no-repeat padding-box;opacity: 1;">
    <div style="float:left;margin-top: 0.5%;">
      <label
        style="height: 17px;text-align: left;font: normal normal normal 14px/17px Roboto,'Helvetica Neue',sans-serif;;letter-spacing: 0px;color: #333333;opacity: 1;margin-left: 15px;margin-top: 5px">Assessment
        Finding Details
      </label>
    </div>
    <div style="float:right;margin-right: 3%">
      <a class="close-button" (click)="onClose()" style="color:#333333;cursor: pointer;">
        <mat-icon class="close-icon">close</mat-icon>
      </a>
    </div>
  </div>
  <div style="margin: 15px">
    <mat-progress-bar *ngIf="_loading" mode="indeterminate"></mat-progress-bar>
    <div class="row">
      <table *ngIf="!_loading" class="CitableHeader table" style="width: auto;  border-spacing: 0 5px;margin-bottom:0px !important;
    margin-left:10px; margin-right: 5px;border-collapse:separate;border:none">
        <thead style="font-size: 12px;box-shadow: -1.5px 2px 3px 1px lightgrey;">
          <tr style="font-size: 12px;
           font-weight: 600;">
            <th [attr.colspan]="3" class="FirstHeader" style="text-align: center;height: 20px !important;">Account</th>
            <th [attr.colspan]="1" class="FirstHeader" style="text-align: center;height: 20px !important;"
              *ngIf="this.assessmentFindingInputs != null && this.assessmentFindingInputs.findinG_TYPE.includes('Strength')">
              Strength</th>
            <th [attr.colspan]="1" style="height: 20px !important;text-align: center ;"
              *ngIf="this.assessmentFindingInputs != null && this.assessmentFindingInputs.findinG_TYPE.includes('Weakness')">
              Weakness</th>
            <th [attr.colspan]="1" style="text-align: center;height: 20px !important;"
              *ngIf="this.assessmentFindingInputs != null && this.assessmentFindingInputs.findinG_TYPE.includes('Opportunity')">
              Opportunity</th>
            <th [attr.colspan]="1" style="text-align: center;height: 20px !important;padding-right: 4%;"
              *ngIf="this.assessmentFindingInputs != null && this.assessmentFindingInputs.findinG_TYPE.includes('Threat')">
              Threat</th>
          </tr>
        </thead>
        <tbody>
          <!-- {{this.assessmentFindingInputs.findinG_TYPE | json}} -->
          <ng-container
            *ngFor="let cust of assessmentFindingsViewDetailsData?.assessmenT_FINDINGS_DETAILS; let i = index">
            <tr style="height: 43px; box-shadow: -1.5px 2px 3px 1px lightgray;  
              font-size: 12px; outline: none; text-decoration: none; cursor: pointer;padding-bottom:5px">
              <td style="width: 1%;"></td>
              <td style="text-align: center;  outline: none; text-decoration: none;cursor:pointer;width:3%">
                <img class="expand" id="img{{i}}"
                  [src]=" !cust.isexpanded ? '/assets/images/plus.svg' : '/assets/images/minus.png'" type="button"
                  (click)="setProjectIndex(i,$event.target,$index)" style="margin-left:2%;margin-right:2%" />
              </td>
              <td style="text-align: left;  outline: none; text-decoration: none;cursor:pointer;width:15%">
                <span style="cursor: default;color: #337ab7;">{{cust.cusT_NM}}</span>
              </td>
              <td style="text-align: center; outline: none; text-decoration: none;cursor:pointer;width:10%"
                *ngIf="this.assessmentFindingInputs != null && this.assessmentFindingInputs.findinG_TYPE.includes('Strength')">
                <a *ngIf="cust.strengtH_URL_FOR_CUSTOMER != null"
                  (click)="openWin(cust.strengtH_URL_FOR_CUSTOMER)">{{cust.strengtH_FOR_CUSTOMER}}</a>
              </td>
              <td style="text-align: center;outline: none; text-decoration: none;width:8%;"
                *ngIf="this.assessmentFindingInputs != null && this.assessmentFindingInputs.findinG_TYPE.includes('Weakness')">
                <a *ngIf="cust.weaknesS_URL_FOR_CUSTOMER != null"
                  (click)="openWin(cust.weaknesS_URL_FOR_CUSTOMER)">{{cust.weaknesS_FOR_CUSTOMER}}</a>

              </td>
              <td style="text-align: center;width:15%"
                *ngIf="this.assessmentFindingInputs != null && this.assessmentFindingInputs.findinG_TYPE.includes('Opportunity')">
                <a *ngIf="cust.opportunitY_URL_FOR_CUSTOMER != null"
                  (click)="openWin(cust.opportunitY_URL_FOR_CUSTOMER)">{{cust.opportunitY_FOR_CUSTOMER}}</a>
              </td>
              <td style="text-align: center;width:15%"
                *ngIf="this.assessmentFindingInputs != null && this.assessmentFindingInputs.findinG_TYPE.includes('Threat')">
                <a *ngIf="cust.threaT_URL_FOR_CUSTOMER != null"
                  (click)="openWin(cust.threaT_URL_FOR_CUSTOMER)">{{cust.threaT_FOR_CUSTOMER}}</a>
              </td>
            </tr>
            <tr *ngIf="cust.projecT_ASSESSMENT_DETAILS?.length > 0 && projDisplayIndex == i" style="font-size: 12px">
              <td style="padding: 0px !important" [attr.colspan]="15">
                <table class="projtable table" style="border-spacing: 0 5px;border:1px solid #dde7ed">
                  <tbody>
                    <tr *ngFor="let proj of cust.projecT_ASSESSMENT_DETAILS; let projindex = index" style="height: 40px; box-shadow: -1.5px 2px 3px 1px lightgray; 
              background-color: white;font-size: 12px; outline: none; text-decoration: none;">
                      <td style="width:3%"></td>
                      <td style="width:3%"></td>
                      <td style="width:18%;outline: none; text-decoration: none;cursor:pointer;">
                        <span *ngIf="proj.url == null" style="cursor: default;color: #337ab7;">{{proj.proJ_NM}}</span>
                        <a *ngIf="proj.url != null" (click)="openWin(proj.url)">{{proj.proJ_NM}}</a>
                      </td>
                      <td [ngClass]="this.assessmentFindingInputs.findinG_TYPE.length == 1 ?'alignLeft1':''|| 
                      this.assessmentFindingInputs.findinG_TYPE.length == 2 ? 'alignLeft2' :'' ||
                      this.assessmentFindingInputs.findinG_TYPE.length == 3 ? 'alignLeft3' :'' ||
                      this.assessmentFindingInputs.findinG_TYPE.length == 5 ? 'alignLeft13' :''"
                        *ngIf="this.assessmentFindingInputs != null && this.assessmentFindingInputs.findinG_TYPE.includes('Strength')">
                        <a *ngIf="proj.strengtH_URL_FOR_PROJECT != null"
                          (click)="openWin(proj.strengtH_URL_FOR_PROJECT)"> {{proj.strengtH_FOR_PROJECT}}</a>
                      </td>
                      <td [ngClass]="this.assessmentFindingInputs.findinG_TYPE.length == 1 ?'alignLeft4':''|| 
                      this.assessmentFindingInputs.findinG_TYPE.length == 2 ? 'alignLeft5' :'' ||
                      this.assessmentFindingInputs.findinG_TYPE.length == 3 ? 'alignLeft6' :'' ||
                      this.assessmentFindingInputs.findinG_TYPE.length == 5 ? 'alignLeft14' :''"
                        *ngIf="this.assessmentFindingInputs != null && this.assessmentFindingInputs.findinG_TYPE.includes('Weakness')">
                        <a *ngIf="proj.weaknesS_URL_FOR_PROJECT != null"
                          (click)="openWin(proj.weaknesS_URL_FOR_PROJECT)"> {{proj.weaknesS_FOR_PROJECT}}</a>
                      </td>
                      <td [ngClass]="this.assessmentFindingInputs.findinG_TYPE.length == 1 ?'alignLeft7':''|| 
                      this.assessmentFindingInputs.findinG_TYPE.length == 2 ? 'alignLeft8' :'' ||
                      this.assessmentFindingInputs.findinG_TYPE.length == 3 ? 'alignLeft9' :'' ||
                      this.assessmentFindingInputs.findinG_TYPE.length == 5 ? 'alignLeft15' :''"
                        *ngIf="this.assessmentFindingInputs != null && this.assessmentFindingInputs.findinG_TYPE.includes('Opportunity')">
                        <a *ngIf="proj.opportunitY_URL_FOR_PROJECT != null"
                          (click)="openWin(proj.opportunitY_URL_FOR_PROJECT)">{{proj.opportunitY_FOR_PROJECT}}</a>
                      </td>
                      <td [ngClass]="this.assessmentFindingInputs.findinG_TYPE.length == 1 ?'alignLeft10':''|| 
                      this.assessmentFindingInputs.findinG_TYPE.length == 2 ? 'alignLeft11' :'' ||
                      this.assessmentFindingInputs.findinG_TYPE.length == 3 ? 'alignLeft12' :'' || 
                      this.assessmentFindingInputs.findinG_TYPE.length == 5 ? 'alignLeft16' :''"
                        *ngIf="this.assessmentFindingInputs != null && this.assessmentFindingInputs.findinG_TYPE.includes('Threat')">
                        <a *ngIf="proj.threaT_URL_FOR_PROJECT != null"
                          (click)="openWin(proj.threaT_URL_FOR_PROJECT)">{{proj.threaT_FOR_PROJECT}}</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>