.col-lg-6, .col-md-6, .col-sm-6{
    padding-left: 0px;
}

.col-lg-12, .col-md-12, .col-sm-12{
    padding-left: 0px;
}
.indexWidth, .deleteWidth, .editWidth{
    width: 1% !important;
}

.portWidth
{
    width : 10% !important;
}


.projWidth{

    width: 15% !important;
}
.descWidth{
    width: 20% !important;
}

.dateWidth, .targetWidth, .actualWidth{
    width: 10% !important;
}

.statusWidth{
    width: 5% !important;
}
.areaWidth, .resWidth{
    width: 8% !important;
}

th.mat-header-cell {
    font-size: 15px;
    font-family: 'Roboto' !important;
}

.commentWidth{
    width: 12% !important;
}