.voc{
    height: 250px;
    width : 319 px;
    background-color: white;
    margin: 5px 10px 5px;
    
}

.vocttitle{
   float :left;
    font-family: 'Roboto';
    font-size: 15px;
    letter-spacing: 0;
    color: #4E5882;
    font-weight: 600;
}

.settings{
    float: right;
    padding-right: 15px;
    cursor: pointer;
}

.headerRow
{
    margin-top: 18px;
    margin-left: 29px;
    height: 20px;
}

.subtitle{
    font-size: 14px;
    color: #4E5882;
    font-family: Roboto;
    margin-top: 6px;
    margin-left: 29px;
}

.chartArea
{
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 20px;
    //border-right: 1px solid #cccccc;
}

.thisWeek{
  //  height: 20px;
  //  width: 60px;
    //background-color: #4E5882;
  //  text-align: right;
    float: right;
    margin-right: 19px;
   }

.label{
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 8px;

}
.statusdd{
    text-align: right;
    padding-right: 13px;
    
}
.dateFilter
{
    position: absolute;
    right: 12px; 
    top: 50px;
    height: 150px; 
    width: 180px;
    z-index: 1;
    background-color: #f2f2f2;
    box-shadow: 0px 0.5px 12px gray;
    border-radius: 7px;
}

.row{
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.mat-button, .mat-icon-button, .mat-stroked-button {
    margin-left: -33px !important;
}

