<div class="pageborder" style="padding-bottom: 10px;">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: left;">
            <div style="display: inline-block; margin-right: 10px; cursor: pointer; text-decoration: none; outline: none"
                [routerLink]="['/newdashboard/cust', _layoutService.selectedCust, false]">
                <img src="assets/images/back_round.png">
            </div>
            <img class="image" style="height:45px;padding:5px" src="assets/images/{{_layoutService.selectedCust}}.png"
                onerror="this.src ='assets/images/CustomerLogo.png'">

            <mat-select placeholder="Select Project" [(ngModel)]="input_projectid" (ngModelChange)="onProjectChange()"
                style="margin-left:15px; width:260px;background-color: white;border: solid #d0d0d0 1px;padding: 5px;">
                <mat-option *ngFor="let proj of projNames" [value]="proj.proJ_ID" [title]="proj.proJ_NM">{{proj.proJ_NM}}</mat-option>
            </mat-select>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6"
            style="font-size: 16px; font-weight: 700;font-family: 'Roboto', sans-serif; margin: 15px 15px 0px 15px; color: #4e5882">

            <div style="display: inline-block; ">
                People
            </div>
            <!-- <div style="padding:0px 0px 10px 0px ;margin:0">
                
            </div> -->
        </div>

        <!-- <div class="col-lg-12 col-md-12 col-sm-12" style="padding-top:0%;margin-top:0%"> -->
        <div class="col-lg-12 col-md-12 col-sm-12" style="padding-top:0%;margin-top:0%">
            <mat-progress-bar *ngIf="_loading" mode="indeterminate"></mat-progress-bar>

        </div>

    </div>

    <div class="row">

        <div style="padding-left:25px;padding-right:25px;" class="container" *ngIf="showdetails">

            <div *ngIf="readonlymode">
                <form #rvform="ngForm" (ngSubmit)="SubmitForm(rvform)">
                    <div class="row tabheader">
                        <div class="col-lg-2 col-md-2 col-sm-2" style="text-align:left;vertical-align:middle"
                            *ngIf="_util.IsEditable()">
                            <mat-form-field style="width:80px">
                                <mat-select ngModel name="ragSelected" #ragSelected placeholder="RAG"
                                    [(ngModel)]="input.projecT_PEOPLE.rag" required>
                                    <mat-option value="green" style="color:green">Green</mat-option>
                                    <mat-option value="orange" style="color:orange">Amber</mat-option>
                                    <mat-option value="red" style="color:red">Red</mat-option>
                                </mat-select>
                            </mat-form-field>&nbsp;&nbsp;
                        </div>
                        <div style="width: 80%" *ngIf="_util.IsEditable()">
                            <mat-form-field style="width: 70%;">
                                <textarea style="height: 15px;" ngModel name="txtChallenges" #txtChallenges matInput
                                    placeholder="Key highlights"
                                    [(ngModel)]="input.projecT_PEOPLE.resourcE_CHALLENGES"></textarea>
                            </mat-form-field>
                        </div>
                        <div style="    float: left;
                padding-left: 10px" *ngIf="_util.IsEditable()">
                            <button class="link_button" type="submit">
                                <i class="fa fa-save"></i>
                            </button>
                        </div>
                        <div *ngIf="!_util.IsEditable()">
                            <div class="row" style="text-align: center;padding-bottom:10px">
                                <b> </b>
                            </div>
                            <div class="row" style="text-align: center;">
                                <p>{{input.projecT_PEOPLE.resourcE_CHALLENGES}}</p>
                            </div>
                        </div>
                    </div>
                </form>
                <div style="display:flow-root;width: 100%;">
                    <table style="width: 100%;text-align: center" *ngIf="input.resource.length==0">
                        <tr>
                            <td>No People to display</td>
                        </tr>
                    </table>
                    <div *ngFor="let rec of input.resource;let i=index;">
                        <mat-card *ngFor="let emp of rec.resource;let j=index;" 
                            [ngClass]="(emp.title=='Customer Success Managers')?'mat-card1':'mat-card'">

                            <img height="120" width="120" class="image1" src="assets/profileImages/{{emp.emP_ID}}.jpg"
                                onerror="this.src ='assets/profileImages/profile-icon-9.png'">

                            <mat-card-title>
                                {{emp.name}}
                            </mat-card-title>
                            <mat-card-subtitle *ngIf="!IsReadonlyCust(j, emp.emP_ID);">
                                <mat-form-field>
                                    <mat-select name='titleSelected' [(ngModel)]="emp.csM_TITLE_ID" placeholder="Title"
                                        required>
                                        <mat-option [value]="1">Customer Success Managers</mat-option>
                                        <mat-option [value]="2">Project Manager</mat-option>
                                        <mat-option [value]="3">Team Members</mat-option>
                                        <mat-option [value]="6">PMO</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <a class="link" (click)="SavePeople_onClick(emp);"
                                    *ngIf="_access.IsAllowed(7, 3, '', input_projectid)">
                                    <i class="fa fa-save"></i>
                                </a>
                                <a class="link" (click)="CancelPeople_onClick();"
                                    *ngIf="_access.IsAllowed(7, 3, '', input_projectid)">
                                    <i class="fa fa-close"></i>
                                </a>
                            </mat-card-subtitle>
                            <mat-card-subtitle style="margin: 2px" *ngIf="IsReadonlyCust(j, emp.emP_ID);">
                                {{emp.title}} 
                                From  {{emp.activeFrom}}                              
                                <a class="link" (click)="EditPeople_onClick(j,emp.emP_ID);"
                                    *ngIf="_access.IsAllowed(7, 3, '', input_projectid)">

                                    <!-- Edit section -->
                                    <!-- <i class="fa fa-edit"></i> -->     
                                </a>
                            </mat-card-subtitle>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>