<app-navbar-new [ShowMenu]="false" (showDashboardMenu)="onMenuToggleChange($event)"></app-navbar-new>
<div class="mainDiv">
  <div class="page-title">Continual Improvement Leader Board</div>
  <div class="page-note" *ngIf="displayText != ''">Note : {{displayText}}</div>

  <!-- ── Filter Bar ─────────────────────────────────────────────────── -->
  <div class="filter-bar">

    <!-- Customer + Project selector -->
    <div class="filter-group filter-group--selector">
      <app-project-selector-singletomultiple
        [allcust]="allcustFlag"
        [allproj]="allprojFlag"
        (onChange)="project_onChange($event)">
      </app-project-selector-singletomultiple>
    </div>

    <!-- Period -->
    <div class="filter-group filter-group--period">
      <span class="filter-label">Period</span>
      <select name="ddStartMonth" class="filter-select" (change)="saveDates()" [(ngModel)]="DateSelection.selectedStartMonth" required>
        <option value="Jan">JAN</option><option value="Feb">FEB</option><option value="Mar">MAR</option>
        <option value="Apr">APR</option><option value="May">MAY</option><option value="Jun">JUN</option>
        <option value="Jul">JUL</option><option value="Aug">AUG</option><option value="Sep">SEP</option>
        <option value="Oct">OCT</option><option value="Nov">NOV</option><option value="Dec">DEC</option>
      </select>
      <select name="ddStartYear" class="filter-select" (change)="saveDates()" [(ngModel)]="DateSelection.selectedStartYear" required>
        <option [value]="bb" *ngFor="let bb of _util.Years(3)">{{ bb }}</option>
      </select>
      <span class="filter-range-sep">–</span>
      <select name="ddEndMonth" class="filter-select" (change)="saveDates()" [(ngModel)]="DateSelection.selectedEndMonth" required>
        <option value="Jan">JAN</option><option value="Feb">FEB</option><option value="Mar">MAR</option>
        <option value="Apr">APR</option><option value="May">MAY</option><option value="Jun">JUN</option>
        <option value="Jul">JUL</option><option value="Aug">AUG</option><option value="Sep">SEP</option>
        <option value="Oct">OCT</option><option value="Nov">NOV</option><option value="Dec">DEC</option>
      </select>
      <select name="ddEndYear" class="filter-select" (change)="saveDates()" [(ngModel)]="DateSelection.selectedEndYear" required>
        <option [value]="bb" *ngFor="let bb of _util.Years(3)">{{ bb }}</option>
      </select>
    </div>

    <!-- CI Category -->
    <div class="filter-group">
      <mat-form-field appearance="outline" class="filter-field">
        <mat-label>CI Category</mat-label>
        <mat-select multiple #select [(ngModel)]="ciCategory" (selectionChange)="OnCategorychange()">
          <mat-option [value]="0" #allSelected (click)="toggleSelection()">All</mat-option>
          <mat-option *ngFor="let list of ideaImprovementType" [value]="list.id" [title]="list.type" (click)="tosslePerOne()">{{list.type}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Status -->
    <div class="filter-group">
      <mat-form-field appearance="outline" class="filter-field">
        <mat-label>Status</mat-label>
        <mat-select multiple #selectStatus [(ngModel)]="ddlstatus" (selectionChange)="OnStatusChange()">
          <mat-option [value]="2">Submitted</mat-option>
          <mat-option [value]="4">Approved</mat-option>
          <mat-option [value]="3">Implemented</mat-option>
          <mat-option [value]="8" #statusDefaultSelected>Completed</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Beneficiary -->
    <div class="filter-group">
      <mat-form-field appearance="outline" class="filter-field">
        <mat-label>Beneficiary</mat-label>
        <mat-select [(ngModel)]="beneficiary" (selectionChange)="OnbeneficiaryChange()">
          <mat-option [value]="1">For Neurealm</mat-option>
          <mat-option [value]="2">For Customer</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Unit Of Measurement -->
    <div class="filter-group">
      <mat-form-field appearance="outline" class="filter-field">
        <mat-label>Unit Of Measurement</mat-label>
        <mat-select [(ngModel)]="uom" (selectionChange)="OnuomChange()">
          <mat-option *ngFor="let list of uomList" [value]="list.id" [title]="list.title">{{list.title}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Apply -->
    <div class="filter-group filter-group--action">
      <button type="button" class="btn btn-primary" (click)="btnApply()">Apply</button>
    </div>

  </div>

<table class="CitableHeader table" style="width: 99%;  border-spacing: 0 5px;margin-bottom:0px !important;
    margin-left:10px; margin-right: 5px;border-collapse:separate;">
    <thead>

      <tr style=" height: 43px; font-size: 12px;box-shadow: -1.5px 2px 3px 1px lightgrey;
      font-weight: 600;">
        
        <th [attr.colspan]="2" class="FirstHeader" style="border-top:1px solid #BFBFBF !important;border-right:1px solid #BFBFBF !important;">Customer</th>
        <th [attr.colspan]="1" class="FirstHeader" style="border-top:1px solid #BFBFBF !important;border-right:1px solid #BFBFBF !important;">Total Ideas</th>
        <th [attr.colspan]="1" class="FirstHeader" style="border-top:1px solid #BFBFBF !important;border-right:1px solid #BFBFBF !important;">Net Benefits</th>
        
      </tr>
    </thead>
    
    <tbody>
      <ng-container *ngFor="let cust of CITrackerList?.ctB_CUSTOMER_GROUPING; let i = index">
        <tr style="height: 43px; box-shadow: -1.5px 2px 3px 1px lightgray; background-color: #ECECFA;  
        font-size: 12px; outline: none; text-decoration: none; cursor: pointer;padding-bottom:5px"  >
          <td><img class="expand" id="img{{i}}" src="/assets/images/plus.svg"  type="button" (click)="setProjectIndex(i,$event.target)" /></td>
          <td style="text-align: center;  border-right:1px solid #BFBFBF;;outline: none; text-decoration: none;cursor:pointer" ><a (click)="setProjectIDS(cust?.cI_TRACKER_PROJECT_GROUPING)" target="_blank" [routerLink]="['/newdashboard/cust', cust?.cusT_ID,true,'listview']">{{cust?.cusT_NM}}</a></td>
          <td style="text-align:center;border-right:1px solid #BFBFBF;">{{cust.cI_CUST_PROPERTIES?.totalideas}}</td>
          <td style="text-align:center">
            <span *ngIf="uom == 1">{{measurement1}}</span>{{cust.cI_CUST_PROPERTIES?.neT_BENEFITS}}
            <span *ngIf="uom != 1">{{measurement1}}</span>
          </td>
        </tr>

        <tr *ngIf="cust.cI_TRACKER_PORTFOLIO_GOUPING?.length == 0 && projDisplayIndex == i" style="font-size: 12px">
          <td [attr.colspan]="15" style="padding: 0px !important">
            <table  class="projtable table" style="border-spacing: 0 5px;border:1px solid #dde7ed">
              <thead class="DetailHeader">
                  <th style="width:1% !important"></th>                 
                  <th colspan="3" style="text-align: center">Project</th>
                  <th class="alignclass">Total Ideas</th>
                  <th class="alignclass">Net Benefits</th>
                  
              </thead>
              <tbody>
                <tr *ngFor="let proj of cust.cI_TRACKER_PROJECT_GROUPING; let projindex = index" style="height: 40px; box-shadow: -1.5px 2px 3px 1px lightgray; 
                  background-color: white;font-size: 12px; outline: none; text-decoration: none;">
                  <td style="width:1% !important"></td>                 
                  <td colspan="3"  (click)="setProjectId(proj.proJ_ID)" style="text-align: center;  border-right:1px solid #dde7ed;outline: none; text-decoration: none;cursor:pointer" target="_blank" [routerLink]="['/newdashboard/cust', cust?.cusT_ID,true,'listview']">{{proj.proJ_NM}}</td>
                  <td class="borderclass">{{proj.cI_PROJECT_PROPERTIES?.totalideas}}</td>
                  
                  <td class="borderclass">
                    <span *ngIf="uom == 1">{{measurement1}}</span>{{proj.cI_PROJECT_PROPERTIES?.neT_BENEFITS}}
                    <span *ngIf="uom != 1">{{measurement1}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr *ngIf="cust.cI_TRACKER_PORTFOLIO_GOUPING?.length > 0 && projDisplayIndex == i" style="font-size: 12px; ">
          <td [attr.colspan]="15" style="padding: 0px !important">
            <table  class="projtable table">
              <thead class="DetailHeader">
                <tr>
                  <th style="width:1% !important"></th>
                  <th colspan="3" style="text-align: center;border-right:1px solid #dde7ed;" >Portfolio</th>
                  
                  <th class="alignclass">Total Ideas</th>
                  <th class="borderclass">Net Benefits</th>
                  
                </tr>
              </thead>
              <tbody *ngFor="let port of cust.cI_TRACKER_PORTFOLIO_GOUPING; let portindex = index">
                <tr style="height: 40px; box-shadow: -1.5px 2px 3px 1px lightgray; 
                   background-color: white;  font-size: 12px; outline: none; text-decoration: none;cursor: pointer;"
                  >
                  <td style="width:1% !important">
                  
                  <img class="expand" id="Pimg{{i}}" src="/assets/images/plus.svg" 
     type="button" (click)="showProjectsForPortfolio(portindex,$event.target)" />

                  </td>
                  <td colspan="2" style="text-align: center;outline: none; text-decoration: none;cursor:pointer;" (click)="setPortfolio(port)" target="_blank" [routerLink]="['/newdashboard/cust', cust?.cusT_ID,true,'listview']">{{port.portfoliO_NM}}</td>
                  <td class="borderclass" style="border-right:1px solid #dde7ed;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                  <td class="borderclass">{{port.cI_PORTFOLIO_PROPERTIES?.totalideas}}</td>
                  
                  <td class="borderclass">
                    <span *ngIf="uom == 1">{{measurement1}}</span>{{port.cI_PORTFOLIO_PROPERTIES?.neT_BENEFITS}}
                    <span *ngIf="uom != 1">{{measurement1}}</span>
                  </td>
                </tr>
                <tr *ngIf="portindex == showPortprojIndex">
                  <td [attr.colspan]="16">
                    <table class="projtable table" style="border:1px solid #ECECFA">
                      <thead class="DetailHeader">
                        <tr style="background-color: #f5f5f5 !important;">                            
                  <th style="width:1% !important"></th>
                  <th colspan="2" style="text-align: center;border-right:1px solid #dde7ed;">Project</th>                  
                  <th class="alignclass">Total Ideas</th>
                  <th class="borderclass">Net Benefits</th>
                  
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let proj of port.cI_TRACKER_PROJECT_GROUPING" style="background-color:#ffffff">
                            <td style="width:1% !important"></td>
                            <td colspan="2" (click)="setProjectId(proj.proJ_ID,port)" style="text-align: center;  border-right:1px solid #dde7ed;outline: none; text-decoration: none;cursor:pointer" target="_blank"  [routerLink]="['/newdashboard/cust', cust?.cusT_ID,true,'listview']">{{proj.proJ_NM}}</td>                            
                            <td class="borderclass">{{proj.cI_PROJECT_PROPERTIES?.totalideas}}</td>
                            
                            <td class="borderclass">
                              <span *ngIf="uom == 1">{{measurement1}}</span>{{proj.cI_PROJECT_PROPERTIES?.neT_BENEFITS}}
                              <span *ngIf="uom != 1">{{measurement1}}</span>
                            </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>

      </ng-container>
    </tbody>
    

  </table>
  <div *ngIf="!CITrackerList" style="text-align: center; height: 100px; line-height: 100px;">
    <i class="fa fa-circle-o-notch fa-spin" style="margin-right: 10px; font-size: 25px;"></i>Loading...
  </div>


</div>
