.row{
    margin:0px !important;
}

.table > tbody > tr > td{
    padding:2px !important;
    height:50px
}
.link {
    cursor: pointer;
    text-decoration: none;
    color:steelblue;
    vertical-align: middle;
    text-align: center;
}

[tooltip]:before {
    /* needed - do not touch */
   
    content: attr(tooltip);
    position: absolute;
    opacity: 0;
    
    /* customizable */
    transition: all 0.15s ease;
    padding: 10px;
    color: #333;
    border-radius: 10px;
    box-shadow: 2px 2px 1px silver;    
}

[tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 1;
     
    /* customizable */
    background: rgba(156, 156, 156, 0.253);
    /* margin-top: -50px; */ 
    margin-left: 70px;   
}

[tooltip]:not([tooltip-persistent]):before {
    pointer-events: none;
}
.tableFixHead    { overflow-y: auto; height: 500px; }
.tableFixHead th { position: sticky; top: 0; }

/* Just common table stuff. Really. */
table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     { background:#eee; }

input[type=text] {
    height:100%;
    text-align: center;
  }

  .inputbox{
    background: transparent;
    width:20px;
    text-align:right;
    border: 0px solid;
    height:35px;}