#ideas
{
   height: 280px;
   width: 370px;
    background-color: white;
    border-radius: 10px;
    color: #535d85;
    padding: 9px;
    font-weight: 700;
    box-shadow: 0px 0.5px 2.5px gray;
    float: left;
    margin-left: 20px;
    margin-bottom: 10px;
}

#businessProcess{
    height: 80px;
    width: 195px;
 }

 .issuesSplitNo{
    text-align: center;
}
 