.len{
    height: 255px;
}
.lenA{
    height: 345px;
}
.lenB{
    height: 470px;
}
.lenC{
    height: 550px;
}
.mat-elevation-z8{
    font-size: 9px !important;
}
.iconbutton1{
    padding: 2px !important;
    font-size: 13px !important;
}