<div class="row">
  <app-navbar-new [ShowMenu]="true"></app-navbar-new>
  <app-menu [custid]="selectedCust" *ngIf="menuToggleStatus"></app-menu>
</div>
<div class="row filter-row">
  <!-- <div class="col-lg-1 col-md-1 col-sm-1">
    <label style="height: 15px;text-align: left;font-size:12px;letter-spacing: 0px;color: #4C4C47;opacity: 1;">Customer</label>
  </div> -->
  <!-- <div class="col-lg-2 col-md-2 col-sm-2"  style="display: none;">
    <form [formGroup]="searchUserForm">
      <mat-form-field style="font-size: 12px !important;">
        <mat-select name="ddCustomer" #ddCustomer formControlName="custNames" multiple [(ngModel)]='custId'
          placeholder="Customer">
          <mat-form-field class="filter-project" style="width:300px !important;">
            <input placeholder="Search customer" [(ngModel)]='searchCustVal' matInput
              (keydown)="$event.stopPropagation()" (keyup)="onCustomerKey($event.target.value)"
              style="width:100% !important;text-indent: 10px;">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
          <mat-option [value]="-1" (click)="toggleAllCustomerSelection()" #allCustSelected>All</mat-option>
          <mat-option *ngFor="let c of customer" (click)="tosslePerOneCust()" [value]="c.cusT_ID" [title]="c.cusT_NM">
            {{ c.cusT_NM}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-2" style="display: none;">
    <form [formGroup]="searchUserForm">
      <mat-form-field style="font-size: 12px !important;">
        <mat-select formControlName="userType" (mouseover)="ddCustomer_Onchange($event)"
          (mouseout)="ddCustomer_Onchange($event)" #projectSelect multiple placeholder="Project"
          [(ngModel)]="_cooDashboardCommon.projectIds">
          <mat-form-field class="filter-project" style="width:300px !important;">
            <input placeholder="Search Project" [(ngModel)]='searchProjVal' matInput
              (keydown)="$event.stopPropagation()" (keyup)="onProjectKey($event.target.value)"
              style="width:300px !important;text-indent: 10px;">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
          <mat-option *ngIf="project.length > 1" #allSelected (click)="toggleAllSelection()"
            [value]="-1">All</mat-option>
          <mat-option *ngFor="let p of project" (click)="tosslePerOne()" [value]="p.proJ_ID" [title]="p.proJ_NM">
            {{ p.proJ_NM}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div> -->

  <div class="col-lg-2 col-md-2 col-sm-2">
    <app-searchable-multiselect-dropdown style="font-size: 12px !important;" (onChange)="customer_Onchange($event)" [data]="customer" displayName="Customer" idField="cusT_ID" nameField="cusT_NM" reset="reset"></app-searchable-multiselect-dropdown>
    </div>
  <div class="col-lg-2 col-md-2 col-sm-2">
  <app-searchable-multiselect-dropdown style="font-size: 12px !important;" (onChange)="project_onChange($event)" [isLoaded]="isLoaded" [data]="project" displayName="Project" idField="proJ_ID" nameField="proJ_NM"  reset="reset"></app-searchable-multiselect-dropdown>
  </div>
  <div class="col-lg-1 col-md-1 col-sm-1">
    <mat-form-field style="font-size: 12px !important;width:80px;">
      <mat-select name="ddView" [(ngModel)]='_cooDashboardCommon.ViewId' (ngModelChange)="ddView_Onchange($event)"
        placeholder="View by">
        <mat-option [value]="1">Quarterly</mat-option>
        <!-- <mat-option [value]="2">Half-Yearly</mat-option> -->
        <mat-option [value]="3">Annual</mat-option>
        <mat-option [value]="4">Period</mat-option>
        <mat-option [value]="5">Monthly</mat-option>


      </mat-select>
    </mat-form-field>
  </div>

  <div class="col-lg-1 col-md-1 col-sm-1" *ngIf="_cooDashboardCommon.ViewId!=4">
    <!-- <app-project-selector-singletomultiple style="width:40%" [allcust]="allcust" [allproj]="allproj" (onChange)="project_onChange($event)"></app-project-selector-singletomultiple> -->

    <mat-form-field style="font-size: 12px !important;width:100px;">
      <mat-select name="ddYear" [(ngModel)]='Year' (ngModelChange)="ddYear_Onchange($event)" placeholder="Year">

        <mat-option *ngFor="let Y of Yearrange" [value]="Y" [title]="Y">
          {{Y}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-lg-1 col-md-1 col-sm-1" *ngIf="_cooDashboardCommon.ViewId==1">
    <mat-form-field style="font-size: 12px !important;width:60px;">
      <mat-select name="ddquarter" [(ngModel)]='QiD' (ngModelChange)="ddQuarter_Onchange($event)" placeholder="Quarter">
        <mat-option [value]="1">Q1</mat-option>
        <mat-option [value]="2">Q2</mat-option>
        <mat-option [value]="3">Q3</mat-option>
        <mat-option [value]="4">Q4</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="col-lg-1 col-md-1 col-sm-1" *ngIf="_cooDashboardCommon.ViewId==5">
    <mat-form-field style="font-size: 12px !important;width:60px;">
      <mat-select name="ddmonth" [(ngModel)]='Month' (ngModelChange)="ddMonth_OnChange($event)" placeholder="Month">
        <mat-option [value]="1">Jan</mat-option>
        <mat-option [value]="2">Feb</mat-option>
        <mat-option [value]="3">Mar</mat-option>
        <mat-option [value]="4">Apr</mat-option>
        <mat-option [value]="5">May</mat-option>
        <mat-option [value]="6">June</mat-option>
        <mat-option [value]="7">Jul</mat-option>
        <mat-option [value]="8">Aug</mat-option>
        <mat-option [value]="9">Sep</mat-option>
        <mat-option [value]="10">Oct</mat-option>
        <mat-option [value]="11">Nov</mat-option>
        <mat-option [value]="12">Dec</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!-- </div>
</div>  -->
  <!-- <div class="col-lg-1 col-md-1 col-sm-1" style="margin-left: 0px;margin-top: 10px;">
    <label style="height: 15px;text-align: left;font-size:12px;letter-spacing: 0px;color: #4C4C47;opacity: 1;">Show
      Data</label>
  </div> -->
  <!-- <div class="col-lg-1 col-md-1 col-sm-1" style="margin-left: -35px;margin-top: 10px;">
    <mat-select name="selDateType" id="selectDateType" [(ngModel)]="selectedDateType" class="drpdown">
      <mat-option value="1">As on today</mat-option>
      <mat-option value="2">Period</mat-option>
    </mat-select>
  </div> -->
  <div style="float: left;display: inline-flex; margin-left: 15px;" *ngIf="_cooDashboardCommon.ViewId == 4">
    <mat-form-field style="margin-right:10px;width:100px !important;font-size: 12px !important;">
      <input readonly [(ngModel)]="_cooDashboardCommon.dashboardStartdate" matInput [matDatepicker]="picker1"
        placeholder="From">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <mat-form-field style="width:100px !important;font-size: 12px !important;">
      <input  readonly [min]="_cooDashboardCommon.dashboardStartdate" [(ngModel)]="_cooDashboardCommon.dashboardEnddate"
        matInput [matDatepicker]="picker2" placeholder="To">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-2" style="margin-left: 0px;margin-top: 10px;">
    <button type="button" class="btn btn-primary" [disabled]="_cooDashboardCommon.progress" (click)="Apply()">Apply</button>&nbsp;
    <button type="button" class="btn"  [disabled]="_cooDashboardCommon.progress" (click)="Reset()">Reset</button>
  </div>

</div>
<!--
  <div class="slider" style="float: right;margin-right: 35px;">
   <mat-slide-toggle [(ngModel)]="isChecked" >View High Level Data</mat-slide-toggle>
  </div>

</div>
<div>
  <app-customer-navigation [opened]="isChecked" [customerId]="customerId"></app-customer-navigation>
</div> -->
<!--
<div class="row" *ngIf="loading">
<app-coo-customer-dashboard [customerId]="customerId" [projId]="projId" [portfolioId]="portId"></app-coo-customer-dashboard>
</div> -->
