<div style="position:absolute !important;top:0px !important;width:100% !important;">
    <app-navbar-new [ShowMenu]="false" (showDashboardMenu)="onMenuToggleChange($event)"></app-navbar-new>
</div>

<mat-horizontal-stepper linear #stepper labelPosition="bottom" class="stepper">
    <mat-step>
        <form>
            <ng-template matStepLabel>Idea Submission</ng-template>
            <app-idea-entry (setStep)="getCurrentIndex($event)"></app-idea-entry>
        </form>
    </mat-step>
    <mat-step>
        <form>
            <ng-template matStepLabel>Evaluate Benefits</ng-template>
            <app-idea-benefit-entry [idea]="_bvdEntry.bvdidea" [projectId]="_bvdEntry.projecT_ID" (setStep)="getCurrentIndex($event)"></app-idea-benefit-entry>
        </form>
    </mat-step>
    <mat-step>
        <form>
            <ng-template matStepLabel>Implementation Plan</ng-template>
            <app-implementation-plan [projectId]="_bvdEntry.projecT_ID" (setStep)="getCurrentIndex($event)"></app-implementation-plan>
        </form>
    </mat-step>
    <mat-step>
        <form>
            <ng-template matStepLabel>Review & Approve</ng-template>
            <app-idea-review-approve (setStep)="getCurrentIndex($event)"></app-idea-review-approve>
        </form>
    </mat-step>
    <mat-step>
        <form>
            <ng-template matStepLabel>Implementation</ng-template>
            <app-implementation [isapproved]="_bvdEntry.isIdeaApproved" (setStep)="getCurrentIndex($event)"></app-implementation>
        </form>
    </mat-step>
</mat-horizontal-stepper>



<!-- 
<div *ngIf="step == 1">
    <app-idea-entry></app-idea-entry>
</div>

<div *ngIf="step == 2">
    <app-idea-benefit-entry></app-idea-benefit-entry>
</div>

<div *ngIf="step == 3">
    <app-implementation-plan></app-implementation-plan>
</div>

<div *ngIf="step == 4">
    <app-idea-review-approve></app-idea-review-approve>
</div> -->
