// table {
//     border-collapse: collapse;
//     // word-break: break-word;
//     // width: 100%
//   }
//   td, th {
//     white-space: normal; /* Only needed when it's set differntly somewhere else */
//     word-wrap: break-word;
// }
//   .table-outline {
//     border: 1px solid #a4b7c1;
//   }
.table th {
  color:white!important;
  // background-color: #c2cfd6;
  border-color: #a4b7c1;
  background-color: #4d8bbf;
  font-size: 14px
}
  // .table thead th {
  //   vertical-align: bottom;
  //   border-bottom: 2px solid #a4b7c1;
  //   color: #f3f4f8
  // }
  // .table th, .table td {
  //   padding: 0.75rem;
  //   vertical-align: top;
  //   border-top: 1px solid #a4b7c1;

  // }
  // .mat-header-row {
  //   background-color: #adcfeb;
  // }
  .link {
    cursor: pointer;
    text-decoration: none;
    color:steelblue;
    vertical-align: middle;
    text-align: center;
}
.buttona
{
  color: #757272;
  cursor: pointer;
  border: 1px solid #e7e5e5;
  border-radius: 4px 4px 0 0;
  text-align: center;
  font-family: calibri;
  margin: 15px 7px 11px 7px;
  box-shadow: 1px 1px 2px #adadad;
  background: #f3f4f8;
  float: right;
}
.example-container {
  height: 300px !important;
  overflow: auto !important;
}
//<<Table
table{
  width: 100%;
  margin-bottom:0px !important;
}
td {
  text-align: center;
    font-size: 14px!important;
    padding:2px !important;
}
th{
  text-align: center;
  padding:2px !important;
  background-color: #b0cfed;
  color: #303c7a;
  font-size: 14px;
  font-weight: normal;
}
.mat-column-publisheD_DATE
{
  width: 8%;
  white-space: nowrap;
}
.mat-column-publisheD_BY
{
  width: 12%;
  word-break: unset
}
.row{
  margin:0 !important;
}
.col-sm-6, .col-md-6, .col-lg-6{
  padding: 0px;
}