
  @import '../layout.tables.style.scss';

  .col-lg-12, .col-md-12, .col-sm-12, .col-lg-5, .col-md-5, .col-sm-5, .col-lg-6, .col-md-6, .col-sm-6
  {
      padding-left: 0px !important;
      padding-right: 0px !important;
  }
  .indexWidth{
      width: 1%;
  }
  
  
  
  .editWidth{
      width: 1%;
  }
  // .disable_edit {
  //   opacity: 0.5;
  //   cursor: default !important;
  // }
  
  .deleteWidth{
      width: 1%;
  }
  
  .mat-cell
  {
    word-break: break-word;
  }
  // .mat-column-description {
  //   width: 30% !important;
  // }
  // .mat-column-Completion_DATE,.mat-column-Identified_Date {
  //   width: 8% !important;
  //   white-space: nowrap;
  // }
  // td.mat-cell
  // {
  //   font-family: 'calibri';
  //   font-size:14px
  // }
  
  
  
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin:0;
  }
  
  .row{
    // padding-bottom: 25px;
    margin-right: 0px !important;
  }