<div style="background-color:white;padding:5px 0 15px 0;">
  <!-- <div class="row" style="vertical-align: middle;padding:5px;">
    <div class="col-lg-7 col-md-7 col-sm-7" style="height:100%">
      <div *ngIf="readonlymode">
        <mat-form-field style="width:90%">
          <mat-select name="ddGoals" [(ngModel)]="selectedGoal" (ngModelChange)="ddGoals_Onchange()"
            placeholder="Select goal">
            <!-- <mat-option *ngFor="let goal of goals" [value]="goal" [attr.selected]="$index == 0 ? true : null"> -->
  <!-- <mat-option *ngFor="let goal of goals; let i = index" [value]="goal" [attr.selected]="i == 0 ? true : null">
              {{goal.description}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-icon class="link" (click)='Refresh_onClick()' matTooltip="Refresh">refresh_circle</mat-icon>
        <div style="margin-top: 5px; margin-bottom: 5px;width : 100%;font-size: 12px;">
          Note : KPI name shown in red colour indicates that KPI Target end date is past current date, extend the target
          date if required
        </div>
      </div>
      <div *ngIf="editmode">
        <b>Goal</b>: {{selectedGoal.description}}
      </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-5 header"
      style="height:100%;font-size:20px;padding-top:5px;text-align: right;">
      <div *ngIf="readonlymode">
        <a class="link" title="Add New KPI" (click)="AddKPI_onClick()">
          <i class="fa fa-plus"></i>
        </a>
      </div>
      <div *ngIf="editmode"> -->
  <!-- <button class="link_button" type="submit">
          <i class="fa fa-save"></i>
        </button> -->
  <!-- <a class="close" (click)="Cancel_onClick()" style="height:100%;font-size:23px;text-align: right;padding:3px">
          <i class="fa fa-times"></i>
        </a>
      </div>
    </div>
  </div> -->
  <div class="row" style="vertical-align: middle;padding:5px;" *ngIf="readonlymode && !isProductView">

    <div class="col-lg-7 col-md-7 col-sm-7" style="height:100%" *ngIf="goals.length>0">
      <mat-form-field style="width:90%">
        <mat-select name="ddGoals" [(ngModel)]="selectedGoal" (ngModelChange)="ddGoals_Onchange()"
          placeholder="Select goal">
          <!-- <mat-option *ngFor="let goal of goals" [value]="goal" [attr.selected]="$index == 0 ? true : null"> -->
          <mat-option *ngFor="let goal of goals; let i = index" [value]="goal" [attr.selected]="i == 0 ? true : null"
            [title]="goal.description">
            {{goal.description}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-icon class="link" (click)='Refresh_onClick()' matTooltip="Refresh">refresh_circle</mat-icon>
      <div style="margin-top: 5px; margin-bottom: 5px;width : 100%;font-size: 12px;" *ngIf="dataSource.length>0">
        Note : KPI name shown in red colour indicates that KPI Target end date is less than current date, extend the
        target
        date if required
      </div>
      <div style="font-family: calibri; text-align: center;font-weight:600" *ngIf="dataSource.length<=0">
        No KPI is available for the selected goal.
      </div>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-7" *ngIf="goals.length<=0">
      <div style="font-family: calibri; text-align: center;font-weight:600">No Goals are available to select.</div>

    </div>
    <div class="col-lg-5 col-md-5 col-sm-5" style="height:100%;font-size:20px;padding-top:5px;text-align: right;">
      <div>
        <a class="link" title="Add New KPI" (click)="AddKPI_onClick()">
          <i class="fa fa-plus"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="row" style="vertical-align: middle;padding:5px;" *ngIf="editmode && !isProductView">
    <div *ngIf="!isProductView" class="col-lg-7 col-md-7 col-sm-7" style="height:100%">
      <div>
        <b>Goal</b>: {{selectedGoal.description}}
      </div>
    </div>
    <div *ngIf="isProductView" class="col-lg-7 col-md-7 col-sm-7" style="height:100%">
      <div>
        <b>Mode</b>: {{selectedModetitle}}
      </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-5 header"
      style="height:100%;font-size:20px;padding-top:5px;text-align: right;">
      <div>
        <a class="close" (click)="Cancel_onClick()" style="height:100%;font-size:23px;text-align: right;padding:3px">
          <i class="fa fa-times"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="row" style="vertical-align: middle;padding:5px;" *ngIf="editProdMode && isProductView">
    <div class="col-lg-7 col-md-7 col-sm-7" style="height:100%">
      <div>
        <b>Mode</b>: {{selectedModetitle}}
      </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-5 header"
      style="height:100%;font-size:20px;padding-top:5px;text-align: right;">
      <div>
        <a class="close" (click)="Cancel_onClick()" style="height:100%;font-size:23px;text-align: right;padding:3px">
          <i class="fa fa-times"></i>
        </a>
      </div>
    </div>
  </div>
  <!-- Table -->
  <div *ngIf="readonlymode && !isProductView">
    <div class="example-container">
      <table mat-table [dataSource]="dataSource" class="table table-bordered" *ngIf="dataSource.length>0">
        <ng-container matColumnDef="index">
          <th mat-header-cell [ngClass]="'indexWidth'" *matHeaderCellDef>No.</th>
          <td mat-cell [ngClass]="'indexWidth'" *matCellDef="let element = index;"> {{(element + 1)}} </td>
        </ng-container>
        <ng-container matColumnDef="goal">
          <th mat-header-cell *matHeaderCellDef>Goal</th>
          <td mat-cell *matCellDef="let definitions">{{getGoal(definitions.goaL_ID)}}</td>
        </ng-container>
        <ng-container matColumnDef="kpI_UNIQUEID">
          <th mat-header-cell *matHeaderCellDef>KPI Identifier</th>
          <td mat-cell *matCellDef="let definitions">{{definitions.kpI_UNIQUEID}}</td>
        </ng-container>
        <ng-container matColumnDef="servicE_AREA">
          <th mat-header-cell *matHeaderCellDef>Work Group / KPI Area</th>
          <td mat-cell *matCellDef="let definitions">{{definitions.servicE_AREA}}</td>
        </ng-container>
        <ng-container matColumnDef="kpI_NAME">
          <th mat-header-cell *matHeaderCellDef>KPI Name</th>
          <td mat-cell *matCellDef="let definitions" [ngStyle]="{'color': definitions.isExpired ? 'red' : 'black'}">
            {{definitions.kpI_NAME}} </td>
        </ng-container>
        <ng-container matColumnDef="servicE_TOWER_ID">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;">Service Tower</th>
          <td mat-cell *matCellDef="let definitions">{{GetServiceAreaNames(definitions.servicE_TOWER_ID)}}</td>
        </ng-container>
        <ng-container matColumnDef="supporT_WINDOW">
          <th mat-header-cell *matHeaderCellDef>Support Window</th>
          <td mat-cell *matCellDef="let definitions"> {{definitions.supporT_WINDOW}} </td>
        </ng-container>
        <ng-container matColumnDef="frequency">
          <th mat-header-cell *matHeaderCellDef>Frequency</th>
          <td mat-cell *matCellDef="let definitions"> {{definitions.frequency}} </td>
        </ng-container>

        <ng-container matColumnDef="priority">
          <th mat-header-cell *matHeaderCellDef>Priority</th>
          <td mat-cell *matCellDef="let definitions"> {{definitions.priority}} </td>
        </ng-container>
        <ng-container matColumnDef="slA_TARGET_UNIT_OF_MEASUREMENT">
          <th mat-header-cell *matHeaderCellDef>Unit of Measurement</th>
          <td mat-cell *matCellDef="let definitions"> {{definitions.slA_TARGET_UNIT_OF_MEASUREMENT}} </td>
        </ng-container>
        <ng-container matColumnDef="slA_TARGET_LOW_DESCRIPTION">
          <th mat-header-cell [ngClass]="'redBorder'" *matHeaderCellDef>Target Description</th>
          <td mat-cell *matCellDef="let definitions">
            <span *ngIf="definitions.kpI_TARGETS[definitions.kpI_TARGETS.length - 1]">
              {{definitions.kpI_TARGETS[definitions.kpI_TARGETS.length - 1].slA_TARGET_LOW_DESCRIPTION}}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="slA_TARGET_LOW_OPERATOR">
          <th mat-header-cell [ngClass]="'redBorder'" *matHeaderCellDef>Target Operator</th>
          <td mat-cell *matCellDef="let definitions">
            <span *ngIf="definitions.kpI_TARGETS[definitions.kpI_TARGETS.length - 1]">
              {{definitions.kpI_TARGETS[definitions.kpI_TARGETS.length - 1].slA_TARGET_LOW_OPERATOR}}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="slA_TARGET_LOW_VALUE">
          <th mat-header-cell [ngClass]="'redBorder'" *matHeaderCellDef>Target Value</th>
          <td mat-cell *matCellDef="let definitions">
            <span *ngIf="definitions.kpI_TARGETS[definitions.kpI_TARGETS.length - 1]">
              {{definitions.kpI_TARGETS[definitions.kpI_TARGETS.length - 1].slA_TARGET_LOW_VALUE}}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="slA_TARGET_MEDIUM_DESCRIPTION">
          <th mat-header-cell [ngClass]="'orangeBorder'" *matHeaderCellDef>Target Description</th>
          <td mat-cell *matCellDef="let definitions">
            <span *ngIf="definitions.kpI_TARGETS[definitions.kpI_TARGETS.length - 1]">
              {{definitions.kpI_TARGETS[definitions.kpI_TARGETS.length - 1].slA_TARGET_MEDIUM_DESCRIPTION}}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="slA_TARGET_MEDIUM_OPERATOR">
          <th mat-header-cell [ngClass]="'orangeBorder'" *matHeaderCellDef>Target Operator</th>
          <td mat-cell *matCellDef="let definitions">
            <span *ngIf="definitions.kpI_TARGETS[definitions.kpI_TARGETS.length - 1]">
              {{definitions.kpI_TARGETS[definitions.kpI_TARGETS.length - 1].slA_TARGET_MEDIUM_OPERATOR}}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="slA_TARGET_MEDIUM_VALUE">
          <th mat-header-cell [ngClass]="'orangeBorder'" *matHeaderCellDef>Target Value</th>
          <td mat-cell *matCellDef="let definitions">
            <span *ngIf="definitions.kpI_TARGETS[definitions.kpI_TARGETS.length - 1]">
              {{definitions.kpI_TARGETS[definitions.kpI_TARGETS.length - 1].slA_TARGET_MEDIUM_VALUE}}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="slA_TARGET_HIGH_DESCRIPTION">
          <th mat-header-cell [ngClass]="'greenBorder'" *matHeaderCellDef>Target Description</th>
          <td mat-cell *matCellDef="let definitions">
            <span *ngIf="definitions.kpI_TARGETS[definitions.kpI_TARGETS.length - 1]">
              {{definitions.kpI_TARGETS[definitions.kpI_TARGETS.length - 1].slA_TARGET_HIGH_DESCRIPTION}}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="slA_TARGET_HIGH_OPERATOR">
          <th mat-header-cell [ngClass]="'greenBorder'" *matHeaderCellDef>Target Operator</th>
          <td mat-cell *matCellDef="let definitions">
            <span *ngIf="definitions.kpI_TARGETS[definitions.kpI_TARGETS.length - 1]">
              {{definitions.kpI_TARGETS[definitions.kpI_TARGETS.length - 1].slA_TARGET_HIGH_OPERATOR}}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="slA_TARGET_HIGH_VALUE">
          <th mat-header-cell [ngClass]="'greenBorder'" *matHeaderCellDef>Target Value</th>
          <td mat-cell *matCellDef="let definitions">
            <span *ngIf="definitions.kpI_TARGETS[definitions.kpI_TARGETS.length - 1]">
              {{definitions.kpI_TARGETS[definitions.kpI_TARGETS.length - 1].slA_TARGET_HIGH_VALUE}}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="slA_TARGET_VERYHIGH_DESCRIPTION">
          <th mat-header-cell [ngClass]="'blueBorder'" *matHeaderCellDef>Target Description</th>
          <td mat-cell *matCellDef="let definitions">
            <span *ngIf="definitions.kpI_TARGETS[definitions.kpI_TARGETS.length - 1]">
              {{definitions.kpI_TARGETS[definitions.kpI_TARGETS.length - 1].slA_TARGET_VERYHIGH_DESCRIPTION}}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="slA_TARGET_VERYHIGH_OPERATOR">
          <th mat-header-cell [ngClass]="'blueBorder'" *matHeaderCellDef>Target Operator</th>
          <td mat-cell *matCellDef="let definitions">
            <span *ngIf="definitions.kpI_TARGETS[definitions.kpI_TARGETS.length - 1]">
              {{definitions.kpI_TARGETS[definitions.kpI_TARGETS.length - 1].slA_TARGET_VERYHIGH_OPERATOR}}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="slA_TARGET_VERYHIGH_VALUE">
          <th mat-header-cell [ngClass]="'blueBorder'" *matHeaderCellDef>Target Value</th>
          <td mat-cell *matCellDef="let definitions">
            <span *ngIf="definitions.kpI_TARGETS[definitions.kpI_TARGETS.length - 1]">
              {{definitions.kpI_TARGETS[definitions.kpI_TARGETS.length - 1].slA_TARGET_VERYHIGH_VALUE}}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="displaY_ORDER">
          <th mat-header-cell *matHeaderCellDef>Display Order</th>
          <td mat-cell *matCellDef="let definitions"> {{definitions.displaY_ORDER}} </td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th [ngClass]="'editWidth'" *matHeaderCellDef>
            <div></div>
          </th>
          <td mat-cell [ngClass]="'editWidth'" *matCellDef="let element">
            <a class="link" (click)="EditRow_onClick(element)">
              <i class="fa fa-edit"></i>
            </a>
          </td>
        </ng-container>
        <ng-container matColumnDef="delete">
          <th [ngClass]="'deleteWidth'" *matHeaderCellDef>
            <div></div>
          </th>
          <td mat-cell [ngClass]="'deleteWidth'" *matCellDef="let element">
            <a class="link" (click)="DeleteRow_onClick(element)">
              <i class="fa fa-trash"></i>
            </a>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <!-- <table mat-table [dataSource]="dataSource1" class="table table-bordered">
        <ng-container matColumnDef="index">
          <th mat-header-cell [ngClass]="'indexWidth'" *matHeaderCellDef>No.</th>
          <td mat-cell [ngClass]="'indexWidth'" *matCellDef="let element = index;"> {{(element + 1)}} </td>
        </ng-container>
        <ng-container matColumnDef="goal">
          <th mat-header-cell *matHeaderCellDef>Goal</th>
          <td mat-cell *matCellDef="let definitions">{{getGoal(definitions.goaL_ID)}}</td>
        </ng-container>
        <ng-container matColumnDef="servicE_AREA">
          <th mat-header-cell *matHeaderCellDef>KPI Area</th>
          <td mat-cell *matCellDef="let definitions">{{definitions.servicE_AREA}}</td>
        </ng-container>
        <ng-container matColumnDef="kpI_NAME">
          <th mat-header-cell *matHeaderCellDef>KPI Name</th>
          <td mat-cell *matCellDef="let definitions"> {{definitions.kpI_NAME}} </td>
        </ng-container>
        <ng-container matColumnDef="supporT_WINDOW">
          <th mat-header-cell *matHeaderCellDef>Support Window</th>
          <td mat-cell *matCellDef="let definitions"> {{definitions.supporT_WINDOW}} </td>
        </ng-container>
        <ng-container matColumnDef="frequency">
          <th mat-header-cell *matHeaderCellDef>Frequency</th>
          <td mat-cell *matCellDef="let definitions"> {{definitions.frequency}} </td>
        </ng-container>
        <ng-container matColumnDef="priority">
          <th mat-header-cell *matHeaderCellDef>Priority</th>
          <td mat-cell *matCellDef="let definitions"> {{definitions.priority}} </td>
        </ng-container>
        <ng-container matColumnDef="slA_TARGET_UNIT_OF_MEASUREMENT">
          <th mat-header-cell *matHeaderCellDef>Unit of Measurement</th>
          <td mat-cell *matCellDef="let definitions"> {{definitions.slA_TARGET_UNIT_OF_MEASUREMENT}} </td>
        </ng-container>
        <ng-container matColumnDef="slA_TARGET_LOW_DESCRIPTION">
          <th mat-header-cell [ngClass]="'redBorder'" *matHeaderCellDef>Target Description</th>
          <td mat-cell *matCellDef="let definitions">
            <span *ngIf="definitions.kpI_TARGETS[definitions.kpI_TARGETS.length - 1]">
              {{definitions.kpI_TARGETS[definitions.kpI_TARGETS.length - 1].slA_TARGET_LOW_DESCRIPTION}}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="slA_TARGET_LOW_OPERATOR">
          <th mat-header-cell [ngClass]="'redBorder'" *matHeaderCellDef>Target Operator</th>
          <td mat-cell *matCellDef="let definitions">
            <span *ngIf="definitions.kpI_TARGETS[definitions.kpI_TARGETS.length - 1]">
              {{definitions.kpI_TARGETS[definitions.kpI_TARGETS.length - 1].slA_TARGET_LOW_OPERATOR}}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="slA_TARGET_LOW_VALUE">
          <th mat-header-cell [ngClass]="'redBorder'" *matHeaderCellDef>Target Value</th>
          <td mat-cell *matCellDef="let definitions">
            <span *ngIf="definitions.kpI_TARGETS[definitions.kpI_TARGETS.length - 1]">
              {{definitions.kpI_TARGETS[definitions.kpI_TARGETS.length - 1].slA_TARGET_LOW_VALUE}}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="slA_TARGET_MEDIUM_DESCRIPTION">
          <th mat-header-cell [ngClass]="'orangeBorder'" *matHeaderCellDef>Target Description</th>
          <td mat-cell *matCellDef="let definitions">
            <span *ngIf="definitions.kpI_TARGETS[definitions.kpI_TARGETS.length - 1]">
              {{definitions.kpI_TARGETS[definitions.kpI_TARGETS.length - 1].slA_TARGET_MEDIUM_DESCRIPTION}}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="slA_TARGET_MEDIUM_OPERATOR">
          <th mat-header-cell [ngClass]="'orangeBorder'" *matHeaderCellDef>Target Operator</th>
          <td mat-cell *matCellDef="let definitions">
            <span *ngIf="definitions.kpI_TARGETS[definitions.kpI_TARGETS.length - 1]">
              {{definitions.kpI_TARGETS[definitions.kpI_TARGETS.length - 1].slA_TARGET_MEDIUM_OPERATOR}}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="slA_TARGET_MEDIUM_VALUE">
          <th mat-header-cell [ngClass]="'orangeBorder'" *matHeaderCellDef>Target Value</th>
          <td mat-cell *matCellDef="let definitions">
            <span *ngIf="definitions.kpI_TARGETS[definitions.kpI_TARGETS.length - 1]">
              {{definitions.kpI_TARGETS[definitions.kpI_TARGETS.length - 1].slA_TARGET_MEDIUM_VALUE}}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="slA_TARGET_HIGH_DESCRIPTION">
          <th mat-header-cell [ngClass]="'greenBorder'" *matHeaderCellDef>Target Description</th>
          <td mat-cell *matCellDef="let definitions">
            <span *ngIf="definitions.kpI_TARGETS[definitions.kpI_TARGETS.length - 1]">
              {{definitions.kpI_TARGETS[definitions.kpI_TARGETS.length - 1].slA_TARGET_HIGH_DESCRIPTION}}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="slA_TARGET_HIGH_OPERATOR">
          <th mat-header-cell [ngClass]="'greenBorder'" *matHeaderCellDef>Target Operator</th>
          <td mat-cell *matCellDef="let definitions">
            <span *ngIf="definitions.kpI_TARGETS[definitions.kpI_TARGETS.length - 1]">
              {{definitions.kpI_TARGETS[definitions.kpI_TARGETS.length - 1].slA_TARGET_HIGH_OPERATOR}}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="slA_TARGET_HIGH_VALUE">
          <th mat-header-cell [ngClass]="'greenBorder'" *matHeaderCellDef>Target Value</th>
          <td mat-cell *matCellDef="let definitions">
            <span *ngIf="definitions.kpI_TARGETS[definitions.kpI_TARGETS.length - 1]">
              {{definitions.kpI_TARGETS[definitions.kpI_TARGETS.length - 1].slA_TARGET_HIGH_VALUE}}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="slA_TARGET_VERYHIGH_DESCRIPTION">
          <th mat-header-cell [ngClass]="'blueBorder'" *matHeaderCellDef>Target Description</th>
          <td mat-cell *matCellDef="let definitions">
            <span *ngIf="definitions.kpI_TARGETS[definitions.kpI_TARGETS.length - 1]">
              {{definitions.kpI_TARGETS[definitions.kpI_TARGETS.length - 1].slA_TARGET_VERYHIGH_DESCRIPTION}}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="slA_TARGET_VERYHIGH_OPERATOR">
          <th mat-header-cell [ngClass]="'blueBorder'" *matHeaderCellDef>Target Operator</th>
          <td mat-cell *matCellDef="let definitions">
            <span *ngIf="definitions.kpI_TARGETS[definitions.kpI_TARGETS.length - 1]">
              {{definitions.kpI_TARGETS[definitions.kpI_TARGETS.length - 1].slA_TARGET_VERYHIGH_OPERATOR}}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="slA_TARGET_VERYHIGH_VALUE">
          <th mat-header-cell [ngClass]="'blueBorder'" *matHeaderCellDef>Target Value</th>
          <td mat-cell *matCellDef="let definitions">
            <span *ngIf="definitions.kpI_TARGETS[definitions.kpI_TARGETS.length - 1]">
              {{definitions.kpI_TARGETS[definitions.kpI_TARGETS.length - 1].slA_TARGET_VERYHIGH_VALUE}}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="displaY_ORDER">
          <th mat-header-cell *matHeaderCellDef>Display Order</th>
          <td mat-cell *matCellDef="let definitions"> {{definitions.displaY_ORDER}} </td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th [ngClass]="'editWidth'" *matHeaderCellDef>
            <div></div>
          </th>
          <td mat-cell [ngClass]="'editWidth'" *matCellDef="let element">
            <a class="link" (click)="EditRow_onClick(element)">
              <i class="fa fa-edit"></i>
            </a>
          </td>
        </ng-container>
        <ng-container matColumnDef="delete">
          <th [ngClass]="'deleteWidth'" *matHeaderCellDef>
            <div></div>
          </th>
          <td mat-cell [ngClass]="'deleteWidth'" *matCellDef="let element">
            <a class="link" (click)="DeleteRow_onClick(element)">
              <i class="fa fa-trash"></i>
            </a>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table> -->
    </div>
  </div>
  <div *ngIf="editmode && !isProductView" style="font-size:12px">
    <form #definitionForm="ngForm" (ngSubmit)="SubmitForm_Definition(definitionForm)">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-6">
          <mat-form-field style="width:100%">
            <input name="txtUniqueId" maxlength="100" [(ngModel)]="definition.kpI_UNIQUEID" matInput
              placeholder="KPI Identifier" required [attr.x-display-name]="kpI_UNIQUEID" pattern="[a-zA-Z0-9._]*"
              (input)="alphaNumberOnly($event)" (keypress)="alphaNumberOnly($event)" (paste)="onPaste($event)">
          </mat-form-field>
        </div>

        <div class="col-lg-2 col-md-2 col-sm-6">
          <mat-form-field style="width:100%">
            <input name="txtServiceArea" maxlength="100" [(ngModel)]="definition.servicE_AREA" matInput
              placeholder="Work Group / KPI Area" required [attr.x-display-name]="ServiceArea">
          </mat-form-field>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6">
          <mat-form-field>
            <mat-select #mySel [(ngModel)]="selectedKPI" name="ddselectKPI" (selectionChange)="updateKPIName(selectedKPI)"
              (openedChange)="resetFilterValue($event)" placeholder="Select Base Measure Master KPI" required>
              <mat-form-field class="filter-kpi" style="width: 100%;">
                <input matInput #searchInput (input)="applyFilterForKPI(searchInput.value)" style="text-indent: 10px;"
                  placeholder="Search KPI">
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
              <mat-option *ngFor="let kpi of overallKPIList" [value]="kpi.kpI_ID"
                [title]="kpi.formula + '-' + kpi.numeratordescription + '/' + kpi.denominatordescription">
                {{ kpi.kpI_NAME }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6">
          <mat-form-field style="width:145%">
            <input name="txtKPIName" maxlength="100" [(ngModel)]="definition.kpI_NAME" matInput placeholder="KPI Name"
              required>
          </mat-form-field>
        </div>
        <span class="col-lg-1 col-md-1 col-sm-0"></span>
        <div class="col-lg-2 col-md-2 col-sm-6">
          <mat-form-field style="width:150%">
            <input name="txtKPINumerator" [(ngModel)]="selectedNumerator" matInput placeholder="Numerator"
              [readonly]="true">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-6">
          <mat-form-field style="width:150%">
            <input name="txtKPIDenominator" [(ngModel)]="selectedDenominator" matInput placeholder="Denominator"
              [readonly]="true">
          </mat-form-field>
        </div>
        <span class="col-lg-1 col-md-1 col-sm-0"></span>
        <div class="col-lg-2 col-md-2 col-sm-6">
          <mat-form-field style="width:150%">
            <input name="txtKPIFormula" [(ngModel)]="selectedFormula" matInput placeholder="Formula" [readonly]="true">
          </mat-form-field>
        </div>
        <span class="col-lg-1 col-md-1 col-sm-0"></span>
        <div class="col-lg-2 col-md-2 col-sm-6">
          <mat-form-field style="width:100%">
            <input name="txtAbbreviation" maxlength="100" [(ngModel)]="definition.abbreviation" matInput
              placeholder="Abbreviation" required>
          </mat-form-field>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6">
          <mat-form-field>
            <mat-select name="ddGlobalCategory" [(ngModel)]="definition.globaL_KPI_CATEGORY_ID"
              placeholder="Global Category" required>
              <mat-optgroup *ngFor="let group of GlobalCategories" [label]="group.perspective">
                <mat-option *ngFor="let cat of group.category" [value]="cat.id" [title]="cat.shorT_DESC">
                  {{cat.shorT_DESC}}</mat-option>
              </mat-optgroup>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6">
          <mat-form-field style="width:100%">
            <input name="txtSupportWindow" maxlength="100" [(ngModel)]="definition.supporT_WINDOW" matInput
              placeholder="Support Window">
          </mat-form-field>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6">
          <mat-form-field style="width:100%">
            <input name="txtPriority" maxlength="100" [(ngModel)]="definition.priority" matInput placeholder="Priority">
          </mat-form-field>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6">
          <mat-form-field>
            <input name="ddUOM" maxlength="100" [(ngModel)]="definition.slA_TARGET_UNIT_OF_MEASUREMENT" matInput
              placeholder="Unit of Measurement" readonly="true" required>
          </mat-form-field>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6">
          <mat-form-field>
            <mat-select name="ddFrequency" [(ngModel)]="definition.frequency" placeholder="Frequency" required>
              <mat-option value="Build">Build</mat-option>
              <mat-option value="Fortnightly">Fortnightly</mat-option>
              <mat-option value="Monthly">Monthly</mat-option>
              <mat-option value="Quarterly">Quarterly</mat-option>
              <mat-option value="Release">Release</mat-option>
              <mat-option value="Sprint">Sprint</mat-option>
              <mat-option value="Weekly">Weekly</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6">
          <mat-form-field>
            <mat-select style="width:175px !important;" multiple [(ngModel)]="definition.servicE_TOWER_ID"
              name="selSeviceTower" placeholder="Service Tower" required>
              <mat-option *ngFor="let item of serviceAreaProjectMappingList"
                [value]="item.id">{{item?.title}}</mat-option>
            </mat-select>
          </mat-form-field>
          <br />
          <div style="font-size: 10px;color: #eb7245;"
            *ngIf="serviceAreaProjectMappingList==undefined || serviceAreaProjectMappingList.length==0"> Please
            configure
            Service Tower applicable for the project with the help of your QA SPOC</div>
        </div>

      </div>
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6">
          <input type="checkbox" name="cgkShowinchart" [(ngModel)]="definition.shoW_IN_CHART"> Show in Customer
          Success
          Journey
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
          <input type="checkbox" name="cgkIsSOW" [(ngModel)]="definition.iS_SOW_COMMITMENT"> Is it a SOW Commitment
        </div>
      </div>
      <div class="row" style="background-color: #b0cfed;text-align:center;height:25px;vertical-align:middle">
        <div class="col-lg-12" style="vertical-align:middle">
          Target for the Period
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <table class="table table-bordered" style="width:100%">
            <tr>
              <th>No.</th>
              <th>Start date</th>
              <th>End date</th>
              <th>
                <a class="link" style="font-size:15px" (click)="AddTarget_OnClick()" matTooltip="Add new Target">
                  <i *ngIf=" i + 1 != 1" class="fa fa-plus"></i>
                </a>
              </th>
              <th></th>
            </tr>
            <tr *ngFor="let target of definition.kpI_TARGETS;let i = index"
              [ngStyle]="{'background-color':target.id === selectedTarget.id ? '#d9e2ec' : 'transparent' }">
              <td style="text-align: center;vertical-align:middle">{{i + 1}}</td>
              <!-- <td *ngIf="i + 1 === 1">{{target.starT_DATE| date :'MM/dd/yyyy'}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
              <td *ngIf="i + 1 > 1"> -->
              <td style="text-align: center;vertical-align:middle;height:50px">
                <span *ngIf="target.id != selectedTarget.id">
                  {{target.starT_DATE|date:'MM/dd/yyyy'}}
                </span>
                <span *ngIf="target.id === selectedTarget.id">
                  <mat-form-field class="datefield" style="width:85px">
                    <input matInput name="dtStartDate[{{i}}]" [(ngModel)]='target.starT_DATE'
                      [matDatepicker]="pickerStartDate" [min]="_kpiService.selectedGoal.starT_DATE"
                      [max]="_kpiService.selectedGoal.enD_DATE" required>
                    <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
                    <mat-datepicker #pickerStartDate></mat-datepicker>
                  </mat-form-field>
                </span>
              </td>
              <td style="text-align: center;vertical-align:middle;height:50px">
                <span *ngIf="target.id != selectedTarget.id">
                  {{target.enD_DATE|date:'MM/dd/yyyy'}}
                </span>
                <span *ngIf="target.id === selectedTarget.id">
                  <mat-form-field class="datefield" style="width:85px">
                    <input matInput name="dtEndDate[{{i}}]" [(ngModel)]='target.enD_DATE'
                      [matDatepicker]="pickerEndDate" required [min]="target.starT_DATE"
                      [max]="_kpiService.selectedGoal.enD_DATE">
                    <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
                    <mat-datepicker #pickerEndDate></mat-datepicker>
                  </mat-form-field>
                </span>
              </td>

              <td style="text-align: center;vertical-align:middle;height:50px">
                <a class="link" (click)="EditTarget_Onclick(target)" style="padding-right:5px;">
                  <i matTooltip="Edit Target" class="fa fa-edit"></i>
                </a>
              </td>
              <td style="text-align: center;vertical-align:middle;height:50px">
                <a class="link" (click)="DeleteTarget_Onclick(target)">
                  <i *ngIf="i + 1 != 1" matTooltip="Delete Target" class="fa fa-trash"></i>
                </a>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12">
          <div class="row">
            <div
              style="width: 15px;height: 15px;border-radius: 50%;margin-top: 15px;float: left;padding-left: 6px;background-color: #ff3300cc">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-sx-3">
              <mat-form-field>
                <mat-select name="ddLowOperator" [(ngModel)]="selectedTarget.slA_TARGET_LOW_OPERATOR"
                  placeholder="Operator">
                  <mat-option value=""></mat-option>
                  <mat-option value="&gt;=">&gt;=</mat-option>
                  <mat-option value="&lt;=">&lt;=</mat-option>
                  <mat-option value="&lt;">&lt;</mat-option>
                  <mat-option value="&gt;">&gt;</mat-option>
                  <mat-option value="=">=</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-sx-3">
              <mat-form-field>
                <input type="number" [min]="1" name="txtSLALowTarget" [(ngModel)]="selectedTarget.slA_TARGET_LOW_VALUE"
                  matInput placeholder="Target">
              </mat-form-field>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-sx-3">
              <mat-form-field>
                <input name="txtTargetLowDescription" [(ngModel)]="selectedTarget.slA_TARGET_LOW_DESCRIPTION" matInput
                  placeholder="Description">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div
              style="width: 15px;height: 15px;border-radius: 50%;margin-top: 15px;float: left;padding-left: 6px;background-color: #feeb84">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-sx-3">
              <mat-form-field>
                <mat-select name="ddMediumOperator" [(ngModel)]="selectedTarget.slA_TARGET_MEDIUM_OPERATOR"
                  placeholder="Operator">
                  <mat-option value=""></mat-option>
                  <mat-option value="&gt;=">&gt;=</mat-option>
                  <mat-option value="&lt;=">&lt;=</mat-option>
                  <mat-option value="&lt;">&lt;</mat-option>
                  <mat-option value="&gt;">&gt;</mat-option>
                  <mat-option value="=">=</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-sx-3">
              <mat-form-field>
                <input type="number" [(ngModel)]="selectedTarget.slA_TARGET_MEDIUM_VALUE" [min]="1"
                  name="txtSLAMediumTarget" matInput placeholder="Target">
              </mat-form-field>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-sx-3">
              <mat-form-field>
                <input name="txtTargetMediumDescription" [(ngModel)]="selectedTarget.slA_TARGET_MEDIUM_DESCRIPTION"
                  matInput placeholder="Description">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div
              style="width: 15px;height: 15px;border-radius: 50%;margin-top: 15px;float: left;padding-left: 6px;background-color:#63be7b ">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-sx-3">
              <mat-form-field>
                <mat-select name="ddHighOperator" [(ngModel)]="selectedTarget.slA_TARGET_HIGH_OPERATOR"
                  placeholder="Operator" required>
                  <mat-option value=""></mat-option>
                  <mat-option value="&gt;=">&gt;=</mat-option>
                  <mat-option value="&lt;=">&lt;=</mat-option>
                  <mat-option value="&lt;">&lt;</mat-option>
                  <mat-option value="&gt;">&gt;</mat-option>
                  <mat-option value="=">=</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-sx-3">
              <mat-form-field>
                <input type="number" [min]="1" [(ngModel)]="selectedTarget.slA_TARGET_HIGH_VALUE"
                  name="txtSLAHighTarget" matInput placeholder="Target" required>
              </mat-form-field>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-sx-3">
              <mat-form-field>
                <input name="txtTargetHighDescription" [(ngModel)]="selectedTarget.slA_TARGET_HIGH_DESCRIPTION" matInput
                  placeholder="Description" required>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div
              style="width: 15px;height: 15px;border-radius: 50%;margin-top: 15px;float: left;padding-left: 6px;background-color: #7eb3de;">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-sx-3">
              <mat-form-field>
                <mat-select name="ddVeryHighOperator" [(ngModel)]="selectedTarget.slA_TARGET_VERYHIGH_OPERATOR"
                  placeholder="Operator">
                  <mat-option value=""></mat-option>
                  <mat-option value="&gt;=">&gt;=</mat-option>
                  <mat-option value="&lt;=">&lt;=</mat-option>
                  <mat-option value="&lt;">&lt;</mat-option>
                  <mat-option value="&gt;">&gt;</mat-option>
                  <mat-option value="=">=</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-sx-3">
              <mat-form-field>
                <input type="number" [min]="1" [(ngModel)]="selectedTarget.slA_TARGET_VERYHIGH_VALUE"
                  name="txtSLAVHighTarget" matInput placeholder="Target">
              </mat-form-field>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-sx-3">
              <mat-form-field>
                <input name="txtTargetVHighDescription" [(ngModel)]="selectedTarget.slA_TARGET_VERYHIGH_DESCRIPTION"
                  matInput placeholder="Description">
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="text-align:center;margin-bottom:15px">
        <button type="submit" class="btn btn-primary" style="margin-right:5px">Save</button>
        <button type="button" (click)="formReset(definitionForm)" class="btn btn-primary">Clear</button>
      </div>
    </form>

  </div>
  <div class="row" *ngIf="isProductView && readonlymode">
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  </div>
  <div *ngIf="isProductView && readonlymode">
    <div class="col-lg-3 col-md-3 col-sm-3" style="height:100%" *ngIf="serviceModes.length>0">
      <mat-form-field style="width:90%">
        <mat-select name="ddGoals" [(ngModel)]="selectedMode" placeholder="Select Mode"
          (ngModelChange)="ddMode_Onchange(m.id)">
          <mat-option *ngFor="let m of serviceModes; let i = index" [value]="m.id">
            {{m.modE_TITLE}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3" style="height:100%">
      <mat-form-field style="width:90%">
        <mat-select name="ddServicelvl" [(ngModel)]="selectedLevel" placeholder="Select Service Level"
          (ngModelChange)="ddlevel_Onchange(selectedLevel)">
          <mat-option *ngFor="let m of serviceLevel; let i = index" [value]="m.id">
            {{m.servicE_LEVEL}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3" style="height:100%">
      <mat-form-field style="width: 15%;">
        <input type="text" name="txtTier" [(ngModel)]="tierId" matInput placeholder="Tier" readonly>

      </mat-form-field>
    </div>
    <!-- <div class="col-lg-5 col-md-5 col-sm-5" style="height:100%;font-size:20px;padding-top:5px;text-align: right;">
      <div>
        <a class="link" title="Add New KPI" (click)="AddProdKPI_onClick()">
          <i class="fa fa-plus"></i>
        </a>
      </div>
    </div> -->
    <div class="example-container1">
      <table mat-table [dataSource]="dataSource1" class="table table-bordered">
        <ng-container matColumnDef="index">
          <th mat-header-cell [ngClass]="'indexWidth'" *matHeaderCellDef>No.</th>
          <td mat-cell [ngClass]="'indexWidth'" *matCellDef="let element = index;"> {{(element + 1)}} </td>
        </ng-container>
        <ng-container matColumnDef="reference">
          <th mat-header-cell *matHeaderCellDef style="width: 4%;">SLA Id</th>
          <td mat-cell *matCellDef="let definitions">{{definitions.reference}}</td>
        </ng-container>
        <ng-container matColumnDef="kpiname">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;">KPI Name</th>
          <td mat-cell *matCellDef="let definitions">
            {{definitions.servicE_LEVEL_METRICS}} </td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;">Service Level Metric Description</th>
          <td mat-cell *matCellDef="let definitions">
            {{definitions.servicE_LEVEL_METRIC_DESCRIPTION}} </td>
        </ng-container>
        <ng-container matColumnDef="serviceArea">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;">Service Area Type</th>
          <td mat-cell *matCellDef="let definitions">{{definitions.servicE_AREA_TYPE}}</td>
        </ng-container>
        <ng-container matColumnDef="serviceType">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;">Service Level</th>
          <td mat-cell *matCellDef="let definitions">{{definitions.servicE_LEVEL}}</td>
        </ng-container>
        <ng-container matColumnDef="sla">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;">SLA Category</th>
          <td mat-cell *matCellDef="let definitions">{{definitions.slA_CATEGORY}}</td>
        </ng-container>
        <ng-container matColumnDef="expectedLevel">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;">Expected Service Level</th>
          <td mat-cell *matCellDef="let definitions">
            {{getmeasurementforServiceLevel(definitions.kpI_ID)}}
          </td>
        </ng-container>
        <ng-container matColumnDef="minLevel">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;">Minimum Service Level</th>
          <td mat-cell *matCellDef="let definitions">
            {{getmeasurementforMinServiceLevel(definitions.kpI_ID)}}
          </td>
        </ng-container>
        <ng-container matColumnDef="frequency">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;">Frequency</th>
          <td mat-cell *matCellDef="let definitions"> {{definitions.frequency}} </td>
        </ng-container>
        <!-- <ng-container matColumnDef="uom">
          <th mat-header-cell *matHeaderCellDef>Unit of Measurement</th>
          <td mat-cell *matCellDef="let definitions"> {{definitions.uniT_OF_MEASUREMENT}} </td>
        </ng-container> -->

        <ng-container matColumnDef="actions">
          <th [style.display]="editAllowed?'':'none'" mat-header-cell *matHeaderCellDef
            style="width: 75px;text-align: center;">Actions</th>
          <td mat-cell *matCellDef="let definitions">
            <a style="margin-left: 10px;" (click)="Edit_onClick(definitions)" [style.display]="editAllowed?'':'none'">
              <i class="fa fa-edit" title="Edit KPI"></i>
            </a>
            <a style="margin-left: 10px;cursor: not-allowed;" (click)="Delete_onClick(definitions)"
              [style.display]="editAllowed?'':'none'">
              <i class="fa fa-trash" style="font-size:15px;color:red" title="Delete KPI"></i>
            </a>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns1; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
      </table>
    </div>
  </div>
  <div *ngIf="editProdMode && isProductView" style="font-size:12px">
    <form #proddefinitionForm="ngForm" (ngSubmit)="SubmitProdForm_Definition(proddefinitionForm)">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2">
          <mat-form-field>
            <mat-select name="ddServiceArea" [(ngModel)]="prodDefinitions.servicE_AREA_ID" placeholder="Service Tower">
              <mat-option *ngFor="let sa of serviceArea" [value]="sa.id" [title]="sa.servicE_AREA_TYPE">
                {{sa.servicE_AREA_TYPE}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
          <mat-form-field style="width:100%">
            <input name="txtKPIName" maxlength="100" [(ngModel)]="prodDefinitions.servicE_LEVEL_METRICS" matInput
              placeholder="KPI Name" required>
          </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
          <mat-form-field style="width: 100%;">
            <mat-select name="ddGlobalCategory" [(ngModel)]="prodDefinitions.categorY_ID" placeholder="Global Category"
              required>
              <mat-optgroup *ngFor="let group of GlobalCategories" [label]="group.perspective">
                <mat-option *ngFor="let cat of group.category" [value]="cat.id" [title]="cat.shorT_DESC">
                  {{cat.shorT_DESC}}</mat-option>
              </mat-optgroup>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
          <mat-form-field>
            <mat-select name="ddServicelvl" [(ngModel)]="prodDefinitions.servicE_LEVEL_ID" placeholder="Service Level">
              <mat-option *ngFor="let sa of serviceLevel" [value]="sa.id" [title]="sa.servicE_LEVEL">
                {{sa.servicE_LEVEL}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6">
          <mat-form-field style="width:100%">
            <input name="txtSupportWindow" maxlength="100" [(ngModel)]="prodDefinitions.supporT_WINDOW" matInput
              placeholder="Support Window">
          </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
          <mat-form-field style="width:100%">
            <input name="txtPriority" maxlength="100" [(ngModel)]="prodDefinitions.priority" matInput
              placeholder="Priority">
          </mat-form-field>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
          <mat-form-field>
            <mat-select name="ddUOM" [(ngModel)]="prodDefinitions.uniT_OF_MEASUREMENT" placeholder="Unit of Measurement"
              required>
              <mat-option value="%">In %</mat-option>
              <mat-option value="Number">In Number</mat-option>
              <mat-option value="Amount">In Amount</mat-option>
              <mat-option value="min">In min.</mat-option>
              <mat-option value="ms">In ms.</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
          <mat-form-field>
            <mat-select name="ddFrequency" [(ngModel)]="prodDefinitions.frequency" placeholder="Frequency" required>
              <mat-option value="Build">Build</mat-option>
              <mat-option value="Fortnightly">Fortnightly</mat-option>
              <mat-option value="Monthly">Monthly</mat-option>
              <mat-option value="Quarterly">Quarterly</mat-option>
              <mat-option value="Release">Release</mat-option>
              <mat-option value="Sprint">Sprint</mat-option>
              <mat-option value="Weekly">Weekly</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2">
          <mat-form-field style="margin-top: 10px;">
            <mat-select name="ddServiceRef" [(ngModel)]="prodDefinitions.referencE_ID" placeholder="Reference">
              <mat-option *ngFor="let r of reference" [value]="r.id" [title]="r.reference">
                {{r.reference}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <mat-form-field style="width: 90%;">
            <textarea name="txtKPIDesc" type="text" [(ngModel)]="prodDefinitions.servicE_LEVEL_METRIC_DESCRIPTION"
              matInput placeholder="KPI Description" required></textarea>
          </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <mat-form-field style="width: 90%;">
            <textarea name="txtSpecLimt" type="text" [(ngModel)]="prodDefinitions.specificatioN_LIMIT" matInput
              placeholder="Specification Limit" required></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <!-- <div class="col-lg-5 col-md-5 col-sm-6">
          <input type="checkbox" name="skip1">
            Is NA Applies to this KPI for certain scenarios
        </div> -->
        <!-- <div class="col-lg-5 col-md-5 col-sm-6">
          <input type="checkbox" name="skip1">
          Apply changes to Target across all the Products that are Mapped to : {{selectedModetitle}}
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
          <input type="checkbox" name="skip2">
          Apply Changes to Target mapped with selected Product
        </div> -->
      </div>
      <div class="row" style="background-color: #b0cfed;text-align:center;height:25px;vertical-align:middle">
        <div class="col-lg-12" style="vertical-align:middle">
          Target for the Period
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <table class="table table-bordered" style="width:100%">
            <tr>
              <th>No.</th>
              <th>Start date</th>
              <th>End date</th>
              <th>
                <a class="link" style="font-size:15px" (click)="AddProdTarget_OnClick()" matTooltip="Add new Target">
                  <i *ngIf=" i + 1 != 1" class="fa fa-plus"></i>
                </a>
              </th>
              <th></th>
            </tr>
            <tr *ngFor="let target of definition.kpI_TARGETS;let i = index"
              [ngStyle]="{'background-color':target.id === selectedProdTarget.id ? '#d9e2ec' : 'transparent' }">
              <td style="text-align: center;vertical-align:middle">{{i + 1}}</td>
              <!-- <td *ngIf="i + 1 === 1">{{target.starT_DATE| date :'MM/dd/yyyy'}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
              <td *ngIf="i + 1 > 1"> -->
              <td style="text-align: center;vertical-align:middle;height:50px">
                <span *ngIf="target.id != selectedProdTarget.id">
                  {{target.starT_DATE|date:'MM/dd/yyyy'}}
                </span>
                <span *ngIf="target.id === selectedProdTarget.id">
                  <mat-form-field class="datefield" style="width:85px">
                    <input matInput name="dtStartDate[{{i}}]" [(ngModel)]='target.starT_DATE'
                      [matDatepicker]="pickerStartDate" required>
                    <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
                    <mat-datepicker #pickerStartDate></mat-datepicker>
                  </mat-form-field>
                </span>
              </td>
              <td style="text-align: center;vertical-align:middle;height:50px">
                <span *ngIf="target.id != selectedProdTarget.id">
                  {{target.enD_DATE|date:'MM/dd/yyyy'}}
                </span>
                <span *ngIf="target.id === selectedProdTarget.id">
                  <mat-form-field class="datefield" style="width:85px">
                    <input matInput name="dtEndDate[{{i}}]" [(ngModel)]='target.enD_DATE'
                      [matDatepicker]="pickerEndDate" required>
                    <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
                    <mat-datepicker #pickerEndDate></mat-datepicker>
                  </mat-form-field>
                </span>
              </td>

              <td style="text-align: center;vertical-align:middle;height:50px">
                <a class="link" (click)="EditProdTarget_Onclick(target)" style="padding-right:5px;">
                  <i matTooltip="Edit Target" class="fa fa-edit"></i>
                </a>
              </td>
              <td style="text-align: center;vertical-align:middle;height:50px">
                <a class="link" (click)="DeleteProdRow_onClick(target)">
                  <i *ngIf="i + 1 != 1" matTooltip="Delete Target" class="fa fa-trash"></i>
                </a>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12">


          <div class="row">
            <div *ngIf="isProductView">
              <label>Minimum Service Level</label>
            </div>
            <div
              style="width: 15px;height: 15px;border-radius: 50%;margin-top: 15px;float: left;padding-left: 6px;background-color:#63be7b ">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-sx-3">
              <mat-form-field>
                <mat-select name="ddHighOperator" [(ngModel)]="selectedProdTarget.slA_TARGET_HIGH_OPERATOR"
                  placeholder="Operator" required>
                  <mat-option value=""></mat-option>
                  <mat-option value="&gt;=">&gt;=</mat-option>
                  <mat-option value="&lt;=">&lt;=</mat-option>
                  <mat-option value="&lt;">&lt;</mat-option>
                  <mat-option value="&gt;">&gt;</mat-option>
                  <mat-option value="=">=</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-sx-3">
              <mat-form-field>
                <input type="number" [min]="1" [(ngModel)]="selectedProdTarget.minimuM_SERVICE_LEVEL"
                  name="txtSLAHighTarget" matInput placeholder="Target" required>
              </mat-form-field>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-sx-3">
              <mat-form-field>
                <input name="txtTargetHighDescription" [(ngModel)]="selectedProdTarget.slA_TARGET_HIGH_DESCRIPTION"
                  matInput placeholder="Description">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div *ngIf="isProductView">
              <label>Expected Service Level</label>
            </div>
            <div
              style="width: 15px;height: 15px;border-radius: 50%;margin-top: 15px;float: left;padding-left: 6px;background-color: #7eb3de;">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-sx-3">
              <mat-form-field>
                <mat-select name="ddVeryHighOperator" [(ngModel)]="selectedProdTarget.slA_TARGET_VERYHIGH_OPERATOR"
                  placeholder="Operator">
                  <mat-option value=""></mat-option>
                  <mat-option value="&gt;=">&gt;=</mat-option>
                  <mat-option value="&lt;=">&lt;=</mat-option>
                  <mat-option value="&lt;">&lt;</mat-option>
                  <mat-option value="&gt;">&gt;</mat-option>
                  <mat-option value="=">=</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-sx-3">
              <mat-form-field>
                <input type="number" [min]="1" [(ngModel)]="selectedProdTarget.expecteD_SERVICE_LEVEL"
                  name="txtSLAVHighTarget" matInput placeholder="Target">
              </mat-form-field>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-sx-3">
              <mat-form-field>
                <input name="txtTargetVHighDescription" [(ngModel)]="selectedProdTarget.slA_TARGET_VERYHIGH_DESCRIPTION"
                  matInput placeholder="Description">
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="text-align:center;margin-bottom:15px">
        <button type="submit" class="btn btn-primary" style="margin-right:5px">Save</button>
        <button type="button" (click)="formReset(proddefinitionForm)" class="btn btn-primary">Clear</button>
      </div>
    </form>

  </div>
</div>