.link {
  cursor: pointer;
  text-decoration: none;
  vertical-align: middle;
  text-align: center;
  color: #5cb85c;
}

.row {
  margin: 0px !important;
}

.col-lg-12, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1 {
  padding: 2px 0 2px 0 !important;
}

.col-md-12, .col-md-8, .col-md-7, .col-md-6, .col-md-4, .col-md-3, .col-md-2, .col-md-1 {
  padding: 2px 0 2px 0 !important;
}

.col-sm-12, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1 {
  padding: 2px 0 2px 0 !important;
}

.padding10 {
  width: 100%;
  padding: 0 5px 0 5px;
}

.example-container {
  height: 200px;
  overflow: auto;
  padding: 0 0 0 0px;
}

.table > thead > tr > th {
  padding: 0px !important;
}

.table-bordered > tbody > tr > td {
  padding: 0px !important;
}

::ng-deep td.mat-cell {
  padding: 0px !important;
}

td, th {
  padding: 0px !important;
}

.mat-cell {
  padding: 0px !important;
}

.chart-container {
  height: 300px;
  padding: 0 23px 0 23px;
}

.countfont {
  color: green;
}

.indexWidth {
  width: 50px;
}
