.link {
    cursor: pointer;
    text-decoration: none;
    vertical-align: middle;
    font-size:14px;
    color:black;
}
.mat-progress-bar {
    display: block;
    height: 1px;
    overflow: hidden;
    position: relative;
    transform: translateZ(0);
    transition: opacity 250ms linear;
    width: 100%;
  }