body{
   font-family: 'Roboto', sans-serif !important;   
}

.mainDiv {
  background-color: white;
  border-radius: 9px;  
  margin: 5px 10px 5px 10px;
  min-height: 648px;
  height: auto;
  padding: 14px;
  width: auto;  
  box-shadow: 1px 2px 3px 1px #c7c7c7;
}


table{
  width: 100%;
}

.tableOuterBorder
{
  border: 1px solid black;
  border-collapse: collapse;
}


 
.mat-cell{
     text-align: left;
     color: #777777 !important;
 }
 

.mat-header-cell{
  text-align: left;
  font-weight: bold !important;
  color: #000000 !important;
  border: none;
}

// .mat-form-field {
//     width: 100% !important;
//     line-height: 10px !important;
//     font-size: 12px !important;     
//   }

::ng-deep .mat-form-field-label {
  // font-weight: bold !important;
  // font-size: 12px !important;
  color: #000000 !important;
}



  .clServiceLevel{

  top : 5px;
  right : 15px;
  height: 300px;
  width: 400px;
  z-index: 200;
  background-color: #ffffff;
  box-shadow: 0px 0.5px 12px gray;
  padding: 15px 5px 15px 15px; 
  position: fixed;
  border-radius: 7px;
}

.example-container {
  height: 600px;
  width : 100%;
  overflow: overflow-y;
  padding: 0;
}


// ::ng-deep .mat-form-field-underline {
//   display: none;
// }

.ddlFiltersList
{
width: 200px !important;
height: 15px;
text-align: left;
font-family: 'Roboto', sans-serif !important;
letter-spacing: 0px;
color: #666666;
opacity: 1;
}

table {
  width: 100%;
  border-spacing: 0 8px !important;
  border-collapse: separate !important;
}

td.mat-cell {
 padding: 16px 0 16px 0;
 border-bottom: 2px solid whitesmoke;
 border-top: 2px solid whitesmoke;
 color: #777777 !important;
}

td.mat-cell:first-child {
  border-left: 2px solid whitesmoke;
  
}

td.mat-cell:last-child {
  border-right: 2px solid whitesmoke !important; 
  
}

.table > thead > tr > th
{
  border-bottom: 0px solid whitesmoke !important;
}

.mat-dropdown-plain
{
  padding: 0px !important;
}

// textarea
// {
//   border:solid 0.5pt #BCBCBC !important;
// }



// ::ng-deep .mat-form-field-hide-placeholder .mat-form-field-label-wrapper {
//    text-align: left;
//   //  top: -30px !important;
//   //  font-weight: bold !important;
//   //  font-size: 10px !important;
   
// }



 