.separateCard{
    height: 50%;
    margin-bottom: 9px !important;    
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0.5px 2.5px grey;
    padding: 9px;
    color: #535d85;
    font-weight: 700;
  }