.table th {
    height: 15px;
text-align: left;
font: normal normal 600 12px/15px Lato;
letter-spacing: 0px;
color: #000000;
opacity: 1;
//padding: 4px 4px 8px 6px; 
font-size: 12px;
white-space: nowrap;
}

th,
td {
  //width: 100px;
  text-align: left;
  //border: 1px solid black;
  //padding: 3px;
  font-size: 12px;
  //white-space: nowrap;
}

.Planned {
  color: #DB7F3C;
}
