
@import "../layout.tables.style.scss";

.col-lg-6, .col-md-6, .col-sm-6{
    padding-left: 0px;
}

.col-lg-12, .col-md-12, .col-sm-12{
    padding-left: 0px;
}
.indexWidth, .deleteWidth, .editWidth{
    width: 1% !important;
}

.portWidth
{
    width : 10% !important;
}


.projWidth{

    width: 15% !important;
}
.descWidth{
    width: 20% !important;
}

.statusWidth, .targetWidth, .actualWidth{
    width: 5% !important;
}

.internalWidth{
    width: 10% !important;
    text-align: center;
}
.personhourWidth{
    width: 10% !important;
    text-align: right;
    border-right:1px solid lightgray;
}

.HeaderRowAlignment
{
    text-align: center !important;    
}

th.mat-header-cell
{
    text-align: center !important;
}

.areaWidth, .resWidth{
    width: 8% !important;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background, .mat-checkbox-indeterminate .mat-checkbox-background {
    background-color:#005691!important;
  }


  .openItemsFilter ~ .mat-checkbox{
    margin-left: 12px;
  }

  .viewBy-radio-group
  {
      display: inline !important;
      flex-direction: row;      
  }

  .labelStyle
  {
      color:#005691!important;
  }

 ::ng-deep .mat-tooltip {    
    font-size: 12px;
  }
