<div style="padding: 16px; max-height: 80vh; display: flex; flex-direction: column;"> 
    <div style="text-align: right; padding-right: 20px; cursor: pointer;" (click)="closeDialog()">&#10006;</div>
    <h4 style="text-align: center; color:#5461a2; margin: 8px 0 16px 0;"><b>Guideline to articulate a risk statement :-</b></h4>    
  <div class="dialog-content">
    <p class="pointed-paragraph">
      Event that has an effect on &lt;objectives/goals&gt; caused by &lt;cause(s)&gt; may result in &lt;Consequence(s)&gt;
    </p>
    <b>For Example :-</b>
    <p class="pointed-paragraph">
      Confidential data leakage or unavailability caused by poor patch management and anti-virus software update may result in financial fraud loss of $$ million and fine from HIPPA $$$ value, loss of customer confidence in Healthcare sector resulting in net loss of revenue $$ %
    </p>
    <b>Explanation :-</b>
    <p class="pointed-paragraph">
      Confidential data leakage, unavailability are information security failure evets, keeping information secure (the objective) has deviated from (the effect). Poor patch management or AV update are the causes of this effect on objectives, while the consequences are articulated in terms of what happens if the risk occurs in other words if the project / organization fails to meet its objective. 
    </p>
  </div>
  </div>
