<div *ngIf="!_util.IsGAVS()">
  <form #feedbackForm="ngForm" (ngSubmit)="SubmitForm(feedbackForm.valid)">
    <mat-card class="example-card" style="text-align: center; margin-bottom:15px">
      <mat-card-header style="text-align:center">
        <div mat-card-avatar>
          <mat-icon>feedback</mat-icon>
        </div>
        <mat-card-title>Feedback</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row" style="padding-top:15px">
          <mat-form-field style="width:300px;height:200px">
            <textarea style="border:solid 1px grey" name='txtfeedback' matTextareaAutosize matAutosizeMinRows="10" matAutosizeMaxRows="10"
              [(ngModel)]="newFeedback.feedback" matInput required></textarea>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button type="submit">SEND</button>
        <a mat-button (click)="ClientCancel_OnClick()">CANCEL</a>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
<div *ngIf="_util.IsGAVS()">
  <div *ngIf="editmode">
    <form #remarksForm="ngForm" (ngSubmit)="SubmitForm(remarksForm.valid)">
      <div class="row" style="padding-top:15px;background: white;">
        <div class="col-lg-6, col-md-6">
          <div class="row" style="font-weight: bold">
            Feedback
          </div>
          <p style="white-space:pre-wrap;">{{newFeedback.feedback}}</p>
        </div>
        <div class="col-lg-6, col-md-6">
          <div class="row" style="font-weight: bold">
            Remarks
          </div>
          <mat-form-field style="width:300px;height:200px">
            <textarea name='txtComments' matTextareaAutosize matAutosizeMinRows="10" matAutosizeMaxRows="10" [(ngModel)]="newFeedback.comments"
              matInput placeholder="Type your remarks" required></textarea>
          </mat-form-field>
          <div class="row">
            <mat-form-field>
              <mat-select name='status' [(ngModel)]="newFeedback.status" placeholder="Status" required>
                <!-- <mat-option value='New'>New</mat-option> -->
                <mat-option value='Open'>Open</mat-option>
                <mat-option value='Closed'>Closed</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="row">
            <button style="background-color:#4d8bbf; border:none;border-radius:5px;color:white;" type="submit">Save</button>
            <button style="background-color:#4d8bbf; border:none;border-radius:5px;color:white;" (click)="Cancel_onClick()">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div style="padding:20px;background: white;"></div>
<table border="1" class="table table-responsive-sm table-hover table-outline mb-0">
  <thead class="thead-light">
    <tr>
      <th>No.</th>
      <th>Email</th>
      <th>Description</th>
      <th>Status</th>
      <th>Remarks</th>
      <th>Date</th>
      <!-- <th *ngIf="_util.IsEditable()">Action</th> -->
      <th>Action</th>
    </tr>
  </thead>
  <tbody style="background: white" *ngIf="feedbacks.length > 0">
    <tr *ngFor="let feedback of feedbacks;let i = index">
      <td>{{i + 1}}</td>
      <td>{{feedback.customeR_EMAILID}}</td>
      <td>{{feedback.feedback}}</td>
      <td>{{feedback.status}}</td>
      <td>{{feedback.comments}}</td>
      <td>{{feedback.createD_DATE|date:'dd-MMM-yyyy'}}</td>

      <td *ngIf="_access.IsAllowed(22, 3, '', '')">
        <a class="link" (click)="EditRow_onClick(feedback)">
          <i class="fa fa-edit"></i>
        </a>
        <!-- <a class="link" (click)="DeleteRow_onClick(issue)">
              <i class="fa fa-trash"></i>
            </a> -->
      </td>
    </tr>
  </tbody>
  <tbody *ngIf="feedbacks.length == 0">
    <tr>
      <td *ngIf="_util.IsEditable()" colspan="7">No records found</td>
      <td *ngIf="!_util.IsEditable()" colspan="6">No records found</td>
    </tr>
  </tbody>
</table>