<div *ngIf="(data.directive =='div2')||(data.directive =='div3')||(data.directive =='div4')||(data.directive =='div5')">
  <div class="panel panel-primary">
    <div class="panel-heading">Issue Details</div>
    <table class="table table-bordered" style="font-size:12px">
      <thead>
        <tr>
          <th style="text-align:left">Issue description</th>
          <th style="text-align:left">Type </th>
          <th style="text-align:left">Severity</th>
          <th style="text-align:left">Action plan</th>
          <th style="text-align:left">Assigned to</th>
          <th style="text-align:left">Target Date </th>
        </tr>
      </thead>
      <div style="margin: 5px;" *ngIf="data.issue.length == 0">No Issues to display </div>
      <tbody *ngFor="let r of data.issue">
        <tr style="text-align:left">
          <td>{{r.description}}</td>
          <td>{{r.issuE_TYPE}}</td>
          <td>{{r.severity}}</td>
          <td>{{r.actioN_PLAN}}</td>
          <td>{{r.assigneD_TO}}</td>
          <td>{{r.targeT_DATE|date:'dd-MMM-yyyy'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div style="text-align:center;padding-bottom:2px">
    <button mat-button mat-dialog-close>Close</button>
  </div>
</div>
<div *ngIf="(data.directive =='div6')||(data.directive =='div7')">
  <div class="panel panel-primary">
    <div class="panel-heading">Action Item Details</div>
    <table class="table table-bordered" style="font-size:12px">
      <thead>
        <tr>
          <th>Description</th>
          <th>Owner</th>
          <th>Priority</th>
          <th>Target Date</th>
          <th>Status</th>
        </tr>
      </thead>
      <div style="margin: 5px;" *ngIf="data.issue.length == 0">No Action Items to display </div>
      <tbody *ngFor="let r of data.issue">
        <tr style="text-align: left;">
          <td>{{r.description}}</td>
          <td>{{r.owner}}</td>
          <td>{{r.priority}}</td>
          <td>{{r.targeT_DATE|date:'dd-MMM-yyyy'}}</td>
          <td>{{r.status}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div style="text-align:center;padding-bottom:2px">
      <button mat-button mat-dialog-close>Close</button>
    </div>
</div>
<div *ngIf="(data.directive =='div1')||(data.directive =='div8')">
  <div class="panel panel-primary">
    <div class="panel-heading">Risk Details</div>
    <table class="table table-bordered" style="font-size:12px">
      <thead class="thead-light">
        <tr>
          <th>Identified On</th>
          <th>Risk Description</th>
          <th>Business Impact</th>
          <th>Risk Owner</th>
          <th>Probability</th>
          <th>Impact</th>
          <th>Risk Treatment Plan</th>
        </tr>
      </thead>
      <div style="margin: 5px;" *ngIf="data.issue.length == 0">No risks to display </div>
      <tbody *ngFor="let r of data.issue">
        <tr style="text-align: left;">
          <td>{{r.identifieD_DATE| date :'dd-MMM-yyyy'}}</td>
          <td>{{r.description}}</td>
          <td>{{r.impact}}</td>
          <td>{{r.owner}}</td>
          <td>{{_util.prob[r.probabilitY_SCALE -1]}}</td>
          <td>{{_util.impact[r.impacT_SCALE -1]}}</td>
          <td>{{r.actioN_TAKEN}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div style="text-align:center;padding-bottom:2px">
      <button mat-button mat-dialog-close>Close</button>
    </div>
  </div>