.modeldiv {
    margin: 5px;
    text-align: center;
    box-shadow: 1px 2px 2px #ccc;
    border-radius: 2px;
    font-size: 17px;
    width: 100%;
    background-color: #67809E
}
.areaDiv {
   margin-left: auto;
   margin-right: auto;
   margin-top:5px;
    text-align: center;
    box-shadow: 1px 2px 2px #ccc;
    border-radius: 2px;
    font-size: 14px;
    width: 80%;
    background-color: #67809E;
    color: white
}
.processDiv {
    margin-left: auto;
    margin-right: auto;
    margin-top :5px;
     text-align: center;
     box-shadow: 1px 2px 2px #ccc;
     border-radius: 2px;
     width: 50%;
     background-color: #E0E0E0;
 }

 .border
 {
     border: 1px solid black;
 }

 .example-radio-group {
    display: flex;
    //margin: 15px 0;
    flex-direction: row;
  }
  
  .example-radio-button {
    //margin: 5px;
  }

  .example-radio-group{
    display: grid !important;
}
 ::ng-deep.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #59a3fd !important;
    color: #59a3fd !important;
}
::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #59a3fd !important
}

::ng-deep.mat-form-field {
    font-size: 15px !important;
    font-weight: 500 !important;
    line-height: 1.125 !important;
    font-family: Roboto,"Helvetica Neue",sans-serif !important;
}

.serviceareadd
{
    cursor: not-allowed;
    pointer-events: none;
}

.serviceareadd mat-option{
    cursor: not-allowed;
    pointer-events: none;
}

