.sliding-up-content {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    background-color: white;
    transition: all 0.3s ease-in-out;
}
mat-progress-bar{
  height: 3px;
  opacity: 0.7;
}

.sliding-up-content.show {
    height: 94%;
    width:100%;
    z-index: 1100;
    background-color: #FFFFFF;
}
.search-icon {
  width: 20px;
  height: 20px;
 border: none;
  box-shadow: none;
  outline:none !important;
}


.lblControl{
    height: 15px;
text-align: left;
font-size:11px; 
letter-spacing: 0px;
color: #4C4C47;
opacity: 1;
position: absolute;
margin-top: 18px
}

::ng-deep .no-line .mat-form-field-underline {
    display: none;
  }
  .yeardrpdown{

    width: 80px;
    height: 21px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #C3C3C3;
    border-radius: 2px;
    opacity: 1;
    line-height: normal;
    padding-left: 5px;
    font-size: 11px;
    padding-top: 2px;
  }
  .drpdown{
    width: 150px;
    height: 30px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #C3C3C3;
    border-radius: 2px;
    opacity: 1;
    line-height: normal;
    padding-left: 5px;
  }
  .drpdown {
    width: 100px;
    height: 21px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #C3C3C3;
    border-radius: 2px;
    opacity: 1;
    line-height: normal;
    padding-left: 5px;
    font-size: 11px;
    padding-top: 2px;
} 
.filter-row{ 
    background-color: white;
    height: 35px;
    padding: 6px;
}
#selectDateType{
  width: 100px;
}
.btn{
  height: 25px;padding: 1px 12px;
  margin-bottom: 0;
  font-size: 12px;
}
  .input{
    width: 106px;
    height: 25px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #C3C3C3;
    border-radius: 2px;
    opacity: 1;
  }

  ::ng-deep .startdatepickers .mat-datepicker-toggle-default-icon {
    margin-left: -40px !important;
    margin-top: -10px !important;
  }

  ::ng-deep .enddatepicker .mat-datepicker-toggle-default-icon {
     margin-left: -40px !important;
     margin-top: -10px !important;
}

 ul.items li {
  list-style: none;
  height:50px;
}

.one-indent{
  padding-left:40px 
}

.two-indent{
  padding-left: 60px
}

::ng-deep .navTabGrp .mat-tab-labels {
  color: black; 
  background-color:#eaeaea;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 1px;
  font-weight: 900
}

::ng-deep .navTabGrp .mat-tab-list {
  flex-grow: 1;
  position: relative;
  transition: transform .5s cubic-bezier(.35,0,.25,1);
}
h5{
 // margin-left: 15px;
  font-weight: bold;
}
 ::ng-deep .navTabGrp .mat-ink-bar {
   position: absolute;
   bottom: 0;
   height: 2px;
   transition: .5s cubic-bezier(.35,0,.25,1);
   background-color: white !important;
   visibility: visible;
   left: 161px;
   width: 160px;
 }

::ng-deep .navTabGrp .mat-tab-label
{
  height: 30px !important;
}
label
{
  font-weight: 300;
  font-size: 11px;}
  .label{
 display: inline-flex; width: 50px;
}
.drpdown{
  width: 180px;
  height: 30px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 0.5px solid #C3C3C3;
  border-radius: 2px;
  opacity: 1;
  line-height: normal;
  padding-left: 5px;
}
.drpdown {
  width:180px;
  height: 21px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 0.5px solid #C3C3C3;
  border-radius: 2px;
  opacity: 1;
  line-height: normal;
  padding-left: 5px;
  font-size: 11px;
  padding-top: 2px;
} 
.search-box {  
  display: flex;  
  justify-content: flex-end;  
  margin-top: 20px;
}
tr.mat-header-row {
  height: 35px;
  vertical-align: bottom !important;
  border-bottom: 2px solid #050505  !important;
  font-size: 16px !important;
  background-color: #f7f6f6 !important;
  border-radius: 8px;
}
::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
  min-width: 0!important;
  padding: 3px!important;
  margin: 3px!important;
 }.row {
  margin-right: 0px !important; 
   margin-left: 0px;
 }

::ng-deep .navTabGrp .mat-tab-header{
  top: -15px;
}

h5{
  margin-left: 20px;
}
:host ::ng-deep .mat-tab-label {
  height: 28px !important;
  padding: 0 12px  !important; 
  font-size: 12px  !important;
  font-weight: bold  !important;
}
::ng-deep .mat-tab-body-content{
  //margin-left: 15px !important ;
  width: 98%;
  overflow: hidden !important;
  //margin: auto;
}
.label {
  float: left;
}

.span {
  display: block;
  overflow: hidden;
  padding: 0px 4px 0px 6px;
}