<div class="row" style="margin-bottom: 10px;">

  <div class="col-lg-9 col-md-9 col-sm-9">
    <span> <label style="margin-right: 10px;">Show:</label></span>



    <mat-form-field>


      <mat-select #modelSelect placeholder="Select version" name="selectedProcessModel"
        (selectionChange)="selectversion()" [(ngModel)]="selectedChoice">
        <mat-option value="latestVersion">Latest version </mat-option>
        <mat-option value="All">All</mat-option>


      </mat-select>
    </mat-form-field>
    <label style="margin-right: 10px;font-weight: normal !important;">Select Checklist :-</label>
    <!-- <mat-select class="mat-dropdown-plain" style="width:250px !important; margin-right: 10px !important;"
      name="ddChecklist" [(ngModel)]="selectedChecklist" (openedChange)="openedChangeCL($event)"
      (selectionChange)="ddChecklistChange()" placeholder="Choose a checklist" required>

      <mat-option *ngFor="let c of checklistList" [value]="c" [title]="c.title">{{c.title}}
        <span style="font-weight: bold;">
          {{ ' (' + c.version + ' - ' + c.effectivE_FROM.toString().substring(0, 10) + ')'}}</span>
      </mat-option>
    </mat-select> -->

    <app-dropdown-filter (selectionChange)="ddChecklistChange($event)"
    [title]="'title'"
    [itemList]="checklistWithVersion"
    [selectedValue]="selectedChecklist"
    [placeholder]="'Choose a checklist'"></app-dropdown-filter>
    &nbsp;&nbsp;
    <!-- <mat-select class="mat-dropdown-plain" style="width:200px !important" name="ddServiceArea"
      [(ngModel)]="selectedServiceArea" (openedChange)="openedChangeSPAL($event)"
      (selectionChange)="ddServiceAreaChange()" placeholder="Filter By Service Tower" required>

      <mat-form-field class="filter-processarea">
        <input matInput (keyup)="applyFilterForMapServiceArea($event.target.value)" [(ngModel)]="searchValueSPAL"
          style="text-indent: 10px;" placeholder="Choose Service Tower">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      <mat-option *ngFor="let c of ServiceAreaList" [value]="c" [title]="c.title">{{c.title}}</mat-option>
    </mat-select> -->




    <app-dropdown-filter (selectionChange)="ddServiceAreaChange($event)"
    [title]="'title'"
    [itemList]="ServiceAreaList"
    [selectedValue]="selectedServiceArea"
    [placeholder]="'Filter by service tower'"></app-dropdown-filter>

    <!-- <mat-select class="mat-dropdown-plain" style="width:200px !important" name="ddProcessArea"
      [(ngModel)]="selectedProcessArea" (openedChange)="openedChangePAL($event)"
      (selectionChange)="ddProcessAreaChange()" placeholder="Filter By Process Area" required>

      <mat-form-field class="filter-processarea">
        <input matInput (keyup)="applyFilterForProcessArea($event.target.value)" [(ngModel)]="searchValuePAL"
          style="text-indent: 10px;" placeholder="Choose Process Area">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      <mat-option *ngFor="let c of ProcessAreaList" [value]="c" [title]="c.title">{{c.title}}</mat-option>
    </mat-select> -->

    <app-dropdown-filter (selectionChange)="ddProcessAreaChange($event)"
    [title]="'title'"
    [itemList]="ProcessAreaList"
    [selectedValue]="selectedProcessArea"
    [placeholder]="'Filter by process area'"></app-dropdown-filter>
    &nbsp;&nbsp;
    <!-- <mat-select class="mat-dropdown-plain" style="width:200px !important; margin-right: 10px;" name="ddProcess"
      (openedChange)="openedChangeMPAL($event)" [(ngModel)]="selectedProcess" (selectionChange)="ddProcessChange()"
      placeholder="Select Process" required>

      <mat-form-field class="filter-processarea">
        <input matInput (keyup)="applyFilterForProcess($event.target.value)" [(ngModel)]="searchValueMPAL"
          style="text-indent: 10px;" placeholder="Choose Process">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      <mat-option *ngFor="let c of ProcessList" [value]="c" [title]="c.title">{{c.title}}</mat-option>
    </mat-select> -->

    <app-dropdown-filter (selectionChange)="ddProcessChange($event)"
    [title]="'title'"
    [itemList]="ProcessList"
    [selectedValue]="selectedProcess"
    [placeholder]="'Filter by process'"></app-dropdown-filter>
    &nbsp;&nbsp;

    <a class="maticonbutton" (click)="btnAddQuestion_Onclick()" style="padding-top: 4px;padding-bottom: 6px;"
      matTooltip="Add a new Question">
      <mat-icon>add</mat-icon>
    </a>
    <!-- <span *ngIf="weightage.length > 0 && selectedChecklist.iS_WEIGHTAGE_APPLICABLE"> Weightage is not applicable for the checklist</span> -->
    <!-- <mat-select class="mat-dropdown-plain" style="width:200px !important" name="ddProcessModel" [(ngModel)]="selectedProcessModel"
      (selectionChange)="ddProcessModelChange()" placeholder="Filter By Process Model" required>
      <mat-option [value]="All">All</mat-option>
      <mat-option *ngFor="let c of ProcessModelList" [value]="c">{{c.name}}</mat-option>
    </mat-select> -->
  </div>
  <div class="col-lg-3 col-md-3 col-sm-3">
    <!-- <a style="margin-right: 5px !important ">Preview checklist:-</a> -->
    <button class="btn btn-primary" (click)="PreviewChecklist()" style="margin-right: 10px"> Preview checklist</button>
    <button class="btn btn-primary" (click)="ClearInputs()"> Clear all </button>
  </div>
</div>
<!-- <div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6"></div>
  <div class="col-lg-6 col-md-6 col-sm-6" style="text-align:right">
    <table *ngIf="bAddNewServiceArea" class="table-bordered" style="width:200px">
      <tr style="text-align: center">
        <td>New Service Tower</td>
      </tr>
      <tr style="text-align: center">
        <td>
          <input [(ngModel)]="newServiceArea.title" style="width:200px">
        </td>
      </tr>
      <tr style="text-align: center">
        <td>
          <textarea [(ngModel)]="newServiceArea.description" style="height:100px;width:200px"></textarea>
        </td>
      </tr>
      <tr style="text-align: center">
        <td>
          <button (click)="btnSaveServiceArea_Onclick()">Save</button>
          <button (click)="btnCancelServiceArea_Onclick()">Cancel</button>
        </td>
      </tr>
    </table>
  </div>
</div> -->
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <table mat-table [dataSource]="dataSource" class="table-bordered table-responsive-md table-striped text-align:left"
      style="width:100%">
      <ng-container matColumnDef="index">
        <th style="color: black;text-align: left;" class="index" mat-header-cell *matHeaderCellDef><strong>S.No</strong>
        </th>
        <td class="index" mat-cell *matCellDef="let element = index"> {{element + 1}} </td>
      </ng-container>
      <!-- <ng-container matColumnDef="checklisT_ID">
        <th mat-header-cell *matHeaderCellDef> Checklist name </th>
        <td mat-cell *matCellDef="let element;let id = index" style="padding:0px !important">
          {{getChecklistName(element.checklisT_ID)}}
        </td>
      </ng-container> -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef
          style="min-width: 15%; max-width: 25% !important; color: black;text-align: left;"><strong>Question
            title</strong></th>
        <!-- <td mat-cell *matCellDef="let element;let id = index" style="padding:0px !important">
          {{element.title}}
        </td> -->
        <td mat-cell *matCellDef="let element;let id = index" style="padding:0px !important">
          <!-- <input *ngIf="id == iEditIndex" type="text" id="txtTitle[{{id}}]" [(ngModel)]="element.title"
            style="width:100%;height:30px"> -->
          <textarea *ngIf="id == iEditIndex" type="text" id="txtTitle[{{id}}]" [(ngModel)]="element.title"
            style="width:100%;height:50px">
            </textarea>
          <span *ngIf="id != iEditIndex"
            style="white-space: pre-wrap; min-width: 15%;max-width: 25% !important;">{{element.title}} </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="weightagE_ID">
        <th style="color: black;text-align: left;" [hidden]="hideWeightage" mat-header-cell *matHeaderCellDef>
          <strong>Weightage</strong>
        </th>
        <td [hidden]="hideWeightage" mat-cell *matCellDef="let element;let id = index" style="padding:0px !important">
          <mat-select *ngIf="id == iEditIndex" [disabled]="element.weightage" placeholder="Weightage"
            [title]="weightage.length == 0?'Weightage is not available for checklist.Please update the weightage.' : '' "
            name="weightcategory{{i}}" [(ngModel)]="element.weightagE_ID">
            <mat-option *ngFor="let ng of weightage" [value]="ng.id" [title]="ng.weightagE_TITLE">
              {{ng.weightagE_TITLE}}
              <span style="font-weight: bold;">
                {{ '(' + ng.weightagE_SCORE + ')'}}</span>
            </mat-option>
          </mat-select>
          <span *ngIf="id != iEditIndex">{{GetWeightageTitle(element.weightagE_ID)}} </span>
        </td>
      </ng-container>
      <!-- <ng-container matColumnDef="weightagE_SCORE">
        <th [hidden]="hideWeightage" mat-header-cell *matHeaderCellDef>Weightage Score</th>
        <td [hidden]="hideWeightage" mat-cell *matCellDef="let element;let id = index" style="padding:0px !important">
          {{GetWeightageScore(element.weightagE_ID)}}-->
      <!-- <span *ngIf="id != iEditIndex">{{GetWeightageTitle(element.weightagE_ID)}} </span> -->
      <!--</td>
      </ng-container> -->
      <!-- <ng-container matColumnDef="globaL_PERSPECTIVE_ID">
        <th mat-header-cell *matHeaderCellDef> Global Category </th>
        <td mat-cell *matCellDef="let element;let id = index" style="padding:0px !important">
          {{getglobalCategoryName(element.globaL_PERSPECTIVE_ID)}}
        </td>
      </ng-container> -->
      <ng-container matColumnDef="globaL_PERSPECTIVE_ID">
        <th style="color: black;text-align: left;" mat-header-cell *matHeaderCellDef><strong>Category</strong></th>
        <td mat-cell *matCellDef="let element;let id = index" style="padding:0px !important">
          <mat-select *ngIf="id == iEditIndex" placeholder="Category" name="ddCategory{{i}}"
            [(ngModel)]="element.globaL_PERSPECTIVE_ID">
            <mat-option *ngFor="let cat of category" [value]="cat.id" [title]="cat.shorT_DESC">
              {{cat.shorT_DESC}}
            </mat-option>
          </mat-select>
          <span *ngIf="id != iEditIndex">{{GetCategoryTitle(element.globaL_PERSPECTIVE_ID)}} </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="maturitY_LEVEL">
        <th style="color: black;text-align: left;" [hidden]="hideMaturity" mat-header-cell *matHeaderCellDef>
          <strong>Maturity Level</strong>
        </th>
        <td [hidden]="hideMaturity" mat-cell *matCellDef="let element;let id = index" style="padding:0px !important">
          <mat-select *ngIf="id == iEditIndex" placeholder="Maturity Level" name="ddMaturityLevel{{i}}"
            [(ngModel)]="element.maturitY_LEVEL_ID">
            <mat-option *ngFor="let mat of maturityLevel" [value]="mat.maturitY_LEVEL_ID" [title]="mat.leveL_TITLE">
              {{mat.leveL_TITLE}}
            </mat-option>
          </mat-select>
          <span *ngIf="id != iEditIndex">{{ getMaturityLevelTitle(element.maturitY_LEVEL_ID)}} </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="effectivE_FROM">
        <th style="color: black;text-align: left; width: 250px;" mat-header-cell *matHeaderCellDef><strong>Effective
            From</strong></th>
        <td mat-cell *matCellDef="let element;let id = index" style="padding:0px !important">
          <textarea *ngIf="id == iEditIndex" [(ngModel)]="element.effectivE_FROM"
            style="width: 250px;height:30px"></textarea>
          <span *ngIf="id != iEditIndex">{{element.effectivE_FROM| date: 'dd-MMM-yyy'}}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="displaY_ORDER">
        <th style="color: black;text-align: left;" class="displaY_ORDER" mat-header-cell *matHeaderCellDef>
          <strong>Display order</strong>
        </th>
        <td class="displaY_ORDER" mat-cell *matCellDef="let element;let id = index" style="padding:10px !important">
          <mat-form-field *ngIf="id == iEditIndex" style="width:80px">
            <input type="number" [min]="1" step="any" name="txtDisplayOrder" [(ngModel)]="element.displaY_ORDER"
              matInput required>
          </mat-form-field>
          <span *ngIf="id != iEditIndex">{{element.displaY_ORDER}}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th style="width: 100px; text-align: left;font-family: calibri;" mat-header-cell *matHeaderCellDef>
        </th>
        <td style="text-align:center" mat-cell *matCellDef="let element;let id=index">
          <span *ngIf="id != iEditIndex">
            &nbsp;
            &nbsp;
            <a class="link" title="Edit" (click)="EditRow_onClick(element, id)" style="cursor: pointer;">
              <i class="fa fa-edit"></i>
            </a>
          </span>
          <span *ngIf="id === iEditIndex">
            <a class="text-success link" title="Save" (click)="SaveRow_onClick(element)" style="cursor: pointer;">
              <i class="fa fa-save"></i>
            </a>
            &nbsp;
            <a class="link" title="Delete" (click)="DeleteRow_onClick(element)" style="cursor: pointer;color: red;">
              <i class="fa fa-trash"></i>
            </a>
            &nbsp;
            <a class="text-success link" title="Cancel" (click)="CancelEdit_onClick()">
              <i class="fa fa-close"></i>
            </a>
          </span>
        </td>
      </ng-container>

      <!-- <ng-container matColumnDef="edit">
        <th mat-header-cell style="font-family: calibri;" *matHeaderCellDef>
        </th>
        <td mat-cell *matCellDef="let element;let id=index">
          <mat-checkbox [(ngModel)]="element.bSelected"></mat-checkbox>
        </td>
      </ng-container> -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div>
      <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
    </div>
  </div>
</div>
<!-- <div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: center">
    <button (click)="SaveRows_onClick()">Save</button>
    <button>Cancel</button>
  </div>
</div> -->
