.process-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .process-full-width {
    width: 100%;
  }
  div{
    font-family: "Calibri"
  }
  h4{
    font-family: "Calibri"
  }

  .link {
    cursor: pointer;
    text-decoration: none;
    font-size:25px;
    color:steelblue;
    vertical-align: middle;
    text-align: center;
}
.icon
{
  cursor: pointer;
    text-decoration: none;
    font-size:17px;
    color:steelblue;
    vertical-align: middle;
    text-align: center;
}

table {
  border-collapse: collapse;
}

// th,td{
//   padding: 2px;
//   line-height: 1.2;
// }

.table th, .table td
{
  padding: 2px;
  vertical-align: top;
}

.mat-cell
{
  font-size: 12px;
}

tr:nth-child(even){
  background-color: #ffffff;
}
tr:nth-child(odd){
  background-color: #f1f6fa; //#f3f3f3;
}

td.mat-cell:first-child{
  padding-left: 0px;
}

::-webkit-input-placeholder{
  font-size : 14px;
}

td.mat-cell:first-child, td.mat-footer-cell:first-child, th.mat-header-cell:first-child {
   padding-left: 0px; 
}
table{
  width: 100%
}

tr .mat-row{
  height:30px !important;
 }

 .mat-row{
  height:30px !important;
 }
 td.mat-cell:first-child{
     padding: 5px !important;
 }
 tr.mat-header-row {
  font-size: 12px;
  font-weight: bold;
  background-color: #c6ddf9;
  height: 25px;
}
.col-lg-6, .col-md-6, .col-sm-6 {
  margin: 0px !important;
  padding-right:0px;
  padding-left:0px;
}
th.mat-header-cell{
  text-align: center;
}