<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed navicon" (click)="_util.ToggleSideNav()">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" routerLink="/newdashboard/custm">
      <div class="gavs_logo"></div>
    </a>
  </div>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <button mat-menu-item [routerLink]="['/bcm']">
      <i class="fa fa-trash" style="color: green;"></i>Business Continuous Planning
    </button>
    <ul class="nav navbar-nav navbar-right">
      <li class="user_txt">{{_util.displayname}}</li>
      <li class="dropdown">
        <ul class="user_options">
          <li>
            <a [routerLink]="['/crispscores']" style="padding:10px;">
              <i class="fa fa-cog fa_fnt" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a (click)='logout()' style="cursor:pointer;padding:10px;">
              <i class="fa fa-power-off fa_fnt" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<!-- <nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed navicon" (click)="_util.ToggleSideNav()">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <a class="navbar-brand" routerLink="/newdashboard/custm">
          <div class="gavs_logo"></div>
        </a>
    </div>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="user_txt">{{_util.displayname}}</li>
        <li class="dropdown">
          <ul class="user_options">
            <li>
              <a [routerLink]="['/crispscores']" style="padding:10px;">
                  <i class="fa fa-cog fa_fnt" aria-hidden="true"></i>
                </a>
            </li>
            <li>
              <a (click)='logout()' style="cursor:pointer;padding:10px;">
                  <i class="fa fa-power-off fa_fnt" aria-hidden="true"></i>
                </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav> -->
