<div class="example-container">
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav-content style="background-color:#FFFFFF">
      <div *ngIf="customerId" class="mainDiv">
        <div class="row" style="margin-bottom: 10px;">
          <div class="col-lg-2 col-md-2 col-sm-2">
            <img class="image" style="height:45px;padding:5px" src="assets/images/{{customerId}}.png"
              onerror="this.src='assets/images/CustomerLogo.png'">
          </div>
          <div class="col-lg-5 col-md-5 col-sm-5"></div>
          <div class="col-lg-5 col-md-5 col-sm-5" style="text-align:right">
            <div style="padding:0 15px">
              <i class="fa fa-filter link" (click)="showFilter = !showFilter"
                style="color:steelblue;font-size:20px; margin-right: 10px;cursor: pointer"></i>
              <!-- <button *ngIf="!_util.IsGAVS()" class="btn btn-warning" style="margin: 2px;">
                <a style="margin-right: 7px; text-decoration: none; color: white;" class="link"
                  [routerLink]="['/dashboard']">Link to old CSM Portal</a>
              </button> -->
              <button *ngIf="!_util.IsGAVS() && _util.IsPremier(customerId)" class="btn btn-warning"
                style="margin: 2px;">
                <a style="margin-right: 7px;margin-left: 7px; text-decoration: none; color: white;" class="link"
                  [routerLink]="['/layout/timesheetnewhome', customerId]">Time Sheets</a>
              </button>
              <img *ngIf="progress" class="image" style="height:20px;padding:0px"
                src="assets/images/loading_spinner.gif">
              <a *ngIf="!progress" (click)="Refresh_Onclick()" style="cursor: pointer">
                <mat-icon style="vertical-align: middle;color:#e0dbdb">refresh</mat-icon>
              </a>
              <a *ngIf="_util.IsPremier(customerId)" [routerLink]="['/newdashboard/port', customerId]">
                <img class="image" style="height:40px" src="assets/images/portfolio_view.png">
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4" *ngIf="_util.IsPremier(customerId)">
            <div class="healthCard">
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3">
                  <label style="height: 15px;text-align: left;font-size:12px;font-family:  Proxima Nova;letter-spacing: 0px;color: #333333;opacity: 1;">Account Health</label>
                  <hr style="margin-top: auto;width: 45px;height: 2px;background: #4B4EB1 0% 0% no-repeat padding-box;opacity: 1;margin-left: 7px">
                </div>
              </div>
              <div>
                <mat-tab-group class="goalTabGrp" [selectedIndex]="0" (selectedTabChange)="OntabChange($event.index)">
                    <mat-tab label="Need Focus"></mat-tab>
                    <mat-tab label="Under Control"></mat-tab>
                </mat-tab-group>
              </div>
              <div>
                <google-chart #chart2 [type]="healthPie" [data]="healthData" [columnNames]="healthColumn" [options]="healthOptions" [width]="healthWidth" [height]="healthHeight">
                </google-chart>
              </div>
            </div>
          </div>
          <div [ngClass]="_util.IsPremier(customerId) ? 'col-lg-8 col-md-8 col-sm-8' : 'col-lg-12 col-md-12 col-sm-12'">
            <div class="successGoalCard" [style.margin-left.px]="_util.IsPremier(customerId) ? -90 : 15" [style.width.px]="_util.IsPremier(customerId) ? 960 : 1228">
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3">
                  <label style="height: 15px;text-align: left;font-size:12px;font-family:  Proxima Nova;letter-spacing: 0px;color: #333333;opacity: 1;">My Success Goal/KPI Performance</label>
                  <hr style="margin-top: auto;width: 45px;height: 2px;background: #4B4EB1 0% 0% no-repeat padding-box;opacity: 1;margin-left: 7px">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12" style="margin-top: -35px;text-align: center;">
                  <label style="margin-right:10px;text-align: left;font-size:12px;font-family: Proxima Nova;letter-spacing: 0px;color: #4C4C47;opacity: 1;">Period:</label>
                  <mat-form-field floatLabel="never" class="no-line">
                    <mat-select [(ngModel)]="selectedPeriod" style="width:120px;" (ngModelChange)="selectedPeriod_OnChange()">
                      <mat-option value="currPeriod">Current Period</mat-option>
                      <mat-option value="lastQuarter">Last Quarter</mat-option>
                      <mat-option value="yearToMonth">Year To Month</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <label style="margin-right:20px;margin-left: -20px;text-align: left;font-size:12px;font-family: Proxima Nova;letter-spacing: 0px;color: #4C4C47;opacity: 1;">From:</label>
                  <mat-form-field floatLabel="never" class="stDate" style="margin-left: -15px;">
                    <input [min]="startDate" [max]="endDate" matInput [(ngModel)]="fromDate" name="dateStart" [matDatepicker]="pickerStartDate">
                    <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
                    <mat-datepicker #pickerStartDate></mat-datepicker>
                  </mat-form-field>
                  <label style="margin-right:-20px;margin-left: 10px;text-align: left;font-size:12px;font-family: Proxima Nova;letter-spacing: 0px;color: #4C4C47;opacity: 1;">To:</label>
                  <mat-form-field floatLabel="never" class="edDate" style="margin-left: 25px;">
                    <input [min]="startDate" [max]="endDate" matInput [(ngModel)]="toDate" name="dateEnd" [matDatepicker]="pickerEndDate">
                    <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
                    <mat-datepicker #pickerEndDate></mat-datepicker>
                  </mat-form-field>
                  <button class="primary" (click)="periodSelectionChange(selectedPeriod)">Apply</button>
                </div>
                
              </div>
              <div class="row">
               <div class="col-lg-3 col-md-3 col-sm-3" style="top: -25px;">
                 <div class="title" style="text-align: center;">
                   <label style="height: 15px;text-align: left;font-size:12px;font-family: Proxima Nova;letter-spacing: 0px;color: #333333;opacity: 1;">My Success Goal Score</label>
                 </div>
                 <div class="secondaryTitle" style="text-align: center;">
                  <label style="height:15px;text-align: left;font-size:10px;font-family: Proxima Nova;letter-spacing: 0px;color: #4C4C47;opacity: 1;">{{selectedPeriod}}:{{lblfromDate}} - {{lbltoDate}}</label>
                </div>
                 <div class="gaugeChart" style="text-align:-webkit-center;">
                  <google-chart #chart2 [type]="gaugeType" [data]="gaugeData" [columnNames]="gaugeColumn" [options]="gaugeOptions" [width]="gaugeWidth" [height]="gaugeHeight">
                  </google-chart>
                 </div>
               </div>
               <div class="col-lg-3 col-md-3 col-sm-3" style="width:200px;">
                 <div class="kpiPrespective">
                   <label style="height: 15px;text-align: left;font: normal normal medium 12px/15px Proxima Nova;letter-spacing: 0px;color: #333333;opacity: 1;">KPI Prespective <i class="fa fa-info-circle"></i></label>
                 </div>
                 <div style="margin-top:5px">
                  <label class="progressText">Performance {{performance}}</label>
                   <mat-progress-bar class="performanceBar" style="height: 6px;opacity: 1;" mode="determinate" [value]="performanceBar"></mat-progress-bar>
                 </div>
                 <div style="margin-top:5px">
                  <label class="progressText">Quality {{quality}}</label>
                  <mat-progress-bar class="qualityBar" style="height: 6px;opacity: 1;" mode="determinate" [value]="qualityBar"></mat-progress-bar>
                </div>
                <div  style="margin-top:5px">
                  <label class="progressText">Compilance {{compliance}}</label>
                  <mat-progress-bar class="compilanceBar" style="height: 6px;opacity: 1;" mode="determinate" [value]="compilanceBar"></mat-progress-bar>
                </div>
                <div style="margin-top:5px">
                  <label class="progressText">Value {{value}}</label>
                  <mat-progress-bar class="valueBar" style="height: 6px;opacity: 1;" mode="determinate" [value]="valueBar"></mat-progress-bar>
                </div>
               </div>
               <div class="col-lg-6 col-md-6 col-sm-6" *ngIf="projectScores?.length > 0" style="left:25px;">
                <table class="successgoalTable">
                  <thead>
                    <tr>
                      <th style="width: 110px;max-width: 110px !important;padding-left: 5px;">Project</th>
                      <!-- <th style="width: 70px; max-width: 70px !important; text-align: center;">Period</th> -->
                      <th style="width: 80px; max-width: 80px !important;text-align: center; ">Achievement</th>
                    </tr>
                  </thead>
                  <tbody style="font-size: 12px;">
                    <tr *ngFor="let proj of projectScores" style="background: #FAFAFA 0% 0% no-repeat padding-box;border: 1px solid #E5E5E5;">
                      <td style="width: 110px;max-width: 110px !important;cursor: pointer;font-size:11px;overflow-x: hidden! important;white-space: nowrap; text-overflow: ellipsis;padding-left: 5px;text-decoration: none;outline: 0"
                        [routerLink]="['/successgoal/goals', proj.cusT_ID, proj.proJ_ID, sMonth, iYear]" [matTooltip]='proj.proJ_NM'>
                        {{proj.proJ_NM}}
                      </td>
                      <!-- <td style="width: 80px;max-width: 80px !important; overflow-x: hidden;text-align: center;overflow-x: hidden! important;white-space: nowrap; text-overflow: ellipsis;">{{proj.customeR_NM}}</td> -->
                      <!-- <td style="width: 70px;max-width: 70px !important;text-align: center;">{{ sMonth + ', ' + iYear }}</td> -->
                      <td style="color: black; font-weight: 900;text-align: center; overflow: visible; width: 80px !important;max-width: 80px !important;">
                        <!-- <img *ngIf="proj.score.split('%')[0] >= 98" src="assets/images/like (3).png">
                        <img *ngIf="proj.score.split('%')[0] >= 90 && proj.score.split('%')[0] < 98" src="assets/images/thumbs-down-silhouette.png">
                        <img *ngIf="proj.score.split('%')[0] < 90" src="assets/images/thumbs-down-silhouette.png"> {{proj.score}} -->
                        {{proj.score }}
                      </td>
                    </tr>
                  </tbody>
                </table>
               </div>
              </div>
            </div>
          </div>
          
        </div>
        <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="riskIssueCard">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <label
                    style="margin-left:5px;height: 15px;text-align: left;font: normal normal medium 12px/15px Proxima Nova;letter-spacing: 0px;color: #333333;opacity: 1;">Risk
                  </label>
                  <hr
                    style="margin-top: auto;width: 45px;height: 2px;background: #4B4EB1 0% 0% no-repeat padding-box;opacity: 1;margin-left: 7px">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4" style="float: right;">
                  <label
                    style="margin-left:5px;height: 15px;text-align: left;font: normal normal medium 12px/15px Proxima Nova;letter-spacing: 0px;color: #333333;opacity: 1;">Issues
                  </label>
                  <hr
                    style="margin-top: auto;width: 45px;height: 2px;background: #4B4EB1 0% 0% no-repeat padding-box;opacity: 1;margin-left: 7px">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div *ngIf="isRisksEmpty" style="height:85px; width: 170px;font-size: 13px;color:black">
                    <span style="display: block;padding-top: 25px;padding-left: 10px; text-align: center">
                      No Risks
                    </span>
                  </div>
                  <div *ngIf="!isRisksEmpty" style="position: relative;">
                    <div style="position: relative">
                      <div style="height: 85px; width: 170px;">
                        <google-chart #chart2 [type]="typeR" [data]="dataR" [columnNames]="columnNamesR"
                          [options]="optionsR" [width]="widthR" [height]="heightR">
                        </google-chart>
                      </div>
                      <div class="totalLabel">
                        {{totalRisks}} Total Risks
                      </div>
                      <div style="margin-top:15px;float:right;">
                        <table style="border-collapse: separate;border-spacing: 2px">
                          <tr>
                            <td
                              style="background-color: #FF8383; text-align: center; height: 20px;width: 30px;border-radius: 2px;">
                              <span
                                style="text-align: left;font: normal normal 600 12px/15px Proxima Nova;letter-spacing: 0px;color: #FFFFFF;opacity: 1;">
                                {{riskHigh}}
                              </span>
                            </td>
                            <td
                              style="background-color: #EDB51D;text-align: center; height: 20px;width: 30px;border-radius: 2px;">
                              <span
                                style="text-align: left;font: normal normal 600 12px/15px Proxima Nova;letter-spacing: 0px;color: #FFFFFF;opacity: 1;">
                                {{riskMedium}}
                              </span>
                            </td>
                            <td
                              style="background-color: #7BD173; text-align: center; height: 20px;width: 30px;border-radius: 2px;">
                              <span
                                style="text-align: left;font: normal normal 600 12px/15px Proxima Nova;letter-spacing: 0px;color: #FFFFFF;opacity: 1;">
                                {{riskLow}}
                              </span>
                            </td>
                          </tr>
                          <tr style="font-size: 10px">
                            <td style="text-align: center">High</td>
                            <td style="text-align: center">Med</td>
                            <td style="text-align: center">Low</td>
                          </tr>
                        </table>
                      </div>
  
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <!-- <div class="conatiner1" style="width: 178px;height: 55px;border: 1px solid var(--unnamed-color-e5e5e5);background: #F5F5FC 0% 0% no-repeat padding-box;border: 1px solid #E5E5E5;opacity: 1;">
                    <div class="col-lg-4 col-md-4 col-sm-4" style="margin-top:5px;margin-left:2px;width: 32px;height: 25px;background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;background: #FFFFFF 0% 0% no-repeat padding-box;border: 1px solid #EFEFEF;opacity: 1;">
                    <span>12</span>
                    </div>
                    <span class="col-lg-8 col-md-8 col-sm-8" style="height: 15px;text-align: left;font: normal normal 600 12px/15px Proxima Nova;letter-spacing: 0px;color: #4B4EB1;opacity: 1;">Risks Due
                    <br><span style="height: 15px;text-align: left;font: normal normal normal 12px/15px Proxima Nova;letter-spacing: 0px;color: #4C4C47;opacity: 1;">Risk Treatment Plan</span></span>
                  </div>
                  <div class="conatiner2" style="margin-top:3px;width: 178px;height: 55px;border: 1px solid var(--unnamed-color-e5e5e5);background: #F5F5FC 0% 0% no-repeat padding-box;border: 1px solid #E5E5E5;opacity: 1;">
                   <div class="col-lg-4 col-md-4 col-sm-4" style="margin-top:5px;margin-left:2px;width: 32px;height: 25px;background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;background: #FFFFFF 0% 0% no-repeat padding-box;border: 1px solid #EFEFEF;opacity: 1;">
                  <span>8</span>
                  </div>
                   <span class="col-lg-8 col-md-8 col-sm-8" style="height: 15px;text-align: left;font: normal normal 600 12px/15px Proxima Nova;letter-spacing: 0px;color: #4B4EB1;opacity: 1;">Issues
                    <br><span style="height: 15px;text-align: left;font: normal normal normal 12px/15px Proxima Nova;letter-spacing: 0px;color: #4C4C47;opacity: 1;">Potential Risk</span></span>
                 </div>
                 <div class="conatiner3" style="margin-top:3px;width: 178px;height: 55px;border: 1px solid var(--unnamed-color-e5e5e5);background: #F5F5FC 0% 0% no-repeat padding-box;border: 1px solid #E5E5E5;opacity: 1;">
                   <div class="col-lg-4 col-md-4 col-sm-4" style="margin-top:5px;margin-left:2px;width: 32px;height: 25px;background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;background: #FFFFFF 0% 0% no-repeat padding-box;border: 1px solid #EFEFEF;opacity: 1;">
                  <span>12</span></div>
                   <span class="col-lg-8 col-md-8 col-sm-8" style="height: 15px;text-align: left;font: normal normal 600 12px/15px Proxima Nova;letter-spacing: 0px;color: #4B4EB1;opacity: 1;">Risks
                    <br><span style="height: 15px;text-align: left;font: normal normal normal 12px/15px Proxima Nova;letter-spacing: 0px;color: #4C4C47;opacity: 1;">Likely to become Issue</span></span>
                 </div> -->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div *ngIf="isIssuesEmpty" style="height:85px; width: 170px;font-size: 13px;color:black">
                    <span style="display: block;padding-top: 25px;padding-left: 10px; text-align: center">
                      No Issues
                    </span>
                  </div>
                  <div *ngIf="!isIssuesEmpty" style="position: relative">
                    <div style="position: relative">
                      <div style="height: 85px; width: 170px;">
                        <google-chart #chart2 [type]="typeI" [data]="dataI" [columnNames]="columnNamesI" [options]="optionsI" [width]="widthI" [height]="heightI">
                        </google-chart>
                      </div>
                      <div class="totalLabel">
                        {{totalIssues}} Total Issues
                      </div>
                      <div style="margin-top:15px;float:right;">
                        <table style="border-collapse: separate;border-spacing: 2px">
                          <tr>
                            <td
                              style="background-color: #FF8383; text-align: center; height: 20px;width: 30px;border-radius: 2px;">
                              <span
                                style="text-align: left;font: normal normal 600 12px/15px Proxima Nova;letter-spacing: 0px;color: #FFFFFF;opacity: 1;">
                                {{issueHigh}}
                              </span>
                            </td>
                            <td
                              style="background-color: #EDB51D;text-align: center; height: 20px;width: 30px;border-radius: 2px;">
                              <span
                                style="text-align: left;font: normal normal 600 12px/15px Proxima Nova;letter-spacing: 0px;color: #FFFFFF;opacity: 1;">
                                {{issueMedium}}
                              </span>
                            </td>
                            <td
                              style="background-color: #7BD173; text-align: center; height: 20px;width: 30px;border-radius: 2px;">
                              <span
                                style="text-align: left;font: normal normal 600 12px/15px Proxima Nova;letter-spacing: 0px;color: #FFFFFF;opacity: 1;">
                                {{issueLow}}
                              </span>
                            </td>
                          </tr>
                          <tr style="font-size: 10px">
                            <td style="text-align: center">High</td>
                            <td style="text-align: center">Med</td>
                            <td style="text-align: center">Low</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4" style="top:-30px;left:5px">
                  <div *ngIf="!isRiskAreaEmpty"
                  style="height:85px; width: 170px;font-size: 13px;color:black">
                  <span style="display: block;padding-top: 25px;padding-left: 10px; text-align: center">
                    No Risks Identified in Last 6 Months
                  </span>
                </div>
                <div *ngIf="isRiskAreaEmpty">
                  <google-chart #chart2 [type]="riskTypeArea" [data]="riskDataArea" [columnNames]="riskColumnNamesArea"
                    [options]="riskOptionsArea" [width]="riskAreaWidth" [height]="riskAreaHeight">
                  </google-chart>
                </div>
                <div *ngIf="isRiskAreaEmpty"> 
                  <label
                    style="margin-left:20px;height: 30px;text-align: center;font: normal normal normal 12px/15px Proxima Nova;letter-spacing: 0px;color: #000000;opacity: 1;">
                    Risks Identified in Last 6 Months</label>
                </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                 <i class="fa fa-info-circle"></i>
                 <a (click)="openRiskPopUp()" style="text-align: left;font-size:12px;font-family: Proxima Nova;letter-spacing: 0px;color: #4B4EB1;opacity: 1;cursor: pointer;">View Risk Heat Map</a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4" style="top:-30px;left:5px">
                  <div *ngIf="!isIssueAreaEmpty"
                  style="height:85px; width: 170px;font-size: 13px;color:black">
                  <span style="display: block;padding-top: 25px;padding-left: 10px; text-align: center">
                    No Issues Closed in Last 6 Months
                  </span>
                </div>
                <div *ngIf="isIssueAreaEmpty">
                  <google-chart #chart2 [type]="issueTypeArea" [data]="issueDataArea" [columnNames]="issueColumnNamesArea"
                    [options]="issueOptionsArea" [width]="issueAreaWidth" [height]="issueAreaHeight">
                  </google-chart>
                </div>
                <div *ngIf="isIssueAreaEmpty"> 
                  <label
                    style="margin-left:20px;height: 30px;text-align: center;font: normal normal normal 12px/15px Proxima Nova;letter-spacing: 0px;color: #000000;opacity: 1;">Resolved
                    Issues Closed in Last 6 Months</label>
                </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                  <i class="fa fa-info-circle" style="margin-left: -25px;"></i>
                  <a (click)="openIssuePopUp()" style="text-align: left;font-size:12px;font-family: Proxima Nova;letter-spacing: 0px;color: #4B4EB1;opacity: 1;cursor: pointer;">View Issue Progress Status</a>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6" style="top:-40px;left:250px;font-size: 9px; color: #94d3f1;">
                  <a style="cursor: pointer; text-decoration: none" (click)="changflagPath()"
                          [routerLink]="['/layout/risk', customerId]">
                          <u>View Details</u>
                        </a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6" style="top:-40px;left:250px;font-size: 9px; color: #94d3f1;">
                  <a style="cursor: pointer; text-decoration: none" (click)="changflagPath()"
                          [routerLink]="['/layout/issues', customerId]">
                          <u>View Details</u>
                        </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="containerCard">
              <div style="margin-bottom: 20px; height: 130px; width: 380px;">
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <label
                      style="margin-left:5px;height: 15px;text-align: left;font: normal normal medium 12px/15px Proxima Nova;letter-spacing: 0px;color: #333333;opacity: 1;">Action
                      Items</label>
                    <hr
                      style="margin-top: auto;width: 45px;height: 2px;background: #4B4EB1 0% 0% no-repeat padding-box;opacity: 1;margin-left: 7px">
                  </div>
                </div>
                <div class="row" *ngIf="isActionItemsEmpty"
                  style="height:85px; width: 170px;font-size: 13px;color:black">
                  <span style="display: block;padding-top: 25px;padding-left: 10px; text-align: center">
                    No Action Items
                  </span>
                </div>
                <div *ngIf="!isActionItemsEmpty" style="position: relative">
                  <div style="position: relative;">
                    <div style="height: 85px; width: 170px;">
                      <google-chart #chart2 [type]="type6" [data]="data6" [columnNames]="columnNames6"
                      [options]="options6" [width]="width6" [height]="height6">
                    </google-chart>
                    </div>
                    <div class="totalLabel">
                      {{totalActionItems}} Total Action Items
                    </div>
                    <div style="margin-right: 80px;margin-top:10px;float:right;">
                      <table style="border-collapse: separate;border-spacing: 2px">
                        <tr>
                          <td
                            style="background-color: #FF8383; text-align: center; height: 20px;width: 30px;border-radius: 2px;">
                            <span
                              style="text-align: left;font: normal normal 600 12px/15px Proxima Nova;letter-spacing: 0px;color: #FFFFFF;opacity: 1;">
                              {{actionItemHigh}}
                            </span>
                          </td>
                          <td
                            style="background-color: #EDB51D;text-align: center; height: 20px;width: 30px;border-radius: 2px;">
                            <span
                              style="text-align: left;font: normal normal 600 12px/15px Proxima Nova;letter-spacing: 0px;color: #FFFFFF;opacity: 1;">
                              {{actionItemMedium}}
                            </span>
                          </td>
                          <td
                            style="background-color: #7BD173; text-align: center; height: 20px;width: 30px;border-radius: 2px;">
                            <span
                              style="text-align: left;font: normal normal 600 12px/15px Proxima Nova;letter-spacing: 0px;color: #FFFFFF;opacity: 1;">
                              {{actionItemLow}}
                            </span>
                          </td>
                        </tr>
                        <tr style="font-size: 10px">
                          <td style="text-align: center">High</td>
                          <td style="text-align: center">Med</td>
                          <td style="text-align: center">Low</td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-8 col-md-8 col-sm-8" style="top:-30px;left:5px">
                    <div class="row" *ngIf="!isActionAreaItemsEmpty"
                    style="height:85px; width: 170px;font-size: 13px;color:black">
                    <span style="display: block;padding-top: 25px;padding-left: 10px; text-align: center">
                      No Action Items Closed in Last 6 Months
                    </span>
                  </div>
                  <div *ngIf="isActionAreaItemsEmpty">
                    <google-chart #chart2 [type]="typeArea1" [data]="dataArea1" [columnNames]="columnNamesArea1"
                      [options]="optionsArea1" [width]="AreaWidth1" [height]="AreaHeight1">
                    </google-chart>
                  </div>
                  <div *ngIf="isActionAreaItemsEmpty"> 
                    <label
                      style="margin-left:20px;width: 114px;height: 30px;text-align: center;font: normal normal normal 12px/15px Proxima Nova;letter-spacing: 0px;color: #000000;opacity: 1;">Resolved
                      Action Items in Last 6 Months</label>
                  </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4"
                        style="top:60px;font-size: 9px; color: #94d3f1; float: right; ">
                        <a style="cursor: pointer; text-decoration: none" (click)="changflagPath()"
                          [routerLink]="['/layout/actionitems', customerId]">
                          <u>View Details</u>
                        </a>
                      </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="contractCard" [style.margin-top.px]="_util.IsPremier(customerId) ? 0 : -15">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <label
                    style="margin-left:3px;height: 15px;text-align: left;font: normal normal medium 12px/15px Proxima Nova;letter-spacing: 0px;color: #333333;opacity: 1;">
                    Contract Status</label>
                  <hr
                    style="margin-top: auto;width: 45px;height: 2px;background: #4B4EB1 0% 0% no-repeat padding-box;opacity: 1;margin-left: 7px">
                </div>
              </div>
              <div class="row">
                <label style="margin-left:50px;height: 17px;text-align: left;font: normal normal normal 14px/17px Proxima Nova;letter-spacing: 0px;color: #333333;opacity: 1;">No. Of Talents releasing in 3 Months</label>
              </div>
              <div class="row" style="margin-left: 45px;text-align: center;">
                <div class="col-lg-4 col-md-4 col-sm-4" style="height: 39px;opacity: 1;">
                  <span style="width: 16px;height: 20px;text-align: center;text-decoration: underline;font: normal normal medium 16px/20px Proxima Nova;letter-spacing: 0px;color: #4B4EB1;opacity: 1;">{{pmCount}}</span>
                  <div style="white-space: nowrap;height: 15px;text-align: center;font: normal normal normal 12px/15px Proxima Nova;letter-spacing: 0px;color: #4C4C47;opacity: 1;">Project Managers</div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4" style="height: 39px;opacity: 1;">
                  <span style="width: 16px;height: 20px;text-align: center;text-decoration: underline;font: normal normal medium 16px/20px Proxima Nova;letter-spacing: 0px;color: #4B4EB1;opacity: 1;">{{memberCount}}</span>
                  <div style="white-space: nowrap;height: 15px;text-align: center;font: normal normal normal 12px/15px Proxima Nova;letter-spacing: 0px;color: #4C4C47;opacity: 1;">Team Members</div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4" style="height: 39px;opacity: 1;left: -20px;">
                  <span style="width: 16px;height: 20px;text-align: center;text-decoration: underline;font: normal normal medium 16px/20px Proxima Nova;letter-spacing: 0px;color: #4B4EB1;opacity: 1;">{{qualityCount}}</span>
                  <div style="height: 15px;text-align: center;font: normal normal normal 12px/15px Proxima Nova;letter-spacing: 0px;color: #4C4C47;opacity: 1;">Quality</div>
                </div>
              </div>
              <div class="row">
                <div *ngIf="isProjectStatusEmpty" style="height:50px;font-size: 12px;color:black">
                  <span style="display: block;padding-top: 20px;text-align: center">
                    No Projects/Contracts to start or close in next 3 months
                  </span>
                </div>
                <div *ngIf="!isProjectStatusEmpty" style="position: relative;">
                  <div style="position: relative; margin-top: 5px;">
                    <!-- <div style="height: 65px; width: 170px;">
                      <google-chart #chart2 [type]="type5" [data]="data5" [columnNames]="columnNames5" [options]="options5" [width]="width5" [height]="height5">
                      </google-chart>
                    </div> -->
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-6" style="text-align:-webkit-center;">
                        <div class="circle1"><span style="font-size: 12px;color: #000000;font-family: Proxima Nova;text-align: center;">{{projectToEnd}}</span></div>
                        <div class="vertical1" style="border-left: 2px solid #E6AC0C;width: 1px;height: 15px;opacity:1;"></div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6" style="text-align:-webkit-center;">
                        <div class="circle2"><span style="font-size: 12px;color: #000000;font-family: Proxima Nova;text-align: center;">{{projectToStart}}</span></div>
                        <div class="vertical2" style="border-left: 2px solid #54AF4C;width: 1px;height: 15px;opacity:1;"></div>
                      </div>
                      
                    </div>
                    <hr style="width: 274px;height: 5px;margin-top: -25px;
                    background: transparent linear-gradient(90deg, #F7B370 0%, #C9B358 27%, #99B874 65%, #9EE396 100%) 0% 0% no-repeat padding-box;
                    opacity: 1;">
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-6" style="text-align: center;">
                        <label class="projects">Projects</label><br>
                        <label class="prjStatus">Closing in 3 Months</label>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6" style="text-align: center;">
                        <label class="projects">Projects</label><br>
                        <label class="prjStatus">Starts in 3 Months</label>
                      </div>
                    </div>
                    <!-- <div class="centreLabel">
                      {{totalProjects}}
                    </div> -->
                  </div>
                  <div style="margin-top:20px;font-size: 9px; color: #94d3f1;float: right;margin-right: 4px;">
                    <a style="cursor: pointer; text-decoration: none" (click)="GetProjectForecast(selectedCustomer.cusT_ID)">
                      <u>View Details</u>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
