<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <app-navbar-new [ShowMenu]="false"></app-navbar-new>
 <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
  <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
    side nav
  </mat-sidenav>
  <mat-sidenav-content style="padding:2px;">
    <div style="font-size:20px;text-align:center">CSS Verification</div>  
    <div style="height: 30%;overflow-y: scroll;">
      <table mat-table [dataSource]="Batches" class="table table-bordered" style="font-size:12px; margin: 10px; width: 98%!important;">
        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell [ngClass]="'indexWidth'" *matCellDef="let element = index">
            <a style="color: #0000FF; cursor: pointer;"  >
              {{element + 1}} </a>
          </td>
        </ng-container>
        <ng-container matColumnDef="frequency">
          <th mat-header-cell *matHeaderCellDef>Frequency</th>
          <td mat-cell *matCellDef="let element"><a style="color: #0000FF;" class="link">
              {{ element.frequency }}</a></td>
        </ng-container>
        <ng-container matColumnDef="starT_DATE">
          <th mat-header-cell *matHeaderCellDef> Start Date </th>
          <td mat-cell *matCellDef="let element">
            <a style="color: #0000FF; cursor: pointer;"  >
              {{element.starT_DATE|date:'dd-MMM-yyy'}} </a>
          </td>
        </ng-container>
        <ng-container matColumnDef="enD_DATE">
          <th mat-header-cell *matHeaderCellDef> End Date </th>
          <td mat-cell *matCellDef="let element">
            <a style="color: #0000FF; cursor: pointer;"  >
              {{element.enD_DATE|date:'dd-MMM-yyy'}} </a>
          </td>
        </ng-container>
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef> Category </th>
          <td mat-cell *matCellDef="let element">
            <a style="color: #0000FF; cursor: pointer;"  >
              {{element.category}}</a>
          </td>
        </ng-container>
         <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element">
            <a style="color: #0000FF; cursor: pointer;"  >
              {{element.status}}</a>
          </td>
        </ng-container>
        <ng-container matColumnDef="totaL_RECORDS">
          <th mat-header-cell *matHeaderCellDef>Total</th>
          <td mat-cell *matCellDef="let element"><a style="color: #0000FF; cursor: pointer;"  >
            {{ element.totaL_RECORDS }} </a></td>
        </ng-container>
        <ng-container matColumnDef="pending">
          <th mat-header-cell *matHeaderCellDef>Pending</th>
          <td mat-cell *matCellDef="let element"><a style="color: #0000FF; cursor: pointer;"  >
            {{ element.pending }} </a></td>
        </ng-container>
        <ng-container matColumnDef="verified">
          <th mat-header-cell *matHeaderCellDef>Verified</th>
          <td mat-cell *matCellDef="let element"><a style="color: #0000FF; cursor: pointer;"  >
            {{ element.verified }} </a></td>
        </ng-container>
        <ng-container matColumnDef="rejected">
          <th mat-header-cell *matHeaderCellDef>Rejected</th>
          <td mat-cell *matCellDef="let element"><a style="color: #0000FF; cursor: pointer;"  >
            {{ element.rejected }} </a></td>
        </ng-container>
        <ng-container matColumnDef="surveY_SENT">
          <th mat-header-cell *matHeaderCellDef>Sent</th>
          <td mat-cell *matCellDef="let element"><a style="color: #0000FF; cursor: pointer;"  >
            {{ element.surveY_SENT }} </a></td>
        </ng-container>
        <ng-container matColumnDef="surveY_RECD">
          <th mat-header-cell *matHeaderCellDef> Received </th>
          <td mat-cell *matCellDef="let element"><a style="color: #0000FF; cursor: pointer;"  >
            {{ element.surveY_RECD }}</a></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="batchColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let element; columns: batchColumns;" (click)="ViewBatch_onClick(element)"
          [ngClass]="{'selected-row': isSelectedRow(element)}"></tr>
      </table>
    </div>
    <div class="row" style="margin-top: 5px;">
      <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="row">
      <div style="float: left; margin-left: 10px; margin-bottom: -10px;">
        <mat-form-field style="padding-bottom: 0%!important;">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" />
        </mat-form-field>
      </div>
      <div style="float: left; margin-left: 40px;">
        <span style="font-size: 12px; color: #0000FF;">* For all eligible projects Customer has be configured and survey has to be sent. If you want to skip any eligible project please initiate skip CSAT request with reason for approval</span>
      </div>
      <div style="float: right; margin-right: 10px; display: flex; align-items: center; gap: 10px;">
        <a class="iconbutton" title="Export to Excel" (click)="exportToExcel()" 
           style="border: none; background: none; padding: 0; display: flex; align-items: center;">
            <i class="fa fa-file-excel-o" style="color: #207346; font-size: 22px;"></i>
        </a>
    
        <button type="submit" class="btn btn-success" [disabled]="isVerificationInProgress" (click)="ApproveOnClick()">Approve</button>
    
        <button type="submit" class="btn btn-warning" [disabled]="isVerificationInProgress" (click)="RejectOnClick()">Reject</button>
    </div>
    
    </div>
    <div style="margin-top: 0px; height: 58%; overflow-y: scroll;">    
      <div class="example-container1" style="margin-top:10px;margin-bottom: 5px">
        <table #tableToExport mat-table matSort [dataSource]="dataSource" class="table table-bordered" style="font-size:12px; ; margin: 10px; width: 98%!important;">
          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox *ngIf="row.status != 'COMPLETED'" (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>
          <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell [ngClass]="'indexWidth'" *matCellDef="let element = index"> {{element + 1}} </td>
          </ng-container>
          <ng-container matColumnDef="CUST_NM">
            <th mat-header-cell *matHeaderCellDef> Customer </th>
            <td mat-cell *matCellDef="let element"> {{element.cusT_NM}} </td>
          </ng-container>
          <ng-container matColumnDef="PROJ_NM">
            <th mat-header-cell *matHeaderCellDef> Project </th>
            <td mat-cell *matCellDef="let element"> {{element.proJ_NM}} </td>
          </ng-container>
          <ng-container matColumnDef="CSS_Eligible">
            <th mat-header-cell *matHeaderCellDef> Eligible </th>
            <td mat-cell *matCellDef="let element"> {{element.csS_Eligible}} </td>
          </ng-container>
          <ng-container matColumnDef="REASON">
            <th mat-header-cell *matHeaderCellDef> Reason </th>
            <td mat-cell *matCellDef="let element"> {{element.reason}} </td>
          </ng-container>
          <ng-container matColumnDef="HEAD_COUNT">
            <th mat-header-cell *matHeaderCellDef> Head Count </th>
            <td mat-cell *matCellDef="let element"> {{element.heaD_COUNT}} </td>
          </ng-container>
          <ng-container matColumnDef="CSS_CONFIGURED">
            <th mat-header-cell *matHeaderCellDef> CSS Configured</th>
            <td mat-cell *matCellDef="let element"> {{element.csS_CONFIGURED}} </td>        
          </ng-container>
          <ng-container matColumnDef="CUSTOMER_CONTACT_VERIFICATION">
            <th mat-header-cell *matHeaderCellDef> Customer Contact Verification </th>
            <td mat-cell *matCellDef="let element"> {{getStatusText(element)}} </td>       
          </ng-container>
          <ng-container matColumnDef="VERIFICATION_COMMENTS">
            <th mat-header-cell *matHeaderCellDef> Verification Comments </th>
            <td mat-cell *matCellDef="let element"> {{element.verificatioN_COMMENTS}} </td>
          </ng-container>
          <ng-container matColumnDef="VERIFIED_BY">
            <th mat-header-cell *matHeaderCellDef> Verified By </th>
            <td mat-cell *matCellDef="let element"> {{element.verifieD_BY}} </td>
          </ng-container>
          <ng-container matColumnDef="APPROVAL_DATE">
            <th mat-header-cell *matHeaderCellDef> Approval Date </th>
            <td mat-cell *matCellDef="let element"> {{element.approvaL_DATE|date:'dd-MMM'}} </td>
          </ng-container>
          <ng-container matColumnDef="RESPONDENT_NAME">
            <th mat-header-cell *matHeaderCellDef> Respondent Name </th>
            <td mat-cell *matCellDef="let element"> {{element.respondenT_NAME}} </td>
          </ng-container>
          <ng-container matColumnDef="RESPONDENT_MAIL">
            <th mat-header-cell *matHeaderCellDef>Respondent Mail</th>
            <td mat-cell *matCellDef="let element">{{ element.respondenT_MAIL }}</td>
          </ng-container>
          <ng-container matColumnDef="ROLE">
            <th mat-header-cell *matHeaderCellDef>Role</th>
            <td mat-cell *matCellDef="let element">{{ element.role }}</td>
          </ng-container>
          <ng-container matColumnDef="ROLETYPE">
            <th mat-header-cell *matHeaderCellDef>Role Type</th>
            <td mat-cell *matCellDef="let element">
              {{ element.roleType}}
            </td>
          </ng-container>
          <ng-container matColumnDef="PROJ_STATUS">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let element">
              {{ element.proJ_STATUS}}
            </td>
          </ng-container>
          <ng-container matColumnDef="PROJECT_TYPE">
            <th mat-header-cell *matHeaderCellDef>Project Type</th>
            <td mat-cell *matCellDef="let element">         
                {{element.projecT_TYPE}}
            </td>
          </ng-container>
          <ng-container matColumnDef="BUSINESS_UNIT">
            <th mat-header-cell *matHeaderCellDef>Business Unit</th>
            <td mat-cell *matCellDef="let element">
              {{ element.businesS_UNIT}}
            </td>
          </ng-container>
          <ng-container matColumnDef="DEPARTMENT">
            <th mat-header-cell *matHeaderCellDef> Subvertical </th>
            <td mat-cell *matCellDef="let element"> {{element.department}} </td>
          </ng-container>
          <ng-container matColumnDef="PROJECT_GROUP">
            <th mat-header-cell *matHeaderCellDef> Project Group </th>
            <td mat-cell *matCellDef="let element"> {{element.projecT_GROUP}} </td>
          </ng-container>
          <ng-container matColumnDef="CONTRACTING_UNIT">
            <th mat-header-cell *matHeaderCellDef> Contracting Unit </th>
            <td mat-cell *matCellDef="let element"> {{element.contractinG_UNIT}} </td>
          </ng-container>
          <ng-container matColumnDef="REVENUE_TYPE">
            <th mat-header-cell *matHeaderCellDef> Revenue Type </th>
            <td mat-cell *matCellDef="let element"> {{element.revenuE_TYPE}} </td>
          </ng-container>
          <ng-container matColumnDef="COUNTRY">
            <th mat-header-cell *matHeaderCellDef> Country </th>
            <td mat-cell *matCellDef="let element"> {{element.country}} </td>
          </ng-container>
          <ng-container matColumnDef="METHODOLOGY">
            <th mat-header-cell *matHeaderCellDef> Methodology </th>
            <td mat-cell *matCellDef="let element"> {{element.methodology}} </td>
          </ng-container>
          <ng-container matColumnDef="TYPE_OF_ACCOUNT">
            <th mat-header-cell *matHeaderCellDef> Type Of Account </th>
            <td mat-cell *matCellDef="let element"> {{element.typE_OF_ACCOUNT}} </td>
          </ng-container>
          <ng-container matColumnDef="ACCOUNT_OWNER">
            <th mat-header-cell *matHeaderCellDef> Account Owner </th>
            <td mat-cell *matCellDef="let element"> {{element.accounT_OWNER}} </td>
          </ng-container>
          <ng-container matColumnDef="PM">
            <th mat-header-cell *matHeaderCellDef> Project Manager </th>
            <td mat-cell *matCellDef="let element"> {{element.pm}} </td>
          </ng-container>
          <ng-container matColumnDef="PM_MAIL_ID">
            <th mat-header-cell *matHeaderCellDef> PM Mail  </th>
            <td mat-cell *matCellDef="let element"> {{element.pM_MAIL}} </td>
          </ng-container>
          <ng-container matColumnDef="QUALITY_SPOC">
            <th mat-header-cell *matHeaderCellDef> Quality Spoc </th>
            <td mat-cell *matCellDef="let element"> {{element.qualitY_SPOC}} </td>
          </ng-container>
          <ng-container matColumnDef="SKIP_CSAT">
            <th mat-header-cell *matHeaderCellDef> Skip CSAT </th>
            <td mat-cell *matCellDef="let element"> {{element.skiP_CSAT}} </td>
          </ng-container>
          <ng-container matColumnDef="SKIP_CSAT_COMMENTS">
            <th mat-header-cell *matHeaderCellDef> CSAT Comments </th>
            <td mat-cell *matCellDef="let element"> {{element.skiP_CSAT_COMMENTS}} </td>
          </ng-container>
          <ng-container matColumnDef="contactS_LINK">
            <th mat-header-cell *matHeaderCellDef> Contacts Link </th>
            <td mat-cell *matCellDef="let element">
            <a class="link" (click)="openInNewTabCL(element)">
              Click Here
            </a>
          </td>
          </ng-container>
          <ng-container matColumnDef="skiP_CSAT_LINK">
            <th mat-header-cell *matHeaderCellDef> Skip CSAT Link  </th>
            <td mat-cell *matCellDef="let element">
              <a class="link" (click)="openInNewTabSC(element)">
                Click Here
              </a>

             </td>
          </ng-container>
          <!-- <ng-container matColumnDef="edit">
            <th mat-header-cell style="font-family: calibri;" [ngClass]="'editWidth'" *matHeaderCellDef>
              <div></div>
            </th>
            <td mat-cell [ngClass]="'editWidth'" *matCellDef="let element">
              <a class="link" (click)="CopyToClipboard(element)">
                <img src="\assets\images\copy.png" style="width: 20px;height: 20px" />
              </a>
            </td>
          </ng-container> -->
          <tr mat-header-row *matHeaderRowDef="batchCustomersColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: batchCustomersColumns;"></tr>
        </table>
      </div>
    </div>
  </mat-sidenav-content>   
</mat-sidenav-container>

<ng-template #commentsDialog>
  <div class="panel panel-primary" style="float: left;width: 100%;font-size: 16px;font-weight: bold;position: sticky;top: 0;background: #fff;">
    <div class="panel-heading">Rejection Comments
      <a class="link" style="cursor: pointer;right: 0;;position: absolute;color: white; margin-right:1%;" (click)="Cancel_onClick()">
        <i class="fa fa-times"></i>
      </a>
    </div> 
  </div>
  <mat-dialog-content style="width: 96%; padding: 0px!important; margin-right: 2%!important;margin-left: 2%!important;">
    <mat-form-field style="padding: 2%!important;" style="width: 100%;">
      <textarea matInput [(ngModel)]="rejectComment" style="font-size: medium;" placeholder="Comments"></textarea>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions style="display: flex;justify-content: space-around;">
    <button type="submit" class="btn btn-success" (click)="rejectSelectedCustomerVerifications()" style="margin-left: 5px;">Confirm</button>
  </mat-dialog-actions>
</ng-template>

<ng-template #confirmationDialog let-data>
  <div class="panel panel-primary" style="float: left;width: 100%;font-size: 16px;font-weight: bold;position: sticky;top: 0;background: #fff;">
    <div class="panel-heading">Confirm
      <a class="link" style="cursor: pointer;right: 0;;position: absolute;color: white; margin-right:1%;" (click)="Cancel_Confirmation_onClick()">
        <i class="fa fa-times"></i>
      </a>
    </div> 
  </div>
  <mat-dialog-content style="padding: 12px 12px 0 12px; margin: 0;">
   {{confirmationMessage}}
  </mat-dialog-content>
  <mat-dialog-actions style="display:flex; justify-content:center;">
    <button type="submit" class="btn btn-success" (click)="onYesClicked()" style="margin-left: 5px;">Yes</button>
    <button type="submit" class="btn btn-warning" (click)="onNoClicked()" style="margin-left: 5px;">No</button>
  </mat-dialog-actions>
</ng-template>

</div>


