<div class="row">
  <div class="col-lg-9 col-md-9 col-sm-9">
    <mat-select class="mat-dropdown-plain" style="width:200px !important" name="ddProcessArea" [(ngModel)]="selectedServiceArea"
      (selectionChange)="ddServiceAreaChange()" placeholder="Select Service Tower" required>
      <mat-option *ngFor="let c of ServiceAreaList" [value]="c" [title]="c.description">{{c.description}}</mat-option>
    </mat-select>

    <!-- <mat-select class="mat-dropdown-plain" style="width:200px !important" name="ddProcessModel" [(ngModel)]="selectedProcessModel"
      (selectionChange)="ddProcessModelChange()" placeholder="Filter By Process Model" required>
      <mat-option [value]="All">All</mat-option>
      <mat-option *ngFor="let c of ProcessModelList" [value]="c">{{c.name}}</mat-option>
    </mat-select> -->

    <mat-select class="mat-dropdown-plain" style="width:200px !important" name="ddProcessArea" [(ngModel)]="selectedProcessArea"
      (selectionChange)="ddProcessAreaChange()" placeholder="Filter By Process Area" required>
      <!-- <mat-option [value]="All">All</mat-option> -->
      <mat-option *ngFor="let c of ProcessAreaList" [value]="c" [title]="c.title">{{c.title}}</mat-option>
    </mat-select>

  </div>
  <div class="col-lg-3 col-md-3 col-sm-3" style="text-align:right">
    <!-- <button *ngIf="!bAddNewServiceArea" (click)="btnAddProcessArea_Onclick()">
      Add New Service Tower</button>
    <button *ngIf="!bAddNewServiceArea" (click)="btnAddProcessArea_Onclick()">
      Add New Service Tower</button>
    <button *ngIf="!bAddNewServiceArea" (click)="btnAddServiceArea_Onclick()">
      Add New Service Tower</button> -->
    <button *ngIf="!bAddNewServiceArea" (click)="btnAddServiceArea_Onclick()">
      Add New Service Tower </button>
    <table *ngIf="bAddNewServiceArea" class="table-bordered" style="width:200px" align="right">
      <tr style="text-align: center">
        <td>New Service Tower</td>
      </tr>
      <tr style="text-align: center">
        <td>
          <input [(ngModel)]="newServiceArea.title" style="width:200px">
        </td>
      </tr>
      <tr style="text-align: center">
        <td>
          <textarea [(ngModel)]="newServiceArea.description" style="height:100px;width:200px"></textarea>
        </td>
      </tr>
      <tr style="text-align: center">
        <td>
          <button (click)="btnSaveServiceArea_Onclick()">Save</button>
          <button (click)="btnCancelServiceArea_Onclick()">Cancel</button>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6"></div>
  <div class="col-lg-6 col-md-6 col-sm-6" style="text-align:right">
    <!-- <table *ngIf="bAddNewServiceArea" class="table-bordered" style="width:200px">
      <tr style="text-align: center">
        <td>New Service Tower</td>
      </tr>
      <tr style="text-align: center">
        <td>
          <input [(ngModel)]="newServiceArea.title" style="width:200px">
        </td>
      </tr>
      <tr style="text-align: center">
        <td>
          <textarea [(ngModel)]="newServiceArea.description" style="height:100px;width:200px"></textarea>
        </td>
      </tr>
      <tr style="text-align: center">
        <td>
          <button (click)="btnSaveServiceArea_Onclick()">Save</button>
          <button (click)="btnCancelServiceArea_Onclick()">Cancel</button>
        </td>
      </tr>
    </table> -->
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <table mat-table [dataSource]="ProcessList" class="table-bordered table-responsive-md table-striped text-center" style="width:100%">
      <ng-container matColumnDef="index">
        <th class="index" mat-header-cell *matHeaderCellDef> No. </th>
        <td class="index" mat-cell *matCellDef="let element = index"> {{element + 1}} </td>
      </ng-container>
      <ng-container matColumnDef="procesS_AREA_ID">
        <th mat-header-cell *matHeaderCellDef>Process Area</th>
        <td mat-cell *matCellDef="let element;let id = index" style="padding:0px !important">
          <!-- <mat-form-field *ngIf="id == iEditIndex" style="width:100%"> -->
          <mat-select *ngIf="id == iEditIndex" style="width:100%" name="ddProcessArea" [(ngModel)]="element.procesS_AREA_ID" placeholder="Select Process Area"
            required>
            <mat-option *ngFor="let c of ProcessAreaList" [value]="c.id" [title]="c.title">{{c.title}}</mat-option>
          </mat-select>
          <!-- </mat-form-field> -->
          <span *ngIf="id != iEditIndex">{{getProcessArea(element.procesS_AREA_ID)}} </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="procesS_NAME">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element;let id = index" style="padding:0px !important">
          <input *ngIf="id == iEditIndex" type="text" id="txtProcessArea[{{id}}]" [(ngModel)]="element.procesS_NAME" style="width:100%;height:30px">
          <span *ngIf="id != iEditIndex" class="index">{{element.title}}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="procesS_DESCRIPTION">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element;let id = index" style="padding:0px !important">
          <textarea *ngIf="id == iEditIndex" [(ngModel)]="element.description" style="width:100%;height:30px"></textarea>
          <span *ngIf="id != iEditIndex">{{element.description}}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell style="font-family: calibri;" *matHeaderCellDef>
        </th>
        <td mat-cell *matCellDef="let element;let id=index">
          <mat-checkbox [(ngModel)]="element.bSelected"></mat-checkbox>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: center">
    <button (click)="SaveRow_onClick()">Save</button>
    <button>Cancel</button>
  </div>
</div>