<div class="survey-main">
  <h4>Customer Success Survey & Feedback</h4>
  <a href="/success survey/">Success Surveys</a> |
  <a href="/feedback/">Feedback</a>



  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-1">
      <label for="portfolio">portfolio</label>
    </div>
      <div class="col-lg-1 col-md-1 col-sm-1">
        <select id="All portfolios">
          <option label="All portfolios">All portfolios</option>

        </select>
      </div>
    




    <div class="col-lg-1 col-md-1 col-sm-1">
      <label for="project"> project</label>
    </div>
      <div class="col-lg-1 col-md-1 col-sm-1">
        <select id="All projects">
          <option label="All projects">All projects</option>

        </select>
      </div>

   


    <div class="col-lg-1 col-md-1 col-sm-1">
      <label for="project"> From</label>
    </div>
      <div class="col-lg-1 col-md-1 col-sm-1">
        <select id="All projects">
          <option label="May 2020">May 2020</option>

        </select>
      </div>
   


    <div class="col-lg-1 col-md-1 col-sm-1">
      <label for="project"> To</label>
    </div>
      <div class="col-lg-1 col-md-1 col-sm-1">

        <select id="All projects">
          <option label="Jul 2020">Jul 2020</option>
        </select>
      </div>
    



    <div class="col-lg-1 col-md-1 col-sm-1">
      <label for="">Status</label>
    </div>
      <div class="col-lg-1 col-md-1 col-sm-1">

        <select id="All projects">
          <option label="All">All</option>
        </select>
      </div>
  

    <button class="btn btn-primary">Apply</button>


    <table class="table">
      <thead>
        <tr>
          <th scope="col">Surveys</th>
          <th scope="col">Action required</th>
          <th scope="col">Closing date</th>
          <th scope="col">Status</th>
          <th scope="col">Survey Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">FY20-21 Quarterly feedback-02</th>
          <td>Yes</td>
          <td>02/02/2020</td>
          <td>
            <p style="color:red;">Yet to start</p>
          </td>

          <td>
            <a href="/Take survey/">Take Survey>></a>
          </td>
        </tr>
        <tr>
          <th scope="row">FY20-21 Quarterly feedback-01</th>

          <td>No</td>
          <td>02/05/2020</td>
          <td>Completed</td>
          <td>View Survey>></td>
        </tr>
      </tbody>
    </table>
  </div>