<div class="row MainDashBoardcontent" >
  <div class="col-lg-12" style="margin-top: -10px;">
    <mat-progress-bar *ngIf="_cooDashboardCommon.progress != undefined && _cooDashboardCommon.progress"
      mode="indeterminate"></mat-progress-bar>
    <mat-tab-group class="goalTabGrp" [selectedIndex]="0" (selectedTabChange)="selectedTabChange($event)">
      <mat-tab label="Overall Status">
        <h5>All accounts - Overall Status</h5>
        <app-tab-overall-status></app-tab-overall-status>
      </mat-tab>
      <mat-tab label="Risk Dashboard">
        <div style="display: flex;">
          <h5 style="float: left;">Risk Dashboard</h5>
          <mat-form-field style="float: left;border: none;margin-left: 50px;margin-right: 20px;font-size: 12px;">
            <mat-select name="ddBusiness" placeholder="Business Unit" [(ngModel)]='_cooDashboardCommon.businessUnit' [disabled]="_cooDashboardCommon.progress"
              multiple #selectBusinessUnit>
              <mat-option value="-1" (click)="toggleSelectionForBusinessUnit()" #allBusinessUnitSelected>All</mat-option>
              <mat-option *ngFor="let b of overallBusinessUnit" [value]="b" [title]="b" (click)="businessUnitTosslePerOne()">
                {{b}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field style="float:left;border: none; margin-left: 2px;margin-right: 20px;font-size: 12px; ">
            <mat-select name="riskStatus" placeholder="Risk Status" [disabled]="_cooDashboardCommon.progress"
              [(ngModel)]='_cooDashboardCommon.riskStatus' multiple #select>
              <mat-option value="-1" (click)="toggleSelection()" #allSelected>All</mat-option>
              <mat-option value='Assessed' (click)="tosslePerOne()">Assessed</mat-option>
              <mat-option value='Closed' (click)="tosslePerOne()">Closed</mat-option>
              <mat-option value='Identified' (click)="tosslePerOne()">Identified</mat-option>
              <mat-option value='In-Process' (click)="tosslePerOne()">In-Process</mat-option>
              <mat-option value='Not-Occurred' (click)="tosslePerOne()">Not Occurred</mat-option>
              <mat-option value='Occurred' (click)="tosslePerOne()">Occurred</mat-option>
              <mat-option value='Planned' (click)="tosslePerOne()">Planned</mat-option>
            </mat-select>
          </mat-form-field> &nbsp;&nbsp;
          <button type="button" style="float:left;border: none; margin-top: 10px;" class="btn btn-primary"
            [disabled]="_cooDashboardCommon.progress" (click)="riskApply()">Generate</button>&nbsp;
          <button type="button" style="float:left;border: none; margin-top: 10px;" class="btn btn-warning"
            [disabled]="_cooDashboardCommon.progress" (click)="riskReset()">Reset</button>&nbsp;
        </div>
        <ng-container
          *ngIf="_cooDashboardCommon.overAllData !=null && _cooDashboardCommon.overAllData.riskChart !=null && _cooDashboardCommon.overAllData.riskChart.data !=null && _cooDashboardCommon.overAllData.riskChart.data.length > 0">
          <app-risk-chart-control class="portfolioCard verysmalltextblack " [inputs]="riskDashboardInputs">
          </app-risk-chart-control>
        </ng-container>
      </mat-tab>
      <mat-tab label="CSAT Insights"> 
        <div style="display: flex;">
          <h5 style="float: left;">CSAT Insights</h5> 
          <mat-form-field style="float:left;border: none; margin-left: 50px;margin-right: 20px;font-size: 12px; ">
            <mat-select #selectCSM name='CSM' multiple [(ngModel)]="_cooDashboardCommon.csmIds" [disabled]="_cooDashboardCommon.progress" placeholder="CSM">
              <mat-option [value]="-1" (click)="toggleCSMSelection($event)" #allSelectedCSM selected>All</mat-option>
              <mat-option [value]="c.csM_ID" (click)="tosslePerOneCSM($event)" *ngFor="let c of CSMList" [title]="c.csm">{{c.csm}}</mat-option>
            </mat-select>
          </mat-form-field>
          
          
          &nbsp;&nbsp;
          <button type="button" style="float:left;border: none; margin-top: 10px;" class="btn btn-primary"
            [disabled]="_cooDashboardCommon.progress" (click)="CSATApply()">Apply</button>&nbsp;
          <button type="button" style="float:left;border: none; margin-top: 10px;" class="btn btn-warning"
            [disabled]="_cooDashboardCommon.progress" (click)="CSATReset()">Reset</button>&nbsp;
            <button type="button" style="float:left;border: none; margin-top: 10px;" class="btn btn-primary"
            [disabled]="_cooDashboardCommon.progress" (click)="ViewCSSDetails()">View Details</button>&nbsp;
        </div>
        <ng-container  >
          <div style="margin-top:0%;margin-left: 0%;" class="row">
            <div class="row"> 
              <div class="prevNext col-lg-2 col-md-2 col-sm-2" style="float: right;padding-left: 5%;margin-top: -35px;">
                <button [disabled]="currIndex == 0" (click)="onPrev()" style="font-size: 12px;margin-right: 5%;border:none">
                  <i class="fa fa-arrow-left"></i>&nbsp;Previous</button>
                <button [disabled]="currIndex == 2" (click)="onNext()" style="font-size: 12px;border:none">
                  Next&nbsp;<i class="fa fa-arrow-right"></i></button>
              </div>
            </div>
          </div> 
          <!-- <div style="float: left;margin-top: -16px;width: 97%;margin-left: 1%;height:auto" *ngIf="currIndex == 0"> -->
            <mat-progress-bar *ngIf="_cooDashboardCommon.progress" mode="indeterminate"></mat-progress-bar>
          <!-- </div> -->
          
          <div *ngIf="currIndex == 0" > 
            <app-cssdashboard-css-table class="portfolioCard verysmalltextblack " [cssDashboardInputs]="_cooDashboardCommon.cssDashboardInputs"></app-cssdashboard-css-table> 
          
          </div>
          
          <div *ngIf="currIndex == 1" style="height: 100%">
            <app-cssdashboard-next-page1 [customerId]="customerId" [fromDate]="_cooDashboardCommon.dashboardStartdate" [toDate]="_cooDashboardCommon.dashboardEnddate"
              [customerIds]="_cooDashboardCommon.custIds.join(',')" [allCust]="allCust" [frequency]="_cooDashboardCommon.frequency">
            </app-cssdashboard-next-page1>
          </div>
          
          <div *ngIf="currIndex == 2" style="height: 100%">
            <app-cssdashboard-next-page2 [customerId]="customerId" [fromDate]="_cooDashboardCommon.dashboardStartdate" [toDate]="_cooDashboardCommon.dashboardEnddate"
              [customerIds]="_cooDashboardCommon.custIds.join(',')" [allCust]="allCust" [frequency]="_cooDashboardCommon.frequency"
              [trendQuarter]="trendQuarter">
            </app-cssdashboard-next-page2>
          </div>
        </ng-container>
      </mat-tab>
      <!-- <mat-tab label="Platforms and Services health" style="display: none;">
    <h5>Platforms and Services health</h5>
  </mat-tab> -->
    </mat-tab-group>
  </div>
</div>