<div style="
        background-image: url(../../../../../assets/images/gaugeArc.png); 
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin-top: 5px;
    " [ngClass]="getChartStyle()">
  <div _ngcontent-c22="" id="score"
    style="position: absolute; font-weight: 600; color: #545454; z-index: 1000; text-align: center;">
    {{_cooDashboardCommon.customerSuccessGoalScore== -1? 0 : _cooDashboardCommon.customerSuccessGoalScore}}%
  </div>
  <img class="rotateimg" [style.rotate]="getrotatedeg()" src="../../../../../assets/images/gauge1.png">
</div>
<br />
<div class="row verysmalltext ">
  <div [ngClass]="getChartStyle()+1" class="col-lg-6 sumcounts">
    Last quarter<br />
    <h4 *ngIf="getChartStyle()=='mediumchart'"><b>{{_cooDashboardCommon.LastQtrScore}}%</b></h4>
    <h5 *ngIf="getChartStyle()=='smallchart'"><b>{{_cooDashboardCommon.LastQtrScore}}%</b></h5>
  </div>
  <div [ngClass]="getChartStyle()+1" class="col-lg-6 sumcounts">Year to Date
    <br />
    <h4 *ngIf="getChartStyle()=='mediumchart'"><b>{{_cooDashboardCommon.YTMScore}}%</b></h4>
    <h5 *ngIf="getChartStyle()=='smallchart'"><b>{{_cooDashboardCommon.YTMScore}}%</b></h5>
  </div>
</div>