<div class="col-lg-12 col-md-12 col-sm-12" style="text-align: left;">

  <div style="display: inline-block; margin-right: 10px; cursor: pointer; text-decoration: none; outline: none"
    [routerLink]="['/newdashboard/cust', _layoutService.selectedCust, false]">
    <img src="assets/images/back_round.png">
  </div>

  <img class="image" style="height:45px;padding:5px" src="assets/images/{{_layoutService.selectedCust}}.png"
    onerror="this.src ='assets/images/CustomerLogo.png'">

  <mat-select placeholder="Select Project" [(ngModel)]="input_projectid" (ngModelChange)="onProjectChange()"
    style="margin-left:15px; width:260px;background-color: white;border: solid #d0d0d0 1px;padding: 5px;">
    <mat-option *ngFor="let proj of projNames" [value]="proj.proJ_ID"
      [title]="proj.proJ_NM">{{proj.proJ_NM}}</mat-option>
  </mat-select>
</div>
<label
  style="font-size: 16px; font-weight: 700;font-family: 'Roboto', sans-serif; margin: 15px; color: #4e5882">Checklist
  Assessment Findings</label>
<div class="row">
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
</div>

<mat-accordion style="margin-bottom: 10px !important; margin-top: 15px !important">
  <mat-expansion-panel [expanded]="IsSavedAuditsLoaded" style="margin: 10px;">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>Planned Assessment</b>
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>


    <div *ngIf="plannedAudits?.length > 0">
      <table class="table-bordered table-striped" style="width: 75%; margin-left: 10px;">
        <tr>
          <th style="padding: 5px;">Title</th>
          <th style="padding: 5px;">Planned Date</th>
          <th style="padding: 5px;">Actual Start Date</th>
          <th style="padding: 5px;width: 10%;">Due Date</th>
          <th style="padding: 5px;">Process Compliance (%) as on audit date</th>
          <th style="padding: 5px;">Current Process Compliance (%)</th>
          <th style="padding: 5px;">Total Audit Findings</th>
          <th style="padding: 5px;">Audit Status</th>
        </tr>
        <tr *ngFor="let list of plannedAudits; let i = index;">
          <td style="padding: 2px;">
            <button class="btn btn-link"
              (click)="GetAuditAssesment(i, list.id, list.servicE_AREA_ID, list.description, 
              list.scheduleD_START_DATE, list.duE_DATE,
              list.auditoR_ID, list.auditesS_ID, list.status, list.scheduleD_DURATION, list.actuaL_DURATION, list.actuaL_START_DATE, list.actuaL_END_DATE)">{{list.description
              }}</button>
          </td>
          <td style="padding: 5px;">{{list.scheduleD_START_DATE?.slice(0, 10) }}</td>
          <td style="padding: 5px;">{{list.actuaL_AUDIT_START_DATE?.slice(0, 10) }}</td>
          <td style="padding: 5px;">{{list.duE_DATE?.slice(0, 10) }}</td>
          <td style="padding: 5px;">{{list.procesS_COMPLIANCE_AS_ON_AUDIT_DATE }}</td>
          <td style="padding: 5px;">{{list.currenT_PROCESS_COMPLIANCE }}</td>
          <td style="padding: 5px;">{{(openFindings !== undefined && openFindings.length > 0 ? getFindingsCount(list.id)
            : '0')}}</td>
          <td style="padding: 5px;">{{list.status.charAt(0)+ list.status.slice(1).toLowerCase() }}</td>
          <td style="padding: 5px;width: 15px;">
            <mat-icon *ngIf="list.iS_CHECKED" style="color:blue">done</mat-icon>
            <mat-icon *ngIf="!list.iS_CHECKED" style="color:lightgray">done</mat-icon>
          </td>
        </tr>
      </table>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<div *ngIf="auditDataTitle">
  <div class="row" style="margin-left: 10px">
    <div style="float: left;margin-left: 15px">
      <mat-form-field style="width: 130px;">
        <textarea (keyup)="autoGrowTextZone($event)" placeholder="Assessment Title" [readonly]="true" matInput
          [(ngModel)]="auditDataTitle" required [disabled]="IsSubmitted"></textarea>
      </mat-form-field>
    </div>
    <div style="float: left; padding: 12px;width: 200px;">
      <mat-form-field>
        <mat-select placeholder="Appraiser Name" [(ngModel)]="selectedAuditor" [disabled]="IsSubmitted" required
          style="width:100% !important">
          <mat-option *ngFor="let list of auditorList" [value]="list.emP_ID"
            [title]="list.frsT_NM">{{list.frsT_NM}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div style="float: left;padding: 12px; margin-right: 10px;width: 200px">
      <mat-form-field>
        <mat-select placeholder="Appraisee Name(s)" [(ngModel)]="selectedAuditees" multiple [disabled]="IsSubmitted"
          required style="width:100% !important">
          <mat-option *ngFor="let list of auditeesList" [value]="list.emP_ID"
            [title]="list.frsT_NM">{{list.frsT_NM}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div style="float: left; margin-top: 10px;">
      <mat-form-field style="width: 155px;margin-right: 10px;">
        <input [(ngModel)]="startDate" matInput [matDatepicker]="picker1" [readonly]="true"
          placeholder="Planned start date" required [disabled]="IsSubmitted">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <mat-form-field style="width: 155px;margin-right: 10px; ">
        <input [(ngModel)]="endDate" matInput [matDatepicker]="picker2" [readonly]="true" placeholder="Planned end date"
          required [disabled]="IsSubmitted">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>
    <div style="margin-left: 10px;float: left;margin-top: 10px; ">
      <mat-form-field style="width: 95px;">
        <input matInput type="number" name="plannedHrs" [readonly]="true" placeholder="Planned hrs"
          [(ngModel)]="plannedHours" required [disabled]="IsSubmitted">
      </mat-form-field>
    </div>
    <div style="margin-left: 10px;float: left;margin-top: 10px; ">
      <mat-form-field style="width: 95px;">
        <input matInput type="number" name="actualHrs" placeholder="Actual Hrs" [(ngModel)]="actualHours" required
          [disabled]="IsSubmitted">
      </mat-form-field>
    </div>
    <div style="float: left; width: 200px; margin-left: 10px;margin-top: 10px; ">
      <mat-form-field>
        <mat-select placeholder="Applicable Service Tower" [disabled]="true" [(ngModel)]="selectedServiceArea" multiple
          class="serviceareadd" style="width:100% !important">
          <mat-option *ngFor="let list of serviceAreaNew" [value]="list.id"
            [title]="list.title">{{list.title}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row" style="margin-bottom: 7px;margin-left: 10px">
    <div style="margin-left: 10px;float: left; ">
      <mat-form-field style="width: 300px;">
        <mat-select placeholder="Choose a Checklist" [(ngModel)]="selectedchecklist" [disabled]="IsSubmitted"
          (selectionChange)="setChecklistData()" style="width:100% !important">
          <mat-option *ngFor="let list of checklist" [value]="list.checklisT_ID">{{list.checklisT_NAME}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div style="margin-left: 10px;float: left; ">
      <mat-form-field style="width: 50px;">
        <input matInput type="number" name="checklistversion" placeholder="version" [(ngModel)]="checklistversion"
          required [disabled]="IsSubmitted" [readonly]="true">
      </mat-form-field>
    </div>
    <div style="margin-left: 20px; float: left;">
      <mat-form-field style="width: 75px;">
        <input matInput type="number" name="checklistscore" placeholder="Score" [(ngModel)]="checklistScore" required
          [disabled]="IsSubmitted || isCreateAccessDisabled" style="color: black;background-color: #fff;"
          [readonly]="true">
      </mat-form-field>
    </div>
    <div *ngIf="IsSubmitted" style="text-align: center; float: left;">
      <h6 style="margin: -20px;font-weight: 700;">As on audit date</h6>
    </div>
    <div style="margin-left: 20px; float: left;">
      <mat-form-field style="width: 165px;">
        <input matInput type="number" name="checklistPercentage" placeholder="Process Compliance(%)"
          [(ngModel)]="checklistScorePercentage" required [disabled]="IsSubmitted || isCreateAccessDisabled"
          style="color: black;background-color: #fff;" [readonly]="true">
      </mat-form-field>
    </div>
    <div *ngIf="IsSubmitted" style="margin-left: 20px;float: left;">
      <mat-form-field style="width: 75px;">
        <input matInput type="text" name="updatedchecklistscore" placeholder="Score" [(ngModel)]="updatedChecklistScore"
          [disabled]="IsSubmitted || isCreateAccessDisabled" style="color: black;background-color: #fff;"
          [readonly]="true">
      </mat-form-field>
    </div>
    <div *ngIf="IsSubmitted" style="text-align: center; float: left;">
      <h6 style="margin: -20px;font-weight: 700;">As on today</h6>
    </div>
    <div *ngIf="IsSubmitted" style="margin-left: 20px;float: left;">
      <mat-form-field style="width: 165px;">
        <input matInput type="text" name="updatedchecklistScorePercentage" placeholder="Process Compliance(%)"
          [(ngModel)]="updatedChecklistScorePercentage" [disabled]="IsSubmitted || isCreateAccessDisabled"
          style="color: black;background-color: #fff;" [readonly]="true">
      </mat-form-field>
    </div>
    <div style="text-align: left; float: left; margin-left: 15px;">
      <mat-form-field style="width: 140px;margin-right: 10px;">
        <input [(ngModel)]="actualstartDate" matInput [matDatepicker]="picker3" [min]="startDate" [max]="_util.Today()"
          placeholder="Actual Start date" required [disabled]="IsSubmitted">
        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
      </mat-form-field>
      <mat-form-field style="width: 140px;margin-right: 10px; ">
        <input [(ngModel)]="actualendDate" matInput [matDatepicker]="picker4" [min]="startDate" [max]="_util.Today()"
          placeholder="Actual End date" required [disabled]="IsSubmitted">
        <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
        <mat-datepicker #picker4></mat-datepicker>
      </mat-form-field>
    </div>

  </div>
</div>
<div *ngIf="!checklist" style="text-align: center; height: 100px; line-height: 100px;">
  <i class="fa fa-circle-o-notch fa-spin" style="margin-right: 10px; font-size: 25px;"></i>Loading...
</div>

<div style="margin: 10px;"
  *ngIf="corrective_action_tracking && checkListDataNew && checkListDataNew.length > 0 && 
    checkListDataNew[0]?.checkpointS_BY_PROCESS_MODEL[0]?.checkpointS_BY_PROCESS_AREA[0]?.checkpointS_BY_PROCESS[0]?.checkpoints[0]?.issubmitted">
  <app-checklist-auditee [checkListData]="checkListDataNew" [checklistSummaryRec]="checklistSummaryRec" [originalPlannedAudits]="originalPlannedAudits"
    (selectedChecklist)="changeChecklistStatus($event)"></app-checklist-auditee>
</div>