<div class="row">
  <div style="float: left;width: 97%;margin-left: 1%;height:auto">
    <mat-progress-bar *ngIf="_loading" mode="indeterminate"></mat-progress-bar>
  </div>

  <div class="col-sm-12 checkbox" *ngIf="trendQuarter == 2 || trendQuarter == 3" >
    <mat-checkbox name="Summary"  [(ngModel)] = "showTrendData" (change) = "loadTrendWiseData($event)">Show Trend Wise Data</mat-checkbox> <!--  [(ngModel)]="" (change)="chkAllProj_OnChange(project)" -->
  </div>
  <div
    style="display: block;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:400px;text-align: center;"
    *ngIf="surveyQuestions == undefined">
    <i style="font-size: 70px;margin-top: 90px;opacity: 0.6;" class="material-icons md-inactive">warning</i>
    <div style="font-family: calibri;font-weight: normal;font-size: 18px">No Data found </div>
  </div>

  <ng-container *ngIf="customerList.frequency != 'Monthly'">
    <div class="col-sm-4" style="float: left;height: 500px" *ngFor="let chart of surveyQuestions">
      <highcharts-chart *ngIf="surveyQuestions.length > 0" [Highcharts]="Highcharts" [options]="chart"
        style="display: block;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
      </highcharts-chart>
      <div
        style="display: block;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:400px;text-align: center;"
        *ngIf="surveyQuestions == undefined">
        <div style='font-family: Lucida Grande, "Lucida Sans Unicode", Arial, Helvetica, sans-serif; font-size: 12px'>
          Customer Success Questions</div>
        <i style="font-size: 70px;margin-top: 90px;opacity: 0.6;" class="material-icons md-inactive">warning</i>
        <div style="font-family: calibri;font-weight: normal;font-size: 18px">No Data found for the Quarter </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="customerList.frequency == 'Monthly'">
    <div
      style="display: block;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:400px;text-align: center;"
      *ngIf="surveyQuestions != undefined && surveyQuestions.item1.length == 0 &&  surveyQuestions.item2.length == 0">

      <i style="font-size: 70px;margin-top: 90px;opacity: 0.6;" class="material-icons md-inactive">warning</i>
      <div style="font-family: calibri;font-weight: normal;font-size: 18px">No Data found </div>
    </div>

    <div class="col-sm-4" style="float: left;height: 500px" *ngFor="let chart of surveyQuestions?.item1">
      <highcharts-chart *ngIf="surveyQuestions?.item1.length > 0" [Highcharts]="Highcharts" [options]="chart"
        style="display: block;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
      </highcharts-chart>
    </div>

    <div class="col-sm-4" style="float: left;height: 500px" *ngFor="let chart of surveyQuestions?.item2">
      <highcharts-chart *ngIf="surveyQuestions?.item2.length > 0" [Highcharts]="Highcharts" [options]="chart"
        style="display: block;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
      </highcharts-chart>
      <div
        style="display: block;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:400px;text-align: center;"
        *ngIf="surveyQuestions.item2.length == 0">
        <div style='font-family: Lucida Grande, "Lucida Sans Unicode", Arial, Helvetica, sans-serif; font-size: 12px'>
          Customer Success Questions</div>
        <i style="font-size: 70px;margin-top: 90px;opacity: 0.6;" class="material-icons md-inactive">warning</i>
        <div style="font-family: calibri;font-weight: normal;font-size: 18px">No Data found for the Quarter </div>
      </div>
    </div>
  </ng-container>
</div>