<div 
  class="gauge-container"
  [ngClass]="getChartStyle()"
  [style.background-image]="'url(assets/images/gaugeArc.png)'"
  [style.background-repeat]="'no-repeat'"
  [style.background-size]="'100% 100%'"
  [style.margin-top.px]="5">
  
  <div 
    id="score" 
    class="score-display">
    {{getDisplayScore()}}%
  </div>
  
  <img 
    class="rotateimg" 
    [style.rotate]="getrotatedeg()" 
    src="assets/images/gauge1.png"
    alt="Gauge needle">
</div>

<br />

<div class="row verysmalltext">
  <div 
    [ngClass]="getChartStyle() + '1'" 
    class="col-lg-6 sumcounts">
    Last quarter<br />
    <h4 *ngIf="getChartStyle() === 'mediumchart'">
      <b>{{_cooDashboardCommon.LastQtrScore}}%</b>
    </h4>
    <h5 *ngIf="getChartStyle() === 'smallchart'">
      <b>{{_cooDashboardCommon.LastQtrScore}}%</b>
    </h5>
  </div>
  
  <div 
    [ngClass]="getChartStyle() + '1'" 
    class="col-lg-6 sumcounts">
    Year to Date<br />
    <h4 *ngIf="getChartStyle() === 'mediumchart'">
      <b>{{_cooDashboardCommon.YTMScore}}%</b>
    </h4>
    <h5 *ngIf="getChartStyle() === 'smallchart'">
      <b>{{_cooDashboardCommon.YTMScore}}%</b>
    </h5>
  </div>
</div>
