<#@ template debug="false" hostspecific="True" language="C#" #>
<#@ template language="C#" #>
 <#@ assembly name="$(SolutionDir)\GAVS.AllocationSystem.Model\bin\Release\GAVS.AllocationSystem.Model.dll" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
 <#@ import namespace="System.IO" #> 
<#@ import namespace="GAVS.AllocationSystem.Model" #> 
<#@ Assembly Name="EnvDTE" #>
<#@ include file="$(ProjectDir)\T4.FileManager.VisualStudio.ttinclude" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".cs" #>
using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using GAVS.AllocationSystem.Model.AllSys;
using GAVS.AllocationSystem.Model.Base;

namespace GAVS.AllocationSystem.Model.CSP.SP
{
<# 
//var manager = T4FileManager.Create(this);  
            List<GAVS.AllocationSystem.Model.TableItem> items = new List<GAVS.AllocationSystem.Model.TableItem>();
            var projectPath = Host.ResolveAssemblyReference("$(ProjectDir)");
            var filename = projectPath + @"\models.json";
           //string filename = this.Host.ResolvePath("models.json");
            using (StreamReader r = new StreamReader(filename))
            {
                string json = r.ReadToEnd();
                items = JsonConvert.DeserializeObject<List<GAVS.AllocationSystem.Model.TableItem>>(json);
            }
            foreach (var aaa in items)
            {
                      string name = aaa.name;

#>
    public partial class <#= name #>  
    {
<#
    foreach (var bbb in aaa.props)
    {
            string part1 = bbb.Split(':')[1];;
            string part2 = bbb.Split(':')[0]; ;
            #>
        public <#= part1  #> <#= part2 #> {get; set;}
<#
            }

#>
    }

<#
}


#>

}
 