// Access Control Project Resource Component Styles
.table-heading{
    background-color: #3e4b93;
    color: white;
    border: 1px solid black;
}

// Colored badge styles for Yes/No and Billable status
.defaultAccess {
  padding: 1px 5px 1px 5px;
  border-radius: 5px;
}

.btn-success {
  color: white !important;
  background-color: #28a745 !important;
  border: none;
}

.btn-warning {
  color: white !important;
  background-color: #FFBF00 !important;
  border: none;
}