<div *ngIf="data.showComments === true" class="popup-wrapper">
    <div>
        <mat-label>Comments</mat-label>
    </div>
    <div class="text-area-wrapper">
        <textarea maxlength="250" class="text-area" matInput [(ngModel)]="data.comments"></textarea>
    </div>
    <div class="modal-footer">
        <button class="btn btn-back" (click)="onBack()">Back</button>
        <button class="btn btn-send" [mat-dialog-close]="data.comments" cdkFocusInitial>Send</button>
    </div>
</div>
<div *ngIf="data.showApprovedMsg === true" class="popup-wrapper">
    <div class="msg-wrapper row">
        <div class="col-md-2">
            <span class="circle"></span>
            <img src="../assets/images/checked.svg" class="checked-img" />
        </div>
        <div class="col-md-9 msg-text">
            {{data.comments}}
        </div>
    </div>
    <div class="modal-footer">
        <button style="width: 120px;" class="btn btn-send" (click)="onBack()" cdkFocusInitial>Back to Dashboard</button>
    </div>
</div>
<div *ngIf="data.showRejectedMsg === true" class="popup-wrapper">
    <div class="msg-wrapper row">
        <div class="col-md-2">
            <span class="circle"></span>
            <img src="../assets/images/checked.svg" class="checked-img" />
        </div>
        <div class="col-md-9 msg-text">
            {{data.comments}}
        </div>
    </div>
    <div class="modal-footer">
        <button style="width: 120px;" class="btn btn-send" (click)="onBack()" cdkFocusInitial>Back to Dashboard</button>
    </div>
</div>