.addchecklist tr{
    height: 45px !important;
  }

 
  .col-lg-6, .col-md-6, .col-sm-6
{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.col-lg-12, .col-md-12, .col-sm-12{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.col-lg-10, .col-md-10, .col-sm-10{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.col-lg-8, .col-md-8, .col-sm-8{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.col-lg-2, .col-md-2, .col-sm-2{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.col-lg-7, .col-md-7, .col-sm-7{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

span.mat-checkbox-label{
  font-weight: normal !important;
}

.mat-checkbox-layout .mat-checkbox-label {
  line-height: 24px;
  font-weight: normal !important;
}

label {
  
  font-weight: normal !important;
}

 .mat-column-version, .mat-column-effectivE_FROM, .mat-column-Action{
  font-size: 14px;
  text-align: center !important;
}

/*.mat-column-edit, .mat-column-delete{
  width : 3% !important;
  text-align: center !important;
}

.mat-column-revise{
  width : 4% !important;
  text-align: center !important;
}*/

.mat-column-approve{
  width : 10% !important;
  text-align: center;
}



.link {
  cursor: pointer;
  text-decoration: none;
  vertical-align: middle;
  text-align: center;
  margin-right:3px;
}
.row{
    margin:0px;
}

label.mat-checkbox-layout{
  font-weight: normal !important;
}

.addchecklist td{
  border : none;
}

.statustable td{
  border: none;
}
::ng-deep .mat-checkbox-checked .mat-checkbox-background, .mat-checkbox-indeterminate .mat-checkbox-background {
  background-color:#005691!important;
}

.btn{
  font-size : 14px !important;
}

td.mat-cell:last-child, td.mat-footer-cell:last-child, th.mat-header-cell:last-child {
    padding-right: none;
}

.disabled{
  cursor: not-allowed;
  pointer-events: none;
}

th.mat-header-cell:last-child {
   padding-right: 0px !important;
}
.mat-column-title
{
  width: 25% !important;
}
.mat-column-effectivE_FROM{
  width: 10% !important;
}

.mat-column-description{
  width: 30% !important;
}
.mat-column-version
{
  width: 7% !important;
}
.mat-column-procesS_MODEL_ID
{
  width: 12% !important;
}
.mat-column-Action
{
  width: 15% !important;
}

.mat-column-title, .mat-column-description,.mat-column-procesS_MODEL_ID
{
  text-align: left !important;
  font-size: 14px;  
  padding: 3px;
}
tr.mat-header-row
{ 
  background :#c6ddf9; 
  height: 40px; 
 }

 td.mat-cell:first-child, td.mat-footer-cell:first-child, th.mat-header-cell:first-child 
 {
   padding-left: 3px !important;
   width:4%;
 }
 .mat-header-cell
 {
   border:1px solid lightgrey !important ;
 }