.example-container {
  position: inherit;
  //top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}

ul{
  list-style-type: none;
  padding: 0;
}

.sideNav{
  //top: 60px;
  left: 0px;
  width: 416px;
  height: 727px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}

.link_h3{
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
}

.active{
  border: 1px solid var(--unnamed-color-e5e5e5);
  background:#ECECFA !important;
  border-left: 3px solid #4B4EB1 !important;
}


