<div *ngIf="readonlymode" style="padding : 15px">
  <div class="row tabheader">
    <div style="float: right; padding-right: 10px;">
      <a id="filter" class="maticonbutton" title="{{toggletext}} Filter" (click)="ToggleFilter_onClick()">
        <mat-icon style="vertical-align: middle">filter_list</mat-icon>
      </a>
      <a id="AddIssue" class="maticonbutton" title="Add Issue" (click)="Edit_onClick()"
        *ngIf="_access.IsAllowed(6, 2, '', input_projectid)">
        <mat-icon style="vertical-align: middle">add</mat-icon>
      </a>
    </div>

    <div *ngIf="!isPopOpened"
      style="display: inline-block; margin-right: 10px; cursor: pointer; text-decoration: none; outline: none"
      [routerLink]="['/newdashboard/cust', selectedCust, false]">
      <img src="assets/images/back_round.png">
    </div>
    <div *ngIf="isPopOpened"
      style="display: inline-block; margin-right: 10px; cursor: pointer; text-decoration: none; outline: none"
      (click)="closeDialog()">
      <img src="assets/images/back_round.png">
    </div>
  </div>

  <div style="margin-bottom: 10px;">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6" *ngIf="bShowFilter" style="text-align: left;">
        <!-- <mat-select *ngIf="_util.IsPremier(selectedCust)" placeholder="Filter by Portfolio" [(ngModel)]="selectedPortfolio" (selectionChange)="Portfolio_OnClick()" style="width:260px;background-color: white;border: solid #d0d0d0 1px;padding: 5px;">
                  <mat-option *ngFor="let port of portfolio" [value]="port">{{port}}</mat-option>
                </mat-select>
                <mat-select placeholder="Filter by Project" [(ngModel)]="selectedProject" (selectionChange)="Project_OnClick()" style="width:260px;background-color: white;border: solid #d0d0d0 1px;padding: 5px;">
                  <mat-option *ngFor="let proj of projects" [value]="proj">{{proj}}</mat-option>
                </mat-select> -->
        <app-portfolio-project-selector [custId]="selectedCust" [portinput]="_shared.selectedPortfolios"
          [projinput]="_shared.selectedProjects" [allproj]="false" (projectsSelected)="projectSelected($event)">
        </app-portfolio-project-selector>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5" style="text-align: left;padding-top: 20px;">
        <!-- <mat-radio-group aria-label="Select an option" [(ngModel)]="selectedOption" (ngModelChange)="showFilteredRows(selectedOption, tempData, RefreshTableForProject)">
              <mat-radio-button value="1" color="accent">All</mat-radio-button>
              <mat-radio-button value="2" color="accent">Past Due Date</mat-radio-button>
              <mat-radio-button value="3" color="accent">Due for Closure</mat-radio-button>
            </mat-radio-group> -->
        <label class="openItemsFilter">Status :</label>
        <mat-checkbox class="example-margin" color="blue" [(ngModel)]="AllChecked" (ngModelChange)="showFilteredRows()"
          (click)="uncheckOthers()">All</mat-checkbox>
        <mat-checkbox class="example-margin" color="blue" [(ngModel)]="PastDueChecked" [disabled]="AllChecked"
          (ngModelChange)="showFilteredRows()">Open - Past Due Date</mat-checkbox>
        <mat-checkbox class="example-margin" color="blue" [(ngModel)]="DueClosureChecked" [disabled]="AllChecked"
          (ngModelChange)="showFilteredRows()">Open - Due For Closure</mat-checkbox>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1">

      </div>
    </div>
  </div>
  <div class="row" *ngIf="bShowFilter">
    <app-table-filter [data]="input" tableName='PROJECT_ISSUE' (onChange)="Filter_onChange($event)"
      (OnAdd)="showAll($event)"></app-table-filter>
  </div>
  <div class="backbutton">
    <div style="display: inline-block; ">
      Issues
    </div>
  </div>
  <div *ngIf="_access.IsAllowed(6, 1, '', '')">
    <div *ngIf="input?.length == 0"
      style="text-align: center;height: 100px; line-height: 100px; font-size: 16px; font-weight: 600;;">
      No Issues for the Projects assigned to you..
    </div>
  </div>
  <div *ngIf="_access.IsAllowed(6, 1, '', '')">
    <div *ngIf="!input" style="text-align: center; height: 100px; line-height: 100px;">
      <i class="fa fa-circle-o-notch fa-spin" style="margin-right: 10px; font-size: 25px;"></i>Loading...
    </div>
  </div>
  <div class="row">
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  </div>
  <div *ngIf="_access.IsAllowed(6, 1, '', '')">
    <table class="table" mat-table style="border-radius: 3px;overflow: hidden ; font-family: 'Roboto', sans-serif"
      #table [dataSource]="dataSource" *ngIf="input?.length > 0" matSort>
      <ng-container matColumnDef="index">
        <th mat-header-cell style="font-family: calibri; width: 15px;" *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element = index; let issue" [ngClass]="{'greenborder': issue.severity == 'Low', 'orangeborder' : issue.severity == 'Medium',
        'redborder' : issue.severity == 'High'}"> {{element + 1}} </td>
      </ng-container>
      <ng-container matColumnDef="portfoliO_NM">
        <th mat-header-cell style="font-family: calibri; width: 100px" *matHeaderCellDef mat-sort-header>Portfolio Name
        </th>
        <td mat-cell *matCellDef="let issue" [matTooltip]="issue.portfoliO_NM">{{issue.portfoliO_NM}}</td>
      </ng-container>
      <ng-container matColumnDef="proJ_NM">
        <th mat-header-cell style="font-family: calibri; width : 120px;" *matHeaderCellDef mat-sort-header>Project Name
        </th>
        <td mat-cell *matCellDef="let issue" [matTooltip]="issue.proJ_NM">{{issue.proJ_NM}}</td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell style="font-family: calibri; width : 210px; " *matHeaderCellDef mat-sort-header>Issue
          description</th>
        <td mat-cell *matCellDef="let issue" [matTooltip]="issue.description">{{issue.description}}</td>
      </ng-container>
      <ng-container matColumnDef="issuE_TYPE">
        <th mat-header-cell style="font-family: calibri; width: 40px;" *matHeaderCellDef mat-sort-header>Type</th>
        <td mat-cell *matCellDef="let issue"> {{issue.issuE_TYPE}} </td>
      </ng-container>
      <ng-container matColumnDef="severity">
        <th mat-header-cell style="font-family: calibri; width: 30px;" *matHeaderCellDef mat-sort-header>Severity</th>
        <td mat-cell *matCellDef="let issue"> {{issue.severity}} </td>
      </ng-container>
      <ng-container matColumnDef="actioN_PLAN">
        <th mat-header-cell style="font-family: calibri;width: 320px;" *matHeaderCellDef mat-sort-header>Action plan
        </th>
        <td mat-cell *matCellDef="let issue"> {{issue.actioN_PLAN}} </td>
      </ng-container>
      <ng-container matColumnDef="assigneD_TO">
        <th mat-header-cell style="font-family: calibri; width: 70px;" *matHeaderCellDef mat-sort-header>Assigned to
        </th>
        <td mat-cell *matCellDef="let issue"> {{issue.assigneD_TO}} </td>
      </ng-container>
      <ng-container matColumnDef="identifieD_DATE">
        <th mat-header-cell style="font-family: calibri;width: 80px;" *matHeaderCellDef mat-sort-header>Identified Date
        </th>
        <td mat-cell *matCellDef="let issue"> {{issue.identifieD_DATE | date :'dd-MMM-yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="targeT_DATE">
        <th mat-header-cell style="font-family: calibri; width: 90px" *matHeaderCellDef mat-sort-header>Target Date</th>
        <td mat-cell *matCellDef="let issue"> {{issue.targeT_DATE| date :'dd-MMM-yyyy'}} </td>
      </ng-container>
      <ng-container matColumnDef="ack_DATE">
        <th mat-header-cell style="font-family: calibri; width: 90px" *matHeaderCellDef mat-sort-header>Acknowledgement
          Date</th>
        <td mat-cell *matCellDef="let issue"> {{issue.ack_DATE| date :'dd-MMM-yyyy'}} </td>
      </ng-container>
      <ng-container matColumnDef="issuE_RESOLVED_DATE">
        <th mat-header-cell style="font-family: calibri; width: 90px;" *matHeaderCellDef mat-sort-header>Resolved Date
        </th>
        <td mat-cell *matCellDef="let issue"> {{issue.issuE_RESOLVED_DATE| date :'dd-MMM-yyyy'}} </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell style="font-family: calibri; width: 50px;" *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let issue"> {{issue.status}} </td>
      </ng-container>
      <ng-container matColumnDef="info">
        <th mat-header-cell style="font-family: calibri; width: 10px;" [ngClass]="'deleteWidth'" *matHeaderCellDef>
        </th>
        <td mat-cell [ngClass]="'deleteWidth'" *matCellDef="let element">
          <a class="link" (click)="OpenEntityInfoPopup(element)" style="font-size: 18px; cursor: pointer;">
            <i class="fa fa-exclamation-circle" style="transform: rotate(180deg);"></i>
          </a>
        </td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell style="font-family: calibri; width: 10px;" [ngClass]="'deleteWidth'" *matHeaderCellDef>
          <div *ngIf="_access.IsAllowed(6, 3, '', input_projectid)"></div>
        </th>
        <td mat-cell [ngClass]="'deleteWidth'" *matCellDef="let element">
          <a class="link" (click)="EditRow_onClick(element)" *ngIf="_access.IsAllowed(6, 3, '', input_projectid)"
            style="font-size: 18px; cursor: pointer;">
            <i class="fa fa-edit"></i>
          </a>
        </td>
      </ng-container>
      <ng-container matColumnDef="delete" class="z-depth-2">
        <th mat-header-cell style="font-family: calibri; width: 10px;" [ngClass]="'deleteWidth'" *matHeaderCellDef>
          <div *ngIf="_util.IsEditable()"></div>
        </th>
        <td mat-cell [ngClass]="'deleteWidth'" *matCellDef="let element">
          <!-- <a class="link" (click)="DeleteRow_onClick(element)" *ngIf="_util.IsEditable()"> -->
          <a class="link" (click)="DeleteRow_onClick(element)" *ngIf="_access.IsAllowed(6, 4, '', input_projectid)"
            style="font-size: 18px; cursor: pointer;">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="mat-elevation-z5"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="mat-elevation-z5"
        style="margin-bottom: 5px; box-sizing: border-box"></tr>
    </table>
    <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
  </div>
</div>
<div *ngIf="editmode">
  <form style="background: white;padding-left: 10px;padding-bottom: 10px;" #issueForm="ngForm"
    (ngSubmit)="SubmitForm(issueForm.valid)">
    <div class="row tabheader">
      <div class="col-lg-10 col-md-10 col-sm-10">
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 header">
        <button class="link_button" type="submit">
          <i class="fa fa-save"></i>
        </button>
        <a class="link" (click)="Cancel_onClick()" style="cursor: pointer">
          <i class="fa fa-times"></i>
        </a>
      </div>
    </div>
    <div>
      <div class="row">
        <mat-form-field style="width:calc(100% - 750px)">
          <mat-select name="ddProjectName" [(ngModel)]="EditIssue.projecT_ID" placeholder="Project Name" required
            (ngModelChange)="getPortfolioName()">
            <mat-option [value]="p.proJ_ID" *ngFor="let p of projNames" [title]="p.proJ_NM">
              {{ p.proJ_NM }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
       
      <div class="row">
        <mat-radio-group name="radreport" class="example-radio-group" [(ngModel)]="EditIssue.reporteD_BY" required>
          <mat-radio-button class="example-radio-button" style="margin-left: 12px;" (click)="DisableLevel()"
            value="reportedbyGAVS">Identified by GAVS</mat-radio-button>
          <mat-radio-button class="example-radio-button" (click)="EnableLevel()" value="reportedbyClient">Reported by
            Client</mat-radio-button>
          <mat-radio-button class="example-radio-button" (click)="EnableLevel()" value="escalatedbyClient">Escalated by
            Client</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="row">
        <mat-form-field style="width: 75%;">
          <textarea name="txtDescription" maxlength="2000" [(ngModel)]="EditIssue.description" matInput
            placeholder="Description" required></textarea>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field style="width:75%">
          <textarea name="txtImpactStatus" maxlength="2000" [(ngModel)]="EditIssue.impacT_SUMMARY" matInput
            placeholder="Impact Summary" required></textarea>
        </mat-form-field>
      </div>
      <div class="row">
        <div style="float: left;color: #757575;">Is there a business impact if the issue is not resolved? *        </div>
        <mat-radio-group name="radpotentialrisk" class="example-radio-group" [(ngModel)]="EditIssue.iS_POTENTIAL_RISK "
          required>
          <mat-radio-button class="example-radio-button" style="margin-left: 11px;" (click)="EnableImpact()"
            [value]='true'>Yes</mat-radio-button>
          <mat-radio-button class="example-radio-button" (click)="DisableImpact()" [value]='false'>No</mat-radio-button>
        </mat-radio-group>
        <mat-form-field *ngIf="impactmode">
          <mat-select name="ddBussImpact" [(ngModel)]="EditIssue.businesS_IMPACT" placeholder="Business Impact"
            required>
            <mat-option value="Insignificant">Insignificant</mat-option>
            <mat-option value="Minor">Minor</mat-option>
            <mat-option value="Moderate">Moderate</mat-option>
            <mat-option value="Major">Major</mat-option>
            <mat-option value="Extreme">Extreme</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row"  >
        <mat-form-field style="width:75%" *ngIf="impactmode">
          <textarea name="txtBusinessImpact" maxlength="2000" [(ngModel)]="EditIssue.businesS_IMPACT_DESC" matInput
            placeholder="Business Impact Description"></textarea>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field style="width:75%">
          <textarea name="txtServiceImpact" maxlength="2000" [(ngModel)]="EditIssue.servicE_IMPACT" matInput
            placeholder="Service Impact"></textarea>
        </mat-form-field>
      </div>
      <div class="row">
        <div style="float: left;color: #757575;">Financial Impact *</div>
        <mat-radio-group name="radfinancialimpact" class="example-radio-group"
          [(ngModel)]="EditIssue.financiaL_IMPACT ">
          <mat-radio-button class="example-radio-button" style="margin-left: 11px;" (click)="EnableImpact()"
            [value]='true'>Yes</mat-radio-button>
          <mat-radio-button class="example-radio-button" (click)="DisableImpact()" [value]='false'>No</mat-radio-button>
        </mat-radio-group>
      </div>

      <div *ngIf="EditIssue.financiaL_IMPACT" class="row">
        <mat-form-field style="width:75%">
          <textarea name="txtFinancialImpactDesc" maxlength="2000" [(ngModel)]="EditIssue.financiaL_IMPACT_DESC"
            matInput placeholder="Financial Impact Description"></textarea>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field  >
          <mat-select  name="ddIssueLocation" [(ngModel)]="EditIssue.locatioN_SELECTION" placeholder="Location ">
            <mat-option value="Offshore">Offshore</mat-option>
            <mat-option value="Onsite">Onsite</mat-option>
            <mat-option value="Global">Global</mat-option>
            <mat-option value="Chennai">Chennai</mat-option>
            <mat-option value="Pune">Pune</mat-option>
            <mat-option value="Vadodra">Vadodra</mat-option>
            <mat-option value="Oman">Oman</mat-option>
            <mat-option value="Princeton">Princeton</mat-option>
            <mat-option value="UK">UK</mat-option>
            
            <mat-option value="Other">Other</mat-option>

          </mat-select>
         

        </mat-form-field>
      </div>
      <div class="row" *ngIf="EditIssue.locatioN_SELECTION == 'Other'">
        <mat-form-field>
          <input matInput name="dtLocation" [(ngModel)]='EditIssue.geO_LOCATION' placeholder="Other Location" required>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-select name="ddIssueType" [(ngModel)]="EditIssue.issuE_TYPE" placeholder="Issue Category" required>
            <mat-option value="Delivery">Delivery</mat-option>
            <mat-option value="Governance">Governance</mat-option>
            <mat-option value="Resource">Resource</mat-option>
            <mat-option value="Staffing">Staffing</mat-option>
            <mat-option value=" SoftSkills"> Soft Skills</mat-option>
           
            <mat-option [disabled]="true" value="Political">Political</mat-option>
            <mat-option [disabled]="true" value="Economic">Economic</mat-option>
            <mat-option [disabled]="true" value="Social">Social</mat-option>
            <mat-option [disabled]="true" value="Technological">Technological</mat-option>
            <mat-option [disabled]="true" value="Environmental">Environmental</mat-option>
            <mat-option [disabled]="true" value="Legal">Legal</mat-option>
            <mat-option [disabled]="true" value="Ethical">Ethical (NEW)</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field style="width:20%">
          <mat-select  name="ddIssueSource" [(ngModel)]="EditIssue.issuE_SOURCE"
            placeholder="Escalation Source">
            <mat-option value="ClientReviewCall">Client escalation-Review Call</mat-option>
            <mat-option value="CSAT">Client escalation-CSAT</mat-option>
            <mat-option value="ExecutiveConnect">Client escalation-Executive connect</mat-option>
            <mat-option value="ViaEmail">Client escalation-via email</mat-option>
            <mat-option value="PotentialFromDP">Potential- from DP</mat-option>
            <mat-option value="Other">Other</mat-option>

          </mat-select>


        </mat-form-field>
      </div>

      <div class="row" *ngIf="EditIssue.issuE_SOURCE == 'Other'"  >
        <mat-form-field style="width:20%">
          <input matInput  name="dtsourceother" [(ngModel)]="EditIssue.issuE_SOURCE_OTHER"  maxlength="200"   placeholder="Issue source" required>
        </mat-form-field>

      </div>
      <div class="row">
        <mat-form-field>
          <mat-select name="ddSeverity" [(ngModel)]="EditIssue.severity" placeholder="Severity" required>
            <mat-option value="High">High</mat-option>
            <mat-option value="Medium">Medium</mat-option>
            <mat-option value="Low">Low</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field style="width:75%">
          <textarea name="txtRootCause" maxlength="2000" [(ngModel)]="EditIssue.root_CAUSE" matInput
            placeholder="Root Cause" required ></textarea>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field style="width:75%">
          <textarea name="txtActionPlan" maxlength="2000" [(ngModel)]="EditIssue.actioN_PLAN" matInput
            placeholder="Action Plan / Steps " required></textarea>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field style="width:75%">
          <textarea name="txtAssignedTo" maxlength="2000" [(ngModel)]="EditIssue.assigneD_TO" matInput required
            placeholder="Assigned To (SPOC)">{{EditIssue.assigneD_TO}}</textarea>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field style="width:calc(50% - 20px)">
          <textarea name="txtIdentifiedBy" maxlength="50" [(ngModel)]="EditIssue.identifieD_BY" matInput
            placeholder="Identified By(Person Name)" required>{{EditIssue.identified_BY}}</textarea>
        </mat-form-field>
        <!-- <mat-form-field *ngIf ="levelmode"  style="padding-left: 25px;"> -->
        <mat-form-field style="padding-left: 25px;">
          <mat-select *ngIf="EditIssue.reporteD_BY=='reportedbyGAVS'" name="ddLevelGavs" [(ngModel)]="EditIssue.level"
            placeholder="Level" required>
            <mat-option value="CXO">CXO</mat-option>
            <mat-option value="Sales">Sales</mat-option>
            <mat-option value="AccountManagement">Account Management</mat-option>
            <mat-option value="Delivery">Delivery</mat-option>
            <mat-option value="buhead">BU Head</mat-option>
            <mat-option value="pm">PM</mat-option>
            <mat-option value="sponser">Sponsor</mat-option>
          </mat-select>
          <mat-select *ngIf="EditIssue.reporteD_BY!='reportedbyGAVS'" name="ddLevelCustomer"
            [(ngModel)]="EditIssue.level" placeholder="Level" required>
            <mat-option value="cxo">CXO</mat-option>
            <mat-option value="BusinessStakeholder">Business Stakeholder</mat-option>
            <mat-option value="OperationsStakeholder">Operations Stakeholder</mat-option>
            <mat-option value="Purchase">Purchase</mat-option>
            <mat-option value="buhead">BU Head</mat-option>
            <mat-option value="pm">PM</mat-option>
            <mat-option value="sponser">Sponsor</mat-option>
          </mat-select>
        </mat-form-field>
        <div style="color: #757575;float: right;font-size: 11px;width: 50%;">This issue will be displayed under EWS in
          Governance dashboard based on Level Selected.</div>
      </div>




      <div class="row">
        <mat-form-field>
          <input [max]="_util.Today()" matInput name="dtIdentifiedDate" [(ngModel)]='EditIssue.identifieD_DATE'
            [matDatepicker]="pickerIdentifiedDate" placeholder="Identified Date" required>
          <mat-datepicker-toggle matSuffix [for]="pickerIdentifiedDate"></mat-datepicker-toggle>
          <mat-datepicker #pickerIdentifiedDate></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <input [min]="EditIssue.identifieD_DATE" matInput name="dtAckDate" [(ngModel)]='EditIssue.ack_DATE'
            [matDatepicker]="pickerAckDate" placeholder="Acknowledgement Date">
          <mat-datepicker-toggle matSuffix [for]="pickerAckDate"></mat-datepicker-toggle>
          <mat-datepicker #pickerAckDate></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <input [min]="EditIssue.identifieD_DATE" matInput name="dtTargetDate" [(ngModel)]='EditIssue.targeT_DATE'
            [matDatepicker]="pickerTargetDate" placeholder="Target Date" required>
          <mat-datepicker-toggle matSuffix [for]="pickerTargetDate"></mat-datepicker-toggle>
          <mat-datepicker #pickerTargetDate></mat-datepicker>
        </mat-form-field>
      </div>


      <div class="row">
        <mat-form-field>
          <mat-select name="ddStatus" [(ngModel)]="EditIssue.status" placeholder="Status" required>
            <mat-option value="Identified">Identified</mat-option>
            <mat-option value="Open">Open</mat-option>
            <mat-option value="In-Progress">In-Progress</mat-option>
            <mat-option value="Closed">Closed</mat-option>
            <mat-option value="Hold">On Hold</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- <mat-form-field style="width:75%">
            <textarea name="txtStatus" maxlength="50" [(ngModel)]="EditIssue.status" matInput placeholder="Status" required></textarea>
          </mat-form-field> -->
      </div>
      <div class="row">
        <mat-form-field>
          <input [min]="EditIssue.identifieD_DATE" [max]="_util.Today()" matInput name="dtResolvedDate"
            [(ngModel)]='EditIssue.issuE_RESOLVED_DATE' [matDatepicker]="pickerResolvedDate"
            placeholder="Issue Resolved Date">
          <mat-datepicker-toggle matSuffix [for]="pickerResolvedDate"></mat-datepicker-toggle>
          <mat-datepicker #pickerResolvedDate></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field style="width:75%">
          <textarea name="txtComments" [(ngModel)]="EditIssue.comments" matInput placeholder="Comments/Final Resolution"
            required>{{EditIssue.comments}}</textarea>
        </mat-form-field>
      </div>
      <!-- <div style="float:left">
      <label
        style="height: 17px;text-align: left;opacity: 1">Upload File</label>
    </div> -->

      <!--<div style="margin: 15px">
     <div class="row">
      <input type="file" #fileUpload class="form-control"  name="single" ng2FileSelect style="width:calc(30% - 20px)" multiple/>
      <button class="btn btn-success" value="Upload" (click)='Save_onClick(fileUpload)'
        style="float: right;margin-top: -33px;margin-right: 800px;"> Upload
      </button>
       <span style="color:#4e5882;"><span style="color:red">*</span>.xslm or .xlsx file only</span> 
    </div>
    <mat-progress-bar *ngIf="_loading" mode="indeterminate"></mat-progress-bar>
  </div> -->

      <div class="row">
        <button type="submit" class="btn btn-success">Save</button>
      </div>
    </div>
  </form>
</div>