
<div class="dialog" style="box-shadow: 0px -3px 3px #00000029;opacity: 1;overflow-x: hidden;">
  <div class="row" mat-dialog-title style="height: 40px;background: #EBEBEB 0% 0% no-repeat padding-box;opacity: 1;">

    <div style="float:left">
      <label
        style="height: 17px;text-align: left;font: normal normal normal 14px/17px Roboto,'Helvetica Neue',sans-serif;;letter-spacing: 0px;color: #333333;opacity: 1;margin-left: 15px;margin-top: 5px">
         {{dialogTitle}}</label>
    </div>

    <div style="float:right;margin: 5px;">
      <a class="close-button" (click)="onClose()" style="color:#333333;cursor: pointer;">
        <mat-icon class="close-icon">close</mat-icon>
      </a>
    </div>

  </div>
  <div class="row" style="display:flex">
    <label style="text-align:center">Reason : </label>
    <textarea  style="width: 80%;height: 93px;" [(ngModel)]="reason"></textarea>
    <!-- <textarea  style="width: 80%;height: 93px;" *ngIf="kpiAction == 3" [(ngModel)]="kpiDetails.disputeOverallReason.overalL_DISPUTE_RAISED_REASON" (ngModelChange)="dataChanged($event)"></textarea>
    <textarea  style="width: 80%;height: 93px;" *ngIf="kpiAction == 5" [(ngModel)]="kpiDetails.disputeOverallReason.overalL_DISPUTE_REJECT_REASON" (ngModelChange)="dataChanged($event)"></textarea> -->
  </div>
  <div style="text-align:center">
    <button class="btn btn-success" value="Save" (click)="SaveDetails()">Save</button>
  </div>
  </div>