<div *ngIf ="(data.id == 1 || data.id == 2)" class="panel panel-primary" style="margin-bottom: 3px;width: 215px;height: 200px;">
    <div class="panel-heading">Project Details </div>
    <table  class="table table-bordered" style="font-size:12px">
        <tr>
            <th style="text-align:left;background: #337ab730;">Project Name</th>  
        </tr>
      <tbody *ngFor="let h of data.info" >
          <tr>
            <td>{{h.proJ_NM}}</td>
        </tr>
      </tbody>
      <div style="margin: 5px;" *ngIf="data.info.length == 0">No Data to display </div>
    </table>
  </div>
  <div *ngIf ="(data.id == 3)" class="panel panel-primary" style="margin-bottom: 3px;overflow:scroll;">
      <div class="panel-heading">Project Details </div>
      <table  class="table table-bordered" style="font-size:12px">
          <tr>
              <th style="text-align:left;background: #337ab730;">Employee ID</th> 
              <th style="text-align:left;background: #337ab730;">Employee Name</th>  
          </tr>
        <tbody *ngFor="let h of data.info" >
            <tr>
              <td>{{h.emP_ID}}</td>
              <td>{{h.frsT_NM}}</td>
          </tr>
        </tbody>
        <div style="margin: 5px;" *ngIf="data.info.length == 0">No Data to display </div>
      </table>
    </div>
  <div style="text-align:center;padding-bottom:2px;margin: 20px">
    <button mat-button mat-dialog-close>Close</button>
</div> 