<div class="row" style="margin-top: 20px !important; height: 50px !important">
  <div class="col-lg-4 col-md-4 col-sm-4" style="text-align: left">
    <label class="titlename">Evaluate Benefits</label>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-2" style="left: -300px;">
    <a class="link" target="new" href="assets/helpfiles/Business_Value.pdf"
      matTooltip="Click here to know more about Benefit Types" [matTooltipPosition]="'before'">
      <mat-icon>picture_as_pdf</mat-icon>
      <!-- <i class="fa fa-file-pdf"></i> -->
    </a>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6" style="text-align: right; padding-right: 30px">
    <button class="btnBack" style="margin-right: 7px" (click)="setBack()">Back</button>
    <button class="btnBack" style="margin-right: 7px" (click)="btnsaveBenefits()">Save</button>
    <button class="btnNext" (click)="submitForm(1)">Next</button>
  </div>
</div>
<div class="row" style="float: right;margin-top: -15px;">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <label style="font-size: 11px;"><span class="Mandatory">*</span>On Clicking Save or Next Benefit
      Data Would Be Saved.</label>
  </div>
</div>
<!-- <div class="row" style="margin-bottom: 5px">
  <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: center !important;
   cursor: pointer;text-align: left;color: #4B4EB1;opacity: 1; display: flex; justify-content: center; align-items: center;
   font: normal normal normal 16px Lato; font-size: 16px" (click)="createNewBenefit()">
    <span class="material-icons" style="margin-right: 5px;">add</span>
    <span style="font-size: 16px">Click here to add new benefit</span>
  </div>
</div> -->



<div>
  <mat-progress-bar *ngIf="isSubmitted " mode="indeterminate"></mat-progress-bar>
</div>


  <div class="col-lg-8 col-md-8 col-sm-8" style="background-color: #FFFFFF;margin-left: 1%;width:65.3% !important;">
    <div class="col-lg-8 col-md-8 col-sm-8" style="text-align: left;margin-top: 1%;">
      <label class="control-label" style="top: 249px;margin-top:10px;left: 35px;height: 19px;text-align: left;
                  font: normal normal normal 16px/19px Lato;letter-spacing: 0px;color: #2A397D;opacity: 1;">Idea Details               
              </label>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <label class="control-label required " for="ImpType">Improvement Type
        <span class="Mandatory ">*</span>
      </label>
      <mat-form-field floatLabel="never" class="no-line " style="width: 100%;margin-top: -15px; ">
        <mat-label class="placeholder " style="top: 449px;left: 44px;width: 22px;height: 15px;text-align: left;font:
         normal normal normal 12px/15px Lato;letter-spacing: 0px;color: #666666;opacity: 1; ">Improvement
          type</mat-label>
        <mat-select required [disabled]="_bvdService.isIdeaSubmitted" name="ddlImpType "
          [(ngModel)]="idea.ideA_IMPROVEMENT_TYPE_ID" style="padding:2px 2px
             2px 2px;top: 439px;margin-top: -15px !important;margin-left: -5px !important;left: 34px;width: 100%;height: 35px;background:
             var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;background: #FFFFFF 0% 0% no-repeat padding-box;border: 0.5px
             solid #BCBCBC;border-radius: 2px;opacity: 1; ">
          <mat-option *ngFor="let imp of improvementS_TYPE " [value]="imp.id ">
            {{imp.type}}
          </mat-option>
        </mat-select>
        <!-- <div class="alert alert-danger"
          *ngIf="ideaForm.controls.ddlImpType?.touched && !ideaForm.controls.ddlImpType?.valid ">
          Improvement type is required
        </div> -->
      </mat-form-field>
    </div>
  
    <div class="col-lg-6 col-md-6 col-sm-6">
      <label class="control-label required" for="SolnCategory "
        style="top: 571px;left: 354px;width: 145px;height:
         15px;text-align: left;font: normal normal normal 12px/15px Lato;letter-spacing: 0px;color: #2D2D2D;opacity: 1; ">Potential Solution Category</label>
      <mat-form-field floatLabel="never" class="no-line " style="width: 100%;margin-top: -15px; ">
        <mat-label class="placeholder " style="top: 601px;left: 364px;width: 35px;height: 15px;text-align: left;font:
           normal normal normal 12px/15px Lato;letter-spacing: 0px;color: #666666;opacity: 1; ">Select
          Category</mat-label>
        <mat-select name="ddlSolnCategory " [disabled]="_bvdService.isIdeaSubmitted"
          [(ngModel)]="idea.potentiaL_SOLUTION_CATEGORY_ID" style="padding:2px 2px
             2px 2px;top: 591px;margin-top: -15px !important;margin-left: -5px !important;left: 354px;width: 100%;height: 35px;background:
  #FFFFFF 0% 0% no-repeat padding-box;border: 0.5px solid #BCBCBC;border-radius: 2px;opacity: 1; ">
          <mat-option *ngFor="let p of potentialCategories " [value]="p.id ">
            {{p.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div> 
  
  <div class="col-lg-12 col-md-12 col-sm-12" style="background-color: #FFFFFF;margin-left:-1.5%">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <label class="control-label required " for="ServiceArea">Service Tower
        <span class="Mandatory ">*</span>
        <span class="info fa fa-info-circle "
          matTooltip="Select the Service Tower where the problem exist and that would be solved by the proposed Idea/Improvement/Potential Solution"></span>
      </label>
      <mat-form-field floatLabel="never" class="no-line " style="width: 100%;;margin-top: -15px; ">
        <mat-label class="placeholder " style="top: 276px;left: 364px;width: 100px;height: 15px;text-align: left;font:
          normal normal normal 12px/15px Lato;letter-spacing: 0px;color: #666666;opacity: 1; ">Select Service
          Area</mat-label>
        <mat-select required [disabled]="_bvdService.isIdeaSubmitted" name="ServiceArea " style="padding: 2px 2px 2px 2px; top: 266px;margin-top: -15px !important;margin-left:
             -5px !important;left: 320px;width: 100%;height: 35px;background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;background:
              #FFFFFF 0% 0% no-repeat padding-box;border: 0.5px solid #BCBCBC;border-radius: 2px;opacity: 1;"
          [(ngModel)]="idea.servicE_AREA_ID" (ngModelChange)="getProcessAreas(idea.servicE_AREA_ID)">
          <mat-option *ngFor="let sa of serviceAreaList" [value]="sa.id">
            {{sa.title}}
          </mat-option>
        </mat-select>
        <!-- <div class="alert alert-danger "
          *ngIf="ideaForm.controls.ServiceArea?.touched && !ideaForm.controls.ServiceArea?.valid ">
          Service Tower is required
        </div> -->
      </mat-form-field>
    </div>
  <!-- -- Process Area -->
    <div class="col-lg-4 col-md-4 col-sm-4" style="margin-left: 2%;">
      <label class="control-label required " for="ProcessArea ">Process Area</label>
      <mat-form-field floatLabel="never" class="no-line " style="width: 100%;margin-top: -15px; ">
        <mat-label class="placeholder " style="top: 526px;left: 364px;width: 103px;height: 15px;text-align: left;font:
  normal normal normal 12px/15px Lato;letter-spacing: 0px;color: #666666;opacity: 1; ">Select Process
          Area</mat-label>
        <mat-select name="ddlProcessArea " [disabled]="_bvdService.isIdeaSubmitted" style="padding:2px 2px 2px 2px;top: 516px;margin-top: -15px !important;margin-left:
          -5px !important;left: 354px;width: 100%;height: 35px;background: #FFFFFF 0% 0% no-repeat padding-box;border: 0.5px solid
  #BCBCBC;border-radius: 2px;opacity: 1; " [(ngModel)]="idea.procesS_AREA_ID "
          (ngModelChange)="getProcesses(idea.procesS_AREA_ID) ">
          <mat-option *ngFor="let pa of processAreaList " [value]="pa.id ">{{pa.title}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  
    <div class="col-lg-4 col-md-4 col-sm-4" style="float: right;margin-right: -3%;">
      <label class="control-label required " for="Process ">Process</label>
      <mat-form-field floatLabel="never" class="no-line " style="width: 100%;margin-top: -15px; ">
        <mat-label class="placeholder " style="top: 600px;left: 44px;width: 75px;height: 15px;text-align: left;font:
            normal normal normal 12px/15px Lato;letter-spacing: 0px;color: #666666;opacity: 1; ">Select Process</mat-label>
        <mat-select name="ddlProcess " [disabled]="_bvdService.isIdeaSubmitted" style="padding:2px 2px 2px 2px;top: 590px;margin-top: -15px !important;margin-left:
          -5px !important;left: 34px;width: 100%;height: 35px;background: #FFFFFF 0% 0% no-repeat padding-box;border: 0.5px solid
  #BCBCBC;border-radius: 2px;opacity: 1; " [(ngModel)]="idea.procesS_ID">
          <mat-option *ngFor="let p of processList " [value]="p.id ">
            {{p.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div> 
  </div>
</div>





<div class="row">
  <div class="col-lg-8 col-md-8 col-sm-8" style="
  cursor: pointer;text-align: right;color: #4B4EB1;opacity: 1; display: flex; 
  font: normal normal normal 16px Lato; font-size: 16px;margin-top: 1%;margin-bottom: 1%;float: right;left: 16%;" (click)="createNewBenefit()">
   <span class="material-icons" style="margin-right: 5px;">add</span>
   <span style="font-size: 16px">Click here to add new benefit</span>
 </div>
</div>

<div class="row"> 
  <div class="col-lg-8 col-md-8 col-sm-8" *ngFor="let benefit of allBenefits; let index = index"
    style="margin-bottom: 15px" [hidden]="benefit.hidden">
    <mat-accordion>
      <mat-expansion-panel [expanded]="benefit.isExpand">
        <mat-expansion-panel-header>
          <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
              <label class="control-label" for="benefits" style="top: 249px;margin-top:10px;left: 35px;width: 75px;height: 19px;text-align: left;
                  font: normal normal normal 16px/19px Lato;letter-spacing: 0px;color: #2A397D;opacity: 1;">Benefits
                <span class="Mandatory">*</span>
              </label>
              <mat-radio-group required [disabled]="_bvdService.isIdeaSubmitted"
                [(ngModel)]="benefit.ideA_BENEFIT_SUMMARY.benefiT_PILLAR_ID"
                (ngModelChange)="getCategoryByBenefitPillar(benefit.ideA_BENEFIT_SUMMARY)"
                style="width: 100%;margin-top: -23px;margin-left: 90px;display: flex;flex-direction: row;">
                <mat-radio-button *ngFor="let pillar of benefitPillars" style="margin-right:10px"
                  [value]="pillar.value">{{pillar.title}}</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4">
            <label class="control-label" style="top: 288px;left: 35px;width: 75px;">
              Type
              <span class="Mandatory">*</span>
            </label>
            <mat-form-field floatLabel="never" class="no-line" style="width: 100%;margin-top: -15px;">
              <mat-label class="placeholder" style="top: 319px;left: 45px;width: 29px;">Select Type
              </mat-label>
              <mat-select required [disabled]="_bvdService.isIdeaSubmitted"
                [(ngModel)]="benefit.ideA_BENEFIT_SUMMARY.typE_ID" name="type"
                style="top: 309px;left: 35px;width: 191px;height: 35px;margin-left:-3px;margin-top: -10px; background: #FFFFFF 0% 0% no-repeat padding-box;border: 0.5px solid #BCBCBC;border-radius: 2px;opacity: 1;">
                <mat-option [value]="t.value" *ngFor="let t of type">{{t.title}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <label class="control-label" style="top: 288px;left: 246px;width: 75px;">
              Beneficiary
              <span class="Mandatory">*</span>
            </label>
            <mat-form-field floatLabel="never" class="no-line" style="width: 100%;margin-top: -15px;">
              <mat-label class="placeholder" style="top: 319px;left: 256px;width: 31px;">
                Select Beneficiary
              </mat-label>
              <mat-select [disabled]="_bvdService.isIdeaSubmitted"
                [(ngModel)]="benefit.ideA_BENEFIT_SUMMARY.beneficiarY_ID"
                style="top: 309px;left: 246px;width: 235px;height: 35px;;margin-left:-3px;margin-top: -10px;background: #FFFFFF 0% 0% no-repeat padding-box;border: 0.5px solid #BCBCBC;border-radius: 2px;opacity: 1;">
                <mat-option [value]="b.value" *ngFor="let b of beneficiary">{{b.title}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <label class="control-label" style="top: 288px;left: 501px;width: 75px;">
              Benefit Type
              <span class="Mandatory">*</span>
            </label>
            <mat-form-field floatLabel="never" class="no-line" style="width: 100%;margin-top: -15px;">
              <mat-label class="placeholder" style="top: 321px;left: 516px;width: 67px;">
                Select Benefit Type
                <span class="Mandatory">*</span>
              </mat-label>
              <mat-select [disabled]="_bvdService.isIdeaSubmitted"
                [(ngModel)]="benefit.ideA_BENEFIT_SUMMARY.benefiT_TYPE_ID"
                (selectionChange)="getCategoryByBenefitPillar(benefit.ideA_BENEFIT_SUMMARY)"
                style="top: 309px;left: 376px;width: 235px;height: 35px;;margin-left:-3px;margin-top: -10px;background: #FFFFFF 0% 0% no-repeat padding-box;border: 0.5px solid #BCBCBC;border-radius: 2px;opacity: 1;">
                <mat-option [value]="b.value" *ngFor="let b of benefitType">{{b.title}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div *ngIf="benefit.ideA_BENEFIT_SUMMARY.benefiT_TYPE_ID == 2">
          <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-10">
              <label class="control-label" style="top: 364px;left: 35px;width: 100%;">
                Category
                <span class="Mandatory">*</span>
              </label>
              <mat-form-field floatLabel="never" class="no-line" style="width: 100%;margin-top: -15px;">
                <mat-select required [disabled]="_bvdService.isIdeaSubmitted"
                  [(ngModel)]="benefit.ideA_BENEFIT_SUMMARY.categorY_ID"
                  (ngModelChange)="getApplicableBenefits(benefit)"
                  style="top: 385px;left: 35px;width: 800px;height: 35px;margin-left:-3px;margin-top: -10px;background: #FFFFFF 0% 0% no-repeat padding-box;border: 0.5px solid #BCBCBC;border-radius: 2px;opacity: 1;">
                  <mat-option *ngFor="let c of benefit.ideA_BENEFIT_SUMMARY.categories" [value]="c.id">
                    {{c.title}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
              <label class="control-label" style="top: 440px;left: 35px;width: 75px;">
                Benefit Title
                <span class="Mandatory">*</span>
              </label>
              <mat-form-field required floatLabel="never" class="no-line" style="width: 100%;margin-top: -15px;">
                <mat-label class="placeholder" style="top: 471px;left: 45px;width: 130px;">Enter the title of
                  benefit</mat-label>
                <input [readonly]="_bvdService.isIdeaSubmitted" type="text" name="btitle"
                  [(ngModel)]="benefit.benefiT_DETAILS_QUALITATIVE.benefiT_TITLE" matInput
                  style="top: 461px;left: 35px;width: 249px;margin-left:-3px;margin-top: -5px;height: 35px;background: #FFFFFF 0% 0% no-repeat padding-box;border: 0.5px solid #BCBCBC;border-radius: 2px;opacity: 1;">
              </mat-form-field>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <label class="control-label" style="top: 440px;left: 304px;width: 102px;">
                Benefit Description
              </label>
              <mat-form-field floatLabel="never" class="no-line" style="width: 100%;margin-top: -15px;">
                <mat-label class="placeholder" style="top: 471px;left: 314px;width: 130px;">Enter benefit
                  description</mat-label>
                <textarea [readonly]="_bvdService.isIdeaSubmitted" name="bdesc"
                  [(ngModel)]="benefit.benefiT_DETAILS_QUALITATIVE.benefiT_DESCRIPTION" matInput
                  style="top: 461px;left: 304px;width: 520px;margin-left:-3px;margin-top: -5px;height: 35px;background: #FFFFFF 0% 0% no-repeat padding-box;border: 0.5px solid #BCBCBC;border-radius: 2px;opacity: 1;">

                </textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div *ngIf="benefit.ideA_BENEFIT_SUMMARY.benefiT_TYPE_ID == 1">
          <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-10">
              <label class="control-label" style="top: 364px;left: 35px;width: 100%;">
                Category
                <span class="Mandatory">*</span>
              </label>
              <mat-form-field floatLabel="never" style="width: 100%;margin-top: -15px;" class="no-line">
                <mat-label class="placeholder" style="top: 395px;left: 45px;width: 80px;">Select category</mat-label>
                <mat-select [disabled]="_bvdService.isIdeaSubmitted"
                  [(ngModel)]="benefit.ideA_BENEFIT_SUMMARY.categorY_ID"
                  (ngModelChange)="getApplicableBenefits(benefit)"
                  style="top: 385px;left: 35px;width: 800px;height: 35px;margin-left:-3px;margin-top: -10px;background: #FFFFFF 0% 0% no-repeat padding-box;border: 0.5px solid #BCBCBC;border-radius: 2px;opacity: 1;">
                  <mat-option *ngFor="let c of benefit.ideA_BENEFIT_SUMMARY.categories" [value]="c.id">
                    {{c.title}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
              <input type="checkbox" [disabled]="_bvdService.isIdeaSubmitted"
                [(ngModel)]="benefit.ideA_BENEFIT_SUMMARY.iS_ONETIME" id="ideaBenefit" name="ideaBenefit">
              <label class="control-label" for="ideaBenefit"
                style="top: 440px;left: 52px;width: 327px;margin-left: 5px;"> Is this idea/ Improvement /Innovation
                gives onetime benefit?</label>
            </div>
          </div>

          <ng-container *ngIf="benefit.benefiT_DETAILS_QUANTITATIVE_VM.benefitS_ARRAY.length > 0">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <label
                  style="top: 474px;left: 35px;width: 94px;height: 19px;text-align: left;font: normal normal medium 16px/19px Lato;letter-spacing: 0px;color: #2A397D;opacity: 1;">Current
                  State</label>
              </div>
            </div>
            <div class="row" *ngFor="let b of benefit.benefiT_DETAILS_QUANTITATIVE_VM.benefitS_ARRAY; let i = index">
              <div class="col-lg-6 col-md-6 col-sm-6" *ngIf="!benefit.ideA_BENEFIT_SUMMARY?.iS_ONETIME">
                <label class="control-label" style="top: 512px;left: 35px;width: 100%"> {{b.title}} per Month (
                  {{b.datatype}} )
                  <span class="Mandatory">*</span>
                </label>
                <mat-form-field floatLabel="never" class="no-line" style="width: 100%;margin-top: -10px;">
                  <mat-label class="placeholder" style="top: 543px;left: 45px;width: 51px;">Enter
                    {{b.datatype}}</mat-label>
                  <input [readonly]="_bvdService.isIdeaSubmitted" type="text" name="currentstate-{{i}}"
                    [(ngModel)]="b.currenT_STATE_MONTH" matInput
                    style="top: 533px;left: 35px;width: 372px;height: 35px;margin-left:-3px;margin-top: -10px;background: #FFFFFF 0% 0% no-repeat padding-box;border: 0.5px solid #BCBCBC;border-radius: 2px;opacity: 1;">
                </mat-form-field>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <label class="control-label" style="top: 512px;left: 429px;width: 100%">
                  {{benefit.ideA_BENEFIT_SUMMARY?.iS_ONETIME ? b.title : b.title + ' per Year'}} ( {{b.datatype}} )
                  <span class="Mandatory">*</span>
                </label>
                <mat-form-field floatLabel="never" class="no-line" style="width: 100%;margin-top: -10px;">
                  <mat-label class="placeholder" style="top: 543px;left: 439px;width: 100%">Enter
                    {{b.datatype}}</mat-label>
                  <input type="text" [readonly]="_bvdService.isIdeaSubmitted" name="currentstate-{{i}}"
                    [(ngModel)]="b.currenT_STATE_YEAR" matInput
                    style="top: 533px;left: 429px;width: 371px;height: 35px;margin-left:-3px;margin-top: -10px;background: #FFFFFF 0% 0% no-repeat padding-box;border: 0.5px solid #BCBCBC;border-radius: 2px;opacity: 1;">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <label
                  style="top: 664px;left: 35px;width: 100%;height: 19px;text-align: left;font: normal normal medium 16px/19px Lato;letter-spacing: 0px;color: #2A397D;opacity: 1;">Future
                  State</label>
              </div>
            </div>
            <div class="row" *ngFor="let b of benefit.benefiT_DETAILS_QUANTITATIVE_VM.benefitS_ARRAY; let i = index">
              <div class="col-lg-6 col-md-6 col-sm-6" *ngIf="!benefit.ideA_BENEFIT_SUMMARY?.iS_ONETIME">
                <label class="control-label" style="top: 700px;left: 35px;width: 100%">{{b.title}} per Month (
                  {{b.datatype}} )
                  <span class="Mandatory">*</span>
                </label>
                <mat-form-field floatLabel="never" class="no-line" style="width: 100%;margin-top: -10px;">
                  <mat-label class="placeholder" style="top: 731px;left: 45px;width: 74px;">Enter
                    {{b.datatype}}</mat-label>
                  <input [readonly]="_bvdService.isIdeaSubmitted" type="text" name="futurestate - {{i}}"
                    [(ngModel)]="b.futurE_STATE_MONTH" matInput
                    style="top: 721px;left: 35px;width: 372px;height: 35px;margin-left:-3px;margin-top: -10px;background: #FFFFFF 0% 0% no-repeat padding-box;border: 0.5px solid #BCBCBC;border-radius: 2px;opacity: 1;">
                </mat-form-field>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <label class="control-label" style="top: 700px;left: 429px;width: 100%">
                  {{benefit.ideA_BENEFIT_SUMMARY.iS_ONETIME ? b.title : b.title + ' per Year'}} ( {{b.datatype}} )
                  <span class="Mandatory">*</span>
                </label>
                <mat-form-field floatLabel="never" class="no-line" style="width: 100%;margin-top: -10px;">
                  <mat-label class="placeholder" style="top: 731px;left: 439px;width: 100%">Enter
                    {{b.datatype}}</mat-label>
                  <input type="text" [disabled]="_bvdService.isIdeaSubmitted" name="futurestate - {{i}}" matInput
                    [(ngModel)]="b.futurE_STATE_YEAR"
                    style="top: 721px;left: 429px;width: 371px;height: 35px;margin-left:-3px;margin-top: -10px;background: #FFFFFF 0% 0% no-repeat padding-box;border: 0.5px solid #BCBCBC;border-radius: 2px;opacity: 1;">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <label
                  style="top: 852px;left: 35px;width: 100%;height: 19px;text-align: left;font: normal normal medium 16px/19px Lato;letter-spacing: 0px;color: #2A397D;opacity: 1;">Net
                  Benefits</label>
              </div>
            </div>
            <div class="row" *ngFor="let b of benefit.benefiT_DETAILS_QUANTITATIVE_VM.benefitS_ARRAY; let i = index">
              <div class="col-lg-6 col-md-6 col-sm-6" *ngIf="!benefit.ideA_BENEFIT_SUMMARY?.iS_ONETIME">
                <label class="control-label" style="top: 888px;left: 35px;width: 100%;">{{b.title}} per Month (
                  {{b.datatype}} )
                  <span class="Mandatory">*</span>
                </label>
                <mat-form-field floatLabel="never" class="no-line" style="width: 100%;margin-top: -10px;">
                  <mat-label class="placeholder" style="top: 919px;left: 45px;width: 100%">Enter
                    {{b.datatype}}</mat-label>
                  <input type="text" [readonly]="_bvdService.isIdeaSubmitted" name="netbenefits - {{i}}"
                    [(ngModel)]="b.neT_BENEFITS_MONTH" matInput
                    style="top: 909px;left: 35px;width: 372px;height: 35px;margin-left:-3px;margin-top: -10px;background: #FFFFFF 0% 0% no-repeat padding-box;border: 0.5px solid #BCBCBC;border-radius: 2px;opacity: 1;">
                </mat-form-field>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <label class="control-label" style="top: 888px;left: 429px;width:100%;">
                  {{benefit.ideA_BENEFIT_SUMMARY?.iS_ONETIME ? b.title : b.title + ' per Year'}} ( {{b.datatype}} )
                  <span class="Mandatory">*</span>
                </label>
                <mat-form-field floatLabel="never" class="no-line" style="width: 100%;margin-top: -10px;">
                  <mat-label class="placeholder" style="top: 919px;left: 439px;width: 100%;">Enter
                    {{b.datatype}}</mat-label>
                  <input type="text" [readonly]="_bvdService.isIdeaSubmitted" name="netbenefits - {{i}}"
                    [(ngModel)]="b.neT_BENEFITS_YEAR" matInput
                    style="top: 909px;left: 429px;width: 371px;height: 35px;margin-left:-3px;margin-top: -10px;background: #FFFFFF 0% 0% no-repeat padding-box;border: 0.5px solid #BCBCBC;border-radius: 2px;opacity: 1;">
                </mat-form-field>
              </div>
            </div>
          </ng-container>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: center">
            <button class="btnBack" style="margin-right: 5px" (click)="clearData()" >Clear</button>
            <!-- <button class="btnNext" [disabled]="_bvdService.isIdeaSubmitted" (click)="saveForm(benefit, index)">Save</button> -->
            <button class="btnNext" style="margin-left: 2px;" [disabled]="_bvdService.isIdeaSubmitted"
              (click)="deleteForm(benefit,index)">Delete</button>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

</div>