<div style="min-height: 500px;font-size: 11px;" class="font-regular">
  <div style="background-color: #f1f1f1;">
    <div class="pageborder">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: left;">
          <img class="image" style="height:45px;padding:5px" src="assets/images/{{_layoutService.selectedCust}}.png" onerror="this.src ='assets/images/CustomerLogo.png'">
        </div>
      </div>
    </div>
    <div>
      <div style="display: inline-block; padding:10px 5px 15px 20px;">
        <a [routerLink]="['/newdashboard/cust', _layoutService.selectedCust, false]" class="font-regular" style="font-size:14px; color:#2D2D2D">Dashboard</a>
        <span> / </span>
        <a [routerLink]="['/layout/timesheetnewhome/',_layoutService.selectedCust]" class="font-regular" style="font-size:14px; color:#2D2D2D">Timesheet (For Approval)</a>
        <!-- <a class="font-regular" style="font-size:14px; color:#2D2D2D">Timesheet</a> -->
        <span> / </span>
        <span class="font-medium" style="font-size: 18px; line-height: 24px; color:#4E5882">Reports</span>
      </div>
      <div class="back-to-timesheet" style="float: right;">
        <a [routerLink]="['/layout/timesheetnewhome/',_layoutService.selectedCust]"><img style="height: 15px;" src="../assets/images/back_round.png">
         
        </a><span style="vertical-align: bottom;"> Back to Timesheet Approval </span>
      </div>
    </div>
    <div style="padding:20px;">
      <div style="border: 1px solid #D0D0D0; border-radius: 7px; min-height: 400px; background-color: white;">
        <div>
          <div class="row" style="padding-top: 15px;">
            <div class="col-sm-2 select-project-align">
              <div (click)="toggleList()" class="selectProject">
                <span *ngIf="selectedProject.proJ_NM==null" class="project-name">Select Project:</span>
                <span *ngIf="selectedProject.proJ_NM!=null" class="project-name">{{selectedProject.proJ_NM}}</span>
                <span class="material-icons arrow" style="bottom: 3px">
                  keyboard_arrow_down
                </span>
              </div>
              <div *ngIf="shownList" class="dropdown">
                <mat-form-field class="filter-project">
                  <input matInput (keyup)="applyProjectFilter($event.target.value)" placeholder="Search Project" style="text-indent: 10px;">
                  <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
                <br/>

                <div *ngIf="projects.length == 0" style="padding-left: 10px; font-weight: bold; font-size: 12px;">
                  No results found
                </div>
                <mat-radio-group *ngIf="projects.length != 0" aria-labelledby="mat-radio-group-label" class="mat-radio-group" [(ngModel)]="selectedProject">
                  <mat-radio-button *ngFor="let proj of projects" class="mat-radio-button-custom" [value]="proj" (change)="toggleList()">
                    <div>{{proj.proJ_NM}}</div>
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class="col-sm-7 div-reporting-period" (click)="closeProjectSelection()">
              Reporting Period:
              <mat-form-field color="accent" style="width: 150px;">
                <mat-label> Start date </mat-label>
                <input matInput [matDatepicker]="fromDate" (dateChange)="onStartDateSelected($event)" [max]="fromMaxDate" [(ngModel)]="startDate"
                  readonly>
                <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                <mat-datepicker #fromDate color="primary"></mat-datepicker>
              </mat-form-field>
              <mat-form-field color="accent" style="width: 150px;margin-left: 10px;">
                <mat-label> End date </mat-label>
                <input matInput [matDatepicker]="toDate" (dateChange)="onEndDateSelected($event)" [min]="toMinDate" [max]="toMaxDate" [(ngModel)]="endDate"
                  readonly>
                <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                <mat-datepicker #toDate color="primary"></mat-datepicker>
              </mat-form-field>
              <button type="button" (click)="GetTimesheetData()" class="btn" [disabled]="startDate==null || endDate==null">Generate Report</button>
            </div>
            <div class="col-sm-3 exportToExcel" (click)="closeProjectSelection()">
              <!-- <a style="cursor: pointer;" matTooltip="Download" aria-label="Button that displays a tooltip when focused or hovered over">
              <img src="assets/images/picture_as_pdf-24px.svg">
            </a> -->
              <a (click)="ExportTOExcel()" style="cursor: pointer;" matTooltip="Download" aria-label="Button that displays a tooltip when focused or hovered over">
                <!-- <i style="color: #207346; font-size: 15px;" class="fa fa-file-excel-o"></i> -->
                <img src="../assets/images/xlsx-file-format-extension.png">
              </a>

            </div>
          </div>
        </div>
        <hr>
        <div class="row" class="div-table">
          <mat-progress-bar *ngIf="bProgress" mode="indeterminate"></mat-progress-bar>
          <div *ngIf="selectedReportType === 'summary' && multipleProjectTimesheets_filtered.length > 0">
            <div class="row">
              <div class="col-sm-8">
                <mat-form-field class="search-employee">
                  <input matInput [disabled]="summaryResult" [(ngModel)]="searchEmployeeSummary" (keyup)="applyFilterForSummary($event.target.value)"
                    placeholder="Search">
                  <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
              </div>
              <div class="col-sm-2">
                <div class="div-content">
                  <mat-button-toggle-group style="height:25px; width:144px;" #group="matButtonToggleGroup" [value]="selectedReportType" (change)="onValChange(group.value)">
                    <mat-button-toggle value="summary" style="width: 72px; border-bottom-left-radius: 4px; border-top-left-radius: 4px;">
                      Summary
                    </mat-button-toggle>
                    <mat-button-toggle value="detailed" style="width: 72px; border-bottom-right-radius: 4px; border-top-right-radius: 4px;">
                      Detailed
                    </mat-button-toggle>
                  </mat-button-toggle-group>
                </div>
              </div>
              <div class="col-sm-2 proj-total-hours">

                <!-- <button (click)="generatePdf()">
                <img src="assets/images/picture_as_pdf-24px.svg">
              </button> -->

                Project Total Hours:
                <b>{{totalHours}}</b>

              </div>
            </div>



            <div #SUMMARY style="display: none;">
                <table>
                    <tr>
                      <td colspan="7">Summary Report for {{selectedProject.proJ_NM}} from {{selectedDateExcel}}</td>
                    </tr>
                  </table>
              <table>
                <thead>
                  <tr>
                    <td>Task</td>
                    <td>Employee Name</td>
                    <td colspan="4">Approval Status</td>
                    <td>Total Hours</td>
                  </tr>
                  <tr>
                      <td></td>
                      <td></td>
                      <td>Approved</td>
                      <td>Rejected</td>
                      <td>For Review</td>
                      <td>For Approval</td>
                      <td></td>
                    </tr>
                </thead>
                <tbody *ngFor="let item of empGroup | groupBy: 'tasK_NAME' | keyvalue;">                  
                  <tr *ngFor="let t of item.value">
                    <td>{{item.key}}</td>
                    <td>{{t.frsT_NM}}</td>
                    <td>
                      <div *ngIf="t.approveD_TOTAL!=0;then thenBlock1 else elseBlock1"></div>
                      <ng-template #thenBlock1>
                        <div style="background-color: #dcf7e9"> {{t.approveD_TOTAL}} </div>
                      </ng-template>
                      <ng-template #elseBlock1>
                        <div style="background-color: #dcf7e9"> - </div>
                      </ng-template>
                    </td>
                    <td>
                      <div *ngIf="t.rejecteD_TOTAL!=0;then thenBlock2 else elseBlock2"></div>
                      <ng-template #thenBlock2>
                        <div style="background-color: #f7dfe0"> {{t.rejecteD_TOTAL}} </div>
                      </ng-template>
                      <ng-template #elseBlock2>
                        <div style="background-color: #f7dfe0"> - </div>
                      </ng-template>
                    </td>
                    <td>
                      <div class="col-sm-3" *ngIf="t.forrevieW_TOTAL!=0;then thenBlock3 else elseBlock3"></div>
                      <ng-template #thenBlock3>
                        <div style="background-color: #f8deaf"> {{t.forrevieW_TOTAL}} </div>
                      </ng-template>
                      <ng-template #elseBlock3>
                        <div style="background-color: #f8deaf"> - </div>
                      </ng-template>
                    </td>
                    <td>
                      <div class="col-sm-3" *ngIf="t.forapprovaL_TOTAL!=0;then thenBlock4 else elseBlock4"></div>
                      <ng-template #thenBlock4>
                        <div style="background-color: #fcceab"> {{t.forapprovaL_TOTAL}} </div>
                      </ng-template>
                      <ng-template #elseBlock4>
                        <div style="background-color: #fcceab"> - </div>
                      </ng-template>
                    </td>
                    <td style="text-align:center">
                      {{(t.approveD_TOTAL | sum) + (t.rejecteD_TOTAL | sum) + (t.forrevieW_TOTAL | sum) + (t.forapprovaL_TOTAL | sum)}}
                    </td>
                  </tr>
                </tbody>
              </table>
              <table>
                  <tr>
                      <td></td>
                    </tr>
                    <tr>
                      <td></td>
                    </tr>
                  <tr>
                    <td>Report generated from Neurealm (Formerly GSLab | GAVS Technologies) Customer Success Management Platform</td>
                  </tr>
                </table>
            </div>
            <!-- <div id="pdf1">
            <div>
              <div class="row">
                <div class="col-sm-2">

                </div>
                <div class="col-sm-10">
                  <div class="row">
                    <div class="col-sm-2">Project Name:</div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-2">Login Name:</div>
                    <div class="col-sm-2"></div>
                  </div>

                  <div class="row">
                    <div class="col-sm-2">Timesheet Date:</div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-2">Location:</div>
                    <div class="col-sm-2"></div>
                  </div>

                  <div class="row">
                    <div class="col-sm-2">Total Productive Hours:</div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-2">Exported On:</div>
                    <div class="col-sm-2"></div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div>Week -
                <span></span>
              </div>
              <div>Task -
                <span></span>
              </div>
              <div>Weekly Hours -
                <span></span>
              </div>
            </div>
            <table>
              <tr>
                <th>
                  Date
                </th>
                <th>
                  Day
                </th>
                <th>
                  Employee Name
                </th>
                <th>
                  Hours
                </th>
                <th>
                  Comments
                </th>
                <th>
                  Status
                </th>
              </tr>
              <tr *ngFor="let item of pdfData">
                <td>{{item.clndR_DATE}}</td>
                <td>{{item.clndR_DATE_DAY}}</td>
                <td>{{item.frsT_NM}}</td>
                <td>{{item.clockeD_MINS}}</td>
                <td>{{item.comments}}</td>
                <td>{{item.timE_ENTRY_STATUS}}</td>
              </tr>
            </table>
          </div> -->
            <div class="legend" *ngIf="summaryData.length != 0">

              <div class="footer-inner-div">
                <div class="dot-green"></div> Approved </div>
              <div class="footer-inner-div">
                <div class="dot-red"></div> Rejected </div>
              <div class="footer-yellow-orange">
                <div class="dot-yellow"></div> For Review </div>
              <div class="footer-yellow-orange">
                <div class="dot-orange"></div> For Approval </div>
            </div>
            <div *ngIf="summaryResult == true" style="margin-top: 8%; margin-left: 40%; font-weight: bold; font-size: 15px">
              No data found for period selected
            </div>
            <div *ngIf="summaryFilterResult == true " style="margin-top: 8%; margin-left: 40%; font-weight: bold; font-size: 15px">
              No data matching filter criteria
            </div>
            <table *ngIf="summaryData.length != 0" class="table summaryTable">
              <thead>
                <tr style="height: 35px;">
                  <th style="width:35%;">Employee Name</th>
                  <th style="width:30%;padding-left:35px;">Approval Status</th>
                  <th style="width:35%;padding-left:200px;">Total Hours</th>
                </tr>
              </thead>
              <tbody *ngFor="let item of summaryData | groupBy: 'tasK_NAME' | keyvalue;">
                <tr class="task-name">
                  <td>
                    <b>{{item.key}}</b>
                  </td>
                  <td style="padding-left:35px;">
                    <!-- <b>{{(masterTotal | filterBy:['taskName']:item.key)[0].total}} Hrs
                    </b> -->
                  </td>
                  <td style="padding-left:200px;">
                    <b> {{getMasterTotalByTaskname(item.key)}} </b>
                  </td>
                </tr>
                <tr *ngFor="let t of item.value">
                  <td>{{t.frsT_NM}}</td>
                  <td style="padding-left:35px;" class="status-col">

                    <div class="row">

                      <div *ngIf="t.approveD_TOTAL!=0;then thenBlock1 else elseBlock1"></div>
                      <ng-template #thenBlock1>
                        <div class="total-status-padding-summary">
                          <div class="dot-green"></div>
                          <div class="total-status"> {{t.approveD_TOTAL}} </div>
                        </div>
                      </ng-template>
                      <ng-template #elseBlock1>
                        <div class="total-status-padding-summary">
                          <div class="dot-green"></div>
                          <div class="total-status">
                            <span class="hypen"> - </span>
                          </div>
                        </div>
                      </ng-template>

                      <div *ngIf="t.rejecteD_TOTAL!=0;then thenBlock2 else elseBlock2"></div>
                      <ng-template #thenBlock2>
                        <div class="total-status-padding-summary">
                          <div class="dot-red"></div>
                          <div class="total-status"> {{t.rejecteD_TOTAL}} </div>
                        </div>
                      </ng-template>
                      <ng-template #elseBlock2>

                        <div class="total-status-padding-summary">
                          <div class="dot-red"></div>
                          <div class="total-status">
                            <span class="hypen"> - </span>
                          </div>
                        </div>
                      </ng-template>

                      <div class="col-sm-3" *ngIf="t.forrevieW_TOTAL!=0;then thenBlock3 else elseBlock3"></div>
                      <ng-template #thenBlock3>
                        <div class="total-status-padding-summary">
                          <div class="dot-yellow"></div>
                          <div class="total-status"> {{t.forrevieW_TOTAL}} </div>
                        </div>
                      </ng-template>
                      <ng-template #elseBlock3>
                        <div class="total-status-padding-summary">
                          <div class="dot-yellow"></div>
                          <div class="total-status">
                            <span class="hypen"> - </span>
                          </div>
                        </div>
                      </ng-template>

                      <div class="col-sm-3" *ngIf="t.forapprovaL_TOTAL!=0;then thenBlock4 else elseBlock4"></div>
                      <ng-template #thenBlock4>
                        <div class="total-status-padding-summary">
                          <div class="dot-orange"></div>
                          <div class="total-status"> {{t.forapprovaL_TOTAL}} </div>
                        </div>

                      </ng-template>
                      <ng-template #elseBlock4>
                        <div class="total-status-padding-summary">
                          <div class="dot-orange"></div>
                          <div class="total-status">
                            <span class="hypen"> - </span>
                          </div>
                        </div>

                      </ng-template>
                    </div>

                  </td>
                  <td style="padding-left:200px;">
                    <!--{{(t.approveD_TOTAL | sum) + (t.rejecteD_TOTAL | sum) + (t.forrevieW_TOTAL | sum) + (t.forapprovaL_TOTAL | sum)}}-->
                    {{t.total | sum}}
                  </td>
                </tr>

                <!-- <tr *ngIf="multipleProjectTimesheets.length > 0">
          <td colspan="5">
            
          </td>
        </tr> -->
              </tbody>
            </table>
          </div>
          <div *ngIf="selectedReportType === 'detailed'">
            <div class="row">
              <div class="col-sm-8">
                <mat-form-field class="search-employee">
                  <input matInput [disabled]="detailedResult" [(ngModel)]="searchEmployeeDetailed" (keyup)="applyFilterForDetailed($event.target.value)"
                    placeholder="Search">
                  <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
              </div>
              <div class="col-sm-2">
                <div class="div-content">
                  <mat-button-toggle-group style="height:25px; width:144px;" #group="matButtonToggleGroup" [value]="selectedReportType" (change)="onValChange(group.value)">
                    <mat-button-toggle value="summary" style="width: 72px; border-bottom-left-radius: 4px; border-top-left-radius: 4px;">
                      Summary
                    </mat-button-toggle>
                    <mat-button-toggle value="detailed" style="width: 72px; border-bottom-right-radius: 4px; border-top-right-radius: 4px;">
                      Detailed
                    </mat-button-toggle>
                  </mat-button-toggle-group>
                </div>
              </div>
              <div class="col-sm-2 proj-total-hours">
                Project Total Hours:
                <b>{{totalHours}}</b>
              </div>
            </div>
            <div #DETAILED style="display: none;">
              <table>
                <tr>
                  <td [attr.colspan]="getTotalDays(tmpSelectedDates) + 7">Detailed Report for {{selectedProject.proJ_NM}} from {{selectedDateExcel}}</td>
                </tr>
              </table>
              <table>
                <thead>
                  <tr>
                    <td>Task</td>    
                    <td></td>                    
                    <td *ngFor="let d of tmpSelectedDates;let i = index">
                      <div>
                        {{d | date:'EEE dd'}}
                      </div>
                    </td>
                    <td style="text-align: center;" class="detailedTotal">Total Hours</td>
                    <td colspan="4" style="text-align: center;">Approval Status from {{selectedDateExcel}}</td>
                  </tr>
                  <tr>
                      <td [attr.colspan]="getTotalDays(tmpSelectedDates)"></td>
                      <td></td>
                      <td></td>
                      <td>Approved</td>
                      <td>Rejected</td>
                      <td>For Review</td>
                      <td>For Approval</td>
                    </tr>
                </thead>
                <tbody *ngFor="let item of empGroup | groupBy: 'tasK_NAME' | keyvalue; let i=index">                 
                  <tr style="height: 30px;">
                    <td>{{item.key}}</td>
                    <td [attr.colspan]="getTotalDays(tmpSelectedDates)"></td>
                    <td class="total-hours">
                      <b>{{item.value | pluck:'total' | sum}}</b>
                    </td>
                    <td colspan="4" class="total-hours">
                      <!-- <b>{{(item.value | pluck:'approveD_TOTAL' | sum) + (item.value | pluck:'rejecteD_TOTAL' | sum) + (item.value
                        | pluck:'forrevieW_TOTAL' | sum) + (item.value | pluck:'forapprovaL_TOTAL' | sum)}} Hrs</b> -->
                    </td>
                  </tr>
                  
                  <tr *ngFor="let emp of item.value">
                    <td>
                        {{item.key}}
                    </td>
                    <td class="white-border">{{emp.frsT_NM}}</td>
                    <td class="white-border" *ngFor="let e of emp.timesheet" [style.background]="GetBackground(e)" style="text-align:center">
                      <b *ngIf="e.clockeD_MINS > 0 || e.proJ_TASK_ID !== 1">{{e.clockeD_MINS}}
                        <img *ngIf="e.tasK_DESC != null" [matTooltip]="e.tasK_DESC" aria-label="Button that displays a tooltip when focused or hovered over"
                          src="assets/images/comment.svg">
                      </b>
                      <b *ngIf="e.clockeD_MINS == 0"> - </b>
                    </td>
                    <td style="text-align: center;border-right: 1px gray solid;">
                      <b>{{emp.total}}</b>
                    </td>

                    <td>
                      <div *ngIf="emp.approveD_TOTAL!=0;then thenBlock1 else elseBlock1"></div>
                      <ng-template #thenBlock1>
                        <div class="col-sm-3">
                          <div class="dot-green"></div>
                          <div class="detailedStatus"> {{emp.approveD_TOTAL}} </div>
                        </div>
                      </ng-template>
                      <ng-template #elseBlock1>
                        <div class="col-sm-3">
                          <div class="dot-green"></div>
                          <div class="detailedStatus"> - </div>
                        </div>
                      </ng-template>
                    </td>
                    <td>
                      <div *ngIf="emp.rejecteD_TOTAL!=0;then thenBlock2 else elseBlock2"></div>
                      <ng-template #thenBlock2>
                        <div class="col-sm-3">
                          <div class="dot-red"></div>
                          <div class="detailedStatus"> {{emp.rejecteD_TOTAL}} </div>
                        </div>
                      </ng-template>
                      <ng-template #elseBlock2>
                        <div class="col-sm-3">
                          <div class="dot-red"></div>
                          <div class="detailedStatus"> - </div>
                        </div>
                      </ng-template>
                    </td>
                    <td>
                      <div *ngIf="emp.forrevieW_TOTAL!=0;then thenBlock3 else elseBlock3"></div>
                      <ng-template #thenBlock3>
                        <div class="col-sm-3">
                          <div class="dot-yellow"></div>
                          <div class="detailedStatus"> {{emp.forrevieW_TOTAL}} </div>
                        </div>
                      </ng-template>
                      <ng-template #elseBlock3>
                        <div class="col-sm-3">
                          <div class="dot-yellow"></div>
                          <div class="detailedStatus"> - </div>
                        </div>
                      </ng-template>
                    </td>
                    <td>
                      <div *ngIf="emp.forapprovaL_TOTAL!=0;then thenBlock4 else elseBlock4"></div>
                      <ng-template #thenBlock4>
                        <div class="col-sm-3">
                          <div class="dot-orange"></div>
                          <div class="detailedStatus"> {{emp.forapprovaL_TOTAL}} </div>
                        </div>
                      </ng-template>
                      <ng-template #elseBlock4>
                        <div class="col-sm-3">
                          <div class="dot-orange"></div>
                          <div class="detailedStatus"> - </div>
                        </div>
                      </ng-template>
                    </td>
                  </tr>
                  <!-- <tr *ngIf="multipleProjectTimesheets.length > 0">
                    <td colspan="10">
                      
                    </td>
                  </tr> -->
                </tbody>
              </table>
              <table>
                  <tr>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Report generated from Neurealm (Formerly GSLab | GAVS) Technologies Customer Success Management Platform</td>
                  </tr>
                </table>
            </div>
            <div class="row">
              <div class="col-sm-8"></div>
              <div class="col-sm-4">
                <div class="legend" *ngIf="empGroup.length != 0">

                  <div class="footer-inner-div">
                    <div class="dot-green"></div> Approved </div>
                  <div class="footer-inner-div">
                    <div class="dot-red"></div> Rejected </div>
                  <div class="footer-yellow-orange">
                    <div class="dot-yellow"></div> For Review </div>
                  <div class="footer-yellow-orange">
                    <div class="dot-orange"></div> For Approval </div>
                </div>
              </div>
            </div>
            <div *ngIf="detailedResult == true" style="margin-top: 8%; margin-left: 40%; font-weight: bold; font-size: 15px">
              No data found for period selected
            </div>
            <div *ngIf="detailedFilterResult == true " style="margin-top: 8%; margin-left: 40%; font-weight: bold; font-size: 15px">
              No data matching filter criteria
            </div>
            <div *ngIf="empGroup.length != 0" class="row sticky-top">

              <div class="col-sm-2half">
                <table class="table detailedNameTable" style="background-color:white;">
                  <thead>
                    <tr>
                      <th style="padding-left: 30px">
                        <div class="weekDate"> </div>
                      </th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let item of empGroup | groupBy: 'tasK_NAME' | keyvalue">
                    <tr style="height: 30px;">
                      <td colspan="5" class="task-type">
                        <b>{{item.key}}</b>
                      </td>
                      <!-- <td class="total-hours"><b>{{item.value | pluck:'total' | sum}}</b></td>
                        <td class="total-hours"><b>{{(item.value | pluck:'approveD_TOTAL' | sum) + (item.value | pluck:'rejecteD_TOTAL' | sum) + (item.value | pluck:'forrevieW_TOTAL' | sum) + (item.value | pluck:'forapprovaL_TOTAL' | sum)}} Hrs</b></td> -->
                    </tr>
                    <tr *ngFor="let emp of item.value">
                      <td class="white-border">
                        <div>
                          <span class="name">{{emp.frsT_NM}}</span>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-sm-7" style="padding-left:0;padding-right: 0px; overflow-x: auto;">
                <table class="table detailedTable" style="background-color:white;">
                  <thead>
                    <tr>
                      <th style="padding-left: 30px;" *ngFor="let d of tmpSelectedDates;let i = index">
                        <div class="weekDate" [style.background]="GetBackgroundByDay(d)">
                          {{d | date:'MMM'}}
                          <span style="padding-left: 1px;"> {{d | date:'dd'}} </span>
                          <br>
                          <div style="padding-top: 2px;">{{d | date:'EEE'}}</div>
                        </div>
                      </th>

                    </tr>

                  </thead>
                  <tbody *ngFor="let item of empGroup | groupBy: 'tasK_NAME' | keyvalue;">

                    <tr style="height: 30px;">
                      <td [attr.colspan]="getTotalDays(tmpSelectedDates)" class="task-type"></td>

                    </tr>
                    <tr *ngFor="let emp of item.value">
                      <td class="white-border" *ngFor="let e of emp.timesheet" [style.background]="GetBackground(e)" style="text-align:center">
                        <div style="width:100px;">
                          <span>{{getClockedMins(e) }}
                            <img *ngIf="e.tasK_DESC != null" [matTooltip]="e.tasK_DESC" aria-label="Button that displays a tooltip when focused or hovered over"
                              src="assets/images/comment.svg">
                          </span>
                          
                        </div>
                      </td>

                    </tr>

                  </tbody>
                </table>
              </div>
              <div class="col-sm-3" style=" padding-left: 0px;">
                <table class="table detailedTotalTable" style="background-color:white;">
                  <thead>
                    <tr>
                      <th style="text-align: center; height: 55px;">Total Hours</th>                      
                      <th style="text-align: center;height: 55px;border-left:1px solid #e8e8e8">Approval Status from {{showingSelectedDateRange}}</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let item of empGroup | groupBy: 'tasK_NAME' | keyvalue; let i=index">
                    <!-- <tr>
                  <td [attr.colspan]="4 + multipleProjectTimesheets_filtered[0].employees[0].timesheet.length" style="background-color:#ececec">{{multiple.proJ_NM}}</td>
                </tr> -->
                    <tr style="height: 30px;">
                      <td class="total-hours">
                        <b>{{item.value | pluck:'total' | sum}}</b>
                      </td>                      
                      <td colspan="4" class="total-hours">
                        <!-- <b>{{(item.value | pluck:'approveD_TOTAL' | sum) + (item.value | pluck:'rejecteD_TOTAL' | sum) + (item.value
                          | pluck:'forrevieW_TOTAL' | sum) + (item.value | pluck:'forapprovaL_TOTAL' | sum)}} Hrs</b> -->
                      </td>
                    </tr>
                    <tr *ngFor="let emp of item.value">
                      <td class="white-border" style="text-align: center">
                        <div>
                          <span>
                            <b>{{emp.total}}</b>
                          </span>
                        </div>
                      </td>                      
                      <td class="white-border" style="text-align:center;font-weight: bold;">
                        <div>
                          <div *ngIf="emp.approveD_TOTAL!=0;then thenBlock1 else elseBlock1"></div>
                          <ng-template #thenBlock1>
                            <div class="total-status-padding">
                              <div class="dot-green"></div>
                              <div class="total-status"> {{emp.approveD_TOTAL}} </div>
                            </div>
                          </ng-template>
                          <ng-template #elseBlock1>
                            <div class="total-status-padding">
                              <div class="dot-green"></div>
                              <div class="total-status">
                                <span class="hypen"> - </span>
                              </div>
                            </div>
                          </ng-template>

                          <div *ngIf="emp.rejecteD_TOTAL!=0;then thenBlock2 else elseBlock2"></div>
                          <ng-template #thenBlock2>
                            <div class="total-status-padding">
                              <div class="dot-red"></div>
                              <div class="total-status"> {{emp.rejecteD_TOTAL}} </div>
                            </div>
                          </ng-template>
                          <ng-template #elseBlock2>
                            <div class="total-status-padding">
                              <div class="dot-red"></div>
                              <div class="total-status">
                                <span class="hypen"> - </span>
                              </div>
                            </div>
                          </ng-template>

                          <div *ngIf="emp.forrevieW_TOTAL!=0;then thenBlock3 else elseBlock3"></div>
                          <ng-template #thenBlock3>
                            <div class="total-status-padding">
                              <div class="dot-yellow"></div>
                              <div class="total-status"> {{emp.forrevieW_TOTAL}} </div>
                            </div>
                          </ng-template>
                          <ng-template #elseBlock3>
                            <div class="total-status-padding">
                              <div class="dot-yellow"></div>
                              <div class="total-status">
                                <span class="hypen"> - </span>
                              </div>
                            </div>
                          </ng-template>

                          <div *ngIf="emp.forapprovaL_TOTAL!=0;then thenBlock4 else elseBlock4"></div>
                          <ng-template #thenBlock4>
                            <div class="total-status-padding">
                              <div class="dot-orange"></div>
                              <div class="total-status"> {{emp.forapprovaL_TOTAL}} </div>
                            </div>
                          </ng-template>
                          <ng-template #elseBlock4>
                            <div class="total-status-padding">
                              <div class="dot-orange"></div>
                              <div class="total-status">
                                <span class="hypen"> - </span>
                              </div>
                            </div>
                          </ng-template>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>