<form #validationsForm="ngForm" (ngSubmit)="SubmitForm_Validations(validationsForm.valid)">
  <div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <mat-form-field>
          <mat-select name="ddCategories" [(ngModel)]="selectedCategory" (ngModelChange)="ddCategory_Onchange()" placeholder="Category"
            required>
            <mat-option *ngFor="let c of categories" [value]="c" [title]="c.categorY_NAME">
              {{ c.categorY_NAME}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-4 col-md-6">
        <mat-form-field>
          <mat-select name="ddCriterias" [(ngModel)]="validation.criteriA_ID" (ngModelChange)="ddCriteria_Onchange()" placeholder="Criteria"
            required>
            <mat-option *ngFor="let d of criterias" [value]="d.id" [title]="d.criteriA_NAME">
              {{ d.criteriA_NAME}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <mat-form-field>
          <input name="txtValidationName" [max]="255" [(ngModel)]="validation.validatioN_NAME" matInput placeholder="Validation Name"
            required>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-6">
        <mat-form-field>
          <input type="number" maxlength="100" name="txtScorePercentage" [(ngModel)]="validation.scorE_PERCENTAGE" matInput placeholder="Score Percentage"
            required>
        </mat-form-field>
      </div>
      <div class="col-lg-2 col-md-6">
        <mat-slide-toggle name="txtAutoPopulcation" [(ngModel)]="validation.autopopulate" matInput>Auto Validation</mat-slide-toggle>
      </div>
      <div class="col-lg-4 col-md-6">
        <mat-form-field>
          <input name="txtValidationUrl" [(ngModel)]="validation.validatioN_API_URL" matInput placeholder="Validation Api URL">
        </mat-form-field>
      </div>
    </div>
    <div class="row" style="text-align:center;margin-bottom:15px">
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" (click)="formreset(validationsForm)" class="btn btn-primary">Clear</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <mat-table #table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="index">
          <mat-header-cell [ngClass]="'indexWidth'" *matHeaderCellDef>No.</mat-header-cell>
          <mat-cell [ngClass]="'indexWidth'" *matCellDef="let element = index;"> {{ (element + 1) + (paginator.pageIndex) * paginator.pageSize  }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="validatioN_NAME">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Validation Name</mat-header-cell>
          <mat-cell *matCellDef="let validation">{{validation.validatioN_NAME}}</mat-cell>
        </ng-container>
        <ng-container  matColumnDef="scorE_PERCENTAGE">
          <mat-header-cell [ngClass]="'boolWidth'" *matHeaderCellDef mat-sort-header>Score %</mat-header-cell>
          <mat-cell [ngClass]="'boolWidth'" *matCellDef="let validation"> {{validation.scorE_PERCENTAGE}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="autopopulate">
          <mat-header-cell [ngClass]="'boolWidth'" *matHeaderCellDef mat-sort-header>Auto Validation</mat-header-cell>
          <mat-cell [ngClass]="'boolWidth'" *matCellDef="let validation"> {{validation.autopopulate}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="validatioN_API_URL">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Validation URL</mat-header-cell>
          <mat-cell *matCellDef="let validation"> {{validation.validatioN_API_URL}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="comments">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Comments</mat-header-cell>
          <mat-cell *matCellDef="let validation"> {{validation.comments}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="edit">
          <mat-header-cell [ngClass]="'editWidth'" *matHeaderCellDef>
            <div *ngIf="_util.IsEditable()"></div>
          </mat-header-cell>
          <mat-cell [ngClass]="'editWidth'" *matCellDef="let element">
            <a class="link" (click)="EditRow_onClick(element)" *ngIf="_util.IsEditable()">
              <i class="fa fa-edit"></i>
            </a>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="delete">
          <mat-header-cell [ngClass]="'deleteWidth'" *matHeaderCellDef>
            <div *ngIf="_util.IsEditable()"></div>
          </mat-header-cell>
          <mat-cell [ngClass]="'deleteWidth'" *matCellDef="let element">
            <a class="link" (click)="DeleteRow_onClick(element)" *ngIf="_util.IsEditable()">
              <i class="fa fa-trash"></i>
            </a>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
    </div>
  </div>
</form>