  .footer{
    float: right;
    width: 500px;
  }

  .dot-green {
    height: 10px;
    width: 10px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
  }

  .dot-red {
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
  }

  .dot-yellow {
    height: 10px;
    width: 10px;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
  }

  .dot-orange {
    height: 10px;
    width: 10px;
    background-color: orange;
    border-radius: 50%;
    display: inline-block;
  }

  .status{
    width: 300px;
  }