body,div 
{
    font-family: calibri;
}
.mat-radio-label-content {
    padding-left: 0px!important;
}
textarea :disabled
{
    color: #000
}
.small
{
    font-size: 20px
}
.mat-menu-item
{
    font-family: 'calibri';
    font-size: 12px;
    height: 35px;
    line-height: 35px
}

.mat-column-index{
    width: 1% !important;
}

.mat-column-title{
    width : 20% !important;
}

.mat-column-description{
    width : 35% !important;
}

.mat-column-status{
    width: 12% !important;
}

.mat-column-action{
    width: 7% !important
}