<div class="row marginbottom5px">
  <div class="col-lg-12 marginbottom5px qlinks">
    <a 
      [ngClass]="_cooDashboardCommon.selectedQPeriodCsg === 'Q1' ? 'verysmalltext nowrap underline' : 'verysmalltextblack nowrap'"
      (click)="getDataForselectedQPeriod('Q1')">
      Q1 - {{_cooDashboardCommon.selectedYearCsg}}
    </a>
    <a 
      [ngClass]="_cooDashboardCommon.selectedQPeriodCsg === 'Q2' ? 'verysmalltext nowrap underline' : 'verysmalltextblack nowrap'"
      (click)="getDataForselectedQPeriod('Q2')">
      Q2 - {{_cooDashboardCommon.selectedYearCsg}}
    </a>
    <a 
      [ngClass]="_cooDashboardCommon.selectedQPeriodCsg === 'Q3' ? 'verysmalltext nowrap underline' : 'verysmalltextblack nowrap'"
      (click)="getDataForselectedQPeriod('Q3')">
      Q3 - {{_cooDashboardCommon.selectedYearCsg}}
    </a>
    <a 
      [ngClass]="_cooDashboardCommon.selectedQPeriodCsg === 'Q4' ? 'verysmalltext nowrap underline' : 'verysmalltextblack nowrap'"
      (click)="getDataForselectedQPeriod('Q4')">
      Q4 - {{_cooDashboardCommon.selectedYearCsg}}
    </a>
    <a 
      [ngClass]="_cooDashboardCommon.selectedQPeriodCsg === 'YT' ? 'verysmalltext nowrap underline' : 'verysmalltextblack nowrap'"
      (click)="getDataForselectedQPeriod('YT')">
      YTD
    </a>
  </div>
</div>

<div class="row marginbottom5px">
  <div class="col-lg-2"></div>
  <div class="col-lg-8 marginbottom5px text-center">
    <a class="smalltextblack">
      {{_cooDashboardCommon.GetPeriodText(_cooDashboardCommon.selectedQPeriodCsg, _cooDashboardCommon.selectedYearCsg)}}
    </a>
  </div>
  <div class="col-lg-2"></div>
</div>
