<div style="height: 100%; background-color: white">
<div>
    <div class="panel panel-primary">
      <div style="height: 45px;" class="panel-heading">
        <div style="float: left; font-size: 14px;">Past Due Action Items</div>
        <div style="text-align:center;padding-bottom:2px;float: right;">
          <button style="height: 28px;background: #fa7973;width: 50px!important;" mat-dialog-close (click)="closeDialog()" >
            <i style="color: white;margin-bottom: 8px;" class="material-icons">
              close
            </i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div style="height: 250px;overflow: scroll" *ngIf="ActionItems.actionitems.pastdueProjects.length > 0">
      <table class="table table-bordered" style="font-size:12px">
        <thead>
          <tr style="text-align:left !important">
            <th style="text-align:left">No.</th>
            <th style="text-align:left">Project Name</th>
            <th style="text-align:left">Description</th>
            <th style="text-align:left">Owner</th>
            <th style="text-align:left">Identified Date</th>
            <th style="text-align:left">Status</th>
            <th style="text-align:left">Priority</th>
            <th style="text-align:left">Completion Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let a of ActionItems.actionitems?.pastdueProjects;let i = index" style="text-align:left">
            <td>{{i + 1}}</td>
            <td>{{a.proJ_NM }}</td>
            <td>{{a.description}}</td>
            <td>{{a.owner}}</td>
            <td>{{a.identifieD_DATE}}</td>
            <td>{{a.status}}</td>
            <td>{{a.priority}}</td>
            <td>{{a.completioN_DATE}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div style="height: 250px; text-align: center; vertical-align: middle" *ngIf="ActionItems.actionitems.pastdueProjects.length == 0">
      No Data to display..
    </div>
    <div>
        <div class="panel panel-primary">
          <div style="height: 45px;" class="panel-heading">
            <div style="float: left; font-size: 14px;">Due For Closure Action Items</div>
          </div>
        </div>
      </div>
      <div style="height: 250px; overflow: scroll" *ngIf="ActionItems.actionitems.dueforClosureProjects.length > 0">
          <table class="table table-bordered" style="font-size:12px">
          <thead>
              <tr style="text-align:left !important">
                <th style="text-align:left">No.</th>
                <th style="text-align:left">Project Name</th>
                <th style="text-align:left">Description</th>
                <th style="text-align:left">Owner</th>
                <th style="text-align:left">Identified Date</th>
                <th style="text-align:left">Status</th>
                <th style="text-align:left">Priority</th>
                <th style="text-align:left">Completion Date</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let a of ActionItems.actionitems?.dueforClosureProjects;let i = index" style="text-align:left">
                    <td>{{i + 1}}</td>
                    <td>{{a.proJ_NM }}</td>
                    <td>{{a.description}}</td>
                    <td>{{a.owner}}</td>
                    <td>{{a.identifieD_DATE}}</td>
                    <td>{{a.status}}</td>
                    <td>{{a.priority}}</td>
                    <td>{{a.completioN_DATE}}</td>
                </tr>
              </tbody>
          </table>
        </div>
        <div style="height: 250px; text-align: center; vertical-align: middle" *ngIf="ActionItems.actionitems.dueforClosureProjects.length == 0">
          No Data to display..
       </div>
      </div>
