.navbar {
    margin-bottom: 0px;
}

.navbar-default {
    background-color: white;
    border: none;
    border-color: none;
    border-radius: 0;
    -webkit-box-shadow: 1px 1px 1px #848484;
    -moz-box-shadow: 1px 1px 1px #848484;
    box-shadow: 1px 1px 1px #848484;
}

.navbar-right{
    display: inline-flex;
}

.navbar-brand {
    padding: 0px;
}

.gavs_logo {
    background: url(/assets/images/GAVS_Logo.png) no-repeat left center;
    background-size: 40%;
    width: 125px;
    height: 50px;
}

a.navbar-brand {
    padding: 0px;
}

a.navbar-brand>img {
    height: 50px;
    padding: 0px;
    width: auto;
}

.icon-bar {
    background-color: #000;
}

.navbar-toggle {
    border-color: #000;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #000;
}

.navbar-toggle:hover .icon-bar {
    background-color: #FFF;
}

.user_txt {
    display: inline-flex;
    border-radius: 0px;
    font-size: 14px;
    font-family: calibri;
    font-weight: 300;
    line-height: 50px;
}

.user_options {
    display: inline-flex;
    width: 34%;
    padding-left: 0px;
    text-align: center;
}

.user_options li:not(:first-child):before {
    content: "|";
    position: relative;
    line-height: 50px;
    top: -7px;
}

.user_options li a:hover {
    background-color: transparent;
}

.fa-user {
    font-size: 19px;
}

.fa_fnt {
    font-size: 19px;
}

.navicon {
    margin-top: 8px;
}

nav.navbar.navbar-default.navbar-fixed-top {
    padding-right: 2%;
    min-height: 50px;
}

@media screen and (max-width: 767px) {
    .navbar-right {
        margin-right: 0px !important;
    }
    .user_txt {
        font-size: 11px;
    }
    .user_options {
        width: auto;
    }
}

.menu_txt {
    font-family: 'calibri';
    font-weight: bold;
    margin-left: 0%;
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .user_txt {
        font-size: 12px;
    }
}
