    .List
    {
      background-color:white; 
      border-radius:9px;
      margin: 5px 10px 5px 10px;
      min-height:600px;
      box-shadow: 1px 2px 3px 1px #c7c7c7;
      padding: 15px;
    }

    table
     {
        border-collapse: separate;
        border-spacing: 0 0px !important;
        border-radius: 3px;
        font-family: 'Roboto', sans-serif;
        width: 100% !important;
      }
    
      .table th {
        color:black!important;
        font-size: 14px;
        font-weight: 700;
      //  height: 30px !important;
        background-color: #e8e8e8;
        vertical-align: middle;
      }
    
      .table td {
        font-size: 12px;
      //   width: 90px;
      //    max-height: 40px !important;
       white-space: normal;
       // max-width: 100px;
        vertical-align: middle;
      }
    
      .table th.mat-header-cell{
        border-bottom-width: 0px !important;
        border-bottom-style: none !important;
      //  height: 30px !important;
      }
      // .table td.mat-cell{
      //   border-bottom-width: 4px !important;
      //   border-bottom-style: solid !important;
      //   margin-bottom: 4px !important;
      // }
    
      .table th, .table td {
        padding: 0.75rem;
      }

      .mat-header-row{
        color:black!important;
        background-color:   #e8e8e8;;
      }
      .disable{
        opacity: 0.5;
        cursor: default !important;
      }
    