$menudisplay: true;

.link {
    cursor: pointer;
    text-decoration: none;
    //font-size: 12px;
    color:black;
  }

.link_h3 {
  color: #000;
  font-size: 15px;
  font-family: calibri;
  cursor: pointer;
  text-decoration: none;
  // color: white;
  // padding-bottom: 15px;
}
.row{
  margin-right:0 !important;
}
.col {
  display: inline;
}
.table td:first-child {
  background-color: #fff!important;
}
.table > tbody > tr > td{
  padding:0px !important;
  border-top: 0px;
}
.container-fluid
{
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-right: auto;
  margin-left: auto;
  visibility: hidden;
  overflow: auto;
  height:85vh;
  width:100%;
}
.scroll-area,
.container-fluid:hover{
   visibility: visible;
}

// ::-webkit-scrollbar-track {
//   border-radius: 10px;
//   background: rgba(0,0,0,0.1);
//   border: 1px solid #ccc;
// }

// ::-webkit-scrollbar-thumb {
//   border-radius: 10px;
//   background: linear-gradient(left, #fff, #e4e4e4);
//   border: 1px solid #aaa;
// }

// ::-webkit-scrollbar-thumb:hover {
//   background: #fff;
// }

// ::-webkit-scrollbar-thumb:active {
//   background: linear-gradient(left, #22ADD4, #1E98BA);
// }

::-webkit-scrollbar {
  width: .5em;
  height: 2em;
  border-radius:3px;
}
::-webkit-scrollbar-button {
  background: rgb(235, 231, 231);
  //background: linear-gradient(left, #22ADD4, #1E98BA);
  border-radius:3px;
}
::-webkit-scrollbar-track-piece {
  background: rgb(235, 231, 231);
  border-radius:3px;
}
::-webkit-scrollbar-thumb {
  background: #d4c6ab;
  border-radius:3px;
}
.fa-lg {
  line-height: 1em;
}
//navigation style
.toggle-custom {
  position: absolute !important;
  top: 0;
  right: 0;
}
.toggle-custom[aria-expanded='true'] .glyphicon-plus:before {
  content: "\2212";
}


/////////////Navigation

ul{
  list-style-type: none;
  padding: 0;
}
li{
  // padding-left: 0 !important;
  // padding-right: 0 !important;
  // padding-top: 5px;
}

.client{
  //text-decoration: none;
  //margin-top:10px;
  // padding:5px;
  // background-color:#b8b8b8;
  // box-shadow: 0 12px 20px -10px rgba(224, 218, 217, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(105, 92, 91, 0.2);
  // border-radius: 2px;
  // padding: 5px, 0, 5px, 0;
}
.client:hover {
  //background-color:#a09797 !important;
}
.client_txt {
  //padding: 15px;
  padding: 15px 6px 15px 2px;
height: 54px;
}
.project_txt {
  //padding: 15px;
  padding: 15px 6px 15px 20px;
  //padding: 15px 15px 15px 2px;
height: 54px;
}
.rag_colors{
  border-right: 5px solid;
}
.project{
  //text-decoration: none;
  //margin-top:10px;
//  padding:5px;
//  background-color:#ffffff;
  //box-shadow: 0 12px 20px -10px rgba(224, 218, 217, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(105, 92, 91, 0.2);
  // border-radius: 2px;
  // padding: 5px, 0, 5px, 0;
}
.project:hover{
  //background-color:#b9b8b8 !important;
}

.login_bg{
  background-color:white !important;
  background:url(../../../assets/images/grey-pattern.png) no-repeat bottom 0 center !important;
}

.mat-progress-bar {
  display: block;
  height: 1px;
  overflow: hidden;
  position: relative;
  transform: translateZ(0);
  transition: opacity 250ms linear;
  width: 100%;
}
.proj_status {
  padding:2px;
  vertical-align: top;
}
.proj_green {
  border-left: green 4px solid;

}
.landing_bg {
  background: #F3F4F8;
}
.proj_txts {
  font-size: 14px;
font-family: calibri;
color: #6b6969;
}
.bordered-table th, .bordered-table td{
  border: none;
}
.bordered_content {
  font-size: 12px;
font-family: calibri;
border: #ccc 1px solid;
width: 90%;
color: #524f4f;
padding: 9px;
display: block;
background-color: #fff!important;
box-shadow: 1px 1px 1px #ccc;
margin: 35px 9px;
border-radius: 3px;
}
.bordered_content-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #ccc;
  top: 20px;
left: 11px;
position: relative;
float: right;
}

.color_swatch {
  background: url("/assets/images/color_swatch.png") no-repeat;
  width: 14px;
  height: 14px;
  padding-right: 37px;
  float: right;
  cursor: pointer;
}

.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 15%;
  height: 300px;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
}

@media only screen and (max-width: 600px) {
  body {
    $menudisplay: false;
  }
}
///Testing

.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  //width:250px;
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.mat-sidenav{
  width:250px;
}

.gavs_logo {
  background: url(/assets/images/GAVS_Logo.png) no-repeat 51px 6px;
width: 200px;
float: right;
background-size: 40%;
height: 35px;
display: inline-block;
}

.disp_name {
  padding: 9px 0 0 0;
  vertical-align: middle;
  white-space: nowrap;
}

mat-toolbar{
  width: 100%;
  height:50px;
  font-size:16px;
  background-color: #fff;
  border-bottom: solid silver 2px;
  padding:0px;
}

.user_options {
display: inline-block;
text-align: center;
padding: 8px 0 0 17px;
}

.clientName{
  margin-top: 0;
  // margin-bottom: 10px;
  // padding-left: 15px;
  // font-family: calibri;
  // display: block;
  padding-bottom: 5px;
  position: relative;
}
.clientName::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 1px;
  bottom: 0;
  left: 1.6%;
  border-bottom: 2px solid #097bde;
}

.navbar-brand{
padding: 9px 0 0 0 !important;
}

.mat-icon-button{
  padding: 0px 0;
}

.header {
  display: inline-block;
  width: 100%;
  text-align:center;
}
.header-mobile {
  //display: inline-block;
  width: 100%;
  text-align:center;
  display: none;
}
.left-toolbar {
  float: left;
}
.right-toolbar {
  float: right;
  padding-right:10px;
}
.center-toolbar {
  display: inline-block;
  margin:0 auto;
}

@media screen and (max-width: 600px) {
  .header {
    display: none;
  }
  .header-mobile {
    display: inline-block;
    }
}


.dropdown {
  position: relative;
  display: inline-block;
} 

.dropdown-content {
  left: -119px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  //background-color: grey;
}

.governance{
  padding:12px;
  border: 1px grey;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0px;
}
.badge-info {
  color: #151b1e;
  background-color: #63c2de;
}
.changecolor{
  -webkit-animation:colorchange 1s infinite alternate;
}

@-webkit-keyframes colorchange {
  0% {
    color: red;
  }
  100% {
 
    color: #f1c40f;
  }
}

.glow {
  //font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

//------------------------------

.cust{
  padding:5px;
  font-weight: bold;
  background-color: #c6ddf9;
  font-size: 13px;
}
.port{
  padding:5px 0 5px 10px;
  font-size: 14px;
  background-color:#e8f2ff;
}
.projLevel1{
  padding-left:10px;
  font-size: 12px;
  background-color:#e8f2ff;
  border: solid 1px #a9d0ff;
}
.projLevel2{
  padding-left:15px;
  font-size: 12px;
  background-color:#f0f6ff;
  border: solid 1px #a9d0ff;
}

.mainDiv{
  border-radius:9px;
  margin: 5px 10px 5px 10px;
  min-height:600px;
  overflow: auto;
  box-shadow: 1px 2px 3px 1px #c7c7c7;
}
