 ul, li {
       line-height:1.4em !important; 
         -webkit-padding-start: 0px !important;
    }
    .mytab > .mynav-tabs > li > a.header-active , .mytab .mynav-tabs li a:hover {
    background: #e16b47;
    color: #fff;
    border: none;
}
    .mytab .mynav-tabs li {
    text-align: center;
    margin-right: 3px;
}
    .mytab .mynav-tabs li a {
    font-size: 15px;
    font-weight: 600;
    color: #22272c;
    padding: 10px 25px;
    background: #eee;
    margin-right: 0;
    border-radius: 0;
    border: none;
    text-transform: uppercase;
    position: relative;
    /*transition: all 0.5s ease 0s;*/
}
    ul.mynav-tabs li {
        display: inline-block;
    }
    .myTab{
        display:block;
    }
    .fif {
        display: inline-block;
    }

    .wrapper {
        position: relative;
    }

    a.active
    {
        background-color:#e16b47 !important;
        /*position: absolute;*/
        display: block;
        /*border-top-left-radius: 15px !important;
        border-top-right-radius: 15px !important;*/
    }

    .active
    {
        /*position: absolute;*/
        /*background-color:red;*/
        display: block;
    }
   
    .inactive{
         position: absolute;
        display: none;
    }

    .mynav-tabs {
        margin-bottom: 0px;
    }

    .mytab .tab-content {
    font-size: 15px;
    color: #3d3537;
    line-height: 30px;
    padding: 3px 4px;
    border: 3px solid #e16b47;
}