mat-form-field{
    width:100%;
}

.example-input{
    background: #fcfeff;
    height: 30px;
    color: #5aa780 !important;
    font-size: 13px;
    padding-left: 15px;
  }
  .drpdown{
    width: 278px;
    height: 30px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #C3C3C3;
    border-radius: 2px;
    opacity: 1;
    line-height: normal;
    padding-left: 5px;
  }
  .drpdown {
    width: 278px;
    height: 21px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #C3C3C3;
    border-radius: 2px;
    opacity: 1;
    line-height: normal;
    padding-left: 5px;
    font-size: 11px;
    padding-top: 2px;
}