<mat-form-field style="font-size: 12px !important;">
  <mat-select #multiSelect multiple placeholder="{{displayName}}" [(ngModel)]="ids"
    (openedChange)="onDropdownOpenedChanged($event)">
    <mat-form-field class="filter-Id" style="width:300px !important;">
      <input placeholder="  Search {{displayName}}" [(ngModel)]='searchVal' matInput
        (keydown)="$event.stopPropagation()" (keyup)="onKey($event.target.value)"
        style="width:300px !important;text-indent: 10px;">
      <mat-icon matSuffix>search</mat-icon>     
    </mat-form-field>
    <mat-option #allSelected (click)="toggleAllSelection()" [value]="-1">All</mat-option>
    <mat-option *ngFor="let d of data" (click)="tosslePerOne()" [value]="d[idField]" [title]="d[nameField]">
      {{ d[nameField]}}
    </mat-option>
  </mat-select>
</mat-form-field>
{{selectAll()}}
<!-- {{dataOp}} -->
