<div *ngIf="viewMode">

  <span style="margin-left: 15px;">
    Note : First select process area to view processes & process areas linked with service tower
  </span>

  <div class="row" style="padding: 10px">

    <div class="col-lg-4 col-md-4 col-sm-4" style="text-align:left;">
      <button class="btn btn-primary" *ngIf="!bAddNewServiceArea" (click)="btnAddServiceArea_Onclick()">
        Add Service Tower</button>&nbsp;
      <!--<button style="margin-left:5px;margin-right: 5px;margin-top: 2px;margin-bottom: 2px" class="btn btn-primary"
        matTooltip="Click here to map Process to Service Tower" (click)="OpenMapScreen()">Map Process with Service Tower</button>-->
      <table *ngIf="bAddNewServiceArea" class="table-bordered" style="width:400px; text-align:left">
        <tr style="text-align: center">
          <td>New Service Tower</td>
        </tr>
        <tr style="text-align: center">
          <td>
            <input [(ngModel)]="newServiceArea.title" style="width:400px" placeholder="Service Tower title *" required>
          </td>
        </tr>
        <tr style="text-align: center">
          <td>
            <textarea [(ngModel)]="newServiceArea.description" style="height:100px;width:400px"
              placeholder="Service Tower description"></textarea>
          </td>
        </tr>
        <tr style="text-align: center; border: none">
          <td>
            <button style="margin-left:5px;margin-right: 5px;margin-top: 2px;margin-bottom: 2px" class="btn btn-primary"
              (click)="btnSaveServiceArea_Onclick()">Save</button>
            <button style="margin-left:5px;margin-right: 5px;margin-top: 2px;margin-bottom: 2px" class="btn btn-primary"
              (click)="btnClearServiceArea_Onclick()">Clear</button>
            <button style="margin-left:5px;margin-right: 5px;margin-top: 2px;margin-bottom: 2px" class="btn btn-primary"
              (click)="btnCancelServiceArea_Onclick()">Close</button>
          </td>
        </tr>
      </table>
    </div>


    <div class="col-lg-8 col-md-8 col-sm-8" style="float:left;">
      <div style="width: 90%" *ngIf="bAddNewServiceArea">
        <table mat-table [dataSource]="serviceAreaDataSource"
          class="table-bordered table-responsive-md table-striped text-align:left" style="width:100%">
          <ng-container matColumnDef="index">
            <th style="color:black" class="index" mat-header-cell *matHeaderCellDef><strong>S.No</strong></th>
            <td class="index" mat-cell *matCellDef="let element = index"> {{element + 1}} </td>
          </ng-container>
          <ng-container matColumnDef="title">
            <th style="color:black" mat-header-cell *matHeaderCellDef><strong>Service Tower</strong></th>
            <td mat-cell *matCellDef="let element;let id = index">
              <span>{{ element.title}} </span>
            </td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th style="color:black" mat-header-cell *matHeaderCellDef><strong>Service Tower Description</strong></th>
            <td mat-cell *matCellDef="let element;let id = index">
              <span>{{ element.description}} </span>
            </td>
          </ng-container>


          <ng-container matColumnDef="action">
            <th mat-header-cell style="color: black;" [ngClass]="'editWidth'" *matHeaderCellDef>
              <strong>Action</strong>
            </th>
            <td mat-cell [ngClass]="'editWidth'" *matCellDef="let element">
              <a class="link" title="Edit"  (click)="EditRow_onClick(element)">
                <i class="fa fa-edit"></i>
              </a>  &nbsp;
              <a style="color:red;" title="Delete" class="link" (click)="DeleteRow_onClick(element)">
                <i class="fa fa-trash"></i>
              </a>
            </td>
          </ng-container>


          <!-- <ng-container matColumnDef="delete">
            <th mat-header-cell style="font-family: calibri;" [ngClass]="'deleteWidth'" *matHeaderCellDef>
            </th>
            <td mat-cell [ngClass]="'deleteWidth'" *matCellDef="let element">
              <a style="color:red;" title="Delete" class="link" (click)="DeleteRow_onClick(element)">
                <i class="fa fa-trash"></i>
              </a>
            </td>
          </ng-container> -->

          <tr mat-header-row *matHeaderRowDef="serviceAreaDisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: serviceAreaDisplayedColumns;"></tr>
        </table>
        <div>
          <mat-paginator #serviceAreaPaginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
        </div>
      </div>


    </div>

  </div>
  <div>
    <mat-progress-bar *ngIf="!isServiceAreaAdded" mode="indeterminate"></mat-progress-bar>
  </div>

  <div class="row">


    <div class="col-lg-3 col-md-3 col-sm-3" style="text-align: left;">

      <mat-form-field style="width: 320px; margin-left: 20px;">
        <mat-label>Search by Service Tower, Process area, Process</mat-label>
        <input matInput (keyup)="applyFilter1($event.target.value)">
      </mat-form-field>

    </div>

    <div class="col-lg-9 col-md-9 col-sm-9" style="text-align: right;">


      <span>Service Tower : </span>
      <mat-select class="mat-dropdown-plain" panelClass="matSearchPanel" multiple
        style="width:200px !important; margin-right: 5px;" name="ddServiceArea" [(ngModel)]="selectedServiceArea"
        (openedChange)="openedChangeSAL($event)" (selectionChange)="OnfilterChange()"
        placeholder="Filter By Service Tower" required>

        <mat-form-field class="filter-project">
          <input placeholder="Search Service Tower" matInput (keydown)="$event.stopPropagation()"
            (keyup)="applyFilterForServiceArea($event.target.value)" [(ngModel)]="searchValueSAL"
            style="width:300px !important;text-indent: 10px;">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <br />
        <div *ngIf="ServiceAreaList.length == 0" style="padding-left: 10px; font-weight: bold; font-size: 12px;">
          No results found
        </div>


        <mat-option *ngFor="let c of ServiceAreaList" [value]="c" [title]="c.title">{{c.title}}</mat-option>
      </mat-select>


      <span style='padding-left:10px'>Process Area : </span>
      <mat-select class="mat-dropdown-plain" multiple style="width:200px !important" name="ddProcessArea"
        [(ngModel)]="selectedProcessArea" (openedChange)="openedChangePAL($event)" (selectionChange)="OnfilterChange()"
        placeholder="Filter By Process Area" required>

        <mat-form-field class="filter-project">
          <input placeholder="Search Process Area" matInput (keydown)="$event.stopPropagation()"
            (keyup)="applyFilterForProcessArea($event.target.value)" [(ngModel)]="searchValuePAL"
            style="width:300px !important;text-indent: 10px;">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <br />
        <div *ngIf="ProcessAreaList.length == 0" style="padding-left: 10px; font-weight: bold; font-size: 12px;">
          No results found
        </div>

        <mat-option *ngFor="let c of ProcessAreaList" [value]="c" [title]="c.title">{{c.title}}</mat-option>
      </mat-select>
      <button style="margin-left:5px;margin-right: 5px;margin-top: 2px;margin-bottom: 2px" class="btn btn-primary"
        (click)="Clear_Click()">Clear </button>

    </div>

  </div>
  <!-- Need to change -->
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <table mat-table [dataSource]="dataSource" *ngIf="ProcessAreaList.length> 0" matSort
        class="table-bordered table-responsive-md table-striped text-center" style="width:100%">
        <ng-container matColumnDef="index">
          <th style="color:black; width: 2%;" class="index" mat-header-cell *matHeaderCellDef><strong>S.No</strong></th>
          <td class="index" mat-cell *matCellDef="let element = index"> {{element + 1}} </td>
        </ng-container>
        <ng-container matColumnDef="serviceAreaName">
          <th style="color:black; " mat-sort-header mat-header-cell mat-sort-header *matHeaderCellDef><strong>Service
              Tower</strong></th>
          <td mat-cell *matCellDef="let element;let id = index">
            <span *ngIf="id != iEditIndex" class="index">{{ element.servicE_AREA_NAME}} </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="processArea">
          <th style="color:black;" mat-sort-header mat-header-cell mat-sort-header *matHeaderCellDef><strong>Process
              Area</strong></th>
          <td mat-cell *matCellDef="let element;let id = index">
            <span *ngIf="id != iEditIndex" class="index">{{ element.procesS_AREA}}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="processTitle">
          <th style="color:black;" mat-sort-header mat-header-cell *matHeaderCellDef> <strong>Process Title</strong> </th>
          <td mat-cell *matCellDef="let element;let id = index">
            <input *ngIf="id == iEditIndex" type="text" id="txtProcessArea[{{id}}]" [(ngModel)]="element.procesS_DESCRIPTION"
              style="width:100%;height:30px">
            <span *ngIf="id != iEditIndex" class="index">{{element.procesS_TITLE}}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="processDescription">
          <th style="color:black;" mat-header-cell *matHeaderCellDef> <strong>Process Description </strong>
          </th>
          <td mat-cell *matCellDef="let element;let id = index">
            <textarea *ngIf="id == iEditIndex" [(ngModel)]="element.procesS_DESCRIPTION"
              style="width:100%;height:30px"></textarea>
            <span *ngIf="id != iEditIndex">{{element.procesS_DESCRIPTION}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="clausE_REFERENCE">
          <th style="color:black;" mat-header-cell *matHeaderCellDef> <strong>ISO/Process Model - Section/Clause
              Reference description</strong> </th>
          <td mat-cell *matCellDef="let element;let id = index">
            <textarea *ngIf="id == iEditIndex" [(ngModel)]="element.referencE_LIST"
              style="width:100%;height:30px"></textarea>
              <span *ngIf="id != iEditIndex" [innerHTML]="getProcessModelReference(element.referencE_LIST)"></span>
          </td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell style="font-family: calibri;" *matHeaderCellDef>
          </th>
          <td mat-cell *matCellDef="let element;let id=index">
            <mat-checkbox [(ngModel)]="element.bSelected"></mat-checkbox>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div>
        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
      </div>
    </div>
  </div>
</div>

<div *ngIf="editMode">
  <div class="row">



    <div class="col-lg-6 col-md-6 col-sm-6" style="text-align: left; padding: 10px">


      <span>Service Tower : </span>
      <mat-select class="mat-dropdown-plain" disableOptionCentering
        style="margin-left:5px;margin-right: 5px;margin-top: 2px;margin-bottom: 2px;width:300px !important; margin-right: 10px;"
        name="ddProcessModel" [(ngModel)]="selectedServiceArea1" (openedChange)="openedChangeMSAL($event)"
        (selectionChange)="OnServiceAreafilterChange()" placeholder="Choose Service Tower to map Process" required>

        <mat-form-field class="filter-project">
          <input matInput placeholder="Search Service Tower" (keydown)="$event.stopPropagation()"
            (keyup)="applyFilterForMapServiceArea($event.target.value)" [(ngModel)]="searchValueMSAL"
            style="width:300px !important;text-indent: 10px;">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <br />
        <div *ngIf="ServiceAreaList.length == 0" style="padding-left: 10px; font-weight: bold; font-size: 12px;">
          No results found
        </div>

        <mat-option *ngFor="let c of ServiceAreaList" [value]="c" [title]="c.title"
          [ngStyle]="{'color' : c.isMapped ? 'green' : 'red'}">
          {{c.title}}</mat-option>
      </mat-select>
      <br />
      <span style="text-align: left; padding-right: 10px">Note : Service Tower shown in red color are not mapped</span>
    </div>




    <div class="col-lg-6 col-md-6 col-sm-6" style="text-align: left; padding: 10px;">

      <span>Process Area : </span>
      <mat-select class="mat-dropdown-plain" multiple
        style="margin-left:5px;margin-right: 5px;margin-top: 2px;margin-bottom: 2px;width:200px !important;"
        name="ddProcessArea" [(ngModel)]="selectedProcessArea1" (openedChange)="openedChangeMPAL($event)"
        (selectionChange)="OnProcessAreafilterChange()" placeholder="Choose Process Area" required>


        <mat-form-field class="filter-project">
          <input matInput placeholder="Search Process Area" (keydown)="$event.stopPropagation()"
            (keyup)="applyFilterForMapProcessArea($event.target.value)" [(ngModel)]="searchValueMPAL"
            style="width:300px !important;text-indent: 10px;">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <br />
        <div *ngIf="ProcessAreaList.length == 0" style="padding-left: 10px; font-weight: bold; font-size: 12px;">
          No results found
        </div>

        <mat-option *ngFor="let c of ProcessAreaList" [value]="c" [title]="c.title">{{c.title}}</mat-option>
      </mat-select>

      <button style="margin-left:5px;margin-right: 5px;margin-top: 2px;margin-bottom: 2px" class="btn btn-primary"
        (click)="clear1()">Clear </button> &nbsp;
      <button style="margin-left:5px;margin-right: 5px;margin-top: 2px;margin-bottom: 2px" class="btn btn-primary"
        (click)="CloseEditMode_OnClick()">Cancel</button>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2" style="text-align: right; padding: 10px;">

    </div>
  </div>


  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <mat-form-field style="width: 320px;">
        <mat-label> Search by Process area, Title, Description</mat-label>
        <!-- <div style="margin-right: 10px; display: inline-block; width: 30px;"><i class="fa fa-search"></i> </div> -->
        <input matInput (keyup)="applyFilter($event.target.value)">
      </mat-form-field>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8"  *ngIf="_access.IsAllowed(824, 3, '','')"  style="text-align: left">
      <button style="margin-left:5px;margin-right: 5px;margin-top: 2px;margin-bottom: 2px" class="btn btn-primary"
        [disabled]="!isServiceAreaMapped" (click)="SaveRow_onClick()">Save</button>
      <button style="margin-left:5px;margin-right: 5px;margin-top: 2px;margin-bottom: 2px" class="btn btn-primary"
        (click)="Clear_Click()">Cancel</button>
    </div>
  </div>
  <div>
    <mat-progress-bar *ngIf="!isServiceAreaMapped" mode="indeterminate"></mat-progress-bar>
  </div>

  <div class="row">
    <table mat-table [dataSource]="dataSource1" class="table-bordered table-responsive-md table-striped text-center"
      matSort style="width:100%">
      <ng-container matColumnDef="index">
        <th style="color:black" class="index" mat-header-cell *matHeaderCellDef> <strong>S.No</strong></th>
        <td class="index" mat-cell *matCellDef="let element = index"> {{element + 1}} </td>
      </ng-container>
      <ng-container matColumnDef="procesS_AREA_ID">
        <th style="color:black" mat-header-cell *matHeaderCellDef> <strong>Process Area</strong> </th>
        <td mat-cell *matCellDef="let element;let id = index">
          <span>{{getProcessArea(element.procesS_AREA_ID)}}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="procesS_NAME">
        <th style="color:black" mat-header-cell *matHeaderCellDef> <strong>Process Title</strong> </th>
        <td mat-cell *matCellDef="let element">
          <span class="index">{{element.title}}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="procesS_DESCRIPTION">
        <th style="color:black" mat-header-cell *matHeaderCellDef> <strong>Process Description </strong></th>
        <td mat-cell *matCellDef="let element">
          <span>{{element.description}}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="clausE_REFERENCE">
        <th style="color:black;" mat-header-cell *matHeaderCellDef> <strong>ISO/Process Model - Section/Clause Reference
            description</strong> </th>
        <td mat-cell *matCellDef="let element;let id = index">
          <mat-select *ngIf="id == iEditIndex" placeholder="Select Section/Clause Reference *"
            [(ngModel)]="element.procesS_MODEL_REFERENCE_LIST" multiple>
            <ng-container *ngFor="let p of ProcessModelReferenceList">
              <mat-optgroup *ngIf="p.items && p.items.length > 0" [label]="p.procesS_MODEL_NAME">
                <mat-option *ngFor="let item of p.items" [value]="item.procesS_MODEL_REFERENCE_LIST"
                  [title]="item.sectioN_REFERENCE">
                  {{ item.sectioN_REFERENCE }}
                </mat-option>
              </mat-optgroup>
            </ng-container>
          </mat-select>
          <span *ngIf="id != iEditIndex" [innerHTML]="getProcessModelReference(element.procesS_MODEL_REFERENCE_LIST)"></span>
        </td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell style="font-family: calibri;" *matHeaderCellDef>
        </th>
        <td mat-cell *matCellDef="let element;let id=index">
          <mat-checkbox [(ngModel)]="element.bSelected"></mat-checkbox>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
    </table>
    <div>
      <mat-paginator #paginator1 [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
    </div>
  </div>
  <!-- <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: center">
        <button style="margin-left:5px;margin-right: 5px;margin-top: 2px;margin-bottom: 2px" class="btn btn-primary" (click)="SaveRow_onClick()">Save</button>
        <button style="margin-left:5px;margin-right: 5px;margin-top: 2px;margin-bottom: 2px" class="btn btn-primary" (click)="Clear_Click()">Cancel</button>
      </div>
</div> -->
</div>
