h2 {
  margin-right: 20%;
  text-align: center;
  padding-left: 248px;
}

table {
  width: 100%;
}

body {
  h2 {
    text-align: center;
    padding-left: 248px;
  }

  .basic-container {
    padding: 30px;
  }

  .version-info {
    float: right;
  }

  td:hover {
    background-color: #f5f5f5;
  }
}

.mat-column-complaint,
.mat-column-noncomplaint {
  width: 7%;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
}

.mat-column-position {
  width: 2%;
}

.mat-column-total {
  width: 7%;
  text-align: center;
}

th {
  color: black;
}

.pageborder {
  padding: 10px;
}

.container-fluid {
  padding: 15px;
}

.row {
  margin: 0;
}

.analyze {
  background-color: #337ab7;
  color: white;
  font-family: calibri;
  font-weight: 600;
  margin-top: 5px;
}

.image {
  vertical-align: middle;
}

mat-icon {
  vertical-align: middle;
}
