<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" style="margin: 0; padding: 0;">
  <app-navbar-new [ShowMenu]="false"></app-navbar-new>
  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      side nav
    </mat-sidenav>
    <mat-sidenav-content style="padding:2px;">
      <mat-tab-group>
        <mat-tab label="Resource wise Projects">
          <app-access-control-project></app-access-control-project>
        </mat-tab>
        <mat-tab label="Project wise resource">
          <app-access-control-project-resource></app-access-control-project-resource>
        </mat-tab>
      </mat-tab-group>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
