.row{
    margin:0px !important;
}
/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
    min-width: 25px !important;
    padding: 5px;
    background-color: #ffffff;
    color: black;
    font-weight: 700;
  }
  
  /* Styles for the ink bar */
  .mat-ink-bar {
    background-color: green;
  }
  .mat-tab-header
  {
      background: #ccc;
  }
  mat-tab-group{
    background-color: white;
  }
  ::ng-deep mat-tab-body{
    border:solid 1px rgb(226, 226, 226) !important;
  }
  ::ng-deep .mat-tab-labels{
    color: black;
    font-family: calibri;
    background-color: #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 1px;
  }
  
  ::ng-deep .mat-tab-label{
    height:30px !important;
    // border-top:solid 1px grey !important;
    // border-left:solid 1px grey !important;
    // border-right:solid 1px grey !important; //rebeccapurple
  }
  ::ng-deep .mat-tab-label-active{
    color: black;
    font-family: calibri;
    font-weight: 600;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #59a3fd;
  
    
  }
  ::ng-deep .mat-tab-header mat-ink-bar {
    background-color: white !important;
  
  }