<mat-progress-bar *ngIf="empinfo.length === 0" mode="indeterminate"></mat-progress-bar>

<div *ngIf="!multiSelect">
  <mat-form-field style="width:100%">
    <input 
      type="text" 
      [readonly]="emp_name_readOnly" 
      placeholder="{{getsearchText()}}" 
      matInput 
      [formControl]="myControl"
      [matAutocomplete]="auto" 
      (change)="emitChanges()">
  </mat-form-field>
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
    <mat-option 
      *ngFor="let option of filteredOptions | async" 
      [value]="option"
      [title]="option.frsT_NM">
      {{option.frsT_NM}}
    </mat-option>
  </mat-autocomplete>
</div>

<mat-form-field *ngIf="multiSelect" style="width:100%">
  <mat-select 
    name="employee" 
    placeholder="{{getsearchText()}}" 
    [(ngModel)]="selectedEmployee" 
    multiple
    (selectionChange)="selectedEmployees()" 
    (openedChange)="onDropdownOpenedChanged($event)">
    <mat-form-field class="filter-Id" style="width:325px !important;">
      <input 
        [(ngModel)]="searchVal" 
        matInput 
        (keydown)="$event.stopPropagation()" 
        (keyup)="onKeyUp($event)"
        style="width:300px !important;text-indent: 10px;">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <mat-option 
      *ngFor="let emp of empinfo" 
      [value]="emp.emP_ID" 
      [title]="emp.frsT_NM">
      {{emp.frsT_NM}}
    </mat-option>
  </mat-select>
</mat-form-field>
