<div style="background-color:white;padding:5px 0 15px 0;">
  <div class="row">
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8">
      <app-table-filter [data]="metricsDetail" tableName='KPI_DETAILS' (onChange)="Filter_onChange($event)"
        (OnAdd)="showAll($event)" [custId]="custId"></app-table-filter>
    </div>

    <!-- <div class="col-lg-3" style="width: 250px;">
      <mat-form-field style="width:90%">
        <mat-select name="ddGoals" [(ngModel)]="selectedMode" placeholder="Select Mode">
          <mat-option *ngFor="let m of serviceModes; let i = index" [value]="m.id">
            {{m.modE_TITLE}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div> -->
    <div class="col-lg-4 col-md-4 col-sm-4" style="text-align: right;padding-right: 2%;">
      <mat-form-field style="width:15%;padding-left:8px">
        <mat-select [disabled]="isLoading" name='tableMonth' [(ngModel)]="_util.tableMonth" required
          (selectionChange)="reloadMonthlyKPITable()">
          <mat-option *ngFor="let m of month" [value]="m.title" [title]="m.title">{{m.title}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="width:15%;padding-left:10px">
        <mat-select [disabled]="isLoading" name='tableYear' [(ngModel)]="_util.tableYear" required
          (selectionChange)="reloadMonthlyKPITable()">
          <mat-option *ngFor="let year of _util.Years(3)" [value]="year" [title]="year">{{year}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div style="width: 100%;display: inline;">
    <label style="text-align: left;font-size:13px;letter-spacing: 0px;margin-left: 15px;">Mode :
      {{selectedModeTitle}}</label>
    <mat-radio-group *ngIf="enableExclusion" [(ngModel)]="includeExclusions" (change)="toggleExclusions(includeExclusions)"
    style="display: inline;margin-left: 60%;text-align: right;">
      <mat-radio-button [value]="false" style="margin-right : 5px;">Before Exclusions
      </mat-radio-button>
      <mat-radio-button [value]="true"  style="padding-left:5px">After Exclusions
       </mat-radio-button>
    </mat-radio-group>

  </div>

  <div *ngIf="!showMonth && !showQuarter && !showRelease"
    style="font-family: calibri; text-align: center;font-weight:600">KPI not
    available
    for this period - Please check the start date and end date of all customer goals and KPIs.</div>
  <div *ngIf="showRelease" style="font-family: calibri; text-align: center;font-weight:600">Release KPI Details
  </div>
  <table *ngIf="showRelease" mat-table [dataSource]="dataSource2" class="table mat-elevation-z8"
    style="width: 98%;margin-left: 15px;">
    <!-- <ng-container matColumnDef="select1">
      <th mat-header-cell *matHeaderCellDef style="width: 5%;">
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"></mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
        [disabled]="row.iS_DRAFT == 0"  [checked]="selection.isSelected(row)"></mat-checkbox>
      </td>
    </ng-container> -->
    <ng-container matColumnDef="reference">
      <th mat-header-cell *matHeaderCellDef style="width: 4%;">SLA Id</th>
      <td mat-cell *matCellDef="let metricslist">{{metricslist.reference}}</td>
    </ng-container>

    <ng-container matColumnDef="metrics">
      <th mat-header-cell *matHeaderCellDef style="width: 250px;white-space: nowrap;">Service Level Metrics</th>
      <td mat-cell *matCellDef="let metricslist" [ngClass]="{'Red': metricslist.iS_NOT_FILLED }">
        {{metricslist.servicE_LEVEL_METRICS}}
        <i class="fa fa-info-circle" style="font-size:x-small;position:absolute;" matTooltipClass="custom-tooltip"
          matTooltip="Service Level : {{metricslist.servicE_LEVEL}}
             Service Tower : {{metricslist.servicE_AREA_TYPE}}
             Category : {{metricslist.slA_CATEGORY}}
             Measurement Method  : {{metricslist.servicE_LEVEL_METRIC_DESCRIPTION}}"></i>
      </td>
    </ng-container>
    <ng-container matColumnDef="specLimit">
      <th mat-header-cell *matHeaderCellDef style="width: 200px;white-space: nowrap;">Specification Limit</th>
      <td mat-cell *matCellDef="let metricslist" [ngClass]="{'Red': metricslist.iS_NOT_FILLED }">
        {{metricslist.specificatioN_LIMIT}}</td>
    </ng-container>
    <ng-container matColumnDef="expectedLevel">
      <th mat-header-cell *matHeaderCellDef style="width: 12%;text-align: center;">Expected Service Level</th>
      <td mat-cell *matCellDef="let metricslist" style="text-align: right;"
        [ngClass]="{'Red': metricslist.iS_NOT_FILLED }">
        {{getmeasurementforServiceLevel(metricslist.kpI_ID)}}</td>
    </ng-container>
    <ng-container matColumnDef="minLevel">
      <th mat-header-cell *matHeaderCellDef style="width: 12%;text-align: center;">Minimum Service Level</th>
      <td mat-cell *matCellDef="let metricslist" style="text-align: right;"
        [ngClass]="{'Red': metricslist.iS_NOT_FILLED }">
        {{getmeasurementforMinServiceLevel(metricslist.kpI_ID)}}</td>
    </ng-container>
    <ng-container matColumnDef="actuals">
      <th mat-header-cell *matHeaderCellDef style="width: 100px;text-align: center;">KPI Achievements</th>
      <td mat-cell *matCellDef="let metricslist;let id=index" style="text-align: center;"
        [ngClass]="{'Red': metricslist.iS_NOT_FILLED }">
        <mat-form-field style="width: 80px;height: 35px;margin-top: -10px;">
          <input *ngIf="!includeExclusions" type="text" style="width: 60px" name="txtKPIActual"
            (keypress)="numberOnly($event)" [(ngModel)]="metricslist.kpI_ACTUAL" matInput placeholder="KPI Actual"
            required maxlength="6" [readonly]="true">
          <input *ngIf="includeExclusions" type="text" style="width: 60px" name="txtKPIexclusionActual"
            (keypress)="numberOnly($event)" [(ngModel)]="metricslist.exclusioN_KPI_ACTUAL" matInput placeholder="KPI Actual" required maxlength="6" [readonly]="true">
        </mat-form-field>
        <a class="link" *ngIf="_access.IsAllowed(74, 1, '','') && addDatas"
          (click)="viewBaseMeasures(metricslist.kpI_ID)"><i class="fa fa-pencil"></i></a>
        <span
          [ngClass]="blurcalled(metricslist.kpI_ID,metricslist.kpI_ACTUAL) == '%' ? 'UOM' : '' || blurcalled(metricslist.kpI_ID,metricslist.kpI_ACTUAL) == 'Number' ? 'Number' : ''
          || (blurcalled(metricslist.kpI_ID,metricslist.kpI_ACTUAL) == null || blurcalled(metricslist.kpI_ID,metricslist.kpI_ACTUAL) == '') ? 'NA':'' ">{{blurcalled(metricslist.kpI_ID,metricslist.kpI_ACTUAL)}}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="slaStatus">
      <th mat-header-cell *matHeaderCellDef style="width: 100px;">Service Level Status</th>
      <td style="text-align: center;" mat-cell *matCellDef="let metricslist"
      [ngClass]="{'Red':getslaStatusforKPI(metricslist) == 'Not Met'}">{{getslaStatusforKPI(metricslist)}}
        <a class="link" (click)="ViewCAPA(metricslist.kpI_ID)"
          *ngIf="addDatas && isCapaVisible && checkIfCAPARequired(metricslist)"><i
            class="fa fa-pencil"></i></a>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
  </table>
  <div *ngIf="showMonth" style="font-family: calibri; text-align: center;font-weight:600">Monthly KPI Details
  </div>
  <table *ngIf="showMonth" mat-table [dataSource]="dataSource" class="table mat-elevation-z8"
    style="width: 98%;margin-left: 15px;">
    <!-- <ng-container matColumnDef="select2">
      <th mat-header-cell *matHeaderCellDef style="width: 5%;">
        <mat-checkbox (change)="$event ? masterToggle2() : null" [checked]="selection.hasValue() && isAllSelected2()"
          [indeterminate]="selection.hasValue() && !isAllSelected2()"></mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
        [disabled]="row.iS_DRAFT == 0"  [checked]="selection.isSelected(row)"></mat-checkbox>
      </td>
    </ng-container> -->
    <ng-container matColumnDef="reference">
      <th mat-header-cell *matHeaderCellDef style="width: 4%;">SLA Id</th>
      <td mat-cell *matCellDef="let metricslist">{{metricslist.reference}}</td>
    </ng-container>

    <ng-container matColumnDef="metrics">
      <th mat-header-cell *matHeaderCellDef style="width: 250px;white-space: nowrap;">Service Level Metrics</th>
      <td mat-cell *matCellDef="let metricslist" [ngClass]="{'Red': metricslist.iS_NOT_FILLED }">
        {{metricslist.servicE_LEVEL_METRICS}}
        <i class="fa fa-info-circle" style="font-size:x-small;position:absolute;" matTooltipClass="custom-tooltip"
          matTooltip="Service Level : {{metricslist.servicE_LEVEL}}
           Service Tower : {{metricslist.servicE_AREA_TYPE}}
           Category : {{metricslist.slA_CATEGORY}}
           Measurement Method  : {{metricslist.servicE_LEVEL_METRIC_DESCRIPTION}}"></i>
      </td>
    </ng-container>
    <ng-container matColumnDef="specLimit">
      <th mat-header-cell *matHeaderCellDef style="width: 200px;white-space: nowrap;">Specification Limit</th>
      <td mat-cell *matCellDef="let metricslist" [ngClass]="{'Red': metricslist.iS_NOT_FILLED }">
        {{metricslist.specificatioN_LIMIT}}</td>
    </ng-container>
    <ng-container matColumnDef="expectedLevel">
      <th mat-header-cell *matHeaderCellDef style="width: 12%;text-align: center;">Expected Service Level</th>
      <td mat-cell *matCellDef="let metricslist" style="text-align: right;"
        [ngClass]="{'Red': metricslist.iS_NOT_FILLED }">
        {{getmeasurementforServiceLevel(metricslist.kpI_ID)}}</td>
    </ng-container>
    <ng-container matColumnDef="minLevel">
      <th mat-header-cell *matHeaderCellDef style="width: 12%;text-align: center;">Minimum Service Level</th>
      <td mat-cell *matCellDef="let metricslist" style="text-align: right;"
        [ngClass]="{'Red': metricslist.iS_NOT_FILLED }">
        {{getmeasurementforMinServiceLevel(metricslist.kpI_ID)}}</td>
    </ng-container>
    <ng-container matColumnDef="actuals">
      <th mat-header-cell *matHeaderCellDef style="width: 100px;text-align: center;">KPI Achievements
      </th>
      <td mat-cell *matCellDef="let metricslist;let id=index" style="text-align: center;"
        [ngClass]="{'Red': metricslist.iS_NOT_FILLED }">
        <mat-form-field style="width: 80px;height: 35px;margin-top: -10px;">
          <input *ngIf="!includeExclusions" type="text" style="width: 60px" name="txtKPIActual"
          (keypress)="numberOnly($event)" [(ngModel)]="metricslist.kpI_ACTUAL" matInput placeholder="KPI Actual"
          required maxlength="6" [readonly]="true">
        <input *ngIf="includeExclusions" type="text" style="width: 60px" name="txtKPIexclusionActual"
          (keypress)="numberOnly($event)" [(ngModel)]="metricslist.exclusioN_KPI_ACTUAL" matInput placeholder="KPI Actual" required maxlength="6" [readonly]="true">
        </mat-form-field>
        <a class="link" *ngIf="_access.IsAllowed(74, 1, '','') && addDatas"
          (click)="viewBaseMeasures(metricslist.kpI_ID)"><i class="fa fa-pencil"></i></a>
        <span
          [ngClass]="blurcalled(metricslist.kpI_ID,metricslist.kpI_ACTUAL) == '%' ? 'UOM' : '' || blurcalled(metricslist.kpI_ID,metricslist.kpI_ACTUAL) == 'Number' ? 'Number' : ''
          || blurcalled(metricslist.kpI_ID,metricslist.kpI_ACTUAL) == null || blurcalled(metricslist.kpI_ID,metricslist.kpI_ACTUAL) == '' ? 'NA':'' ">{{blurcalled(metricslist.kpI_ID,metricslist.kpI_ACTUAL)}}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="slaStatus">
      <th mat-header-cell *matHeaderCellDef style="width: 100px;">Service Level Status</th>
      <td style="text-align: center;" mat-cell *matCellDef="let metricslist"
      [ngClass]="{'Red':getslaStatusforKPI(metricslist) == 'Not Met'}">{{getslaStatusforKPI(metricslist)}}
          <a class="link" (click)="ViewCAPA(metricslist.kpI_ID)"
          *ngIf="addDatas && isCapaVisible && checkIfCAPARequired(metricslist)"><i
            class="fa fa-pencil"></i></a>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div #paginator *ngIf="showMonth">
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 30]"></mat-paginator>
  </div>
  <div *ngIf="showQuarter" style="font-family: calibri; text-align: center;font-weight:600">Quarterly KPI Details
  </div>
  <table *ngIf="showQuarter" mat-table [dataSource]="dataSource1" class="table mat-elevation-z8"
    style="width: 98%;margin-left: 15px;">
    <!-- <ng-container matColumnDef="select3">
      <th mat-header-cell *matHeaderCellDef style="width: 5%;">
        <mat-checkbox (change)="$event ? masterToggle3() : null" [checked]="selection.hasValue() && isAllSelected3()"
          [indeterminate]="selection.hasValue() && !isAllSelected3()"></mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
        [disabled]="row.iS_DRAFT == 0"  [checked]="selection.isSelected(row)"></mat-checkbox>
      </td>
    </ng-container> -->
    <ng-container matColumnDef="reference">
      <th mat-header-cell *matHeaderCellDef style="width: 4%;">SLA Id</th>
      <td mat-cell *matCellDef="let metricslist">{{metricslist.reference}}</td>
    </ng-container>
    <ng-container matColumnDef="metrics">
      <th mat-header-cell *matHeaderCellDef style="width: 250px;white-space: nowrap;">Service Level Metrics</th>
      <td mat-cell *matCellDef="let metricslist" [ngClass]="{'Red': metricslist.iS_NOT_FILLED }">
        {{metricslist.servicE_LEVEL_METRICS}}
        <i class="fa fa-info-circle" style="font-size:x-small;position:absolute;" matTooltipClass="custom-tooltip"
          matTooltip="Service Level : {{metricslist.servicE_LEVEL}}
           Service Tower : {{metricslist.servicE_AREA_TYPE}}
           Category : {{metricslist.slA_CATEGORY}}
           Measurement Method  : {{metricslist.servicE_LEVEL_METRIC_DESCRIPTION}}"></i>
      </td>
    </ng-container>
    <ng-container matColumnDef="specLimit">
      <th mat-header-cell *matHeaderCellDef style="width: 100px;white-space: nowrap;">Specification Limit</th>
      <td mat-cell *matCellDef="let metricslist" [ngClass]="{'Red': metricslist.iS_NOT_FILLED }">
        {{metricslist.specificatioN_LIMIT}}</td>
    </ng-container>
    <ng-container matColumnDef="expectedLevel">
      <th mat-header-cell *matHeaderCellDef style="width: 12%;text-align: center;">Expected Service Level</th>
      <td mat-cell *matCellDef="let metricslist" style="text-align: right;"
        [ngClass]="{'Red': metricslist.iS_NOT_FILLED }">
        {{getmeasurementforServiceLevel(metricslist.kpI_ID)}}</td>
    </ng-container>
    <ng-container matColumnDef="minLevel">
      <th mat-header-cell *matHeaderCellDef style="width: 12%;text-align: center;">Minimum Service Level</th>
      <td mat-cell *matCellDef="let metricslist" style="text-align: right;"
        [ngClass]="{'Red': metricslist.iS_NOT_FILLED }">
        {{getmeasurementforMinServiceLevel(metricslist.kpI_ID)}}</td>
    </ng-container>
    <ng-container matColumnDef="actuals">
      <th mat-header-cell *matHeaderCellDef style="width: 100px;text-align: center;">KPI Achievements</th>
      <td mat-cell *matCellDef="let metricslist;let id=index" style="text-align: center;"
        [ngClass]="{'Red': metricslist.iS_NOT_FILLED }">
        <mat-form-field style="width: 80px;height: 35px;margin-top: -10px;">
          <input *ngIf="!includeExclusions" type="text" style="width: 60px" name="txtKPIActual"
          (keypress)="numberOnly($event)" [(ngModel)]="metricslist.kpI_ACTUAL" matInput placeholder="KPI Actual"
          required maxlength="6" [readonly]="true">
        <input *ngIf="includeExclusions" type="text" style="width: 60px" name="txtKPIexclusionActual"
          (keypress)="numberOnly($event)" [(ngModel)]="metricslist.exclusioN_KPI_ACTUAL" matInput placeholder="KPI Actual" required maxlength="6" [readonly]="true">
        </mat-form-field>
        <a class="link" *ngIf="_access.IsAllowed(74, 1, '','') && addDatas"
          (click)="viewBaseMeasures(metricslist.kpI_ID)"><i class="fa fa-pencil"></i></a>
        <span
          [ngClass]="blurcalled(metricslist.kpI_ID,metricslist.kpI_ACTUAL) == '%' ? 'UOM' : '' || blurcalled(metricslist.kpI_ID,metricslist.kpI_ACTUAL) == 'Number' ? 'Number' : ''
          || (blurcalled(metricslist.kpI_ID,metricslist.kpI_ACTUAL) == null || blurcalled(metricslist.kpI_ID,metricslist.kpI_ACTUAL) == '') ? 'NA':'' ">{{blurcalled(metricslist.kpI_ID,metricslist.kpI_ACTUAL)}}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="slaStatus">
      <th mat-header-cell *matHeaderCellDef style="width: 100px;">Service Level Status</th>
      <td style="text-align: center;" mat-cell *matCellDef="let metricslist"
      [ngClass]="{'Red':getslaStatusforKPI(metricslist) == 'Not Met'}">{{getslaStatusforKPI(metricslist)}}
        <a class="link" (click)="ViewCAPA(metricslist.kpI_ID)"
          *ngIf="addDatas && isCapaVisible && checkIfCAPARequired(metricslist)"><i
            class="fa fa-pencil"></i></a>
      </td>
    </ng-container>
    <ng-container matColumnDef="period">
      <th mat-header-cell *matHeaderCellDef style="width: 100px;">Period</th>
      <td mat-cell *matCellDef="let metricslist">{{getperiod(metricslist.frequency)}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
  </table>
  <div class="row" style="text-align:center;margin-bottom:15px">
    <button *ngIf="!freez" type="button" [disabled]="isLoading" (click)="SaveDetails(metricsDetail,1)" class="btn btn-primary">Save As Draft</button>
    <button style="margin-left: 1%;" *ngIf="showMonth || showQuarter || showRelease" [disabled]="isLoading" type="button"
      (click)="SubmitDetails(metricsDetail,0)" class="btn btn-primary">Submit</button>
  </div>
  <div class="row" style="padding-left: 1%;">
    <div style="font-family: calibri;width: 50%;float: left;margin-top: 14px;"><b>Note:</b>
      <br> <b>Save As Draft :</b> Use this option to partially save the data (Data will not be considered for Dashboard
      Metrics).
    <br> <b>Submit :</b> Use this option to submit the data.   <!--  (Data connot be edited once submitted). -->
    </div>
  </div>
</div>
