<div style="background-color:white">
  <div class="row">
    <div class="col-lg-12" style="text-align:center">Time Sheet Entry</div>
  </div>
  <div class="row">
    &nbsp;&nbsp;Reporting Period:
    <mat-form-field style="width:60px;padding-left:10px">
      <mat-select name='tableMonth' [(ngModel)]="tableMonth" (selectionChange)="ddMonth_OnChange()">
        <mat-option value='Jan'>JAN</mat-option>
        <mat-option value='Feb'>FEB</mat-option>
        <mat-option value='Mar'>MAR</mat-option>
        <mat-option value='Apr'>APR</mat-option>
        <mat-option value='May'>MAY</mat-option>
        <mat-option value='Jun'>JUN</mat-option>
        <mat-option value='Jul'>JUL</mat-option>
        <mat-option value='Aug'>AUG</mat-option>
        <mat-option value='Sep'>SEP</mat-option>
        <mat-option value='Oct'>OCT</mat-option>
        <mat-option value='Nov'>NOV</mat-option>
        <mat-option value='Dec'>DEC</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field style="width:80px;padding-left:10px">
      <mat-select name='tableYear' [(ngModel)]="tableYear" (selectionChange)="ddMonth_OnChange()">
        <mat-option *ngFor="let year of _util.Years(3)" [value]="year" [title]="year">{{year}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="timesheetType.period == 0" style="width:200px;padding-left:10px;font-size:13px;">
      <mat-select name='ddWeek' [(ngModel)]="timesheetType.selectedDateRange" (selectionChange)="ddWeek_OnChange()">
        <mat-option *ngFor="let w of timesheetType.dateRange" [value]='w'[title]="w.displayName">{{w.displayName}}</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- <button type="button" name="btnPeriod" (click)="GetTimesheetData()" style="border-radius:4px">Go</button> -->
    <!-- test -->
    <!-- <mat-form-field *ngIf="enableProjectsDropdown" style="width:200px;padding-left:10px;font-size:13px;">
      <mat-select name='ddProjects' [(ngModel)]="timesheetType.selectedDateRange" (selectionChange)="ddWeek_OnChange()">
      <mat-select name='ddProjects'>
        <mat-option *ngFor="let prj of projectTimesheets" [value]='prj'>{{prj.proJ_NM}}</mat-option>
      </mat-select>
    </mat-form-field> -->    

  </div>
  <div class="row" style="padding:5px">
    <mat-progress-bar *ngIf="bProgress" mode="indeterminate"></mat-progress-bar>
    <table class="table table-bordered">
      <tr *ngIf="projectTimesheets.length > 0">
        <th style="font-size:smaller">Project Name</th>
        <!-- <th style="text-align:center" *ngFor="let t of projectTimesheets[0].timesheet; let i = index">{{t.clndR_DATE|slice:0:2}}</th> -->
        <th style="text-align:center" *ngFor="let d of timesheetType.selectedDates">{{d}}</th>
        <th>Total</th>
        <th>Status</th>
        <th>Comments</th>
      </tr>
      
      <tr *ngFor="let t of projectTimesheets">
        <td style="font-size:smaller">{{t.proJ_NM}}</td>
        <!-- <td style="text-align: center" *ngFor="let entry of t.timesheet" [style.background]="GetBackground(entry)">  bak -->
        <td style="text-align: center" *ngFor="let entry of t.timesheet;let idx=index" [style.background]="GetBackground(entry,t)">  
          <!-- <input #input="ngModel" name="input{{entry.ID}}" matInput type="text" [disabled]="disableEntry(entry.timE_ENTRY_STATUS)"
            class="inputbox" [(ngModel)]="entry.clockeD_MINS" pattern="^([0-2][0-9])?\.?([0-9][0-9])?"
            > -->

          <!-- <input style="border:1px solid #cecece" #input="ngModel" name="input{{entry.ID}}" matInput type="text" [disabled]="disableEntry(entry)"
            class="inputbox" [(ngModel)]="entry.clockeD_MINS" (change)="valuechange(t)" (keypress)="_keyPress(input, $event)"
            (focus)="_focus(input)">  bak-->

            <input style="border:1px solid #cecece" #input="ngModel" name="input{{entry.ID}}" matInput type="text" [disabled]="disableEntry(entry,t)"
            class="inputbox" [(ngModel)]="entry.clockeD_MINS" (change)="valuechange(t)" (keypress)="_keyPress(input, $event)"
            (focus)="_focus(input)"> 

        </td>
        <td style="text-align:center">
          <b>{{t.total}}</b>
        </td>
        <td style="text-align:center;font-size:x-small;font-weight:bold">{{t.status}}</td>
        <td style="text-align:center">
          <!-- <textarea style="width:100%;" [disabled]="disableEntry(t.status)" [(ngModel)]="t.comments">{{t.comments}}</textarea> --> 
          <textarea style="width:100%;" [disabled]="disableEntryForComments(t.status)" [(ngModel)]="t.comments">{{t.comments}}</textarea>
        </td>
      </tr>    
    </table>
    
    <table>
      <tr>
        <td style="height:30px;width:50px;" [style.background-color]= '_util.ColorShaders.WeekEndShade'></td>
        <td style="padding-left:10px">Weekends</td> &nbsp;
        <td style="height:30px;width:50px;" [style.background-color]='_util.ColorShaders.LeaveShade'></td>
        <td style="padding-left:10px">Leave</td> &nbsp;
        <td style="height:30px;width:50px;" [style.background-color]= '_util.ColorShaders.HolidayShade'></td>
        <td style="padding-left:10px">Holiday</td>
      </tr>
    </table>
  </div>

<!-- Holidays Implementation -->

<div class="row" style="padding:5px;display: none;">
  <mat-progress-bar *ngIf="bProgress" mode="indeterminate"></mat-progress-bar>
  <table style="width:60%" class="table table-bordered">
    <tr *ngIf="projectTimesheets.length > 0">
      <th style="font-size:smaller">Holiday Types</th>
      <th style="text-align:center" *ngFor="let d of projectTask[0].dates ">{{d.date}}</th>
    </tr>
    <tr *ngFor="let t of projectTask;let i=index"> 
      <td style="font-size:smaller">{{t.proJ_TASK_NAME}}</td> 
      <td style="text-align: center" *ngFor="let entry of t.dates;let j=index">
          <input id="{{i}}{{j}}" (click) ="holidayChecked(projectTask,i,j,projectTimesheets,$event,t.proJ_TASK_ID)"  type="checkbox" [value]="t.proJ_TASK_ID" [checked]="leaveApplied(entry,projectTimesheets)"  [disabled]="entry.enable">
          <!-- <input id="{{i}}{{j}}" (click) ="holidayChecked(projectTask,i,j,projectTimesheets,$event,t.proJ_TASK_ID,entry)"  type="checkbox" [value]="t.proJ_TASK_ID" [checked]="leaveApplied(entry,projectTimesheets)"  [disabled]="entry.enable"> -->
      </td>
    </tr>
  </table>
</div>

  <!-- <div *ngFor="let proj of projectTimesheets">
    <table width="100%" class="table table-bordered" style="font-size: 12px;font-family: 'Arial', Arial, sans-serif;">
      <tr>
        <th>No.</th>
        <th>Date</th>
        <th>Project</th>
        <th>Module</th>
        <th>Time (hrs)</th>
        <th>Comments</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let t of proj.timesheet;let i = index">
        <td class="tdstyle">{{i + 1}}</td>
        <td class="tdstyle">{{t.clndR_DATE}}</td>
        <td class="tdstyle">{{proj.proJ_NM}}</td>
        <td class="tdstyle">Module</td>
        <td class="tdstyle">
          <input #input="ngModel" name="input{{t.proJ_RESRC_TIME_ENTRY_ID}}" matInput type="text" class="inputbox" [(ngModel)]="t.clockeD_MINS"
            (change)="valuechange(t)" (keypress)="_keyPress(input, $event)" (focus)="_focus(input)">
        </td>
        <td class="tdstyle">
          <textarea style="height:30px;width:100%" [(ngModel)]="t.tasK_DESC">{{t.tasK_DESC}}</textarea>
        </td>
        <td class="tdstyle" nowrap>
            <mat-icon class="link_add" matTooltip="Add New entry" (click)='AddNewDataDump()'>add_circle</mat-icon>
            <mat-icon class="link_remove" matTooltip="Delete entry" (click)='AddNewDataDump()'>cancel_circle</mat-icon>
            <mat-icon class="link_copy" matTooltip="Copy entry" (click)='AddNewDataDump()'>file_copy</mat-icon>
        </td>
      </tr>
    </table>
  </div> -->

  <!-- <div *ngIf="IsRole('employee')" class="row" style="text-align:center"> -->
  <div class="row" style="text-align:center">
    <!-- <button [disabled]="true" class="btn btn-success" style="margin:5px" value="Save" (click)='Save_onClick()'>Save</button>
    <button [disabled]="true" class="btn btn-success" style="margin:5px" value="Submit" (click)='SubmitForReview_onClick()'>Submit for Review</button> -->
  </div>

</div>