.mat-progress-bar {
    display: block;
    height: 1px;
    overflow: hidden;
    position: relative;
    transform: translateZ(0);
    transition: opacity 250ms linear;
    width: 100%;
  }
  table{
    margin-bottom:5px !important;
    }
.table > tbody > tr > td, tr > th{
    padding:0px;
    vertical-align: middle;
}
tr{
    height:30px;
}
td{
    vertical-align: middle;
   
}
.tdstyle {
    padding-left: 3px !important;
    padding-right: 3px !important;
}

th{
    background-color: rgb(196, 196, 196);
    vertical-align: middle;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.inputbox{
    background: transparent;
    width:20px;
    text-align:center;
    border: 0px solid;
    height:35px;
}
.row{
    margin:0px !important;
}
.link_add {
    cursor: pointer;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    color:#5cb85c;
    font-size:1.5em;
}
.link_remove {
  //padding-top: 10px;
  cursor: pointer;
  text-decoration: none;
  vertical-align: middle;
  text-align: center;
  color:#f0ad4e;
  font-size:1.5em;
}
.link_copy {
    //padding-top: 10px;
    cursor: pointer;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    color:#04aefd;
    font-size:1.5em;
  }