<!-- 
<div class="row">
<div class="col-lg-6" >
<mat-card style="width: 180px;
height: 100px;background: #FFFFFF 0% 0% no-repeat padding-box;
border: 2px solid #E5E5E5;">
  <mat-card-subtitle style="color: #121212;width: 48px;margin-top: -20px;
  margin-left: -15px;
  height: 34px;">Overall CRISP</mat-card-subtitle>
<mat-card-content style="width: 45px;
height: 11px;color: #121212;">
  Need focus

  06 Accounts
  <google-chart #chart1 [type]="type" [data]="data" [columnNames]="columnNames" [options]="options" [width]="width" [height]="height">
  </google-chart>
</mat-card-content> -->


<!-- </mat-card>
</div>
<div class="col-lg-6  " style="text-align:left">
  <mat-card>Simple card
  
  </mat-card>
  </div>
  
</div>
  -->
  <div style="height: 35px;background: #FFFFFF;padding-top: 7px;margin-top: -16px;">
    <img [routerLink]="['/']"
    style="padding-left: 17px;cursor: pointer;"src="assets/Sqa-helpimage/backarrow.svg">
    <label [routerLink]="['/']"style="padding-left: 5px;color: #4C4C47;cursor: pointer;">Back</label>
    <img [routerLink]="['/']"
    style="padding-left: 10px;cursor: pointer;"src="assets/Sqa-helpimage/.svg">
    <label [routerLink]="['/']" style="padding-left: 5px;color: #4C4C47;cursor: pointer;">Dashboard/</label>
    <label style="color:#4B4EB1;"> Customer Success Survey & Feedback</label>


  </div>
   
  <div class="mainDiv">
    <div class="row" style="margin-top: 20px;
     margin-left: -10px;">
     <div class="col-lg-5 col-md-5 col-sm-5" style="
     font: normal normal 600 18px/22px Proxima Nova;
     color: #4C4C47;left: 15px;">
       Customer Success Survey & Feedback
     </div>
     <div class="col-lg-7 col-md-7 col-sm-7" style="padding-left: 138px;">
       <label style="font: normal normal normal 12px/15px Proxima Nova;color: #4C4C47;">  Feedback for the period:</label>
       <label style="font: normal normal medium 12px/16px Roboto;color: #2F2F2F;">Jul 2019 to Sep 2019</label>
       <label style="font: normal normal normal 12px/15px Proxima Nova;color: #4C4C47;">Project Name:</label>
       <label style="font: normal normal normal 12px/15px Proxima Nova;color: #2F2F2F;">Managed Support</label>
       <label style="font: normal normal normal 12px/15px Proxima Nova;color: #4C4C47;">Status:</label>
       <label style="font: normal normal normal 12px/15px Proxima Nova;color: #4C4C47;">In Progress</label>
       <label style="font: normal normal normal 12px/15px Proxima Nova;color: #4C4C47;">Respondent Name:</label>
       <label style="font: normal normal normal 12px/15px Proxima Nova;color: #2F2F2F;">John Doe</label>
     </div>
    </div>
     <div class="row" style="margin-top: 15px;">
       <div class="col-lg-1 col-md-1 col-sm-1" >
         <label style="width: 56px;margin-top: 15px;
         font: normal normal normal 12px/15px Proxima Nova;color: #4C4C47;margin-left: 40px;">
         Select Year</label>
       </div>
       <div class="col-lg-3 col-md-3 col-sm-3">
         <mat-form-field floatLabel="never" class="no-line" style="width: 103px;margin-top: -5.5px;">
          <mat-select name='tableYear' [(ngModel)]="tableYear" style="width: 103px;
           height: 25px;
           background: #FFFFFF 0% 0% no-repeat padding-box;
           border: 0.5px solid #C3C3C3;margin-left:-10px; ">
            <mat-option *ngFor="let year of _util.Years(3)" [value]="year" [title]="year">{{year}}</mat-option>
          </mat-select>
         </mat-form-field>
       </div>
       <div class="col-lg-1 col-md-1 col-sm-1" >
         <label style="width: 76px;margin-top: 15px;
         font: normal normal normal 12px/15px Proxima Nova;color: #4C4C47;margin-left: -220px;">
         Select Quarter</label>
       </div>
       <div class="col-lg-3 col-md-3 col-sm-3">
         <mat-form-field floatLabel="never" class="no-line" style="width: 169px;margin-top: -5.5px;">
           <mat-select   style="width: 169px;
           height: 25px;
           background: #FFFFFF 0% 0% no-repeat padding-box;
           border: 0.5px solid #C3C3C3;margin-left: -250px;">
             <mat-option *ngIf="ShowQuarterlyTable()" ></mat-option>
           </mat-select>
         </mat-form-field>
       </div>
       <div class="col-lg-1 col-md-1 col-sm-1" >
         <label style="width: 37px;margin-top: 15px;
         font: normal normal normal 12px/15px Proxima Nova;color: #4C4C47;margin-left: -390px;">
         Project</label>
       </div>
       <div class="col-lg-3 col-md-3 col-sm-3">
         <mat-form-field floatLabel="never" class="no-line" style="width: 152px;margin-top: -5.5px;">
           <mat-select   multiple style="width: 152px;
           height: 25px;
           background: #FFFFFF 0% 0% no-repeat padding-box;
           border: 0.5px solid #C3C3C3; margin-left: -450px; ">
              <mat-option *ngFor="let proj of projNames" [value]="proj.proJ_ID" [title]="proj.proJ_NM">{{proj.proJ_NM}}
              </mat-option>
           </mat-select>
         </mat-form-field>
       </div>
       <span style="display: inline-block;">
         <button type="button" class="btn btn-primary" style="width: 80px;margin-left: 750px;
         margin-top: -100px;"  >
           View
         </button>
       </span>
     </div>
     <div>
      We would like you to rate {{ companyName }} on the aspects mentioned below.
     </div>
     <div style="width: 1334px;
       height: 154px;background: transparent linear-gradient(90deg, #F5F5F5 0%, var(--unnamed-color-ffffff) 100%) 0% 0% no-repeat padding-box;
       background: transparent linear-gradient(90deg, #F5F5F5 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;">
       <p style="margin-top: 10px;">Q1. What do you feel about overall quality of deliverables / services?</p>
         <div class="row">
           <div class="col-lg-8 col-md-8 col-sm-8" >
             <div class ="row">
               <div class="col-lg-6 col-md-6 col-sm-6" >
                 <div style="width: 108px;
                   height: 36px;
                   background: #FFFFFF 0% 0% no-repeat padding-box;
                   border: 0.5px solid #EBEBEB;
                   border-radius: 5px;margin-left: -20px;
                   font: normal normal normal 12px/15px Proxima Nova;">
                   <img src="assets/Sqa-helpimage/poor.png.svg" alt="process model" width="16px" height="16px">
                   Poor
                 </div> 
                 <div style="width: 108px;
                   height: 36px;
                   background: #FFFFFF 0% 0% no-repeat padding-box;
                   border: 0.5px solid #EBEBEB;
                   border-radius: 5px;    margin-top: -36px;
                   margin-left: 105px;
                   font: normal normal normal 12px/15px Proxima Nova;">
                   <img src="assets/Sqa-helpimage/fair.svg" alt="process model" width="16px" height="16px">
                   Fair
                 </div> 
                 <div style="width: 108px;
                   height: 36px;
                   background: #FFFFFF 0% 0% no-repeat padding-box;
                   border: 0.5px solid #EBEBEB;
                   border-radius: 5px;    margin-top:-36px;
                   margin-left: 235px;
                   font: normal normal normal 12px/15px Proxima Nova;">
                   <img src="assets/Sqa-helpimage/Good.svg" alt="process model" width="16px" height="16px">
                   Good
                 </div> 
                 <div style="width: 108px;
                   height: 36px;
                   background: #FFFFFF 0% 0% no-repeat padding-box;
                   border: 0.5px solid #EBEBEB;
                   border-radius: 5px;   
                   margin-left: 365px;
                   margin-top: -36px;    font: normal normal normal 12px/15px Proxima Nova;">
                   <img src="assets/Sqa-helpimage/verygood.svg" alt="process model" width="16px" height="16px">
                   Very Good
                 </div> 
                 <div style="width: 108px;
                   height: 36px;
                   background: #FFFFFF 0% 0% no-repeat padding-box;
                   border: 0.5px solid #EBEBEB;
                   border-radius: 5px;       margin-top: -36px;
                   margin-left: 495px;    font: normal normal normal 12px/15px Proxima Nova;">
                   <img src="assets/Sqa-helpimage/Excellent.svg" alt="process model" width="16px" height="16px">
                   Excellent
                 </div> 
         
               </div>
               <div class="col-lg-6 col-md-6 col-sm-6">
                 <div style="width: 623px;
                   height: 54px;
                   background: #FFFFFF 0% 0% no-repeat padding-box;
                   border: 0.5px solid #EBEBEB;
                   border-radius: 3px;margin-top: 60px;
                   margin-left: -450px;">
                   <p style="font: normal normal normal 12px/15px Proxima Nova;
           
                   color: #747474;">How can we improve your experience?</p>
                 </div>
               </div>
             </div>
             <hr class="solid">
             <div class="col-lg-4 col-md-4 col-sm-4">
               <div style="width: 533px;
               height: 66px;
               background: #FFFFFF 0% 0% no-repeat padding-box;
               border: 1px solid #E5E5E5;
               margin-left: 700px;
               margin-top: -190px;">
   
               </div>
               <!-- <svg viewBox="0, 0, 100, 100">
                 <circle
                  class="progress-circle"
                  stroke-width="6"
                  [style.strokeDasharray]="circumference"
                  [style.strokeDashoffset]="strokeDashoffset"
                  fill="transparent"
                  stroke="blueviolet"
                 r="47"
                 cx="50"
                 cy="50"
                />
                <text x="50" y="50" class="text" text-anchor="middle">{{(value) + '%'}}</text>
               </svg> -->
               <!-- <div style="width: 1334px;
               height: 154px;background: transparent linear-gradient(90deg, #F5F5F5 0%, var(--unnamed-color-ffffff) 100%) 0% 0% no-repeat padding-box;
               background: transparent linear-gradient(90deg, #F5F5F5 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;margin-left: -27px;
               margin-top: 50px;">
               <p style="margin-top: 10px;">Q2. How have been in enabling your success</p>
                 <div class="row">
                   <div class="col-lg-8 col-md-8 col-sm-8" >
                     <div class ="row">
                       <div class="col-lg-6 col-md-6 col-sm-6" >
                         <div style="width: 108px;
                           height: 36px;
                           background: #FFFFFF 0% 0% no-repeat padding-box;
                           border: 0.5px solid #EBEBEB;
                           border-radius: 5px;margin-left: -20px;
                           font: normal normal normal 12px/15px Proxima Nova;">
                           <img src="assets/Sqa-helpimage/poor.png.svg" alt="process model" width="16px" height="16px">
                           Poor
                         </div> 
                         <div style="width: 108px;
                           height: 36px;
                           background: #FFFFFF 0% 0% no-repeat padding-box;
                           border: 0.5px solid #EBEBEB;
                           border-radius: 5px;    margin-top: -36px;
                           margin-left: 105px;
                           font: normal normal normal 12px/15px Proxima Nova;">
                           <img src="assets/Sqa-helpimage/fair.svg" alt="process model" width="16px" height="16px">
                           Fair
                         </div> 
                         <div style="width: 108px;
                           height: 36px;
                           background: #FFFFFF 0% 0% no-repeat padding-box;
                           border: 0.5px solid #EBEBEB;
                           border-radius: 5px;    margin-top:-36px;
                           margin-left: 235px;
                           font: normal normal normal 12px/15px Proxima Nova;">
                           <img src="assets/Sqa-helpimage/Good.svg" alt="process model" width="16px" height="16px">
                           Good
                         </div> 
                         <div style="width: 108px;
                           height: 36px;
                           background: #FFFFFF 0% 0% no-repeat padding-box;
                           border: 0.5px solid #EBEBEB;
                           border-radius: 5px;   
                           margin-left: 365px;
                           margin-top: -36px;    font: normal normal normal 12px/15px Proxima Nova;">
                           <img src="assets/Sqa-helpimage/verygood.svg" alt="process model" width="16px" height="16px">
                           Very Good
                         </div> 
                         <div style="width: 108px;
                           height: 36px;
                           background: #FFFFFF 0% 0% no-repeat padding-box;
                           border: 0.5px solid #EBEBEB;
                           border-radius: 5px;       margin-top: -36px;
                           margin-left: 495px;    font: normal normal normal 12px/15px Proxima Nova;">
                           <img src="assets/Sqa-helpimage/Excellent.svg" alt="process model" width="16px" height="16px">
                           Excellent
                         </div> 
                 
                       </div>
                       <div class="col-lg-6 col-md-6 col-sm-6">
                         <div style="width: 623px;
                           height: 54px;
                           background: #FFFFFF 0% 0% no-repeat padding-box;
                           border: 0.5px solid #EBEBEB;
                           border-radius: 3px;margin-top: 60px;
                           margin-left: -450px;">
                           <p style="font: normal normal normal 12px/15px Proxima Nova;
                   
                           color: #747474;">How can we improve your experience?</p>
                         </div>
                       </div>
                     </div>
                     <hr class="solid">
                     <div class="col-lg-4 col-md-4 col-sm-4">
                       <div style="width: 533px;
                       height: 66px;
                       background: #FFFFFF 0% 0% no-repeat padding-box;
                       border: 1px solid #E5E5E5;
                       margin-left: 700px;
                       margin-top: -190px;">
           
                       </div> -->
                       <!-- <svg viewBox="0, 0, 100, 100">
                         <circle
                          class="progress-circle"
                          stroke-width="6"
                          [style.strokeDasharray]="circumference"
                          [style.strokeDashoffset]="strokeDashoffset"
                          fill="transparent"
                          stroke="blueviolet"
                         r="47"
                         cx="50"
                         cy="50"
                        />
                        <text x="50" y="50" class="text" text-anchor="middle">{{(value) + '%'}}</text>
                       </svg> --> 
                       <!-- <div style="width: 1334px;
                       height: 154px;background: transparent linear-gradient(90deg, #F5F5F5 0%, var(--unnamed-color-ffffff) 100%) 0% 0% no-repeat padding-box;
                       background: transparent linear-gradient(90deg, #F5F5F5 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;margin-left: -27px;
      margin-top: 50px;">
                       <p style="margin-top: 10px;">Q3. How have been in adding value/initiatives that directly impacts your success</p>
                         <div class="row">
                           <div class="col-lg-8 col-md-8 col-sm-8" >
                             <div class ="row">
                               <div class="col-lg-6 col-md-6 col-sm-6" >
                                 <div style="width: 108px;
                                   height: 36px;
                                   background: #FFFFFF 0% 0% no-repeat padding-box;
                                   border: 0.5px solid #EBEBEB;
                                   border-radius: 5px;margin-left: -20px;
                                   font: normal normal normal 12px/15px Proxima Nova;">
                                   <img src="assets/Sqa-helpimage/poor.png.svg" alt="process model" width="16px" height="16px">
                                   Poor
                                 </div> 
                                 <div style="width: 108px;
                                   height: 36px;
                                   background: #FFFFFF 0% 0% no-repeat padding-box;
                                   border: 0.5px solid #EBEBEB;
                                   border-radius: 5px;    margin-top: -36px;
                                   margin-left: 105px;
                                   font: normal normal normal 12px/15px Proxima Nova;">
                                   <img src="assets/Sqa-helpimage/fair.svg" alt="process model" width="16px" height="16px">
                                   Fair
                                 </div> 
                                 <div style="width: 108px;
                                   height: 36px;
                                   background: #FFFFFF 0% 0% no-repeat padding-box;
                                   border: 0.5px solid #EBEBEB;
                                   border-radius: 5px;    margin-top:-36px;
                                   margin-left: 235px;
                                   font: normal normal normal 12px/15px Proxima Nova;">
                                   <img src="assets/Sqa-helpimage/Good.svg" alt="process model" width="16px" height="16px">
                                   Good
                                 </div> 
                                 <div style="width: 108px;
                                   height: 36px;
                                   background: #FFFFFF 0% 0% no-repeat padding-box;
                                   border: 0.5px solid #EBEBEB;
                                   border-radius: 5px;   
                                   margin-left: 365px;
                                   margin-top: -36px;    font: normal normal normal 12px/15px Proxima Nova;">
                                   <img src="assets/Sqa-helpimage/verygood.svg" alt="process model" width="16px" height="16px">
                                   Very Good
                                 </div> 
                                 <div style="width: 108px;
                                   height: 36px;
                                   background: #FFFFFF 0% 0% no-repeat padding-box;
                                   border: 0.5px solid #EBEBEB;
                                   border-radius: 5px;       margin-top: -36px;
                                   margin-left: 495px;    font: normal normal normal 12px/15px Proxima Nova;">
                                   <img src="assets/Sqa-helpimage/Excellent.svg" alt="process model" width="16px" height="16px">
                                   Excellent
                                 </div> 
                         
                               </div>
                               <div class="col-lg-6 col-md-6 col-sm-6">
                                 <div style="width: 623px;
                                   height: 54px;
                                   background: #FFFFFF 0% 0% no-repeat padding-box;
                                   border: 0.5px solid #EBEBEB;
                                   border-radius: 3px;margin-top: 60px;
                                   margin-left: -450px;">
                                   <p style="font: normal normal normal 12px/15px Proxima Nova;
                           
                                   color: #747474;">How can we improve your experience?</p>
                                 </div>
                               </div>
                             </div>
                             <hr class="solid">
                             <div class="col-lg-4 col-md-4 col-sm-4">
                               <div style="width: 533px;
                               height: 66px;
                               background: #FFFFFF 0% 0% no-repeat padding-box;
                               border: 1px solid #E5E5E5;
                               margin-left: 700px;
                               margin-top: -190px;">
                   
                               </div> -->
                               <!-- <svg viewBox="0, 0, 100, 100">
                                 <circle
                                  class="progress-circle"
                                  stroke-width="6"
                                  [style.strokeDasharray]="circumference"
                                  [style.strokeDashoffset]="strokeDashoffset"
                                  fill="transparent"
                                  stroke="blueviolet"
                                 r="47"
                                 cx="50"
                                 cy="50"
                                />
                                <text x="50" y="50" class="text" text-anchor="middle">{{(value) + '%'}}</text>
                               </svg> -->  
                               <!-- <div style="width: 1334px;
                               height: 154px;background: transparent linear-gradient(90deg, #F5F5F5 0%, var(--unnamed-color-ffffff) 100%) 0% 0% no-repeat padding-box;
                               background: transparent linear-gradient(90deg, #F5F5F5 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;margin-left: -27px;
                               margin-top: 50px;">
                               <p style="margin-top: 10px;">Q4. How likely is that you would recommend GAVS to your friend/acquaintance who wishes to avail IT services</p>
                               </div> 
                               <div style="width: 1334px;
                               height: 154px;background: transparent linear-gradient(90deg, #F5F5F5 0%, var(--unnamed-color-ffffff) 100%) 0% 0% no-repeat padding-box;
                               background: transparent linear-gradient(90deg, #F5F5F5 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;margin-left: -27px;
                               margin-top: 50px;">
                               <p style="margin-top: 10px;">Q5. You rated as 8 out of 10.What improvements could you make to bring your rating closer to 10</p>
                               <div class="col-lg-6 col-md-6 col-sm-6">
                                <div style="width: 623px;
                                  height: 54px;
                                  background: #FFFFFF 0% 0% no-repeat padding-box;
                                  border: 0.5px solid #EBEBEB;
                                  border-radius: 3px;margin-top: 60px;
                                  margin-left: -450px;">
                                  <p style="font: normal normal normal 12px/15px Proxima Nova;
                          
                                  color: #747474;">Enter Comments</p>
                                </div>
                              </div>
                              </div> -->
             </div>
           </div>
         </div>
     </div>
   </div>
   
   
   
   
