<button mat-menu-item [routerLink]="['/customerinvite']" routerLinkActive="active-menu-item" *ngIf="_access.IsAllowed(35, 1, '', '')">
  <i class="fa fa-street-view"></i>&nbsp;&nbsp;&nbsp;Customer Details
</button>
<button mat-menu-item [routerLink]="['/accesscontrol']" routerLinkActive="active-menu-item" *ngIf="_access.IsAllowed(36, 1, '', '')">
  <i class="fa fa-cogs" style="color: orange;"></i>&nbsp;&nbsp;&nbsp;Application
  Access Control
</button>

<mat-divider></mat-divider>

<button mat-menu-item [routerLink]="['/crispscores']" routerLinkActive="active-menu-item" *ngIf="_access.IsAllowed(37, 1, '', '')">
  <i class="fa fa-star" style="color: green;"></i>&nbsp;&nbsp;&nbsp;CRISP Scores
  Entry
</button>
<button mat-menu-item [routerLink]="['/crisp-report']" routerLinkActive="active-menu-item" *ngIf="_access.IsAllowed(37, 1, '', '')">
  <i class="fa fa-chart-line" style="color: green;"></i>&nbsp;&nbsp;&nbsp;CRISP Report
</button>
<button mat-menu-item [routerLink]="['/sqamanagement']" routerLinkActive="active-menu-item" *ngIf="_access.IsAllowed(42, 1, '', '')">
  <i class="fa fa-star" style="color: green;"></i>&nbsp;&nbsp;&nbsp;SQA
  Management
</button>
<button mat-menu-item [routerLink]="['/csatconfiguration']" routerLinkActive="active-menu-item" *ngIf="_access.IsAllowed(826, 1, '', '')">
  <mat-icon>track_changes</mat-icon>CSAT Configuration
</button>
<button mat-menu-item [routerLink]="['/css']" routerLinkActive="active-menu-item" *ngIf="_access.IsAllowed(38, 1, '', '')">
  <mat-icon>track_changes</mat-icon>Customer Satisfaction Survey
</button>
<button mat-menu-item [routerLink]="['/cssverification']" routerLinkActive="active-menu-item" *ngIf="_access.IsAllowed(38, 1, '', '')">
  <mat-icon>track_changes</mat-icon>CSS Verification
</button>
<button mat-menu-item [routerLink]="['/cssmonthly']" routerLinkActive="active-menu-item" *ngIf="_access.IsAllowed(57, 1, '', '')">
  <mat-icon>track_changes</mat-icon>CSAT Monthly
</button>

<mat-divider></mat-divider>

<button mat-menu-item [routerLink]="['/accesscontrolproj']" routerLinkActive="active-menu-item" *ngIf="_access.IsAllowed(39, 1, '', '')">
  <i class="fa fa-clipboard" style="color: rgb(0, 153, 255);"></i>&nbsp;&nbsp;&nbsp;Project Access Control
</button>
<button mat-menu-item [routerLink]="['/ras']" routerLinkActive="active-menu-item" *ngIf="_access.IsAllowed(40, 1, '', '')">
  <i class="fa fa-users" style="color: blue;"></i>&nbsp;&nbsp;&nbsp;Resource
  Allocation
</button>
<button mat-menu-item [routerLink]="['/reports']" routerLinkActive="active-menu-item" *ngIf="_access.IsAllowed(34, 1, '', '')">
  <i class="fa fa-chart-bar" style="color: rgb(0, 255, 64);"></i>&nbsp;&nbsp;&nbsp;Reports
</button>
<button mat-menu-item [routerLink]="['/configext']" routerLinkActive="active-menu-item" *ngIf="_access.IsAllowed(89, 1, '', '')">
  <i class="fa fa-chart-bar" style="color: rgb(0, 255, 64);"></i>&nbsp;&nbsp;&nbsp;ConfigurationExt
</button>
<button mat-menu-item [routerLink]="['/riskrepository']" routerLinkActive="active-menu-item" *ngIf="_access.IsAllowed(104, 1, '', '')">
  <i class="fa fa-chart-bar" style="color: rgb(0, 255, 64);"></i>&nbsp;&nbsp;&nbsp;Risk Repository
</button>
<button mat-menu-item [routerLink]="['/auditqualitystandards']" routerLinkActive="active-menu-item" *ngIf="_access.IsAllowed(90, 1, '', '')">
  <i class="fa fa-chart-bar" style="color: rgb(0, 255, 64);"></i>&nbsp;&nbsp;&nbsp;Auditor Qualified Standards
</button>
<button mat-menu-item [routerLink]="['/coo-dashboard']" routerLinkActive="active-menu-item" *ngIf="_access.IsAllowed(88,1,'','')">
  <i class="fa fa-street-view" style="color: rgb(0, 255, 64);"></i>&nbsp;&nbsp;&nbsp;COO Dashboard
</button>
<button mat-menu-item [routerLink]="['/projectsKPI']" routerLinkActive="active-menu-item" *ngIf="_access.IsAllowed(43,1,'','')">
  <i class="fa fa-star" style="color: rgb(0, 255, 64);"></i>&nbsp;&nbsp;&nbsp;Benchmark KPI
</button>
<button mat-menu-item [routerLink]="['/complianceinsights']" routerLinkActive="active-menu-item" *ngIf="_access.IsAllowed(113,1,'','')">
  <i class="fa fa-star" style="color:rgb(0, 153, 255);"></i>&nbsp;&nbsp;&nbsp;Compliance Insights
</button>
<button mat-menu-item   [routerLink]="['/cileaderboard']" routerLinkActive="active-menu-item" *ngIf="_access.IsAllowed(46,1,'','')">
  <i class="fa fa-line-chart" style="color:rgb(0, 255, 64)"></i>&nbsp;&nbsp;&nbsp;CI LeaderBoard
</button>
<!-- <button mat-menu-item [routerLink]="['/fmeamanagement']" routerLinkActive="active-menu-item" *ngIf="_access.IsAllowed(45,1,'','')">
  <i class="fa fa-star" style="color:rgb(0, 153, 255);"></i>&nbsp;&nbsp;&nbsp;FMEA
</button> -->
