

th, td {
    padding: 5px;
    text-align: left;
}

#vertical-2 tr,#vertical-2 tbody{
    display:inline-block;
}
.icon
{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    float: left;
    margin: 2px;
}
.color_swatch {
    background: url("/assets/images/color_swatch.png") no-repeat;
    width: 14px;
    height: 14px;
    margin-top: -17px;
    margin-bottom: 3px;
    float: right;
    cursor: pointer;
    margin-right: 95%;
  }
  .redicon
  {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #f44336;
      float: left;
         margin: 3px;
  }
  .ambericon
  {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #dd8109;
      float: left;
    margin: 3px;
  }
  .yellowicon
  {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #FFFF00;
      float: left;
      margin: 3px;
  }
  .greenicon
  {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #237f00;
      float: left;
    margin: 3px;
  }
  .bordered_content {
    font-size: 12px;
  font-family: calibri;
  border: #ccc 1px solid;
  color: #524f4f;
  background-color: #fff!important;
  box-shadow: 1px 1px 1px #ccc;
  border-radius: 3px;
  
  }
  h3 {
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 15px;
    font-family: calibri;
   display: block;
   padding-bottom: 5px;
   position: relative;
  }
  h3:before{
      content: "";
      position: absolute;
      width: 10%;
      height: 1px;
      bottom: 0;
      border-bottom: 2px solid #097bde;
  }