.tabheader{
    text-align: center;
  }
  .link {
      cursor: pointer;
      text-decoration: none;
      font-size:24px;
      color:steelblue;
      vertical-align: middle;
      text-align: center;
    }
    .link_small
    {
      cursor: pointer;
      text-decoration: none;
      font-size:5px;
      color:steelblue;
      vertical-align: middle;
      text-align: center;
    }
    .header{
      text-align:right;
      padding:10px 30px 0 0;
    }
    .fieldheader{
      padding:10px;
    }
    th {
      margin-top: 0;
      margin-bottom: 10px;
      color: #303c7a !important;
      border: solid 1px #c6ddf1 !important;
      background-color: #adcfeb;
      font-size: 14px;
      font-weight: 300;
    }
    // th {
    //   margin-top: 0;
    //   margin-bottom: 10px;
    //   color: #008e89;
    //   font-size: 14px;
    //   font-weight: 300;
    // }
    i {
      color:rgb(41, 84, 151);
      font-size: 20px;
    }
    a {
      cursor: pointer;
      text-decoration: none;
      // font-size:24px;
      color:steelblue;
      vertical-align: middle;
      text-align: center;
    }
    .pptColor{
      color:rgb(210, 70, 37);
    }
    .wordColor{
      color:rgb(43, 86, 154);
    }
    .excelColor{
      color:rgb(32, 115, 70);
    }
    .pdfColor{
      color:rgb(218, 31, 0);
    }
  
  
    #pgnumber {  
      display: none !important;  
      }  
      .fileUpload {  
      position: relative;  
      overflow: hidden;  
      margin: 10px;  
      }  
      .fileUpload input.upload {  
      position: absolute;  
      top: 0;  
      right: 0;  
      margin: 0;  
      padding: 0;  
      font-size: 20px;  
      cursor: pointer;  
      opacity: 0;  
      filter: alpha(opacity=0);  
      }  
        
      .link_button
    {
  background:none;
  border: none;
  font-size: 24px;
  color: steelblue;
  vertical-align: middle;
}          
      .row{
        padding-bottom: 0px;
        margin-right: 0px !important;
    }
    .col-sm-6, .col-md-6, .col-lg-6{
      padding: 0px;
    }