@import "../layout.style.scss";
@import '../layout.tables.style.scss';

.indexWidth {
  width: 1%;
}

.deleteWidth {
  width: 1%;
}

.viewWidth {
  width: 1%;
}

.editWidth {
  width: 1%;
}

.col-lg-12,
.col-md-12,
.col-sm-12,
.col-lg-5,
.col-md-5,
.col-sm-5,
.col-lg-6,
.col-md-6,
.col-sm-6 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.mat-cell {
  word-break: break-word;
}

.mat-column-description {
  width: 18% !important;
}

.mat-column-targeT_DATE,
.mat-column-identifieD_DATE,
.mat-column-actuaL_DATE {
  width: 8% !important;
}

.mat-column-Portfolio_Name {
  width: 18% !important;
}

.mat-column-proJ_NM {
  width: 30% !important;
}

.mat-column-actioN_TAKEN {
  width: 15% !important;
}

.mat-column-impact {
  width: 18% !important;
}

.mat-radio-button~.mat-radio-button {
  margin-left: 12px;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background,
.mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: #005691 !important;
}

.openItemsFilter~.mat-checkbox {
  margin-left: 12px;
}

.draft-row {
  background-color: lightyellow;
}

.mat-elevation-z5:hover{
  background-color: rgb(241, 241, 241);
}

.isClicked{
  background-color: rgb(214, 214, 214);
}