<mat-progress-bar *ngIf="_loading" mode="indeterminate"></mat-progress-bar>
<table class="table table-bordered">
  <thead>
    <tr>
      
      
      
    </tr>
    <tr>
      <th rowspan="2" style="text-align: center;font-size: 12px;">Attributes</th>
      <th style="text-align:center;font-size: 12px;" colspan=3>No. of Projects</th>
    </tr>
    <tr>
      <th style="height:4px;padding:0px!important;border-color:#f44336;background-color:#f44336"></th>
      <th style="height:4px;padding:0px!important;border-color:#ffc000;background-color:#ffc000"></th>
      <th style="height:4px;padding:0px!important;border-color:#237f00;background-color:#237f00"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cat of summary">
      <td style="font-size:12px">{{cat.name}}</td>
      <td style="font:ariel-black;text-align:center;font-weight:bold;color:#f44336">
        <a class="link" (click)="ShowCrispDetails(cat.redRags.projectIds)">{{cat.redRags.count}}</a>
      </td>
      <td style="text-align:center">
        <a class="link" (click)="ShowCrispDetails(cat.amberRags.projectIds)">{{cat.amberRags.count}}</a>
      </td>
      <td style="text-align:center">
        <a class="link" (click)="ShowCrispDetails(cat.greenRags.projectIds)">{{cat.greenRags.count}}</a>
      </td>
    </tr>
  </tbody>
</table>