<!-- <app-navbar style="z-index:1000 !important"></app-navbar> -->
<div class="row" style="margin-top: 12px; margin-bottom: 12px;">
  <div class="col-sm-2 col-lg-2">
    <!-- <button [routerLink]="['/dashboard']" class="btn" *ngIf="!this._appService.KpiCalledFromNewDashboard">
      <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Back
    </button> -->
    <!-- <button [routerLink]="['/newdashboard/cust', tempVariable, false]" class="btn"
      *ngIf="this._appService.KpiCalledFromNewDashboard">
      <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Back
    </button> -->

    <!-- [routerLink]="['/newdashboard/cust', tempVariable, false] -->
    <!-- <div class="backbuttonlink" (click)="emitCustomerId(tempVariable)"
      *ngIf="this._appService.KpiCalledFromNewDashboard">
      <img src="assets/images/back_round.png">
    </div> -->
    <div style="display: inline-block; margin-right: 10px; cursor: pointer; text-decoration: none; outline: none"
        (click)="getDashboard(custId)">
        <img src="assets/images/back_round.png">
      </div>
  </div>
  <div class="col-sm-8 col-lg-8" style="text-align:center;font-size:medium;color:#323d7d">
    Setup - Customer Success Goals &amp; KPI Target and Actual
  </div>
  <div class="col-sm-2 col-lg-2"></div>
</div>

<div class="row" style="margin-top: 5px;">
  <div class="col-lg-3 col-md-3">
    <mat-form-field>
      <mat-select name="ddCustomer" [(ngModel)]="custId" (ngModelChange)="ddCustomer_Onchange()"
        placeholder=" Customer:" [disabled]="disabled">
        <mat-option *ngFor="let c of Customer" [value]="c.cusT_ID" [title]="c.cusT_NM">
          {{ c.cusT_NM}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-lg-5 col-md-5" *ngIf="!slaAvailable">
    <!-- [portinput]="_shared.selectedPortfolios" 
      [projinput]="_shared.selectedProjects" -->
    <app-portfolio-project-selector-single [custId]="custId" [allproj]="false"
      (projectsSelected)="getSelectedProjectsList($event)">
    </app-portfolio-project-selector-single>

  </div>
  <div class="col-lg-5 col-md-5" *ngIf="slaAvailable">
    <app-portfolio-product-selector [portId]="portId" [prodId]="prodId" [custId]="custId" (productSelected)="getSelectedProduct($event)"></app-portfolio-product-selector>
  </div>
  
  <div class="col-lg-4 col-md-4 col-sm-4" style="margin-top: 15px;right:5%;" *ngIf="isProductView">    
     <mat-checkbox style="margin: 5px;" name="chkIsProduct" [(ngModel)]="slaAvailable">
    </mat-checkbox>
    <span style="margin: 5px;">View By Product </span>
    <button class="btn btn-primary" style="font-size: 10px;padding: 5px;" *ngIf="productViewTabIndex==1 && isProductView && _access.IsAllowed(95,1,'','') && _util.IsKPIProcessEnabledCustomer(custId)"  (click)="OpenFileUploadDialog()">Upload External KPIs</button> &nbsp;
    <button class="btn btn-primary" style="font-size: 10px;padding: 5px;"  [disabled]="_loading"   *ngIf="productViewTabIndex==1 && isProductView && _access.IsAllowed(98,1,'','') && _util.IsKPIProcessEnabledCustomer(custId)"  (click)="ProcessExternalKPIs()">Process External KPIs 
      <img class="image"  *ngIf="_loading"  style="height: 15px;padding: 0px;margin-left: 3px;" src="assets/images/loading_spinner.gif">
    </button> &nbsp;
    <button class="btn btn-primary" style="font-size: 10px;padding: 5px;" *ngIf="productViewTabIndex==1 && isProductView && _access.IsAllowed(96,1,'','') && _util.IsKPIProcessEnabledCustomer(custId)"  (click)="OpenFileUploadDialogF()">Upload External Rules</button>
  </div>
  <!-- <div style="margin : 5px;float: right;" *ngIf="isUploadVisible">   
    <a class="maticonbutton" (click)="OpenFileUploadDialog()">
      <mat-icon style="vertical-align: middle" matTooltip="Upload KPI Actuals">add</mat-icon>
    </a>
  </div> -->
</div>

<div style="padding: 0 5px 0 5px;" *ngIf="!slaAvailable">
  <mat-tab-group [selectedIndex]="0" (selectedTabChange)="OntabChange($event.index)">
    <mat-tab label="Set Customer Goals">
      <app-kpi-goals [custId]='custId' [projId]='projId'></app-kpi-goals>
    </mat-tab>
    <mat-tab label="Set KPI &amp; Targets">
      <app-kpi-definitions [custId]='custId' [projId]='projId'>
      </app-kpi-definitions>
    </mat-tab>
    <mat-tab label="KPI Achievements entry">
      <app-kpi-details [custId]='custId' [projId]='projId' [tabIndex]='tabIndex'></app-kpi-details>
    </mat-tab>
  </mat-tab-group>
  <!-- <mat-accordion>
    <mat-expansion-panel *ngIf="_util.IsEditable()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Set Customer Goals
        </mat-panel-title>
        <mat-panel-description>
          Add or Edit your Customer Goal Description
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-kpi-goals [custId]='custId' [projId]='projId'></app-kpi-goals>
    </mat-expansion-panel>
    <mat-expansion-panel  *ngIf="_util.IsEditable()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Set KPI &amp; Targets 
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-kpi-definitions [custId]='custId' [projId]='projId'></app-kpi-definitions>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          KPI performance details
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-kpi-details [custId]='custId' [projId]='projId'></app-kpi-details>
    </mat-expansion-panel>
  </mat-accordion> -->
  </div>
  <div style="padding: 0 5px 0 5px;" *ngIf="slaAvailable">
    <mat-tab-group [selectedIndex]="selectedTabIndex" (selectedTabChange)="OnProductViewtabChange($event.index)">
      <mat-tab label="Set KPI &amp; Targets">
        <app-kpi-definitions [isProductView]='isProductView' [prodId]='prodId' [tierId] = 'tierId'></app-kpi-definitions>
      </mat-tab>
      <mat-tab label="KPI Achievements entry">
        <app-kpi-product-view [tabIndex]="tabIndex" [custId]='custId' [modeId]='modeId' [prodId]='prodId' [kpiId]='kpiId' [month]='month' [year]='year'></app-kpi-product-view>
      </mat-tab>
    </mat-tab-group>
  </div>