<div class="separateCard">
  <div>
    <span style="font-size: 14px;text-align: left">Project Status</span>
    <span style="text-align: right"></span>
  </div>
  <div style="font-size: 10px;color: dark gray">(Next 3 months)</div>
  <div *ngIf="isProjectStatusEmpty" style="height:50px;font-size: 11px;color:black">
    <span style="display: block;padding-top: 20px;text-align: center">
      No Projects to start or close in next 3 months
    </span>
  </div>
  <div *ngIf="!isProjectStatusEmpty" style="position: relative;">
    <div style="position: relative; margin-bottom: 0px;">
      <div style="text-align: center">
        <google-chart *ngIf="type5 != undefined"  [type]="type5" [data]="data5" [columnNames]="columnNames5" [options]="options5" [width]="width5" [height]="height5">
        </google-chart>
      </div>
      <div class="centreLabel">
        {{totalProjects}}
      </div>
    </div>
    <div class="viewLinkDiv">
      <a>
        <u>View Details</u>
      </a>
    </div>
  </div>
</div>

