.logo{
    width: 150px;
height: 22px;
 margin-top: -45px;
    margin-left: 70px;
}

// .menu{
//     margin-top: 15px
// }
.mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
