<div  class="row">
  <div class="col-lg-3 col-md-3 col-sm-3" *ngIf="_util.IsPremier(custId)" style=" text-align: left; margin-right: 50px; vertical-align: middle;">
      <mat-form-field >
        <mat-label>Select Portfolio :</mat-label>
        <mat-select multiple style="margin-right: 10px;" #select [(ngModel)]="portArray"   
            (selectionChange)="getProjectListForPremier(portArray)" >
          <mat-option [value]="-1" (click)="toggleSelection()" #allSelected>All</mat-option>
          <mat-option *ngFor="let port of portfolioList" (click)="tosslePerOne()" [value]="port.id">{{port.title}}</mat-option>
        </mat-select>
    </mat-form-field>
  </div>  
  <div class="col-lg-3 col-md-3 col-sm-3" *ngIf="multiProject" style=" text-align: left; margin-right: 50px; vertical-align: middle;">
    <mat-form-field>
        <mat-label>Select Project :</mat-label>
        <mat-select #mySel multiple [(ngModel)]="projArray" (ngModelChange)="ddProject_Onchange()">
          <mat-option [value]="-1" (click)="toggleProjectSelection()" #allProjectsSelected *ngIf="projectList?.length > 0">All</mat-option>
          <mat-option *ngFor="let proj of projectList" (click)="tosslePerProject()" [title] ="proj.proj_nm" 
          [value]="proj.proj_id">{{proj.proj_nm}}</mat-option>
        </mat-select>
    </mat-form-field>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-3" *ngIf="!multiProject && projectList.length == 1">
    <mat-form-field>       
        <mat-select  [(ngModel)]="projectList" (ngModelChange)="ddProject_Onchange()" [(value)] = "projectId">          
          <mat-option *ngFor="let proj of projectList" (click)="tosslePerProject()" [title] ="proj.proj_nm" 
          [value]="proj.proj_id">{{proj.proj_nm}}</mat-option>
        </mat-select>
    </mat-form-field>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-3" *ngIf="_util.IsPremier(custId)">
    <mat-form-field style="width: 100%;">
      <mat-label> Select Product :</mat-label>
      <mat-select multiple #myprodSel   [(ngModel)]="prodArray" (ngModelChange)="ddProduct_Onchange()">
        <mat-option [value]="-1" (click)="toggleProdSelection()" #allProdsSelected *ngIf="productList?.length > 0">All</mat-option>
        <mat-option *ngFor="let prod of productList" (click)="tosslePerProduct()" [value]="prod.id">{{prod.producT_TITLE}}</mat-option>
      </mat-select>
  </mat-form-field>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6">
    
  </div>
</div>

