<div class="row">
  <div class="col-md-6">
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Customer Name</mat-label>
      <mat-select [(ngModel)]="custId" name="select" (selectionChange)="ddCustomer_Onchange($event)">
        <mat-option value="-1">All</mat-option>
        <mat-option *ngFor="let c of Customer" [value]="c.cusT_ID">{{c.cusT_NM}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="col-md-6" [formGroup]="searchUserForm">
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Project Name</mat-label>
      <mat-select formControlName="userType" multiple>
        <mat-option *ngIf="custId != '-1' && Project.length > 1" #allSelected (click)="toggleAllSelection()" [value]="0">All</mat-option>
        <mat-option *ngFor="let p of Project" [value]="p.proJ_ID" (click)="tosslePerOne(allSelected)">{{p.proJ_NM}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
