<span class="titlename" style="font-size: 16px; font-weight: 700"> </span>
<div style="font-size: 16px; font-weight: 700;font-family: 'Roboto', sans-serif; margin-bottom: 15px;color: #4e5882">
  <div style="display: inline-block; ">
    Products
  </div>
</div>
<div *ngIf="readmode" style="display: flex;width: 90%;">
  <mat-form-field style="width: 25%;margin-top: 5px;">
    <mat-select name="ddCustomer" [(ngModel)]="custId" (ngModelChange)="getPortfolioDetails(custId)"
      placeholder="Selected Customer" [disabled]="true">
      <mat-option *ngFor="let c of Customer" [value]="c.cusT_ID" [title]="c.cusT_NM">
        {{c.cusT_NM}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  &nbsp;&nbsp;&nbsp;
  <mat-form-field *ngIf="includePortfolio"style="width: 25%;margin-top: 5px;">
    <mat-select name="ddPortfolio" [(ngModel)]="portId" (ngModelChange)="getProductPortfolioMapping(portId)"
      placeholder="Select Portfolio">
      <mat-option *ngFor="let p of portfolioList" [value]="p.id" [title]="p.title">
        {{p.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <a style="position: absolute;margin-left: 90%;" class="maticonbutton" title="Add Product" (click)="Edit_onClick()">
    <mat-icon style="vertical-align: middle">add</mat-icon>
  </a>
</div>
<div class="col-lg-8 col-md-8 col-sm-8" *ngIf="readmode" style="right: 3%;">
  <app-table-filter [data]="productlist" tableName='KPI_PRODUCT' (onChange)="Filter_onChange($event)"
    (OnAdd)="showAll($event)" [custId]="custId"></app-table-filter>
</div>
<div *ngIf="readmode">
  <div #TABLE>

    <table class="table" mat-table #table [dataSource]="dataSource" matSort style="width: 100%;position: relative;">

      <ng-container matColumnDef="sno">
        <th mat-header-cell style="font-family: calibri" *matHeaderCellDef mat-sort-header>S.No</th>
        <td mat-cell *matCellDef="let element = index"> {{element + 1}} </td>
      </ng-container>

      <ng-container matColumnDef="custnm">
        <th mat-header-cell style="font-family: calibri;max-width :150px;word-break:break-all;" *matHeaderCellDef
          mat-sort-header> Customer Name</th>
        <td mat-cell style=" max-width :150px;word-break:break-all;" *matCellDef="let element"> {{element.cusT_NM}}
        </td>
      </ng-container>
      <ng-container *ngIf="includePortfolio" matColumnDef="portfolio">
        <th mat-header-cell style="font-family: calibri;max-width :150px;word-break:break-all;" *matHeaderCellDef
          mat-sort-header> Portfolio</th>
        <td mat-cell style=" max-width :150px;word-break:break-all;" *matCellDef="let element"> {{element.portfolio}}
        </td>
      </ng-container>
      <ng-container matColumnDef="productnm">
        <th mat-header-cell style="font-family: calibri;max-width :150px;word-break:break-all;" *matHeaderCellDef
          mat-sort-header> Product Title</th>
        <td mat-cell style=" max-width :150px;word-break:break-all;" *matCellDef="let element">
          {{element.producT_TITLE}} </td>
      </ng-container>
      <ng-container matColumnDef="servicearea">
        <th mat-header-cell style="font-family: calibri;max-width :150px;word-break:break-all;" *matHeaderCellDef
          mat-sort-header> Service Area Type</th>
        <td mat-cell style=" max-width :150px;word-break:break-all;" *matCellDef="let element">
          {{element.servicE_AREA_TYPE}} </td>
      </ng-container>
      <ng-container matColumnDef="mode">
        <th mat-header-cell style="font-family: calibri;max-width :150px;word-break:break-all;" *matHeaderCellDef
          mat-sort-header> Mode</th>
        <td mat-cell style=" max-width :150px;word-break:break-all;" *matCellDef="let element"> {{element.modE_ID}}
        </td>
      </ng-container>
      <ng-container matColumnDef="modetitle">
        <th mat-header-cell style="font-family: calibri;max-width :150px;word-break:break-all;" *matHeaderCellDef
          mat-sort-header> Mode</th>
        <td mat-cell style=" max-width :150px;word-break:break-all;" *matCellDef="let element"> {{element.modE_TITLE}}
        </td>
      </ng-container>
      <ng-container matColumnDef="tier">
        <th mat-header-cell style="font-family: calibri;max-width :150px;word-break:break-all;" *matHeaderCellDef
          mat-sort-header>Tier</th>
        <td mat-cell style=" max-width :150px;word-break:break-all;" *matCellDef="let element"> Tier-{{element.tieR_ID}}
        </td>
      </ng-container>
      <ng-container matColumnDef="servicecommence">
        <th mat-header-cell style="font-family: calibri;max-width :150px;word-break:break-all;text-align: center;"
          *matHeaderCellDef mat-sort-header>Service Commenced</th>
        <td mat-cell style="max-width: 150px; word-break: break-all;text-align: center;" *matCellDef="let element">
          {{ element.iS_SERVICE_COMMENCED ? 'Yes' : 'No' }}
        </td>
      </ng-container>
      <ng-container matColumnDef="servicecommencedate">
        <th mat-header-cell style="font-family: calibri;max-width :150px;word-break:break-all;text-align: center;"
          *matHeaderCellDef mat-sort-header>Service Commenced Date</th>
        <td mat-cell style="max-width: 150px; word-break: break-all;text-align: center;" *matCellDef="let element">
          {{ element.servicE_COMMENCEMENT_DATE | date: 'yyyy-MM-dd' }}
        </td>

      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell style="font-family: calibri;" *matHeaderCellDef></th>
        <!-- <div *ngIf="_access.IsAllowed(91, 3, '', '')"></div> -->
        <td mat-cell *matCellDef="let Item">
          <a *ngIf="_access.IsAllowed(101, 3, '', '')" class="link" (click)="EditRow_onClick(Item)"
            style="font-size: 14px; cursor: pointer;">
            <i class="fa fa-edit" matTooltip="Edit"></i>
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete" class="z-depth-2">
        <th mat-header-cell style="font-family: calibri;" *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <a *ngIf="_access.IsAllowed(101, 3, '', '')" class="link" (click)="DeleteProduct(element)"
            style="font-size: 14px; cursor: pointer;color:red">
            <i class="fa fa-trash" matTooltip="Delete"></i>
          </a>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="mat-elevation-z5"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" class="mat-elevation-z5"
        style="margin-bottom: 5px; box-sizing: border-box"></tr>
    </table>
    <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
  </div>
</div>

<div *ngIf="editmode">
  <div style="background: white;padding-left: 10px;padding-bottom: 10px;">
    <div class="row tabheader">
      <div class="col-lg-10 col-md-10 col-sm-10">
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 header">
        <button class="link_button" type="submit" (click)="onSaveButtonClick()" style="margin-right: 10px;">
          <i class="fa fa-save"></i>
        </button>
        <a class="link" (click)="Cancel_onClick()" style="cursor: pointer;">
          <i class="fa fa-times"></i>
        </a>
      </div>
    </div>

    <div class="row">
      <mat-form-field style="width: 35%;margin-top: 5px;">
        <mat-select name="ddCustomer" [(ngModel)]="custId" (ngModelChange)="getPortfolioDetails(custId)"
          placeholder="Selected Customer" [disabled]="true">
          <mat-option *ngFor="let c of Customer" [value]="c.cusT_ID" [title]="c.cusT_NM">
            {{c.cusT_NM}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row" *ngIf="includePortfolio">
      <mat-form-field style="width: 35%;margin-top: 5px;">
        <mat-select name="ddPortfolio" [(ngModel)]="editItem.portfoliO_ID"
          placeholder="Select Portfolio">
          <mat-option *ngFor="let p of portfolioList" [value]="p.id" [title]="p.title">
            {{p.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field style="width:35%">
        <textarea [(ngModel)]="editItem.producT_TITLE" matInput placeholder="Product/Portfolio Title" maxlength="355" required>
        </textarea>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field style="width: 35%;margin-top: 5px;">
        <mat-select name="servicearea" [(ngModel)]="editItem.servicE_AREA_TYPE_ID" placeholder="Select Service Area Type" required>
          <mat-option *ngFor="let p of serviceAreaTypes" [value]="p.id" [title]="p.servicE_AREA_TYPE">
            {{p.servicE_AREA_TYPE}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field style="width: 35%;margin-top: 5px;">
        <mat-select name="servicearea" [(ngModel)]="editItem.modE_ID" placeholder="Select Mode" required>
          <mat-option *ngFor="let p of modeList" [value]="p.id" [title]="p.modE_TITLE">
            {{p.modE_TITLE}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field style="width: 35%;margin-top: 5px;">
        <mat-select name="servicearea" [(ngModel)]="editItem.tieR_ID" placeholder="Select Tier" required>
          <mat-option *ngFor="let p of productTier" [value]="p.tieR_ID" [title]="p.mttr">
           Tier-{{p.tieR_ID}} {{p.mttr}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="servicecommenced">
      Service Commenced
      <mat-radio-group [(ngModel)]="editItem.iS_SERVICE_COMMENCED">
        <mat-radio-button [value]="true">Yes</mat-radio-button>
        <mat-radio-button [value]="false">No</mat-radio-button>
      </mat-radio-group>
    </div>
    <div *ngIf="editItem.iS_SERVICE_COMMENCED">
      <div >
        <mat-form-field style="width:13%;">
          <input [(ngModel)]="editItem.servicE_COMMENCEMENT_DATE" matInput [matDatepicker]="picker1" matInput
            placeholder="Commencement Date">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <button type="submit" class="btn btn-success" (click)="onSaveButtonClick()">Save</button>
    </div>

  </div>
</div>
