// @import "../../pages/layout/layout.style.scss";
// @import "../../pages/layout/layout.tables.style.scss";

.table tr {
  left: 716px;
width: 633px;
height: 35px;

background: #FFFFFF 0% 0% no-repeat padding-box;
//border: 1px solid #E5E5E5;
border-top: 1px solid #E5E5E5;
border-bottom: 1px solid #E5E5E5;
opacity: 1;
}

.table td {
 font-size: 12px;
 width: 300px;
 height: 15px;
    text-align: left;
    font: normal normal normal 12px/15px Lato;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;

}

  .table th 
{
  font-size: 12px !important;
  font-weight: 700 !important;
}

.Uselink{
  cursor: pointer;
}