.table-container {
  max-height: 500px; /* Adjust as needed */
  overflow-y: auto;
  position: relative;
}

.table thead  th {
  position: sticky;
  top: 0;
  color: white;
  background-color: #4d8bbf;
  z-index: 10;
}

.link {
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
  color:rgb(0, 0, 0);
}
.fa-envelope{
  color:#7b8388;
}

.example-container {
    display: flex;
    flex-direction: column;
    margin:0;
  }
  .verysmalltext{
  font-size: 10px;
    color: lightsteelblue;
  }
  
  // .example-container > * {
  //   width: 100%;
  // }
  
  
// ///Table Styles
// table {
//   border-collapse: collapse;
//   //border-radius: 10px;
//   overflow: hidden;
// }
// .table-outline {
//   border: 1px solid #a4b7c1;
// }
// .table .thead-light th {

//   color: #ffffff;
//   background-color: #4d8bbf;
//   border-color: #a4b7c1;
// }
// .table thead th {

//   vertical-align: bottom;
//   border-bottom: 2px solid #a4b7c1;
// }
// .table th, .table td {
 
//   padding: 0.75rem;
//   vertical-align: top;
//   border-top: 1px solid #a4b7c1;
// }
// .table-container {
//   height: 150px; /* Adjust the height as needed */
//   overflow-y: auto;
//   position: relative;
// }

// .thead-light {
//   position: -webkit-sticky; /* For Safari */
//   position: sticky;
//   top: 0;
//   z-index: 1;
//   color: #000000;
//   background-color: #3382c4;
//   border-color: #70aed0;
// }

// table {
//   width: 100%;
//   border-collapse: collapse;
// }

th, td {
  padding: 8px;
  text-align: center;
}
.text-center {

  text-align: center !important;
  font-size:11px
}
th {

  text-align: inherit;
}
.row{
  margin:0 !important;
}



.basic-container {
  padding: 5px;
}

.version-info {
  font-size: 8pt;
  float: right;
}


////Card Styles
.card {
  margin-bottom: 0.5rem;
}
.card {
  border-radius: 5px;overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #c2cfd6;
  height:auto;
}
.card-header {
padding: 0.75rem 1.25rem;
margin-bottom: 0;
background-color: #4d8bbf;
color: white;
font-weight: 600;
border-bottom: 1px solid #c2cfd6;
}
.card-body, .card-block {
-webkit-box-flex: 1;
-ms-flex: 1 1 auto;
flex: 1 1 auto;
padding: 0.25rem;
height:auto;
}

.mat-progress-bar {
  display: block;
  height: 1px;
  overflow: hidden;
  position: relative;
  transform: translateZ(0);
  transition: opacity 250ms linear;
  width: 100%;
}

.tableFixHead    { overflow-y: auto; height: 250px; }
.tableFixHead th { position: sticky; top: 0;  }
/* Just common table stuff. Really. */
table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     {  background:#118cdd; }


.fixed{
  position: fixed;
  top: 80px;
  left: 13px;
  width: 97%;
  z-index: 1000;
  background-color: white;
  border: 1px solid #4d8bbf;
  margin: 5px;
  box-shadow: 1px 2px #4d8bbf7a;
}
