.sliding-up-content {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    background-color: white;
    transition: all 0.3s ease-in-out;
}
.marginbottom5px{
    margin-bottom: 5px;
}
.roundedbutton{
  border-radius: 20px !important;
}
.sliding-up-content.show {
    height: 94%;
    width:100%;
    z-index: 1100;
    background-color: #FFFFFF;
}.block-ellipsis { 
  display: -webkit-box;
  max-width: 100%;
  margin: 0 auto;
  line-height: 1;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  max-height: 43px;
  
}
.search-icon {
  width: 20px;
  height: 20px;
 border: none;
  box-shadow: none;
  outline:none !important;
}


.lblControl{
    height: 15px;
text-align: left;
font-size:11px; 
letter-spacing: 0px;
color: #4C4C47;
opacity: 1;
position: absolute;
margin-top: 18px
}

::ng-deep .no-line .mat-form-field-underline {
    display: none;
  }
  .yeardrpdown{

    width: 80px;
    height: 21px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #C3C3C3;
    border-radius: 2px;
    opacity: 1;
    line-height: normal;
    padding-left: 5px;
    font-size: 11px;
    padding-top: 2px;
  }
  .drpdown{
    width: 150px;
    height: 30px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #C3C3C3;
    border-radius: 2px;
    opacity: 1;
    line-height: normal;
    padding-left: 5px;
  }
  .drpdown {
    width: 100px;
    height: 21px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #C3C3C3;
    border-radius: 2px;
    opacity: 1;
    line-height: normal;
    padding-left: 5px;
    font-size: 11px;
    padding-top: 2px;
} 
.filter-row{ 
    background-color: white;
    height: 35px;
    padding: 6px;
}.mat-elevation-z8{
  box-shadow: none !important;
}
 .btn-grey{
  background-color: #a5a2a2;
  color:#eaeaea;
  height: 22px !important; 
  padding: 3px !important;
 } .btn-white{ 
  background-color:#fff;
  border: 1px solid gray;
  color:#7e7d7d;
  height: 18px !important;
  padding: 0px !important;
  width: 18px;
 }
 #tblviewdetails .table{
  margin-bottom: 0px !important;
}
#tblviewdetails td{
  padding: 3px !important;
  padding-left: 2px;
}
#tblviewdetails span.btn-white{
font-size: 14px !important ;
padding: 0px !important;
margin-right  : 10px  ;
}
#tblviewdetails .custrow {
  background-image: linear-gradient(to right, #f5f5f5, #f9f9f9);
  border: 2px solid white;
    margin-bottom: 3px; 
    border-radius: 3px;
    padding: 7px;
    font-size: 12px;
    font-weight: 100;
    color: black;
}

.smalltext{
  font-size: 12px;
  color: #535d85;
  text-decoration: none !important; 
}
.smalltextblack{
  font-size: 11px;
  color: #5c5b5b;
  text-decoration: none !important; 
}
.targetImg{
  height: 10px;
  margin-right: 5px;
}
#tblviewdetails .projrow {
  background-image:linear-gradient(to right, #e3e0e0b8, #e3e0e0);
  border: solid white;
  border-width: 2px 0px;
    margin-bottom: 3px; 
    border-radius: 3px;
    padding: 3px;
    font-size: 12px;
    font-weight: 100;
    color: black;
}.projrow td{
  padding-left: 30px !important;
  vertical-align: middle !important;
}.row {
  margin-right: 0px !important; 
   margin-left: 0px;
 }
.portrow{ 
  background-image: linear-gradient(to right, #cfcde1a6, #dad9e7a6);
  border: 0px 2px  solid white; 
  vertical-align: middle !important;
}
 td.projrow{
  padding-left: 30px !important;
}

tr.mat-header-row {  
    border-bottom: 2px none #050505 !important; 
    font-size: 16px !important;
    background: #fff !important; 
}
.mat-elevation-z8 tr.mat-row {
  height: 26px; margin-bottom: 3px; 
  border-radius: 3px;
  padding: 3px;
  background: #fafafa;}
  .mat-elevation-z8 .mat-header-row{ background: #fafafa;  border-bottom: 2px none #050505 !important; }

#selectDateType{
  width: 100px;
}
.btn{
  height: 25px;padding: 1px 12px;
  margin-bottom: 0;
  font-size: 12px;
}
  .input{
    width: 106px;
    height: 25px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #C3C3C3;
    border-radius: 2px;
    opacity: 1;
  }

  ::ng-deep .startdatepickers .mat-datepicker-toggle-default-icon {
    margin-left: -40px !important;
    margin-top: -10px !important;
  }

  ::ng-deep  .staticunderline:after {
    position: absolute;
    content: '';
    height: 2px;
      /* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
    bottom: -5px; 
    margin: 0 0;
      left: 0;
    right: 0;
      width: 40px;
      background:#337ab7;
      
      /* optional animation */
      -o-transition:.5s;
        -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

  ::ng-deep .enddatepicker .mat-datepicker-toggle-default-icon {
     margin-left: -40px !important;
     margin-top: -10px !important;
}

 ul.items li {
  list-style: none;
  height:50px;
}

.one-indent{
  padding-left:40px 
}

.two-indent{
  padding-left: 60px
}

::ng-deep .navTabGrp .mat-tab-labels {
  color: black; 
  background-color:#eaeaea;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 1px;
  font-weight: 900
}

::ng-deep .navTabGrp .mat-tab-list {
  flex-grow: 1;
  position: relative;
  transition: transform .5s cubic-bezier(.35,0,.25,1);
}
h5{
 // margin-left: 15px;
  font-weight: bold;
}
 ::ng-deep .navTabGrp .mat-ink-bar {
   position: absolute;
   bottom: 0;
   height: 2px;
   transition: .5s cubic-bezier(.35,0,.25,1);
   background-color: white !important;
   visibility: visible;
   left: 161px;
   width: 160px;
 }

::ng-deep .navTabGrp .mat-tab-label
{
  height: 30px !important;
}
label
{
  font-weight: 300;
  font-size: 11px;}
  .label{
 display: inline-flex; width: 50px;
}
.drpdown{
  width: 180px;
  height: 30px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 0.5px solid #C3C3C3;
  border-radius: 2px;
  opacity: 1;
  line-height: normal;
  padding-left: 5px;
}
.drpdown {
  width:180px;
  height: 21px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 0.5px solid #C3C3C3;
  border-radius: 2px;
  opacity: 1;
  line-height: normal;
  padding-left: 5px;
  font-size: 11px;
  padding-top: 2px;
} 
.search-box {  
  display: flex;  
  justify-content: flex-end;  
  margin-top: 20px;
}
tr.mat-header-row {
  height: 30px;
  vertical-align: bottom !important; 
  border-radius: 8px;
}
::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
  min-width: 0!important;
  padding: 3px!important;
  margin: 3px!important;
 }

::ng-deep .navTabGrp .mat-tab-header{
  top: -15px;
}
.mat-header-cell
{text-align: center!important;
margin-bottom: 19px !important;
font-size: 12px;
font-weight: bold;
color: black;}

.mat-cell
{text-align: center!important;
}
.mat-header-cell:first-child{
  text-align: left!important;
}

.link{
  font-size: 11px;
}
.mat-cell:first-child
{text-align: left!important;
}
h5{
  margin-left: 20px;
}
:host ::ng-deep .mat-tab-label {
  height: 28px !important;
  padding: 0 12px  !important; 
  font-size: 12px  !important;
  font-weight: bold  !important;
}
::ng-deep .mat-tab-body-content{
  //margin-left: 15px !important ;
  width: 100%;
  overflow: hidden !important;
  //margin: auto;
}
.label {
  float: left;
}

.span {
  display: block;
  overflow: hidden;
  padding: 0px 4px 0px 6px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
::ng-deep .staticunderline {
    text-decoration: none !important; 
    position: relative; 
  }   

 ::ng-deep  .staticunderline:after {
    position: absolute;
    content: '';
    height: 2px;
      /* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
    bottom: -5px; 
    margin: 0 0;
      left: 0;
    right: 0;
      width: 40px;
      background:#337ab7;
      
      /* optional animation */
      -o-transition:.5s;
        -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.fixed-header{
  width: 100%;
  position: fixed;   
  padding: 10px 0; 
  background-color: white;
  z-index: 1000;
  margin-top: -68px;
}
.fixed-header{
  //top: 0;
}

#tblviewdetails .custrow:hover{
  background-image: linear-gradient(to right, #bbbbbb, #e0e0e0);
}

.isClicked{
  background-image: linear-gradient(to right, #888787, #636363);
}
