<div class="pageborder">
  <div class="row">
    <!-- <h4>Approval Section</h4> -->
    <form style="background: white;padding-left: 10px;padding-bottom: 10px;" #projectDataForm="ngForm"
      (ngSubmit)="SubmitForm(projectDataForm.valid)">
      
      <div>

        <div class="row">
          <mat-form-field style="width:90%;" appearance="outline" >
            <textarea name="txtComments" maxlength="2000" [(ngModel)]="approvalComments" matInput
              placeholder="Approval Comments" style="height: 100px;"></textarea>
          </mat-form-field>
        </div>

        <div class="row" >
          <button type="submit" class="btn btn-success" >Approve</button>
          &nbsp;&nbsp;
          <button type="button" class="btn btn-success" (click)="close()">Close</button>
        </div>
      </div>
    </form>
  </div>
</div>




<!-- <div class="container">
  <h2 mat-dialog-title>Approval Section</h2>
  <div mat-dialog-content>
    <mat-form-field>
      <textarea name="txtApprovalComments" maxlength="2000" placeholder="Approval Comments"
        [(ngModel)="approvalComments">
    </textarea>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button btn btn-success>OK</button>
    <button btn btn-success>Close</button>
  </div>
</div> -->