.table th {
    font-size: 14px;
    //width: 300px;
    height: 15px;
    text-align: left;
    font-family: 'Lato';
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    //white-space: nowrap;
    font-weight: 200
}

.table td {
    font-size: 12px;
    font-family: sans-serif;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    height: 15px;
    text-align: left;
}

.table tr {
    height: 40px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-e5e5e5);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E5E5E5;
    opacity: 1;
}
.DetailHeader{
    background-color: #ECECFA !important;
}