table.projtable tbody,
table.projtable thead {
  display: block;
}

table .projtable tbody {
  height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
}

DetailHeader {
  background-color: #ECECFA !important;
  border-bottom: none;
}

red {
  color: red !important;

}