
<div class="row marginbottom5px" style="margin-bottom: 5px;">
    <!-- <div class="col-lg-3"></div> -->
    <div class="col-lg-12 marginbottom5px qlinks">
        <a [ngClass]="_cooDashboardCommon.selectedQPeriodCss =='Q1'? 'verysmalltext nowrap underline' : 'verysmalltextblack nowrap'"
            (click)="getDataForselectedQPeriod('Q1')"> Q1 - {{_cooDashboardCommon.selectedYearCss}}</a>
        <a [ngClass]="_cooDashboardCommon.selectedQPeriodCss =='Q2'? 'verysmalltext nowrap underline' : 'verysmalltextblack nowrap'"
            (click)="getDataForselectedQPeriod('Q2')"> Q2 - {{_cooDashboardCommon.selectedYearCss}}</a>
        <a [ngClass]="_cooDashboardCommon.selectedQPeriodCss =='Q3'? 'verysmalltext nowrap underline' : 'verysmalltextblack nowrap'"
            (click)="getDataForselectedQPeriod('Q3')"> Q3 - {{_cooDashboardCommon.selectedYearCss}}</a>
        <a [ngClass]="_cooDashboardCommon.selectedQPeriodCss =='Q4'? 'verysmalltext nowrap underline' : 'verysmalltextblack nowrap'"
            (click)="getDataForselectedQPeriod('Q4')"> Q4 - {{_cooDashboardCommon.selectedYearCss}}</a>
        <a [ngClass]="_cooDashboardCommon.selectedQPeriodCss =='YT'? 'verysmalltext nowrap underline' : 'verysmalltextblack nowrap'"
            (click)="getDataForselectedQPeriod('YT')"> YTD</a>
    </div>
    <!-- <div class="col-lg-1"></div> -->
</div>
<div class="row marginbottom5px" style="margin-bottom: 5px;">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 marginbottom5px " style="text-align: center;"> <a class="smalltextblack">
            {{_cooDashboardCommon.GetPeriodText(_cooDashboardCommon.selectedQPeriodCss,_cooDashboardCommon.selectedYearCss)}}
        </a></div>
    <div class="col-lg-2"></div>
</div>