<div class="sliding-up-content" [class.show]="showRiskIssueViewdetails">

  <div class="row" mat-dialog-title style="height: 40px;background: #EBEBEB 0% 0% no-repeat padding-box;opacity: 1;">
    <label
      style="height: 17px;text-align: left;font-size: 14px;letter-spacing: 0.2px;color: #2b2a2a;opacity: 1;margin-left: 15px;margin-top: 10px;font-weight: 500 ;">
       Risk & Issues</label>
    <a class="close-button" (click)="onClose()"
      style="margin-left: 85%;margin-top: 5px;color:#333333;cursor: pointer;position: absolute;">
      <mat-icon class="close-icon">close</mat-icon>
    </a> 
  </div>
  
  <div class="row " style="margin-top: 10px;">
    <div class="col-lg-12"> <input type="hidden"  [(ngModel)]="projIds" /> 
      <input type="hidden"  [(ngModel)]="startDate" />
      <input type="hidden"  [(ngModel)]="endDate" />
      <button [ngClass]="loadIp=='I' ? 'btn roundedbutton' : 'btn btn-primary roundedbutton'"
        (click)="loadDataBySelection('R')">Risks</button> &nbsp;
      <button [ngClass]="loadIp=='R' ? 'btn roundedbutton' : 'btn btn-primary roundedbutton'"
        (click)="loadDataBySelection('I')">Issues</button>

    </div>
  </div> 
  <br />
  <div class="row"  *ngIf="loadIp=='R'" >
    <div style="font-size: 16px; font-weight: 700;font-family: 'Roboto', sans-serif; margin-bottom: 15px;color: #4e5882;display: inline-block;width:-webkit-fill-available;"  >
    <span class="staticunderline">  Risks </span> 
    </div>
     
  <div class="row" *ngIf="bShowFilter">
    <app-table-filter [data]="input" tableName='PROJECT_RISK' (onChange)="Filter_onChange($event)" (OnAdd)="showAll($event)"></app-table-filter>
  </div>
  

  <div #TABLE   style="padding:5px; width:-webkit-fill-available">
    <table class="table" mat-table [dataSource]="_cooDashboardService.riskDataSource" matSort>
      <!-- <ng-container matColumnDef="index">
        <th mat-header-cell style="font-family: calibri;" [ngClass]="'indexWidth'" *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let risk; let element = index" [style.border-left-color]="risk.rag"
          [ngClass]="'borderSolid'">
          {{element + 1}} </td>
      </ng-container>
      <ng-container matColumnDef="Portfolio_Name">
        <th mat-header-cell style="font-family: calibri;" *matHeaderCellDef mat-sort-header>Portfolio</th>
        <td mat-cell *matCellDef="let risk" [matTooltip]="risk.portfoliO_NM">{{risk.portfoliO_NM}}</td>
      </ng-container>
      <ng-container matColumnDef="proJ_NM">
        <th mat-header-cell mat-sort-header style="font-family: calibri;" *matHeaderCellDef mat-sort-header
          [ngClass]="'projectWidth'">Project</th>
        <td mat-cell *matCellDef="let risk" [ngClass]="'projectWidth'">{{risk.proJ_NM}}</td>
      </ng-container> -->
      <ng-container matColumnDef="description">
        <th mat-header-cell mat-sort-header style="font-family: calibri; width: 20%;" *matHeaderCellDef mat-sort-header>Risk Description
        </th>
        <td mat-cell *matCellDef="let risk">{{risk.description}}</td>
      </ng-container>
      <ng-container matColumnDef="impact">
        <th mat-header-cell mat-sort-header style="font-family: calibri; width: 20%;" *matHeaderCellDef mat-sort-header>Business
          Impact</th>
        <td mat-cell *matCellDef="let risk"> {{risk.impact}} </td>
      </ng-container>      
      <ng-container matColumnDef="identifieD_DATE">
        <th mat-header-cell mat-sort-header style="font-family: calibri; width: 10%;" *matHeaderCellDef mat-sort-header>Identified
          On</th>
        <td mat-cell *matCellDef="let risk">{{risk.identifieD_DATE| date :'dd-MMM-yyyy'}}</td>
      </ng-container>
      <ng-container matColumnDef="owner">
        <th mat-header-cell mat-sort-header style="font-family: calibri;width: 15%;" *matHeaderCellDef mat-sort-header>Owner</th>
        <td mat-cell *matCellDef="let risk"> {{risk.owneR_NAME}} </td>
      </ng-container>
      <ng-container matColumnDef="probabilitY_SCALE">
        <th mat-header-cell mat-sort-header style="font-family: calibri;width: 10%;" *matHeaderCellDef mat-sort-header>Probability</th>
        <td mat-cell *matCellDef="let risk"> {{_util.prob[risk.probabilitY_SCALE -1]}}</td>
      </ng-container>
      <ng-container matColumnDef="impacT_SCALE">
        <th mat-header-cell mat-sort-header style="font-family: calibri;width: 8%;" *matHeaderCellDef mat-sort-header>Impact</th>
        <td mat-cell *matCellDef="let risk"> {{_util.impact[risk.impacT_SCALE -1]}}</td>
      </ng-container>
      <ng-container matColumnDef="rating">
        <th mat-header-cell mat-sort-header style="font-family: calibri;width: 4%;" *matHeaderCellDef mat-sort-header>RPN</th>
        <td mat-cell *matCellDef="let risk"> {{risk.rating}} </td>
      </ng-container>
      <!-- <ng-container matColumnDef="matrix">
        <th mat-header-cell mat-sort-header style="font-family: calibri;" *matHeaderCellDef mat-sort-header>Risk Level</th>
        <td mat-cell *matCellDef="let risk"> {{risk.matrix}} </td>
      </ng-container> -->
      <ng-container matColumnDef="status">
        <th mat-header-cell mat-sort-header style="font-family: calibri;width: 6%;" *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let risk"> {{risk.status}} </td>
      </ng-container>
      <!-- <ng-container matColumnDef="actioN_TAKEN">
        <th mat-header-cell mat-sort-header style="font-family: calibri;" *matHeaderCellDef mat-sort-header>Treatment
          Plan</th>
        <td mat-cell *matCellDef="let risk"> {{risk.actioN_TAKEN}} </td>
      </ng-container> -->

      <ng-container matColumnDef="targeT_DATE">
        <th mat-header-cell mat-sort-header style="font-family: calibri;width: 7%;" *matHeaderCellDef mat-sort-header>Target Date</th>
        <td mat-cell *matCellDef="let risk"> {{risk.targeT_DATE | date:'dd-MMM-yyyy' }} </td>
      </ng-container>

      <!-- <ng-container matColumnDef="actuaL_DATE">
        <th mat-header-cell mat-sort-header style="font-family: calibri;" *matHeaderCellDef mat-sort-header>Date Occurred / Closed</th>
        <td mat-cell *matCellDef="let risk"> {{risk.actuaL_DATE | date:'dd-MMM-yyyy' }} </td>
      </ng-container> -->


      <!-- <ng-container matColumnDef="edit">
        <th mat-header-cell style="font-family: calibri;" [ngClass]="'editWidth'" *matHeaderCellDef aria-colspan="3">
          <div *ngIf="_access.IsAllowed(2, 3, '', input_projectid)"></div>
        </th>
        <td mat-cell [ngClass]="'editWidth'" *matCellDef="let element">
          <a class="link" (click)="EditRow_onClick(element)" *ngIf="_access.IsAllowed(2, 3, '', input_projectid)"
            style="font-size: 14px; cursor: pointer;">
            <i class="fa fa-edit"></i>
          </a>
        </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell style="font-family: calibri;" [ngClass]="'deleteWidth'" *matHeaderCellDef>
          <div *ngIf="_access.IsAllowed(2, 4, '', input_projectid)"></div>
        </th>
        <td mat-cell [ngClass]="'deleteWidth'" *matCellDef="let element">
          <a class="link" (click)="DeleteRow_onClick(element)" *ngIf="_access.IsAllowed(2, 4, '', input_projectid)"
            style="font-size: 14px; cursor: pointer;">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </ng-container>
      <ng-container matColumnDef="view">
        <th mat-header-cell style="font-family: calibri;" [ngClass]="'viewWidth'" *matHeaderCellDef>
        </th>
        <td mat-cell [ngClass]="'viewWidth'" *matCellDef="let element">
          <a class="link" (click)="ViewRow_onClick(element)" style="font-size: 14px; cursor: pointer;">
            
          </a>
        </td>
      </ng-container> -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="mat-elevation-z5"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="mat-elevation-z5"
        style="margin-bottom: 5px; box-sizing: border-box"></tr>
    </table>
    <!-- <a style="color:royalblue;"href="/assets/images/risk_matrix.png" target="_blank">Click here to view Risk Matrix</a> -->
    <mat-paginator #paginatorRisk [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>

  </div> 

   

  
  
</div>




<div class="row"  *ngIf="loadIp=='I'" >
  <div style="font-size: 16px; font-weight: 700;font-family: 'Roboto', sans-serif; margin-bottom: 15px;color: #4e5882;display: inline-block;width:-webkit-fill-available;"  >
  <span class="staticunderline">  Issues </span> 
  </div>
   
  <div class="row" *ngIf="bShowFilter">
    <app-table-filter [data]="input" tableName='PROJECT_ISSUE' (onChange)="Filter_onChange($event)" (OnAdd)="showAll($event)"></app-table-filter>
  </div>
   
  <div *ngIf="_access.IsAllowed(6, 1, '', '')">
    <div *ngIf="input?.length == 0" style="text-align: center;height: 100px; line-height: 100px; font-size: 16px; font-weight: 600;;">
      No Issues for the Projects assigned to you..
    </div>
  </div>  
  <div *ngIf="_access.IsAllowed(6, 1, '', '')">
    <div *ngIf="!input" style="text-align: center; height: 100px; line-height: 100px;">
        <i class="fa fa-circle-o-notch fa-spin" style="margin-right: 10px; font-size: 25px;"></i>Loading...
    </div>
  </div>
  <div *ngIf="_access.IsAllowed(6, 1, '', '')">
    <table class="table" mat-table style="border-radius: 3px;overflow: hidden ; font-family: 'Roboto', sans-serif" #table [dataSource]="_cooDashboardService.issuesDataSource"  *ngIf="input?.length > 0"
      matSort>
      <ng-container matColumnDef="index">
        <th mat-header-cell style="font-family: calibri; width: 15px;" *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element = index; let issue" [ngClass]="{'greenborder': issue.severity == 'Low', 'orangeborder' : issue.severity == 'Medium',
        'redborder' : issue.severity == 'High'}"> {{element + 1}} </td>
      </ng-container>
      <ng-container matColumnDef="portfoliO_NM">
        <th mat-header-cell style="font-family: calibri; width: 100px" *matHeaderCellDef mat-sort-header>Portfolio Name</th>
        <td mat-cell *matCellDef="let issue" [matTooltip]="issue.portfoliO_NM">{{issue.portfoliO_NM}}</td>
      </ng-container>
      <ng-container matColumnDef="proJ_NM">
        <th mat-header-cell style="font-family: calibri; width : 120px;" *matHeaderCellDef mat-sort-header>Project Name</th>
        <td mat-cell *matCellDef="let issue" [matTooltip]="issue.proJ_NM">{{issue.proJ_NM}}</td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell style="font-family: calibri; width : 210px; " *matHeaderCellDef mat-sort-header>Issue description</th>
        <td mat-cell *matCellDef="let issue" [matTooltip]="issue.description">{{issue.description}}</td>
      </ng-container>
      <ng-container matColumnDef="issuE_TYPE">
        <th mat-header-cell style="font-family: calibri; width: 40px;" *matHeaderCellDef mat-sort-header>Type</th>
        <td mat-cell *matCellDef="let issue" > {{issue.issuE_TYPE}} </td>
      </ng-container>
      <ng-container matColumnDef="severity">
        <th mat-header-cell style="font-family: calibri; width: 30px;" *matHeaderCellDef mat-sort-header>Severity</th>
        <td mat-cell *matCellDef="let issue"> {{issue.severity}} </td>
      </ng-container>
      <ng-container matColumnDef="actioN_PLAN">
        <th mat-header-cell style="font-family: calibri;width: 320px;" *matHeaderCellDef mat-sort-header>Action plan</th>
        <td mat-cell *matCellDef="let issue" > {{issue.actioN_PLAN}} </td>
      </ng-container>
      <ng-container matColumnDef="assigneD_TO">
        <th mat-header-cell style="font-family: calibri; width: 70px;" *matHeaderCellDef mat-sort-header>Assigned to</th>
        <td mat-cell *matCellDef="let issue" > {{issue.assigneD_TO}} </td>
      </ng-container>
      <ng-container matColumnDef="identifieD_DATE">
        <th mat-header-cell style="font-family: calibri;width: 80px;" *matHeaderCellDef mat-sort-header>Identified Date</th>
        <td mat-cell *matCellDef="let issue"> {{issue.identifieD_DATE | date :'dd-MMM-yyyy'}} </td>
      </ng-container>
      <ng-container matColumnDef="targeT_DATE">
        <th mat-header-cell style="font-family: calibri; width: 90px" *matHeaderCellDef mat-sort-header>Target Date</th>
        <td mat-cell *matCellDef="let issue"> {{issue.targeT_DATE| date :'dd-MMM-yyyy'}} </td>
      </ng-container>
      <ng-container matColumnDef="issuE_RESOLVED_DATE">
        <th mat-header-cell style="font-family: calibri; width: 90px;" *matHeaderCellDef mat-sort-header>Resolved Date</th>
        <td mat-cell *matCellDef="let issue"> {{issue.issuE_RESOLVED_DATE| date :'dd-MMM-yyyy'}} </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell style="font-family: calibri; width: 50px;" *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let issue"> {{issue.status}} </td>
      </ng-container>
      <!-- <ng-container matColumnDef="edit">
        <th mat-header-cell style="font-family: calibri; width: 10px;" [ngClass]="'editWidth'" *matHeaderCellDef>
          <div *ngIf="_access.IsAllowed(6, 3, '', input_projectid)"></div>
        </th>
        <td mat-cell [ngClass]="'editWidth'" *matCellDef="let element">
          <a class="link" (click)="EditRow_onClick(element)" *ngIf="_access.IsAllowed(6, 3, '', input_projectid)" style="font-size: 18px; cursor: pointer;">
            <i class="fa fa-edit"></i>
          </a>
        </td>
      </ng-container>
      <ng-container matColumnDef="delete" class="z-depth-2">
        <th mat-header-cell style="font-family: calibri; width: 10px;" [ngClass]="'deleteWidth'" *matHeaderCellDef>
          <div *ngIf="_util.IsEditable()"></div>
        </th>
        <td mat-cell [ngClass]="'deleteWidth'" *matCellDef="let element">
           
          <a class="link" (click)="DeleteRow_onClick(element)" *ngIf="_access.IsAllowed(6, 4, '', input_projectid)" style="font-size: 18px; cursor: pointer;">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </ng-container> -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns1" class="mat-elevation-z5"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns1;" class="mat-elevation-z5" style="margin-bottom: 5px; box-sizing: border-box"></tr>
    </table>
    <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
  </div>
</div>


 </div>
