<div class="row" style="margin-bottom: 15px !important; margin-left: 20px !important">
  <div class="col-lg-6 col-md-6 col-sm-6" style="margin-left: 20px">

    <button *ngIf="!bAddNewProcessArea" class="btn btn-primary" (click)="btnAddProcessArea_Onclick()"
      style="margin-top:5px;">
      Add New Process Area</button>&nbsp;&nbsp;

    <button *ngIf="!bAddNewProcessArea" class="btn btn-primary" (click)="btnAddProcess_Onclick()"
      style="margin-top:5px;">
      Add/ Map Process to the Process Area</button>


    <table *ngIf="bAddNewProcessArea" class="table-bordered" style="width:400px">
      <tr style="text-align: center">
        <td>New Process Area</td>
      </tr>
      <tr style="text-align: center">
        <td>
          <input [(ngModel)]="newProcessArea.title" style="width:400px" placeholder="Process Area Title *" required>
        </td>
      </tr>
      <tr style="text-align: center">
        <td>
          <textarea placeholder="Process Area Description" required [(ngModel)]="newProcessArea.description"
            style="height:100px;width:400px"></textarea>
        </td>
      </tr>
      <tr style="text-align: center">
        <td>
          <button class="btn btn-primary" [disabled]="!isProcessAreaAdded"
            (click)="btnSaveProcessArea_Onclick()">Save</button>&nbsp;
          <button class="btn btn-primary" (click)="btnClearProcessArea_Onclick()">Clear</button>&nbsp;
          <button class="btn btn-primary" (click)="btnCancelProcessArea_Onclick()">Close</button>
        </td>
      </tr>
    </table>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-6" style="text-align:right">

    <div style="width: 90%;margin-top:20px;" *ngIf="bAddNewProcessArea">

      <table mat-table [dataSource]="processAreaDataSource"
        class="table-bordered table-responsive-md table-striped text-center"
        style="margin-left: -20px;width:100%;font-family: Arial, Helvetica, sans-serif;font-size: 14px;">
        <ng-container matColumnDef="index">
          <th style="color: black;" class="index" mat-header-cell *matHeaderCellDef><strong> S.No </strong></th>
          <td class="index" mat-cell *matCellDef="let element = index"> {{element + 1}} </td>
        </ng-container>
        <ng-container matColumnDef="title">
          <th style="color: black;" mat-header-cell *matHeaderCellDef><strong>Process Area </strong></th>
          <td mat-cell *matCellDef="let element;let id = index" style="padding:0px !important">
            <span>{{ element.title}} </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th style="color: black;" mat-header-cell *matHeaderCellDef><strong>Process Area Description</strong></th>
          <td mat-cell *matCellDef="let element;let id = index" style="padding:0px !important">
            <span>{{ element.description}} </span>
          </td>
        </ng-container>


        <ng-container matColumnDef="action">
          <th style="color: black;" mat-header-cell [ngClass]="'editWidth'" *matHeaderCellDef><strong>Action</strong>
          </th>
          <td mat-cell [ngClass]="'editWidth'" *matCellDef="let element" [matTooltip]="EditToolTip">
            <a class="link" title="Edit" (click)="ProcessEditRow_onClick(element)">
              <i class="fa fa-edit"></i>
            </a>
            &nbsp;
            &nbsp;
            &nbsp;
            <a style="color: red;padding-right: 10px" class="link" title="Delete"
              (click)="ProcessDeleteRow_onClick(element)">
              <i class="fa fa-trash"></i>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="processAreaDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: processAreaDisplayedColumns;"></tr>
      </table>
      <div>
        <mat-paginator #processAreaPaginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
      </div>
    </div>


  </div>
</div>
<div>
  <mat-progress-bar *ngIf="!isProcessAreaAdded" mode="indeterminate"></mat-progress-bar>
</div>



<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-3" style="text-align: left;">
    <mat-form-field style="width: 320px; margin-left: 20px;">
      <mat-label>Search by Process Area, Title, Description</mat-label>
      <input matInput (keyup)="applyFilter($event.target.value)" (keydown)="$event.stopPropagation()">
    </mat-form-field>
  </div>

  <div class="col-lg-9 col-md-9 col-sm-9" style="text-align: right;">
    <span>Process Area:</span>
    <mat-select class="mat-dropdown-plain" panelClass="matSearchPanel"
      style="width:200px !important; margin-right: 5px;"
      (selectionChange)="applySelectionFilter($event)"      
       placeholder="Choose Process Area">

      <mat-form-field class="filter-project">
        <input placeholder="Search Process Area" matInput (keydown)="$event.stopPropagation()" (keyup)="applyFilterProcessArea($event.target.value)"      
          style="width:300px !important;text-indent: 10px;">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      <br />
      <div *ngIf="ProcessList_Map.length == 0" style="padding-left: 10px; font-weight: bold; font-size: 12px;">
        No results found
      </div>
      <mat-option *ngFor="let c of ProcessList_Map" [value]="c" [title]="c.title" [style.color]="getMappedColor(c)">{{c.title}}</mat-option>
    </mat-select>    
  </div>

</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <table mat-table [dataSource]="dataSource" matSort
      class="table-bordered table-responsive-md table-striped text-center" style="width:100%">
      <ng-container matColumnDef="index">
        <th style="color:black; width: 3%" class="index" mat-header-cell *matHeaderCellDef><strong>S.No</strong></th>
        <td class="index" mat-cell *matCellDef="let element = index"> {{element + 1}} </td>
      </ng-container>
      <ng-container matColumnDef="procesS_AREA_ID">
        <th style="color:black; width: 10%" mat-header-cell mat-sort-header *matHeaderCellDef><strong>Process
            Area</strong></th>
        <td mat-cell *matCellDef="let element;let id = index">
          <mat-select *ngIf="id == iEditIndex" style="width:95%" name="ddProcessArea"
            [(ngModel)]="element.procesS_AREA_ID" placeholder="Select Process Area *" required>
            <mat-form-field class="filter-iso" style="width: 100%;">
              <input matInput #searcharea (keyup)="applyProcessAreaFilter(searcharea.value)"
                (keydown)="$event.stopPropagation()" style="text-indent: 10px;" placeholder="Search Process Area">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <mat-option *ngFor="let c of FilteredProcessAreaList" [value]="c.id"
              [title]="c.title">{{c.title}}</mat-option>
          </mat-select>
          <span *ngIf="id != iEditIndex">{{getProcessArea(element.procesS_AREA_ID)}} </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="title">
        <th style="color:black;" mat-sort-header mat-header-cell *matHeaderCellDef> <strong>Process Title</strong> </th>
        <td mat-cell *matCellDef="let element;let id = index">
          <input *ngIf="id == iEditIndex" type="text" id="txtProcessArea[{{id}}]" placeholder="Process Title *"
            [(ngModel)]="element.title" style="width:96%;height:30px">
          <span *ngIf="id != iEditIndex" class="index">{{element.title}}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th style="color:black;" mat-header-cell *matHeaderCellDef> <strong>Process Description</strong> </th>
        <td mat-cell *matCellDef="let element;let id = index">
          <textarea *ngIf="id == iEditIndex" [(ngModel)]="element.description" placeholder="Process Description *"
            style="width:96%;height:30px"></textarea>
          <span *ngIf="id != iEditIndex">{{element.description}}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="clausE_REFERENCE">
        <th style="color:black;" mat-header-cell *matHeaderCellDef> <strong>ISO/Process Model - Section/Clause Reference
            description</strong> </th>
        <td mat-cell *matCellDef="let element;let id = index">
          <mat-select #selectControl *ngIf="id == iEditIndex" placeholder="Select Section/Clause Reference *" 
            [(ngModel)]="element.procesS_MODEL_REFERENCE_LIST"
            (openedChange)="resetFilterValue($event, element.procesS_MODEL_REFERENCE_LIST)" multiple>
            <mat-form-field class="filter-iso" style="width: 100%;">
              <input matInput #searchInput
                (keyup)="applyFilterForISO(searchInput.value, element.procesS_MODEL_REFERENCE_LIST)"
                style="text-indent: 10px;" placeholder="Search ISO Reference">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <ng-container *ngFor="let p of ProcessModelReferenceList">
              <mat-optgroup *ngIf="p.items && p.items.length > 0" [label]="p.procesS_MODEL_NAME">
                <mat-option *ngFor="let item of p.items" [value]="item.procesS_MODEL_REFERENCE_LIST"
                  [title]="item.sectioN_REFERENCE">
                  {{ item.sectioN_REFERENCE }}
                </mat-option>
              </mat-optgroup>
            </ng-container>
          </mat-select>
          <span *ngIf="id != iEditIndex"
            [innerHTML]="getProcessModelReference(element.procesS_MODEL_REFERENCE_LIST)"></span>
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th style="color:black; width:5%" mat-header-cell *matHeaderCellDef><strong>Action</strong></th>
        <td style="width:10%" mat-cell *matCellDef="let element;let id=index">
          <span *ngIf="id != iEditIndex">
            <a class="link" title="Edit" (click)="EditRow_onClick(element, id)">
              <i class="fa fa-edit"></i>
            </a>
          </span>
          <span *ngIf="id === iEditIndex">
            <a class="text-success link" title="Save" (click)="SaveRow_onClick(element)">
              <mat-icon>save</mat-icon>
            </a>
            <a class="text-success link" title="Cancel" (click)="CancelEdit_onClick(element)">
              <mat-icon>close</mat-icon>
            </a>
          </span>
          &nbsp;
          &nbsp;

          <a style="color:red;" class="link" title="Delete" (click)="DeleteRow_onClick(element)">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div>
      <mat-paginator #paginator [pageSize]="20" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
    </div>
  </div>
</div>