<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav-content style="background-color:#FFFFFF">
      <div *ngIf="selectedCustomer" class="mainDiv">
        <div class="row" style="margin-bottom: 2px;">
          <div class="col-lg-11 col-md-11 col-sm-11" style="text-align: right;margin-left: 3.9%;">
            <label style="font-size: 15px;font-family: Lato;padding-right: 1%;font-weight: 600;color: grey;">View
              Achievement:</label>
            <label *ngFor="let radiobutton of radioItems"
              style="font-size: 13px;font-family: Lato;padding-right: 0.5%;font-weight: 600;color: grey;">
              <input type="radio" name="options" style="margin-right: 8px;" (click)="model.option = radiobutton"
                [checked]="radiobutton === model.option" (change)="changeServiceLevel(model.option)">{{radiobutton}}
            </label>
            <span *ngIf="enableExclusion" style="font-size: 20px;">|</span>
           &nbsp;
            <mat-radio-group *ngIf="enableExclusion" [(ngModel)]="includeExclusions" (change)="toggleExclusions(includeExclusions)"
              style="display: inline;">
              <mat-radio-button [value]="false" style="margin-left: -5px; font-size: 13px;font-family: Lato;padding-right: 1%;font-weight: 600;color: grey;"><label style="margin-bottom: 0px; margin-top: 5px;"> Before Exclusions</label>
              </mat-radio-button>
              <mat-radio-button [value]="true" style="padding-left: 6px; font-size: 13px;font-family: Lato;padding-right: 1%;font-weight: 600;color: grey;"><label style="margin-bottom: 0px; margin-top: 5px;"> After Exclusions</label>
              </mat-radio-button>
            </mat-radio-group>

          </div>
          <div style="text-align:right">
            <div style="padding:0 15px">
              <!-- <i class="fa fa-filter link" (click)="showFilter = !showFilter"
                style="color:steelblue;font-size:20px; margin-right: 10px;cursor: pointer"></i> -->
              <!-- <button *ngIf="!_util.IsGAVS()" class="btn btn-warning" style="margin: 2px;">
                <a style="margin-right: 7px; text-decoration: none; color: white;" class="link"
                  [routerLink]="['/dashboard']">Link to old CSM Portal</a>
              </button> -->
              <!-- <button *ngIf="!_util.IsGAVS() && _util.IsPremier(selectedCustomer.cusT_ID)" class="btn btn-warning"
                style="margin: 2px;">
                <a style="margin-right: 7px;margin-left: 7px; text-decoration: none; color: white;" class="link"
                  [routerLink]="['/layout/timesheetnewhome', selectedCustomer.cusT_ID]">Time Sheets</a>
              </button> -->

              <img *ngIf="progress" class="image" style="height:20px;padding:0px"
                src="assets/images/loading_spinner.gif">
              <!-- <div style="float: right; cursor: pointer; text-decoration: none;"> -->
              <i (click)="showProdFilter = !showProdFilter"
                style="font-size:16px;cursor: pointer; text-decoration: none;margin-right: 5px;" class="fa">&#xf013;</i>
              <!-- </div> -->
              <a *ngIf="!progress" (click)="Refresh_Onclick()" style="cursor: pointer">
                <mat-icon style="vertical-align: middle;color:#e0dbdb;font-size: 22px;">refresh</mat-icon>
              </a>
              <!-- <a *ngIf="_util.IsPremier(selectedCustomer.cusT_ID)" [routerLink]="['/newdashboard/port', selectedCustomer.cusT_ID]">
                <img class="image" style="height:40px" src="assets/images/portfolio_view.png">
              </a> -->
            </div>
          </div>
        </div>
        <!-- <div style="padding-left: 20px; padding-right: 20px; margin-bottom: 10px" *ngIf="showFilter">
          <div style="position: relative;background-color: #eff8ff">
            <app-portfolio-project-selector [custId]="selectedCustomer?.cusT_ID" [allproj]="false"
              [portinput]="_shared.selectedPortfolios" [projinput]="_shared.selectedProjects"
              [prodinput]="_shared.selectedProducts" (projectsSelected)="getSelectedProjectsList($event)"
              (prodSelected)="getSelectedProdList($event)">
            </app-portfolio-project-selector>
          </div>
          <div (click)="showFilter = false"
            style="position:absolute; right: 40px; top: 90px; text-align: right;cursor: pointer;">
            <mat-icon class="link" (click)="showFilter = false">close</mat-icon>
          </div>
        </div> -->
        <div>
          <div style="position: absolute" class="successGoalFilter" *ngIf="showProdFilter">
            <div class="row"
              style="margin-bottom: 15px; border-bottom: 4px solid lightgray; width: 170px; padding-bottom: 5px;">
              <div style="float: left;">
                <b>Filter</b>
              </div>
              <div style="float: right" (click)="closeProdNav()">
                <i style="font-size:16px; cursor: pointer;" class="fa">&#xf00d;</i>
              </div>
            </div>
            <div style="font-size: 13px; margin-bottom: 3px;">
              <b>Month</b>
            </div>
            <div style="margin-bottom: 12px; font-size: 12px;">
              <select name='tableMonth' [(ngModel)]="_dashboardUtil.filteR_MONTH" required
                style="width: 170px !important; height: 25px;">
                <option value='Jan'>JAN</option>
                <option value='Feb'>FEB</option>
                <option value='Mar'>MAR</option>
                <option value='Apr'>APR</option>
                <option value='May'>MAY</option>
                <option value='Jun'>JUN</option>
                <option value='Jul'>JUL</option>
                <option value='Aug'>AUG</option>
                <option value='Sep'>SEP</option>
                <option value='Oct'>OCT</option>
                <option value='Nov'>NOV</option>
                <option value='Dec'>DEC</option>
              </select>
            </div>
            <div style="font-size: 13px; margin-bottom: 3px;">
              <b>Year</b>
            </div>
            <div style="font-size: 12px; margin-bottom: 30px;">
              <select name='tableYear' [(ngModel)]="_dashboardUtil.filteR_YEAR" required
                style="width: 170px !important; height: 25px;">
                <option *ngFor="let year of _util.Years(3)" [value]="year">{{year}}</option>
              </select>
            </div>

            <div class="row" style="font-size: 12px; text-align: center" *ngIf="productScores">
              <button type="button" class="btn btn-primary"
                style="height: 25px; margin-right: 12px; text-align: center; background-color: #00004d; padding-top: 2px;"
                (click)="btnApplySingleProd_OnClick()">Apply</button>
              <button type="button" class="btn btn-primary"
                style="height: 25px; padding-left : 4px;text-align: center; padding-top: 2px; width: 59px;background-color: #262626"
                (click)="closeProdNav()">Cancel</button>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="IsPremier()">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="healthCard">
              <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-5">
                  <span style="font-size: 14px;">Overall Health ({{ _dashboardUtil.filteR_MONTH + '
                    - ' + _dashboardUtil.filteR_YEAR }})</span>
                  <!-- <hr style="margin-top: auto;width: 45px;height: 2px;background: #4B4EB1 0% 0% no-repeat padding-box;opacity: 1;margin-left: 7px"> -->
                </div>
              </div>
              <div *ngIf="!healthScoresOverall" style="text-align: center; height: 100px; line-height: 200px;">
                <i class="fa fa-circle-o-notch fa-spin" style="margin-right: 10px; font-size: 25px;"></i>Loading...
              </div>
              <!-- <div style="margin-left: 130px;">
                <mat-tab-group class="goalTabGrp" [selectedIndex]="0">
                    <mat-tab label="Need Focus"></mat-tab>
                    <mat-tab label="Under Control"></mat-tab>
                </mat-tab-group>
              </div> -->
              <div *ngIf="healthScoresOverall" class="row" style="margin-top: 25px;">
                <div class="col-lg-4 col-md-4 col-sm-4" style="margin-left:10px;">
                  <google-chart #chart2 [type]="healthPie" [data]="pieData" [columnNames]="healthColumn"
                    [options]="healthOptions" [width]="healthWidth" [height]="healthHeight">
                  </google-chart>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                <div class="col-lg-4 col-md-4 col-sm-4"
                  style="font-size: 14px; display: flex; align-content: center;align-items: center; height: 142px;top: 15px;">
                  <table style="border-collapse: separate;border-spacing: 0 0.4em;">
                    <tr>
                      <th style="padding-right: 10px">Portfolios</th>
                      <!-- <th>Total</th> -->
                    </tr>
                    <tbody>
                      <tr *ngFor="let row of pieData">
                        <td (click)="openPopUp(healthScoresOverall,row)"
                          style="padding-right: 10px;font-size:13px;cursor: pointer;">{{row[0]}}</td>
                        <td (click)="openPopUp(healthScoresOverall,row)"
                          style="font-size:13px;text-align: center;cursor: pointer;">{{row[1]}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- <div *ngIf="healthScoresOverall" class="row" style="float: right;margin-top: 35px;">
                <a style="text-align: left;font-size:12px;font-family: Proxima Nova;letter-spacing: 0px;color: #4B4EB1;opacity: 1;cursor: pointer;">View Details</a>
              </div> -->
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6" style="left: -25px;">
            <div id="portfolios">
              <span style="font-size: 14px;">Service Level Achievement by Portfolio ({{ _dashboardUtil.filteR_MONTH + '
                - ' + _dashboardUtil.filteR_YEAR }})</span>
              <table *ngIf="healthScoresOverall" class="portfolioTable" style="margin-top: 5px; width: -moz-available;width: -webkit-fill-available; ">
                <thead style="color: black; margin-bottom: 5px;">
                  <tr style="font-weight: 500; font-size: 12px;">
                    <th style="height:10px;width: 30%;">Portfolios ({{overallPortCount}})</th>
                    <th style="height:10px;text-align: center;width: 12%;white-space: nowrap;">Total Products
                      ({{overallProdCount}})</th>
                    <th colspan="3" style="height:10px;width: 25px;text-align: center;">Service Level Achievement </th>
                    <!-- <th></th> -->
                  </tr>
                  <tr style="font-size: 10px;font-weight: 500;">
                    <td style="height:5px;"></td>
                    <td style="height:5px;width: 17%;"></td>
                    <td colspan="2" style="height:5px;text-align: right;padding-right:15px">Overall</td>
                    <td style="height:5px;text-align: center;">Critical Measurement</td>
                    <td style="height:5px;text-align: center;">Key Measurement</td>
                    <td style="height:5px;"></td>
                  </tr>
                </thead>
                <tbody class="portfolioTableBody" *ngIf="viewBy == 'By Expected Service Level'">
                  <tr *ngFor="let p of healthScoresOverall">
                    <td style="color: #8c8c8c; font-size: 12px; font-weight: 600;width: 30%;">{{p.title}}</td>
                    <td style="color: #8c8c8c; font-size: 12px; font-weight: 600;width: 12%;text-align: center;">
                      {{p.producT_COUNT}}
                    </td>
                    <td style="text-align: center;padding-left: 8%;"><span style="padding-top:7px"
                        [ngClass]="showThumbs(p) == 'Need Focus' ? 'fa fa-thumbs-down' : 'fa fa-thumbs-up'"></span>
                    </td>

                    <td style="color: #8c8c8c; font-size: 12px;text-align: center;" *ngIf="!includeExclusions">
                      {{p.meT_CRITICAL_KPI + p.meT_KEY_KPI}}/{{p.overalL_KPI_COUNT}}</td>
                    <td style="color: #8c8c8c; font-size: 12px;text-align: center;width: 15%;" *ngIf="!includeExclusions">
                      {{p.meT_CRITICAL_KPI}}/{{p.criticaL_KPI}}</td>
                    <td style="color: #8c8c8c; font-size: 12px;text-align: center;padding-left: 20px;" *ngIf="!includeExclusions">
                      {{p.meT_KEY_KPI}}/{{p.keY_KPI}}</td>

                      <td style="color: #8c8c8c; font-size: 12px;text-align: center;" *ngIf="includeExclusions">
                        {{p.exclusioN_MET_CRITICAL_KPI + p.exclusioN_MET_KEY_KPI}}/{{p.overalL_KPI_COUNT}}</td>
                      <td style="color: #8c8c8c; font-size: 12px;text-align: center;width: 15%;" *ngIf="includeExclusions">
                        {{p.exclusioN_MET_CRITICAL_KPI}}/{{p.criticaL_KPI}}</td>
                      <td style="color: #8c8c8c; font-size: 12px;text-align: center;padding-left: 20px;" *ngIf="includeExclusions">
                        {{p.exclusioN_MET_KEY_KPI}}/{{p.keY_KPI}}</td>

                  </tr>
                </tbody>
                <tbody class="portfolioTableBody" *ngIf="viewBy == 'By Minimum Service Level'">
                  <tr *ngFor="let p of healthScoresOverall">
                    <td style="color: #8c8c8c; font-size: 12px; font-weight: 600;width: 30%;">{{p.title}}</td>
                    <td style="color: #8c8c8c; font-size: 12px; font-weight: 600;width: 12%;text-align: center;">
                      {{p.producT_COUNT}}
                    </td>
                    <td style="text-align: center;padding-left: 8%;"><span style="padding-top:7px"
                        [ngClass]="showThumbs(p) == 'Need Focus' ? 'fa fa-thumbs-down' : 'fa fa-thumbs-up'"></span>
                    </td>

                    <td style="color: #8c8c8c; font-size: 12px;text-align: center;" *ngIf="!includeExclusions">
                      {{p.secondarY_MET_CRITICAL_KPI + p.secondarY_MET_KEY_KPI}}/{{p.overalL_KPI_COUNT}}</td>
                    <td style="color: #8c8c8c; font-size: 12px;text-align: center;width: 15%;" *ngIf="!includeExclusions">
                      {{p.secondarY_MET_CRITICAL_KPI}}/{{p.criticaL_KPI}}</td>
                    <td style="color: #8c8c8c; font-size: 12px;text-align: center;padding-left: 20px;" *ngIf="!includeExclusions">
                      {{p.secondarY_MET_KEY_KPI}}/{{p.keY_KPI}}</td>
                      <td style="color: #8c8c8c; font-size: 12px;text-align: center;" *ngIf="includeExclusions">
                        {{p.exclusioN_SECONDARY_MET_CRITICAL_KPI + p.exclusioN_SECONDARY_MET_KEY_KPI}}/{{p.overalL_KPI_COUNT}}</td>
                      <td style="color: #8c8c8c; font-size: 12px;text-align: center;width: 15%;" *ngIf="includeExclusions">
                        {{p.exclusioN_SECONDARY_MET_CRITICAL_KPI}}/{{p.criticaL_KPI}}</td>
                      <td style="color: #8c8c8c; font-size: 12px;text-align: center;padding-left: 20px;" *ngIf="includeExclusions">
                        {{p.exclusioN_SECONDARY_MET_KEY_KPI}}/{{p.keY_KPI}}</td>
                  </tr>
                </tbody>
              </table>
              <div *ngIf="healthScoresOverall?.length == 0"
                style="height: 100px; text-align: center;line-height: 100px; font-size: 17px;">
                No Service Level Measures defined for this Period.
              </div>
              <div *ngIf="!healthScoresOverall" style="text-align: center; height: 100px; line-height: 200px;">
                <i class="fa fa-circle-o-notch fa-spin" style="margin-right: 10px; font-size: 25px;"></i>Loading...
              </div>
              <div *ngIf="healthScoresOverall" class="row" style="float: right;margin-top: 20px;">
                <a (click)="openPopUp(healthScoresOverall,'A')"
                  style="text-align: left;font-size:12px;font-family: Proxima Nova;letter-spacing: 0px;color: #4B4EB1;opacity: 1;cursor: pointer;">View
                  Details</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div id="engagementView">
              <span style="font-size: 14px;">Service Level Achievement At Engagement Level ({{
                _dashboardUtil.filteR_MONTH + '
                - ' + _dashboardUtil.filteR_YEAR }})</span>

              <table *ngIf="engagementKPI" class="portfolioTable"
              style="margin-top: 5px;white-space: pre-line;margin-left: 0%;margin-right: 0%;width: -moz-available;width: -webkit-fill-available; ">
                <thead style="color: black; margin-bottom: 5px;">
                  <tr style="font-weight: 500; font-size: 12px;">
                    <th style="height:10px;width: 10% !important;text-align: left;">SLA Id</th>
                    <th style="height:10px;width: 30%;">Service Level Measures</th>
                    <th colspan="3" style="height:10px;width: 25px;text-align: center;padding-left: 18%;">Service Level
                    </th>
                    <th style="height:10px;width: 9.5%;text-align: left;">Status</th>
                  </tr>
                  <tr style="font-size: 10px;font-weight: 500;">
                    <td style="height:5px;width: 10% !important;"></td>
                    <td style="height:5px;width: 30%;"></td>
                    <td style="height:10px;text-align: center;width: 22%;padding-left: 17%;">Expected</td>
                    <td style="height:10px;text-align: center;width: 12%;padding-left: 7%;">Minimum</td>
                    <td style="height:10px;width: 12%;padding-left: 5%;">Achievement
                    </td>
                    <td></td>

                  </tr>
                </thead>
                <tbody class="portfolioTableBody" *ngIf="viewBy == 'By Expected Service Level'">
                  <tr *ngFor="let e of engagementKPI">
                    <td style="color: #8c8c8c; font-size: 12px; font-weight: 600;width: 10% !important;">{{e.reference}}
                    </td>
                    <td style="color: #8c8c8c; font-size: 12px; font-weight: 600;width: 45%;">{{e.kpI_NAME}}
                      <i class="fa fa-info-circle" style="font-size:x-small;position:sticky;"
                        matTooltipClass="custom-tooltip;" matTooltip="Total No of Products : {{e.producT_COUNT}}
                           Products Not Applicable for the Service Measure : {{e.isna}}
                           "></i>
                    </td>
                    <!-- Products Whose Actuals Not Updated : {{e.producT_COUNT - e.meT_PRODUCT - e.noT_MET_PRODUCT - e.isna}} -->

                    <td style="color: #8c8c8c; font-size: 12px; font-weight: 600;width: 12%;text-align: center;">
                      {{e.expecteD_SERVICE_LEVEL}} {{e.uom == 'Number' ? '' : e.uom }}</td>


                    <td style="color: #8c8c8c; font-size: 12px; font-weight: 600;width: 12%;text-align: center;">
                      {{e.minimuM_SERVICE_LEVEL}} {{e.uom == 'Number' ? '' : e.uom }}</td>

                    <td style="color: #8c8c8c; font-size: 12px; font-weight: 600;width: 12%;text-align: center;" *ngIf="!includeExclusions">
                      {{ e.uom == 'Number' ? (e.achievemenT_VALUE | number:'1.0-0') : e.achievemenT_VALUE }} {{
                      e.achievemenT_VALUE == null ? '' : (e.uom == 'Number'
                      ? '' : e.uom)
                      }}</td>

                      <td style="color: #8c8c8c; font-size: 12px; font-weight: 600;width: 12%;text-align: center;" *ngIf="includeExclusions">
                      {{ e.uom == 'Number' ? (e.exclusioN_ACHIEVEMENT_VALUE | number:'1.0-0') : e.exclusioN_ACHIEVEMENT_VALUE }} {{
                      e.exclusioN_ACHIEVEMENT_VALUE == null ? '' : (e.uom == 'Number'
                      ? '' : e.uom)
                      }}</td>

                    <td style="color: #8c8c8c; font-size: 12px; font-weight: 600;width: 12%;text-align: left;"
                      [ngClass]="{'red': getAchievementStatus(e.kpI_NAME, e.expecteD_SERVICE_LEVEL, e.achievemenT_VALUE) == 'Not Met'}" *ngIf="!includeExclusions">
                      {{getAchievementStatus(e.kpI_NAME, e.expecteD_SERVICE_LEVEL, e.achievemenT_VALUE)}}
                    </td>

                    <td style="color: #8c8c8c; font-size: 12px; font-weight: 600;width: 12%;text-align: left;"
                    [ngClass]="{'red': getAchievementStatus(e.kpI_NAME, e.expecteD_SERVICE_LEVEL, e.exclusioN_ACHIEVEMENT_VALUE) == 'Not Met'}" *ngIf="includeExclusions">
                    {{getAchievementStatus(e.kpI_NAME, e.expecteD_SERVICE_LEVEL, e.exclusioN_ACHIEVEMENT_VALUE)}}
                  </td>
                  </tr>
                </tbody>
                <tbody class="portfolioTableBody" *ngIf="viewBy == 'By Minimum Service Level'">
                  <tr *ngFor="let e of engagementKPI">
                    <td style="color: #8c8c8c; font-size: 12px; font-weight: 600;width: 10% !important;">{{e.reference}}
                    </td>
                    <td style="color: #8c8c8c; font-size: 12px; font-weight: 600;width: 45%;">{{e.kpI_NAME}}
                      <i class="fa fa-info-circle" style="font-size:x-small;position:sticky;"
                        matTooltipClass="custom-tooltip" matTooltip="Total No of Products : {{e.producT_COUNT}}
                         Products Not Applicable for the Service Measure : {{e.isna}}
                         Products Whose Actuals Not Updated : "></i>
                    </td>

                    <td style="color: #8c8c8c; font-size: 12px; font-weight: 600;width: 12%;text-align: center;">
                      {{e.expecteD_SERVICE_LEVEL}} {{e.uom == 'Number' ? '' : e.uom }}</td>


                    <td style="color: #8c8c8c; font-size: 12px; font-weight: 600;width: 12%;text-align: center;">
                      {{e.minimuM_SERVICE_LEVEL}} {{e.uom == 'Number' ? '' : e.uom }}</td>


                      <td style="color: #8c8c8c; font-size: 12px; font-weight: 600;width: 12%;text-align: center;" *ngIf="!includeExclusions">
                        {{ e.uom == 'Number' ? (e.achievemenT_VALUE | number:'1.0-0') : e.achievemenT_VALUE }} {{
                        e.achievemenT_VALUE == null ? '' : (e.uom == 'Number'
                        ? '' : e.uom)
                        }}</td>

                      <td style="color: #8c8c8c; font-size: 12px; font-weight: 600;width: 12%;text-align: center;" *ngIf="includeExclusions">
                        {{ e.uom == 'Number' ? (e.exclusioN_ACHIEVEMENT_VALUE | number:'1.0-0') : e.exclusioN_ACHIEVEMENT_VALUE }} {{
                        e.exclusioN_ACHIEVEMENT_VALUE == null ? '' : (e.uom == 'Number'
                        ? '' : e.uom)
                        }}</td>

                    <td style="color: #8c8c8c; font-size: 12px; font-weight: 600;width: 12%;text-align: left;"
                      [ngClass]="{'red': getAchievementStatus(e.kpI_NAME, e.minimuM_SERVICE_LEVEL, e.achievemenT_VALUE) == 'Not Met'}" *ngIf="!includeExclusions">
                      {{getAchievementStatus(e.kpI_NAME, e.minimuM_SERVICE_LEVEL, e.achievemenT_VALUE)}}
                    </td>

                    <td style="color: #8c8c8c; font-size: 12px; font-weight: 600;width: 12%;text-align: left;"
                    [ngClass]="{'red': getAchievementStatus(e.kpI_NAME, e.minimuM_SERVICE_LEVEL, e.exclusioN_ACHIEVEMENT_VALUE) == 'Not Met'}" *ngIf="includeExclusions">
                    {{getAchievementStatus(e.kpI_NAME, e.minimuM_SERVICE_LEVEL, e.exclusioN_ACHIEVEMENT_VALUE)}}
                  </td>


                  </tr>
                </tbody>
              </table>
              <div *ngIf="engagementKPI && _access.IsAllowed(82, 1, '', '')" class="row1"
                style="float: right;margin-top: 5px;">
                <a (click)="viewEngagementLevelDetails()"
                  style="text-align: left;font-size:12px;font-family: Proxima Nova;letter-spacing: 0px;color: #4B4EB1;opacity: 1;cursor: pointer;">View
                  Details</a>
              </div>
              <div *ngIf="!engagementKPI" style="text-align: center; height: 100px; line-height: 200px;">
                <i class="fa fa-circle-o-notch fa-spin" style="margin-right: 10px; font-size: 25px;"></i>Loading...
              </div>

            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div id="metricPerformance" [style.width.%]="_access.IsAllowed(64, 1, '', '') == true ? 95 : 95"
              [style.marginLeft.%]="_access.IsAllowed(64, 1, '', '') == true ? 1 : 1">
              <div class="row" style="padding-left: 10px; font-size: 14px;margin-bottom: 12px;">
                <div style="float: left;">
                  Service Level Achievement by Product ({{ _dashboardUtil.filteR_MONTH + ' - ' +
                  _dashboardUtil.filteR_YEAR }})
                </div>
                <div style="float: right; cursor: pointer; text-decoration: none;">
                  <a (click)="changKPIflag()" *ngIf="_access.IsAllowed(12, 3, '', '')" style="margin-right: 5px;"
                    class="link" title="Edit KPI" [routerLink]="['/kpi', customerid]">
                    <i class="fa fa-edit"></i>
                  </a>
                </div>
              </div>
              <div class="row">
                <table *ngIf="productScores" class="prodKPITable">
                  <thead style="color: black; margin-bottom: 5px;">
                    <tr style="font-weight: 500; font-size: 12px;">
                      <th style="width: 225px;max-width: 225px !important;padding-left: 5px;">Entered Products
                        ({{countOfProds}})</th>
                      <th colspan="3" style="width: 80px; max-width: 80px !important;text-align: center;padding-left: 9rem; ">Service Level
                        Achievement</th>
                      <!-- <th style="width: 80px; max-width: 80px !important;text-align: center; ">Action</th> -->
                    </tr>
                    <tr style="font-size: 10px;font-weight: 500;">
                      <td style="height:5px;width: 48%;"></td>
                      <td colspan="2" style="height:5px;text-align: center;width: 15%;">Overall</td>
                      <td style="height:5px;text-align: center;width: 23%;">Critical Measurement</td>
                      <td style="height:5px;text-align: center;width: 15%;">Key Measurement</td>
                      <!-- <td style="height:5px;width: 15px;"></td> -->
                    </tr>
                  </thead>
                  <tbody *ngIf="viewBy == 'By Expected Service Level'">
                    <tr *ngFor="let prod of productScores"
                      style="border-left: 3px solid; box-shadow: -1.5px 2px 2.5px 1px lightgray!important;cursor: pointer;">
                      <td [matTooltip]='prod.producT_TITLE'
                        style="width:40%;max-width: 110px;font-size:12px;overflow-x: hidden! important;white-space: nowrap; text-overflow: ellipsis;padding-left: 5px;text-decoration: none;outline: 0">
                        <a [routerLink]="['/successgoal/metric', selectedCustomer.cusT_ID, prod.producT_ID,prod.modE_ID,_dashboardUtil.filteR_MONTH,_dashboardUtil.filteR_YEAR]">{{prod.producT_TITLE}}</a></td>
                      <td style="text-align: right;"><span style="padding-top:7px"
                          [ngClass]="showStatusForProduct(prod) == 'Need Focus' ? 'fa fa-thumbs-down' : 'fa fa-thumbs-up'"></span>
                      </td>
                      <td style="color: black;text-align: left;font-size: 12px;width: 15%" *ngIf="!includeExclusions">
                        {{prod.slA_STATUS}}/{{prod.overalL_KPI_COUNT}}
                      </td>
                      <td style="color: black;font-size: 12px;text-align: center;width: 16%" *ngIf="!includeExclusions">
                        {{prod.meT_CRITICAL_KPI}}/{{prod.criticaL_KPI}}</td>
                      <td style="color: black;font-size: 12px;text-align: center;width: 15%" *ngIf="!includeExclusions">
                        {{prod.meT_KEY_KPI}}/{{prod.keY_KPI}}</td>

                      <td style="color: black;text-align: left;font-size: 12px;width: 15%" *ngIf="includeExclusions">
                        {{prod.exclusioN_SLA_STATUS}}/{{prod.overalL_KPI_COUNT}}
                      </td>
                      <td style="color: black;font-size: 12px;text-align: center;width: 16%" *ngIf="includeExclusions">
                        {{prod.exclusioN_MET_CRITICAL_KPI}}/{{prod.criticaL_KPI}}</td>
                      <td style="color: black;font-size: 12px;text-align: center;width: 15%" *ngIf="includeExclusions">
                        {{prod.exclusioN_MET_KEY_KPI}}/{{prod.keY_KPI}}</td>
                    </tr>
                  </tbody>
                  <tbody *ngIf="viewBy == 'By Minimum Service Level'">
                    <tr *ngFor="let prod of productScores"                    
                      style="border-left: 3px solid; box-shadow: -1.5px 2px 2.5px 1px lightgray!important;cursor: pointer;">
                      <td [matTooltip]='prod.producT_TITLE'
                        style="width:40%;max-width: 110px;font-size:12px;overflow-x: hidden! important;white-space: nowrap; text-overflow: ellipsis;padding-left: 5px;text-decoration: none;outline: 0">
                        <a [routerLink]="['/successgoal/metric', selectedCustomer.cusT_ID, prod.producT_ID,prod.modE_ID,_dashboardUtil.filteR_MONTH,_dashboardUtil.filteR_YEAR]">{{prod.producT_TITLE}}</a></td>
                      <td style="text-align: right;"><span style="padding-top:7px"
                          [ngClass]="showStatusForProduct(prod) == 'Need Focus' ? 'fa fa-thumbs-down' : 'fa fa-thumbs-up'"></span>
                      </td>

                      <td style="color: black;text-align: left;font-size: 12px;width: 15%" *ngIf="!includeExclusions">
                        {{prod.secondarY_MET_CRITICAL_KPI + prod.secondarY_MET_KEY_KPI }}/{{prod.overalL_KPI_COUNT}}
                      </td>
                      <td style="color: black;font-size: 12px;text-align: center;width: 16%" *ngIf="!includeExclusions">
                        {{prod.secondarY_MET_CRITICAL_KPI}}/{{prod.criticaL_KPI}}</td>
                      <td style="color: black;font-size: 12px;text-align: center;width: 15%" *ngIf="!includeExclusions">
                        {{prod.secondarY_MET_KEY_KPI}}/{{prod.keY_KPI}}</td>
                      <td style="color: black;text-align: left;font-size: 12px;width: 15%" *ngIf="includeExclusions">
                        {{prod.exclusioN_SECONDARY_MET_CRITICAL_KPI + prod.exclusioN_SECONDARY_MET_KEY_KPI
                        }}/{{prod.overalL_KPI_COUNT}}
                      </td>
                      <td style="color: black;font-size: 12px;text-align: center;width: 16%" *ngIf="includeExclusions">
                        {{prod.exclusioN_SECONDARY_MET_CRITICAL_KPI}}/{{prod.criticaL_KPI}}</td>
                      <td style="color: black;font-size: 12px;text-align: center;width: 15%" *ngIf="includeExclusions">
                        {{prod.exclusioN_SECONDARY_MET_KEY_KPI}}/{{prod.keY_KPI}}</td>
                    </tr>
                  </tbody>
                </table>
                <div *ngIf="productScores?.length == 0"
                  style="height: 100px; text-align: center;line-height: 100px; font-size: 17px;">
                  No Service Level Measures defined for this Period.
                </div>
                <div *ngIf="!productScores" style="text-align: center; height: 100px; line-height: 200px;">
                  <i class="fa fa-circle-o-notch fa-spin" style="margin-right: 10px; font-size: 25px;"></i>Loading...
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6" *ngIf="_access.IsAllowed(64, 1, '', '')">

            <div id="journeyMapPremier" class="journeyMapPremier">
              <div style="margin-bottom: 30px;">
                <div style="margin-bottom: 10px; font-size: 14px; float: left">Key Highlights
                  ({{ _dashboardUtil.filteR_MONTH + ' - ' + _dashboardUtil.filteR_YEAR }})</div>
                  <mat-form-field style="padding-left:20px; text-align: left ;width: 25%;left:34%">
                    <mat-select (selectionChange)="weekChange($event.value)" name='Week' [(ngModel)]="SelectedWeek" placeholder="Period"  >
                      <mat-option [value]=0>Month</mat-option>
                      <mat-option [value]=1>Week 1</mat-option>
                      <mat-option [value]=2>Week 2</mat-option>
                      <mat-option [value]=3>Week 3</mat-option>
                      <mat-option [value]=4>Week 4</mat-option>
                      <mat-option [value]=5>Week 5</mat-option>
                    </mat-select>
                </mat-form-field>
                <div style="float: right; cursor: pointer;" (click)="showKPINotesForCustomer(selectedCustomer.cusT_ID)">
                  <a *ngIf="_access.IsAllowed(13, 3, '', '')">
                    <i class="fa fa-edit"></i>
                  </a>
                </div>
              </div>

              <div class="journeyMapContent" style="max-height: 220px; overflow-y: scroll; overflow-x: hidden ;position: relative;bottom: 13%;">
                <div *ngIf="!highlights" style="text-align: center; height: 100px; line-height: 100px;">
                  <i class="fa fa-circle-o-notch fa-spin" style="margin-right: 10px; font-size: 21px;"></i>Loading...
                </div>
                <ul class="a" *ngIf="highlights">
                  <li
                    style="padding: 5px;white-space: normal; word-wrap:break-word; width:98%;font-size: 12px;font-family: sans-serif;color: #808080"

                    *ngFor="let h of highlights">
                    {{h.description}}
                  </li><!-- [style.width]="_util.IsPremier(selectedCustomer.cusT_ID) == true ? 215 : 420" -->
                </ul>
                <div *ngIf="highlights?.length == 0"
                  style="text-align: center; height: 150px; line-height: 150px; font-size: 13px; color: black;">
                  No Highlights for this Period
                </div>
                <div style="font-size: 11px; color: #94d3f1; text-align: right ">
                  <a style="margin-left: auto">
                    <!-- <u>View More</u> -->
                  </a>
                </div>
              </div>
              <div class="journeyMapFooter" style="height: 20px;">

              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6" *ngIf="_access.IsAllowedDebug(80, 1, '', '')">
            <div class="capa" style="width: 95%;margin-left: 1%;">
              <span style="font-size: 14px;">Service Improvement Plan ({{
                _dashboardUtil.filteR_MONTH + '
                - ' + _dashboardUtil.filteR_YEAR }})</span>
              <table class="prodKPITable" style="margin-top:2%">
                <thead style="color: black; margin-bottom: 5px;">
                  <tr style="font-weight: 500; font-size: 12px;">
                    <th style="width: 205px;max-width: 225px !important;padding-left: 5px;">Entered Products
                      ({{countOfProds}})</th>
                    <th style="width: 10%; max-width: 80px !important;text-align:center;"
                      matTooltip="No of KPIs Target Not Met">
                      Not Met</th>
                    <th colspan="5" style="width: 80px; max-width: 80px !important;text-align: center; ">Corrective
                      Action Plan Stages
                    </th>
                  </tr>
                  <tr style="font-size: 10px;font-weight: 500;">
                    <td style="height:5px;width: 40%;"></td>
                    <td style="height:5px;text-align: center;width: 10%;"></td>
                    <td style="height:5px;text-align: center;width: 10%;">Due for Submission</td>
                    <td style="height:5px;text-align: center;width: 10%;">Due for Review</td>
                    <td style="height:5px;text-align: center;width: 10%;">Due for Customer Approval</td>
                    <td style="height:5px;text-align: center;width: 10%;">Due for Implementation</td>
                    <td style="height:5px;text-align: center;width: 10%;">Due for Verification</td>
                    <td style="height:5px;text-align: center;width: 10%;">Closed</td>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let CAPA of productCAPACount"
                    style="border-left: 3px solid; box-shadow: -1.5px 2px 2.5px 1px lightgray!important">
                    <td [matTooltip]='CAPA.producT_TITLE'
                      style="width:35%;max-width: 90px;cursor: pointer;font-size:12px;overflow-x: hidden! important;white-space: nowrap; text-overflow: ellipsis;padding-left: 5px;text-decoration: none;outline: 0">
                      {{CAPA.producT_TITLE}}</td>
                    <td style="color: black;text-align: center;font-size: 12px;width: 10%">
                      <a href="/successgoal/metric/{{selectedCustomer.cusT_ID}}/{{CAPA.producT_ID}}/{{CAPA.modE_ID}}/{{_dashboardUtil.filteR_MONTH}}/{{_dashboardUtil.filteR_YEAR}}/true/-1">{{CAPA.noT_MET}}</a>
                    </td>
                    <td style="color: black;font-size: 12px;text-align: center;width: 10%;">
                      <a href="/successgoal/metric/{{selectedCustomer.cusT_ID}}/{{CAPA.producT_ID}}/{{CAPA.modE_ID}}/{{_dashboardUtil.filteR_MONTH}}/{{_dashboardUtil.filteR_YEAR}}/true/0">{{CAPA.duE_FOR_SUBMISSION}}</a>
                    </td>
                    <td style="color: black;font-size: 12px;text-align: center;width: 10%">
                      <a href="/successgoal/metric/{{selectedCustomer.cusT_ID}}/{{CAPA.producT_ID}}/{{CAPA.modE_ID}}/{{_dashboardUtil.filteR_MONTH}}/{{_dashboardUtil.filteR_YEAR}}/true/1">{{CAPA.duE_FOR_REVIEW}}</a>
                    </td>
                    <td style="color: black;font-size: 12px;text-align: center;width: 10%">
                      <a href="/successgoal/metric/{{selectedCustomer.cusT_ID}}/{{CAPA.producT_ID}}/{{CAPA.modE_ID}}/{{_dashboardUtil.filteR_MONTH}}/{{_dashboardUtil.filteR_YEAR}}/true/2">{{CAPA.duE_FOR_CUSTOMER_APPROVAL}}</a>
                    </td>
                    <td style="color: black;font-size: 12px;text-align: center;width: 10%">
                      <a href="/successgoal/metric/{{selectedCustomer.cusT_ID}}/{{CAPA.producT_ID}}/{{CAPA.modE_ID}}/{{_dashboardUtil.filteR_MONTH}}/{{_dashboardUtil.filteR_YEAR}}/true/5">{{CAPA.duE_FOR_IMPLEMENTATION}}</a>
                    </td>
                    <td style="color: black;font-size: 12px;text-align: center;width: 10%">
                      <a href="/successgoal/metric/{{selectedCustomer.cusT_ID}}/{{CAPA.producT_ID}}/{{CAPA.modE_ID}}/{{_dashboardUtil.filteR_MONTH}}/{{_dashboardUtil.filteR_YEAR}}/true/3">{{CAPA.duE_FOR_VERIFICATION}}</a>
                    </td>
                    <td style="color: black;font-size: 12px;text-align: center;width: 10%">
                      <a href="/successgoal/metric/{{selectedCustomer.cusT_ID}}/{{CAPA.producT_ID}}/{{CAPA.modE_ID}}/{{_dashboardUtil.filteR_MONTH}}/{{_dashboardUtil.filteR_YEAR}}/true/4">{{CAPA.closed}}</a>
                    </td>
                  </tr>

                </tbody>
              </table>
              <div *ngIf="productCAPACount?.length == 0"
                style="height: 100px; text-align: center;line-height: 100px; font-size: 17px;">
                No Service Improvement Plan defined for this Period.
              </div>
              <div *ngIf="!productCAPACount" style="text-align: center; height: 100px; line-height: 200px;">
                <i class="fa fa-circle-o-notch fa-spin" style="margin-right: 10px; font-size: 25px;"></i>Loading...
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
