.portfolioCard  {
    float: left;
    height: 500px; 
    background-color: white;
    margin-top: 12px;
    border-radius: 1px;
    color: #3b3b3c;
    font-weight: 700;
    box-shadow: 0px 0.5px 2.5px grey;
    background-color: white;
    width: 100%;
    padding: 0px 10PX;
    margin: 1px 0px; 
}.fa-thumbs-down {
    color: red;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 15px;   float: left;
    margin-bottom: -20px;
    margin-left: 42px;
}
.fa-thumbs-up {
    color: green;
    text-shadow: 1px 1px 1px #ccc;  float: left;
    font-size: 15px;    margin-bottom: -20px;
    margin-left: 50px;
}
.portfolioCardgrey  {
    float: left;
    height: 200px; 
    background-color: #fbfbfb;
    margin-top: 12px;
    border-radius: 1px;
    color: #535d85;
    font-weight: 700;
    box-shadow: 0px 0.5px 1.5px grey;
    width: 100%;
    padding: 0px 10PX;
    margin: 1px 0px; 
}
.smalltext{
    font-size: 12px;
    color: #535d85;
    text-decoration: none !important; 
}
.smalltextblack{
    font-size: 11px;
    color: #5c5b5b;
    text-decoration: none !important; 
}
.verysmalltextblack{
    
    font-size: 11px;
    color: #5c5b5b;
    text-decoration: none !important;
    text-align: center;
    font-weight: 300;
}
a{
    cursor: pointer;
}
.portfolioCardgrey .fa{
    font-size: 13px;
}
.marginbottom5px{
    margin-bottom: 5px;
}
.smallcard{
    height: 70px !important;
    width: 95%;
    padding: 3px 3PX;
    font-size: 11px;
    font-weight: 600;color: #737374;
    cursor: pointer;
}

:host ::ng-deep  .mat-tab-header-pagination{
display: none !important;
}
:host ::ng-deep  .mat-tab-label{
    max-width: 90px !important;
    min-width: 90px !important;
    margin-bottom: 5px;
}
.Top3Performvalues {
    display: inline-block;
    width: 250px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    height:12px;
}

.Top3Performvalues1 {
    display: inline-block;
    width: 300px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    height:13px;
}
app-tab-overall-status ::before{
    box-shadow: 0px 0.5px 2.5px grey;
}
.qlinks .verysmalltextblack, .qlinks .verysmalltext
{
    margin-left: 15px;
}
.noUnderline .mat-form-field-underline
{
    background-color: transparent !important;
}


.Top3Perform .row
{background-image: linear-gradient(to right, #e3e0e0 , #f9f9f9);
    margin-bottom: 3px; 
    border-radius: 3px;
    padding: 2px;
    font-size: 11px;
    font-weight: 100;
    vertical-align: middle;
    color: black;}
    .Top3Perform .mat-ink-bar{ margin: 8px;}
:host ::ng-deep .goalTabGrp .mat-tab-label {
    height: 28px !important;
    padding: 0 12px  !important; 
    font-size: 12px  !important;
    font-weight: bold  !important;
    max-width: 90px !important;
    min-width: 90px !important;
  }
 .goalTabGrp .mat-tab-label-active { 
    font-family: Roboto;
    font-weight: bolder;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
}
  .marginbottom2px{
    margin-bottom: 2px !important;
  }
  ::ng-deep .mat-tab-body-content{
    //margin-left: 15px !important ;
    width: 100%;
    overflow: hidden !important;
    //margin: auto;
  }
  .viewdetails
  {
    font-weight: 400;font-size: 12px;
  }
h6{
    font-weight: bold;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
 
  padding-right: 6PX;
  padding-left: 6px;
}
.RedMedium{
    color: red;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.GreenMedium{
    color: green;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    padding-bottom: 10px;
}