<div style="margin-top:0.5%;margin-left: 0%;" class="row">
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2" style="float: left;">
      <div *ngIf="_util.IsGAVS()" class="backbuttonlink" [routerLink]="['/newdashboard/custm']" (click)="resetValues()">
        <img src="assets/images/back_round.png">
      </div>
      <img class="image" style="height:45px;padding:5px;margin-top: -20%;margin-left:15%"
        src="assets/images/{{customerId}}.png" onerror="this.src='assets/images/CustomerLogo.png'">
    </div>
  </div>
</div>

<div style="margin-left: 1%;margin-top:0.5%;" class="row">
  <div class="col-sm-3 col-md-6 col-lg-3" style="float: left;width: 27%;">
    <mat-form-field>
      <mat-select name="ddCustomer" placeholder="Account *" [(ngModel)]='customeR_IDS' [disabled]="_loading" multiple
        #selectCustomer>
        <mat-option value="-1" (click)="toggleSelectionForCustomer()" #allCustomerSelected>All</mat-option>
        <mat-option *ngFor="let c of customer" [value]="c.cusT_ID" [title]="c.cusT_NM" (click)="customerTosslePerOne()">
          {{ c.cusT_NM}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field style="float: right;border: none;width: 38%;margin-right: 2%;">
      <mat-select name="ddBusiness" placeholder="Business Unit *" [(ngModel)]='businessUnit' [disabled]="_loading"
        multiple #selectBusinessUnit>
        <mat-option value="-1" (click)="toggleSelectionForBusinessUnit()" #allBusinessUnitSelected>All</mat-option>
        <mat-option *ngFor="let b of overallBusinessUnit" [value]="b" [title]="b" (click)="businessUnitTosslePerOne()">
          {{b}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-form-field style="float: right;border: none;margin-right: 59%;">
    <mat-select name="riskStatus" placeholder="Risk Status *" [disabled]="_loading" [(ngModel)]='riskStatus' multiple
      #select>
      <mat-option value="-1" (click)="toggleSelection()" #allSelected>All</mat-option>
      <mat-option value='Assessed' (click)="tosslePerOne()">Assessed</mat-option>
      <mat-option value='Closed' (click)="tosslePerOne()">Closed</mat-option>
      <mat-option value='Identified' (click)="tosslePerOne()">Identified</mat-option>
      <mat-option value='In-Process' (click)="tosslePerOne()">In-Process</mat-option>
      <mat-option value='Not-Occurred' (click)="tosslePerOne()">Not Occurred</mat-option>
      <mat-option value='Occurred' (click)="tosslePerOne()">Occurred</mat-option>
      <mat-option value='Planned' (click)="tosslePerOne()">Planned</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field style="width:8%;float: right;border:none;margin-right: -23%;">
    <input [(ngModel)]="fromDate" [matDatepicker]="picker1" matInput placeholder="From">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

  <mat-form-field style="width:8%;float: right;border:none;margin-right: -33%;">
    <input [min]="fromDate" [(ngModel)]="toDate" [matDatepicker]="picker2" matInput placeholder="To">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>

  <button class="btn btn-primary" style="float: right;border:none;right: 26%;position: absolute;margin-top: 0.5%;"
    mat-raised-button (click)="loadData()" [disabled]="_loading">Generate Chart</button>
  <button class="btn btn-warning"
    style="border:none;float:right;position: absolute;right: 16%;width: 7%;margin-top: 0.5%;" mat-raised-button
    (click)="reset()" [disabled]="_loading">Reset</button>
</div>
<ng-container>
  <!-- *ngIf="overAllData !=null && overAllData.riskChart !=null && overAllData.riskChart.data !=null && overAllData.riskChart.data.length > 0" -->
  <app-risk-chart-control [isValid]="isValid" [inputs]="riskDashboardInputs"> </app-risk-chart-control>

</ng-container>