<div class="row bg1">
  <div class="col-lg-12 col-md-12 col-sm-12 bg0">
    Task Execution
  </div>
</div>
<!-- Checklist based audit -->
<!-- <app-checklist-execution [task]="_taskService.selectedTask" *ngIf="_taskService.selectedTask.tasK_CATEGORY_ID != 1"></app-checklist-execution>
< Risk based audit -->
<app-audit-execution *ngIf="_taskService.selectedTask.tasK_CATEGORY_ID === 1"></app-audit-execution>
 
<!-- <app-checklist-execution [task]="_taskService.selectedTask" ></app-checklist-execution> -->
<app-checklist-execution ></app-checklist-execution>
 
<app-audit-execution  ></app-audit-execution>