<div class="panel panel-primary">
    <div class="panel-heading">Risk Details</div>
    <table class="table table-bordered" style="font-size:12px">
      <thead>
        <tr>
          <th style="text-align:left;width: 15%;">Description</th>
          <th style="text-align:left;width: 10%;">Business Impact Description</th>
          <th style="text-align:left;width: 5%;">Likelihood Scale</th>
          <th style="text-align:left;width: 5%;">Consequences Scale </th>
          <th style="text-align:left;width: 7%;">Risk Owner</th>
          <th style="text-align:left;width: 7%;">Risk Area</th>
          <th style="text-align:left;width: 7%;">Identified By</th>
          <th style="text-align:left">Identified Date</th>
          <th style="text-align:left;width: 7%;">Risk Treatment Strategy</th>
          <th style="text-align:left;width: 7%;">Target Date </th>
          <th style="text-align:left;width: 7%;">Date of Occurred / Closed</th>
          <th style="text-align:left;width: 5%;">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr style="text-align:left">
          <td>{{data.element.description}}</td>
          <td>{{data.element.impact}}</td>
          <td>{{myutil.prob[data.element.probabilitY_SCALE - 1]}}</td>
          <td>{{myutil.impact[data.element.impacT_SCALE - 1]}}</td>
          <td>{{data.element.owner}}</td>
          <td>{{data.element.area}}</td>
          <td>{{data.element.identifieD_BY}}</td>
          <td>{{data.element.identifieD_DATE|date:'dd-MMM-yyyy'}}</td>
          <td>{{data.element.risK_TREATMENT_STRATEGY}}</td>
          <td>{{data.element.targeT_DATE|date:'dd-MMM-yyyy'}}</td>
          <td>{{data.element.actuaL_DATE|date:'dd-MMM-yyyy'}}</td>
          <td>{{data.element.status}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div style="text-align:center;padding-bottom:2px">
    <button mat-button mat-dialog-close (click)="closeDialog()">Close</button>
  </div>
