<mat-tab-group>
  
    <mat-tab label="CRISP View" >
        <div class="row" style="font-size:25px;text-align:center;margin-bottom:0px !important">CRISP Dashboard</div>
        <div class="row">
            <div class="col-lg-4">
                <mat-card style="margin-top: 6px;height:150px;padding:5px">
                    <mat-card-content>
                        <div class="row">
                            <!-- <div class="col-lg-1">
                                <a class="link" [routerLink]="['/dashboard']" title="Go to Home Page">
                                    <i class="fa fa-home" style="font-size: 31px;padding-top: 10px;color: #99999ac9;"></i>
                                </a>
                            </div> -->
                            <div class="col-lg-11">
                                <table class="table table-bordered" style="width: 100%; max-width: 100%;  margin: 5px 0 0 5px;">
                                    <tr>
                                        <th colspan="3" style="text-align:center">Filters</th>
                                    </tr>
                                    <tr>
                                        <td style="width:100px">Customer :</td>
                                        <td colspan="2">
                                            <mat-select name="ddProject" [(ngModel)]="selectedCustomer">
                                                <mat-option *ngFor="let c of Customers" [value]="c" [title]="c.cusT_NM">
                                                    {{c.cusT_NM}}
                                                </mat-option>
                                            </mat-select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:100px">Period :</td>
                                        <td>
                                            <mat-select name='tableMonth' [(ngModel)]="selectedMonth" required>
                                                <mat-option value='Jan'>JAN</mat-option>
                                                <mat-option value='Feb'>FEB</mat-option>
                                                <mat-option value='Mar'>MAR</mat-option>
                                                <mat-option value='Apr'>APR</mat-option>
                                                <mat-option value='May'>MAY</mat-option>
                                                <mat-option value='Jun'>JUN</mat-option>
                                                <mat-option value='Jul'>JUL</mat-option>
                                                <mat-option value='Aug'>AUG</mat-option>
                                                <mat-option value='Sep'>SEP</mat-option>
                                                <mat-option value='Oct'>OCT</mat-option>
                                                <mat-option value='Nov'>NOV</mat-option>
                                                <mat-option value='Dec'>DEC</mat-option>
                                            </mat-select>
                                        </td>
                                        <td>
                                            <mat-select name='tableYear' [(ngModel)]="selectedYear" required>
                                               
                                                <mat-option *ngFor="let year of _util.Years(3)" [value]="year" [title]="year">{{year}}</mat-option>
                                                <!--<mat-option [value]='2019'>2019</mat-option>
                                                <mat-option [value]='2020'>2020</mat-option>-->
                                            </mat-select>
                                        </td>
                                    </tr>
                                    <tr style="text-align:center">
                                        <td colspan="3">
                                            <button type="button" class="mat-raised-button mat-primary" (click)="ApplyFilter()">Apply</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-lg-4">
                <mat-card style="margin-top: 6px;height: 150px;">
                    <mat-card-content>
                        <app-crisp-project-status-chart [ProjectIds]="ProjectIds" [month]="month" [year]="year"></app-crisp-project-status-chart>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-lg-4">
                <mat-card style="margin-top: 6px;height: 150px;padding: 0px;padding-left: 11px;padding-top:7px;">
                    <mat-card-header style="font-family: calibri;font-weight: 600;text-align: center !important;">
                        Project Forecast (Next 3 months)
                    </mat-card-header>
                    <mat-card-content style="margin-bottom: 3px;">
                        <div class="row" style="margin: 0px;">
                            <div *ngIf="projectforecast != undefined">
                                <div (click)="GetProjectForecastDetail(projectforecast.projectend , 1)" style="float: left;font-size: 20px;color: #ff7d4aad;margin-left: 15px;cursor: pointer;">{{projectforecast.projectend.length}}</div>
                                <div style="font-family: calibri;font-size: 13px;float: left;margin-left: 4px;margin-top: 4px;">Projects to end</div>
                            </div>
                        </div>
                        <div class="row" style="margin: 0px;">
                            <div *ngIf="projectforecast != undefined">
                                <div (click)="GetProjectForecastDetail(projectforecast.projectstart ,2) " style="float: left;font-size: 20px;color: #ff7d4aad;margin-left: 15px;cursor:pointer">{{projectforecast.projectstart.length}}</div>
                                <div style="font-family: calibri;font-size: 13px;float: left;margin-left: 4px;margin-top: 4px;">
                                    Projects to start</div>
                            </div>
                        </div>
                        <div class="row">
                            <div *ngIf="projectforecast != undefined">
                                <div (click)="GetProjectForecastDetail(projectforecast.projresrc ,3)" style="float: left;font-size: 20px;color: #ff7d4aad;margin-left: 15px;cursor: pointer;">{{projectforecast.projresrc.length}}</div>
                                <div style="font-family: calibri;font-size: 13px;float: left;margin-left: 4px;margin-top: 4px;">
                                    Members to be released from the project</div>
                            </div>
                        </div>
                    </mat-card-content>

                </mat-card>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <mat-card style="height: 330px;overflow: scroll;padding-top: 12px;padding-left: 0px;">
                    <mat-card-header style="font-family: calibri;font-weight: 600;margin-left: 15px;">
                        Early warning Signal
                    </mat-card-header>
                    <mat-card-content>
                        <app-ewsystem [ProjectIds]="ProjectIds"></app-ewsystem>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-lg-4">
                <!-- <mat-card style="height: 330px;overflow: scroll;padding-top: 12px;padding-left: 0px;"> -->
                <mat-card style="height: 330px">
                    <mat-card-header style="font-family: calibri;font-weight: 600">
                        CRISP Summary
                        <a title="ReEvaluate CRISP" style="margin-left: 25px;margin-top: 1px;cursor: pointer ;" (click)="ReEvaluate()">
                            <i class="fa fa-refresh"></i>
                          </a>
                    </mat-card-header>
                    <mat-card-content>
                        <app-crisp-summary [ProjectIds]="ProjectIds" [month]="month" [year]="year"></app-crisp-summary>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-lg-4">
                <mat-card style="height: 330px;overflow: scroll;overflow-x:hidden;overflow-y:auto;padding-top: 12px;padding-left: 0px;">
                    <mat-card-header style="font-family: calibri;font-weight: 600">
                        CRISP Report
                        <a title="ReEvaluate CRISP" style="margin-left: 25px;margin-top: 1px;cursor: pointer ;" (click)="ReEvaluate()">
                            <i class="fa fa-refresh"></i>
                          </a>
                    </mat-card-header>
                    <!--  -->
                    <mat-card-content> 
                        <app-crisp-summary-projects [ProjectIds]="ProjectIds" [month]="month" [year]="year" [selectedProject]="selectedProject"></app-crisp-summary-projects>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <mat-card style="height: 160px;padding: 0px;padding-left: 15px;padding-top: 3px;">
                    <mat-card-header style="text-align: center;font-size: 14px;font-weight: 600;font-family: calibri;">
                        Compliance Status
                    </mat-card-header>
                    <mat-card-content style="margin-bottom: 3px">
                        <div style="font-family: calibri;font-size: 13px;margin-left: 14px" class="row" *ngIf="compliancecount != undefined">
                            <b>Mandatory training:</b>&nbsp;Compliance:&nbsp;{{compliancecount.compliancE_PERCENT}}&nbsp;%</div>
                        <div style="font-family: calibri;font-size: 13px;" class="row" *ngIf="compliancecount == undefined">Loading Details..</div>
                        <div style="font-family: calibri;font-size: 13px;" class="row" *ngIf="complianceinfofail== undefined">Loading Details..</div>
                        <div style="font-family: calibri;font-size: 13px;" class="row" *ngIf="complianceinfopass== undefined">Loading Details..</div>
                        <div style="font-family: calibri;font-size: 13px;width: 50%;float: left;margin-left: 14px" class="row">
                            <b>Completed</b>
                        </div>
                        <div style="font-family: calibri;font-size: 13px;width: 50%;float: left;" class="row">
                            <b>Not Completed</b>
                        </div>
                        <div style="font-family: calibri;font-size: 13px;margin-bottom: 1px;width:50%;float: left;" class="row" *ngIf="compliancecount != undefined">
                            <div style="float: left;font-size: 25px;margin-right: 4px;color: #ff7d4aad;margin-left: 15px;">{{compliancecount.projsPass.length}}</div>
                            <div style="margin: 9px;">Project(s)</div>
                        </div>
                        <div style="font-family: calibri;font-size: 13px;margin-bottom: 1px;width:50%;float: left;" class="row" *ngIf="compliancecount != undefined">
                            <div style="float: left;font-size: 25px;margin-right: 4px;color: #ff7d4aad;margin-left: 15px;">{{compliancecount.projsFail.length}}</div>
                            <div style="margin: 9px;">Project(s) </div>
                        </div>
                        <div style="font-family: calibri;font-size: 13px;margin-bottom: 1px;width:50%;float: left;" class="row" *ngIf="complianceinfopass != undefined">
                            <div matTooltip="Click here to see list" [matTooltipPosition]="'before'" (click)="DisplayDetails(complianceinfopass , 'pass')"
                                style="float: left;font-size: 25px;margin-right: 4px;cursor: pointer;color: #ff7d4aad; margin-left: 15px;">{{employeecountpass}}</div>
                            <div style="margin:9px">Member(s)</div>
                        </div>
                        <div style="font-family: calibri;font-size: 13px;margin-bottom: 1px;width:50%;float: left;" class="row" *ngIf="complianceinfofail != undefined">
                            <div matTooltip="Click here to see list" [matTooltipPosition]="'before'" (click)="DisplayDetails(complianceinfofail ,'fail')"
                                style="float: left;font-size: 25px;margin-right: 4px;cursor: pointer;color: #ff7d4aad; margin-left: 15px;">{{employeecountfail}}</div>
                            <div style="margin:9px">Member(s)</div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-lg-4">
                <mat-card style="height: 160px;">
                    <mat-card-header style="text-align: center;font-family: calibri;font-weight: 600">
                        Customer Sucess Survey
                        <div *ngIf="CSATData != undefined">- {{CSATData.quarter}}</div>
                        <!-- <div style="cursor: pointer;" *ngIf="CSATData != undefined">View CSAT Dashboard</div> -->
                    </mat-card-header>
                    <mat-card-content>
                        <div style="font-family: calibri;font-size: 13px;" class="row" *ngIf="CSATData == undefined">Loading Details..</div>
                        <div style="font-family: calibri;font-size: 13px;margin-bottom: 1px;" *ngIf="CSATData != undefined">
                            <div class="row" style="width: 50%;float: left;margin: 0px;">
                                <div style="float: left;font-size: 15px;color: #ff7d4aad;margin-left: 16px;">Customer Success Score</div>
                            </div>
                            <div class="row" style="width: 50%;float: left;margin: 0px;">
                                <div style="float: left;font-size: 15px;color: #ff7d4aad;margin-left: 16px;">Rating for NPS</div>
                            </div>
                            <div class="row" style="width: 50%;float: left;margin: 0px;">
                                <div (click)="GetCSATDetail(CSATData.csaT_4_DATA)" style="float: left;font-size: 25px;margin-right: 4px;color: #ff7d4aad;margin-left: 15px;cursor: pointer;">{{CSATData.csaT_4_DATA.length}}</div>
                                <div style="margin: 9px;">Customers Rated 4</div>
                            </div>
                            <div class="row" style="width: 50%;float: left;margin: 0px;">
                                <div (click)="GetCSATDetail(CSATData.npS_HIGH_DATA)" style="float: left;font-size: 25px;margin-right: 4px;color: #ff7d4aad;margin-left: 15px;cursor: pointer;">{{CSATData.npS_HIGH_DATA.length}}</div>
                                <div style="margin: 9px;">Customers Rated &gt;= 9</div>
                            </div>
                            <div class="row" style="width: 50%;float: left;margin: 0px;">
                                <div (click)="GetCSATDetail(CSATData.csaT_5_DATA)" style="float: left;font-size: 25px;margin-right: 4px;color: #ff7d4aad;margin-left: 15px;cursor: pointer;">{{CSATData.csaT_5_DATA.length}}</div>
                                <div style="margin: 9px;">Customers Rated 5</div>
                            </div>
                            <div class="row" style="width: 50%;float: left;margin: 0px;">
                                <div (click)="GetCSATDetail(CSATData.npS_LOW_DATA)" style="float: left;font-size: 25px;margin-right: 4px;color: #ff7d4aad; margin-left: 15px;cursor: pointer;">{{CSATData.npS_LOW_DATA.length}}</div>
                                <div style="margin: 9px;">Customers Rated &lt; 9 </div>
                            </div>
                            <div class="row" style="width: 50%;float: left;margin: 0px;">
                                <div (click)="GetCSATDetail(CSATData.csaT_3_DATA)" style="float: left;font-size: 25px;margin-right: 4px;color: #ff7d4aad; margin-left: 15px;cursor: pointer;">{{CSATData.csaT_3_DATA.length}}</div>
                                <div style="margin: 9px;">Customers Rated &lt;= 3 </div>
                            </div>
                            <div class="row" style="width: 50%;float: left;margin: 0px;">
                                <div (click)="showCSATDashboard()" style="float: left;font-size: 17px;margin-right: 4px;color: #ff7d4aad; margin-left: 15px;cursor: pointer;">Customer Sucess Dashboard</div>
                            </div>
                        </div>
                    </mat-card-content>

                </mat-card>
            </div>
            <div class="col-lg-4">
                <mat-card style="height: 160px;">
                    <mat-card-header style="text-align: center;font-family: calibri;font-weight: 600;height: 25px;">
                    </mat-card-header>
                    <mat-card-content>
                        <div style="margin-bottom: 15px;font-family: calibri">
                            <i (click)="showBestPracMatrix()" class="fa fa-search-plus" style="float: left;font-size: 20px;color: #ffa988;margin-left: 16px;cursor: pointer;"></i>&nbsp;&nbsp;Best Practices </div>
                        <div style="font-family: calibri">
                            <i (click)="showIdeaMatrix()" class="fa fa-search-plus" style="float: left;font-size: 20px;color: #ffa988;margin-left: 16px;cursor: pointer;"></i>&nbsp;&nbsp;Ideas / Innovations</div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="CLEVER QUALITY View">
        <app-portfoliodashboard></app-portfoliodashboard>
    </mat-tab>
    <!-- <mat-tab label="Operational dashboard">
    </mat-tab> -->
</mat-tab-group>