@import '../layout.tables.style.scss';


    
.row{
  // padding-bottom: 25px;
  margin-right: 0px !important;
}

.table-container{
  padding:0px 10px;
}

// .col-lg-12, .col-md-12, .col-sm-12
// {
//     padding-left: 0px !important;
// }

.indexWidth{
    width: 1%;
}

.editWidth{
    width: 1%;
}

.deleteWidth{
    width: 1%;
}

// .projWidth{
//     width: 21%;
// }

// .portWidth{
//     width: 21%;
// }

// .desWidth{
//     width: 20%;
// }


// .ownerWidth {
//     width: 5%;
// }

// .idendateWidth{
//     width: 5%;
// }

// .statusWidth{
//     width: 5%;
// }
// .priorWidth{
//     width: 5%;
// }

// .compeldateWidth{
//     width: 5%;
// }

.mat-cell
{
  word-break: break-word;
}
.mat-column-description {
  width: 30% !important;
}
.mat-column-Completion_DATE,.mat-column-Identified_Date {
  width: 8% !important;
  white-space: nowrap;
}
// td.mat-cell
// {
//   font-family: 'calibri';
//   font-size:14px
// }

.mat-column-Portfolio_Name{
    width: 15%;
}

.mat-column-Project_Name{
    width: 15%;
}

.mat-column-owner,.mat-column-Priority,.mat-column-Status {
  width: 8% !important;
  word-break: unset
}

