.sliding-up-content {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    background: #EBEBEB 0% 0% no-repeat padding-box;opacity: 1;
    transition: all 0.3s ease-in-out;
}

mat-progress-bar{
  height: 3px;
  opacity: 0.7;
}.sliding-up-content.show {
    height: 94%;
    width:100%;
    z-index: 1100;
    background-color: #FFFFFF; 
}
.search-icon {
  width: 20px;
  height: 20px;
 border: none;
  box-shadow: none;
  outline:none !important;
}

::ng-deep .no-line .mat-form-field-underline {
    display: none;
  } 
  mat-progress-bar{
    height: 3px;
    opacity: 0.7;
  }
::ng-deep .mat-progress-bar-buffer {
    background-color: #e8e8e8 !important;
}
::ng-deep  .performanceBar .mat-progress-bar-fill::after{
	background: #82D3E5 0% 0% no-repeat padding-box;
}
::ng-deep .overallBar .mat-progress-bar-fill::after {
  background-color: #ff9933;
}
::ng-deep  .qualityBar .mat-progress-bar-fill::after{
	background: #FD7F56 0% 0% no-repeat padding-box;
}
::ng-deep .complianceBar .mat-progresfs-bar-fill::after{
	background: #60BF66 0% 0% no-repeat padding-box;
}
::ng-deep .valueBar .mat-progress-bar-fill::after{
	background: #99B5F4 0% 0% no-repeat padding-box;
}
#tblachievements .row::before{
  content: none;
}
#tblviewdetails .projrow {
  //background-image:linear-gradient(to right, #e3e0e0b8, #e3e0e0);
  border: solid #e5dfdf 0px;
  border-width: 2px 0px;
    margin-bottom: 3px; 
    border-radius: 3px;
    padding: 3px;
    font-size: 12px;
    font-weight: 100;
    color: black;
}.projrow td{ 
  vertical-align: middle !important;
  border: solid #e5dfdf 1px;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 11px;
}
.projrow th{ 
  vertical-align: middle !important;
  padding: 1px !important; font-size: 11px;
  border: solid #e5dfdf 0px;
  padding-left: 5px  !important;
  padding-right: 5px  !important;
}
.row {
  margin-right: 0px !important; 
   margin-left: 0px;
 }
.portrow{ 
  background-image: linear-gradient(to right, #cfcde1a6, #dad9e7a6);
  border: 0px 2px  solid white; 
  vertical-align: middle !important;
}
 td.projrow{
  padding-left: 30px !important;
}
tr.header {  
  border-bottom: 2px none #050505 !important; 
  font-size: 11px !important;
  background: #fff !important; 
}
tr.mat-header-row {  
    border-bottom: 2px none #050505 !important; 
    font-size: 16px !important;
    background: #fff !important; 
} .btn-grey{
  background-color: #a5a2a2;
  color:#eaeaea;
  height: 22px !important; 
  padding: 3px !important;
 } .btn-white{ 
  background-color:#fff;
  border: 1px solid gray;
  color:#7e7d7d;
  height: 18px !important;
  padding: 0px !important;
  width: 18px;
 }
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.fixed-header{
  width: 100%;
  position: fixed;   
  padding: 10px 0; 
  background-color: white;
  z-index: 1000;
  margin-top: -38px;
}
.fixed-header{
  //top: 0;
}
label{
  margin-bottom: 0px;
}
::ng-deep .backlogBar .mat-progress-bar-fill::after{
	background: #c650b2 0% 0% no-repeat padding-box;
}

::ng-deep .non-backlogBar .mat-progress-bar-fill::after{
	background: #fff716 0% 0% no-repeat padding-box;
}
.smalltext{
  font-size: 12px;
  color: #494a4d;
  text-decoration: none !important; 
  font-weight: 500;
}
.smalltextblack{
  font-size: 11px;
  color: #474646;
  text-decoration: none !important; 
  font-weight: 500;
}
.verysmalltextblack{
  
  font-size: 11px;
 color: #5c5b5b;
  text-decoration: none !important;
  text-align: center;
  font-weight: 300;
}
.floatleft{
  float: left !important;
}

.floatright{
 float: right !important;
}
.verysmalltext{
font-size: 11px; 
  text-decoration: none !important;
  text-align: center;
  font-weight: 300;
}

 .table{
  margin-bottom: 3px !important;
 }
 .custrow {
  background-image: linear-gradient(to right, #fafafa, #fafafa);
  border: 3px solid white;
    margin-bottom: 3px; 
    border-radius: 3px; 
    font-size: 12px;
    font-weight: 100;
    color: black;
    vertical-align: middle;
    box-shadow: 0px -3px 3px 0px #e1dede
}
.custrow td{ 
  padding: 3px !important;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cac9c9;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #929292;
}
