.example-month-picker .mat-calendar-period-button {
  pointer-events: none;
}
.example-month-picker .mat-calendar-arrow {
  display: none;
}
.mat-slider-horizontal {
  height:25px !important;
  top:-10px !important
}
select{
  height:25px;
}
div{
  padding:0px !important;
}