<div class="sliding-up-content" [class.show]="isvisible">

  <div class="row" mat-dialog-title style="height: 40px;background: #EBEBEB 0% 0% no-repeat padding-box;opacity: 1;">
    <label
      style="height: 17px;text-align: left;font-size: 14px;letter-spacing: 0.2px;color: #2b2a2a;opacity: 1;margin-left: 15px;margin-top: 10px;font-weight: 500 ;">
      Early Warning Signal</label>
    <a class="close-button" (click)="onClose()"
      style="margin-left: 85%;margin-top: 5px;color:#333333;cursor: pointer;position: absolute;">
      <mat-icon class="close-icon">close</mat-icon>
    </a>
  </div>
  <br />
  <div class="row">
    <div class="col-lg-12" style="color:rgb(73, 72, 72)">

      <label>Account</label>

      <select class="drpdown" style="border:0cap ;margin-left: 5px;" name="ddCustomer"
        [(ngModel)]="custID" (ngModelChange)="ddCustomer_Onchange()">
        <option value="-1">All</option>
        <!-- <option value="{{item}}" *ngFor="let item of projectdropdownValues" >{{item}}</option> -->
        <option value="{{c.cusT_ID}}" *ngFor="let c of Customer" title="c.cusT_NM" >{{c.cusT_NM}}</option>
      </select>
      <label  *ngIf="AllAccounts" style="margin-left: 8px;">Portfolio</label>
      <!-- <select *ngIf="_util.IsPremier(custID)" class="drpdown" style="border:0cap ;margin-left: 5px;" name="selectedPortfolio"
        [(ngModel)]="selectedPortfoliovalue">

        <option value="{{item}}" *ngFor="let item of projectdropdownValues">{{item}}</option>
      </select> -->
      <select *ngIf="AllAccounts" class="drpdown" style="border:0cap ;margin-left: 5px;" name="ddPortfolio"
      [(ngModel)]="PortID">
      <option value="-1">All</option>
      <option value="{{p.id}}" *ngFor="let p of Portfolio" title="p.title">{{p.title}}</option>
    </select>
      <label style="margin-left: 8px;">Project</label>
      <select class="drpdown" style="border:0cap ;margin-left: 5px;" name="ddProject" [(ngModel)]="projId">
        <option value="-1">All</option>
        <option value="{{p.proJ_ID}}" *ngFor="let p of Project" title="p.proJ_NM">{{p.proJ_NM}}</option>
      </select>
      <!-- <label style="margin-left: 8px;">Year</label>
      <select class="yeardrpdown" style="border:0cap ;margin-left: 5px" name="selectedYear" [(ngModel)]="selectedYear" (ngModelChange)="selectedPeriod_OnChange()">

        <option value="{{bb}}" *ngFor="let bb of ddyear" title="bb">{{bb}}</option>
      </select> -->
      <!-- <label style="margin-left: 8px;">View</label>
      <select class="yeardrpdown" style="border:0cap ;margin-left: 5px;" name="selectedPortfolio"
        [(ngModel)]="selectedViewVlaue">

        <option value="{{item}}" *ngFor="let item of projectdropdownValues">{{item}}</option>
      </select> -->
      <!-- <label style="margin-left: 8px;">Quarter</label>
      <select class="yeardrpdown" style="border:0cap ;margin-left: 5px; width:50px" name="selectedPortfolio"
        [(ngModel)]="selectedQuarter" (ngModelChange)="selectedPeriod_OnChange()">
        <option value="Q1">Q1</option>
        <option value="Q2">Q2</option>
        <option value="Q3">Q3</option>
        <option value="Q4">Q4</option>

       </select> -->
      <button type="button" class="btn btn-primary" style="margin-left: 15px;" (click)="OnFilter()">Apply</button>&nbsp;
      <button type="button" class="btn btn-primary" style="margin-left: 15px;" (click)="OnReset()">Reset</button>
    </div>

    <br />
    <div class="col-lg-12" style=" color:rgb(73, 72, 72);">
      <mat-tab-group class="mat-tab-label" style="margin-left: 100px; width: fit-content;" (selectedTabChange)="onTabChange($event)">
        <mat-tab label="Sponsor Level({{sponserrowcount}})"> Sponsor Level </mat-tab>
        <mat-tab label="BU Level ({{burowcount}})"> BU Level  </mat-tab>
        <mat-tab label="PM Level ({{pmrowcount}})"> PM Level  </mat-tab>
      </mat-tab-group>

      <mat-form-field style="width: 200px; margin-left: 750px;margin-bottom: 10px">
        <mat-label>Search </mat-label>
        <input matInput (keyup)="applyFilter1($event)">
    </mat-form-field>

    </div>
    <br />

    <div style="height: 40vh; overflow-y: scroll; width: 100vw;">
      <table mat-table [dataSource]="dataSource" id="tblviewdetails" class="mat-elevation-z8"
      style="font-size:11px;width:100%; ">
      <ng-container matColumnDef="ews">
        <th mat-header-cell *matHeaderCellDef class="col-lg-4">Early Warning Signal</th>
        <td mat-cell *matCellDef="let element" > {{element.ews}} </td>
      </ng-container>
      <ng-container matColumnDef="account">
        <th mat-header-cell *matHeaderCellDef  class="col-lg-2">Account</th>
        <td mat-cell *matCellDef="let element" > {{element.account}} </td>
      </ng-container>
      <ng-container matColumnDef="portfolio">
        <th mat-header-cell *matHeaderCellDef  class="col-lg-2">Portfolio</th>
        <td mat-cell *matCellDef="let element" > {{element.portfolio}} </td>
      </ng-container>
      <ng-container matColumnDef="project" >
        <th mat-header-cell *matHeaderCellDef  class="col-lg-2">Projects</th>
        <td mat-cell *matCellDef="let element" > {{element.project}} </td>
      </ng-container>
      <ng-container matColumnDef="severity">
        <th mat-header-cell *matHeaderCellDef  class="col-lg-1">Severity</th>
        <td mat-cell *matCellDef="let element"
       [ngStyle]="{color: getColor(element.severity) }"> {{element.severity}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row class="custrow" *matRowDef="let row; columns: displayedColumns;" 
      [ngClass] = "{'isClicked': isSelectedRow === row}"
      (click)="navigateToDetails(row)"
      style="cursor: pointer;"></tr>
    </table>
    </div>

    <mat-paginator #ewspaginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>

  </div>
</div>
