
  <!-- If Desktop -->
  <mat-toolbar class="example-toolbar">
  <div class="header">
    <div class="left-toolbar">
      <a class="navbar-brand" [routerLink]="['/newdashboard/custm']" style="outline: none; text-decoration: none">
        <!-- <span class="gavs_logo"></span> -->
        <img class="image" style="height: 32px;" src="/assets/images/GAVS_Logo.png">
      </a>
      <!-- <span *ngIf="enviroment != '' " style="padding: 0px 0px 0px 10px;display: inline-block;color: red;font-weight: bold;font-size: 22px;">{{enviroment}}</span> -->
      <!-- <span style="padding: 10px 10px 10px 10px;display: inline-block;color: #5461a2;font-weight: bold;font-size: 18px;">Customer Success Management Platform</span> -->
      <img class="image" style="height: 28px;margin-left: 12px;margin-top: 8px;  vertical-align: bottom;" src="/assets/images/CSM_Logo.png">
    </div>
    <div class="right-toolbar">
      <span class="user_options">
        <span *ngIf="_util.IsLoggedIn()">{{_util.AppSettings.displayname}}&nbsp;&nbsp;</span>
        <i class="fa fa-user user_img fa_fnt"></i>
      </span>
      <!-- <span *ngIf="showmenu" class="user_options" style="line-height: 10px;vertical-align: middle">
        <label class="switch">
          <input type="checkbox" [(ngModel)]="toggleMenu"  (change)="toggleDashboardMenu()">
          <span class="slider round"></span>
        </label>
        <div style="font-size: 11px; font-weight: 700">
          Menu 
        </div>
      </span> -->
      <div *ngIf="showmenu" style="font-size: 11px; font-weight: 700; cursor: pointer;" (click)="toggleDashboardMenuNew()" placeholder="Menu" class="user_options">
        <img class="menuimage" *ngIf="toggleMenu" src="assets/images/Menu icon-active.png">
        <img class="menuimage" *ngIf="!toggleMenu" src="assets/images/Menu icon-inactive.png">
      </div>
      <!-- <span *ngIf="_util.IsGAVS()" class="user_options">
        <a class="link" [routerLink]="['/roledetail']" style="color:#000;" matTooltip="User Guide" [matTooltipPosition]="'before'">
          <i class="fa fa-question-circle"></i>
        </a>
      </span> -->
      <span *ngIf="_util.IsGAVS()" class="user_options">
        <!-- <a class="link glow" target="new" href="assets/helpfiles/GAVS CSM Release notes V 1.0.27.pdf" matTooltip="New Release" [matTooltipPosition]="'before'">
          <i class="fa fa-bell" ></i>
        </a> -->
        <a class="link changecolor" target="new" href="assets/helpfiles/GAVS CSM Portal Release Notes.pdf" matTooltip="New Release"
          [matTooltipPosition]="'before'">
          <i class="fa fa-bell"></i>
        </a>
      </span>
      <span class="user_options" *ngIf="_util.IsEditable()||_util.IsHR()||_access.IsAllowed(33, 1, '','')">
        <!-- <button mat-button [matMenuTriggerFor]="menu">Menu</button> -->
        <i class="fa fa-cog fa_fnt link" mat-button [matMenuTriggerFor]="menu" matTooltip="Settings" [matTooltipPosition]="'before'"></i>
        <mat-menu #menu="matMenu" sytle="position: absolute;left: 44px;top: 35px;">
          <app-navbar-menu></app-navbar-menu>
        </mat-menu>
      </span>
      <span class="user_options">
        <a class="link" (click)='logout()' style="color:#000;" matTooltip="Sign out" [matTooltipPosition]="'before'">
          <i class="fa fa-power-off fa_fnt"></i>
        </a>
      </span>
    </div>
  </div>
  <!-- If mobile -->
  <div class="header-mobile">
    <div class="left-toolbar" style="padding-top:10px">
      <!-- <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button> -->
    </div>
    <div class="center-toolbar">
      <a class="navbar-brand" [routerLink]="['/newdashboard/custm']">
        <span class="gavs_logo" style="padding-top:18px"></span>
      </a>
    </div>
    <div class="right-toolbar">
      <!-- <i class="fa fa-user user_img fa_fnt" style="padding-top:20px"></i> -->
      <div class="dropdown">
        <i class="dropbtn" class="fa fa-user user_img fa_fnt dropbtn" style="padding:20px 10px"></i>
        <div class="dropdown-content">
          <button *ngIf="_util.IsLoggedIn()" mat-menu-item (click)='logout()'>
            <i class="fa fa-power-off" style="color:red"></i>&nbsp;&nbsp;&nbsp;Logout</button>
          <mat-divider></mat-divider>
          <app-navbar-menu></app-navbar-menu>
        </div>
      </div>
    </div>
  </div>
</mat-toolbar>