// table{
//   width:100%;
// }
.font-regular{
  font-family: "RobotoRegular"
}

.font-medium{
  font-family: "RobotoMedium";
}

.dot-leave {
  height: 14px;
  width: 14px;
  background-color:rgb(197, 251, 197);
  border-radius: 50%;
  display: inline-block;
  border: #808080b5 1px solid;
}  

.dot-holiday {
  height: 14px;
  width: 14px;
  background-color:rgb(163, 255, 255);
  border-radius: 50%;
  display: inline-block;
  border: #808080b5 1px solid;
} 

.legend-key{
  display: inline-block;
  padding-left: 4px;
  width: 35px;
  bottom: 3px;
  position: relative;
}

.table.detailedNameTable > tbody > tr > td{
  padding:4px; 
  border-top: none;
  vertical-align: middle;
}

.weekDate{
  width: 56px;
  height: 39px;
  padding: 7px;
  border-radius: 5px;
  text-align: center;      
  color: white;      
  font-family: "RobotoMedium";      
  font-weight: normal;
  font-size: 12px;
}
div.center{
  text-align: center;
}
.rotate{
  transform: rotate(180deg);
}
.task-type{      
  background-color:#edf8fd;
  font-size: 11px;
}
td.name-column{
  width: 300px;
}
td.leave{
  background-color:rgb(163, 255, 255) !important;
}
td.holiday{
  background-color:rgb(197, 251, 197) !important;  
}
td.white-border{
  border-left: 4px white solid;
  border-top: 4px white solid;
  border-bottom: 4px white solid;   
  border-collapse: separate;   
}

span.name{
  width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 11px;
  //display: inline-block;
 } 

 .col-sm-2half{
  position: relative;
  min-height: 1px;      
  padding-left: 15px; 
}

.table.detailedTable > tbody > tr > td{
  padding:2.5px; 
  border-top: none;
  vertical-align: middle;        
}

.btn-apply {
  background: #4e5882;
  border-radius: 7px;
  opacity: 1;
  color: white;
  border-color: #4e5882;  
  height: 29px;
  width: 66px;
  font-size: 12px;
  font-family: "RobotoRegular";
  padding: 0;
  margin-left: 25px;
}

button.btn-apply[disabled]{
  background: #707070;
  border-radius: 7px;
  opacity: 1;
  color: white;
  border-color: #707070;
  margin-left: 1.5%;
  height: 29px;
  width: 66px;
  font-size: 12px;
  font-family: "RobotoRegular";
  padding: 0;
  margin-left: 25px;
}

.btn-cancel {
  background: #464646;
  border-radius: 7px;
  opacity: 1;
  color: white;
  border-color: #464646; 
  height: 29px;
  width: 66px;
  font-size: 12px;
  font-family: "RobotoRegular";
  padding: 0;
  margin-left: 55px;
}

.valign{
  vertical-align: bottom;
  cursor: pointer;
}

.dropdown{
  height: 300px;
  position: absolute;
  background: white;
  border-left: 1px gray solid;
  border-bottom: 1px gray solid;
  border-right: 1px gray solid;
  // border-radius: 6px;
  // bottom: 2px;
  z-index: 99;
  overflow: scroll;
  width: 310px;
}

.time-period{
  width: 20%;
  height: 50%;
  position: absolute;
  background: white; 
  border: 1px gray solid;
  border-radius: 5px;
  margin-top: 1%;
  z-index: 99;
}

.filter-project{
  padding-left:2%;
  width:100%;
}

.time-period-select{
  float: left;
  width:50%;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.weekDaysColor{
  background-color: #96abdf;      
}

.weekEndsColor{
  background-color: #f8c875;
}

.selectProject{
  background-color: white;
  padding: 5px;
  border-radius: 6px;
  cursor: pointer;
}
.project-name{
  display: inline-block;
  width: 270px;
  bottom: 6px;
  left: 3px;
  position: relative;
}

.project-name-arrow{
  position: relative;
  top: 2px;  
}

.red-outline {
  cursor:pointer;
  margin-left: 20px; 
  padding-top: 5px;
  text-align: center;
  display: inline-block;
  color: #FF0109; 
  border: 2px solid #FF0109; 
  border-radius: 7px; 
  width: 82px; 
  height: 32px;
}

.green-outline {
  cursor:pointer;
  margin-left: 20px; 
  padding-top: 5px;
  text-align: center;
  display: inline-block;
  color: #3AB376;
  border: 2px solid #3AB376;
  border-radius: 7px; 
  width: 82px; 
  height: 32px;
}

.green-outline1 {
  cursor:pointer;
  margin-left: 20px; 
  padding-top: 5px;
  text-align: center;
  display: inline-block;
  color: #3AB376;
  border: 2px solid #3AB376;
  border-radius: 7px; 
  width: 120px; 
  height: 32px;
}

.red-fill {
  cursor:pointer;
  margin-left: 20px; 
  padding-top: 5px;
  text-align: center;
  display: inline-block;
  background-color: #FF0109; 
  border: 2px solid #FF0109; 
  color: white;
  border-radius: 7px; 
  width: 82px; 
  height: 32px;
}

.green-fill {
  cursor:pointer;
  margin-left: 20px; 
  padding-top: 5px;
  text-align: center;
  display: inline-block;
  background-color: #3AB376;
  border: 2px solid #3AB376;
  color: white;
  border-radius: 7px; 
  width: 82px; 
  height: 32px;
}

.green-fill1 {
  cursor:pointer;
  margin-left: 20px; 
  padding-top: 5px;
  text-align: center;
  display: inline-block;
  background-color: #3AB376;
  border: 2px solid #3AB376;
  color: white;
  border-radius: 7px; 
  width: 120px; 
  height: 32px;
}
.table > tbody + tbody{
  border-top: none !important;
}
tr.example-element-row.expanded-row {
  background: rgba(78, 88, 130,.1);
  box-shadow: 0px 2px 2px #00000014;
  border-radius: 5px 5px 0px 0px;
}
table.mat-table{
  margin: 10px;
  width: 98.5%;
}
td.mat-cell{
  font-size: 11px;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, 
::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background{
  background-color: #3ab376 !important;
}

::ng-deep .mat-ripple-element {
  background:rgba(58, 179, 118, 0.4) !important;
}

.selectProject.dropdown-expanded {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-left: 1px gray solid;
  border-top: 1px gray solid;
  border-right: 1px gray solid;
}