<div style="min-height: 500px;font-size: 11px;" class="font-regular">
  <div style="background-color: #f1f1f1;">
    <div class="pageborder">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: left;">
          <img class="image" style="height:45px;padding:5px" src="assets/images/{{_layoutService.selectedCust}}.png" onerror="this.src ='assets/images/CustomerLogo.png'">
        </div>
      </div>
    </div>
    <div>
      <div class="row">
        <div style="padding:10px 5px 15px 20px;">
          <a [routerLink]="['/newdashboard/cust', _layoutService.selectedCust, false]" class="font-regular" style="font-size:14px; color:#2D2D2D">Dashboard</a>
          <span> / </span>
          <span class="font-medium" style="font-size: 18px; line-height: 24px; color:#4E5882">Timesheet (For Approval)</span>
          <!-- <a routerLink="/layout/timesheetnewhome" class="font-medium" style="font-size: 18px; line-height: 24px; color:#4E5882">Timesheet</a> -->
        </div>
      </div>
      <div class="row" style="margin-bottom: 10px">
        <!-- <div class="col-sm-4">
          <span *ngIf="!list" class="material-icons arrow valign" (click)="toggleList()">
            keyboard_arrow_down
          </span>
          <span *ngIf="list" class="material-icons arrow valign" (click)="toggleList()">
            keyboard_arrow_up
          </span>
          <div *ngIf="list" class="dropdown">
            <mat-form-field class="filter-project">
              <input matInput (keyup)="applyProjectFilter($event.target.value)" placeholder="Select Projects" style="text-indent: 10px;">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <br/>
            <mat-checkbox (change)="OnChangeProjectDropdown($event,proj)" style="display: block; margin-left: 2%;" *ngFor="let proj of projects"
              [value]="proj">{{proj.proJ_NM}}</mat-checkbox>
          </div>
        </div> -->
        <div class="col-sm-3 select-project-align">
          <div [ngClass]="list ? 'dropdown-expanded selectProject' : 'selectProject' " (click)="toggleList()" class="selectProject">
            <span class="project-name">Selected Projects: ({{selectedProject.length}})</span>
            <span class="material-icons arrow project-name-arrow">
              keyboard_arrow_down
            </span>
          </div>
          <div *ngIf="list" class="dropdown">
            <mat-form-field class="filter-project">
              <input matInput (keyup)="applyProjectFilter($event.target.value)" placeholder="Select Projects" style="text-indent: 10px;">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <br/>
            <div *ngIf="projects.length == 0" style="padding-left: 10px; font-weight: bold; font-size: 12px;">
              No results found
            </div>
            <mat-checkbox [(ngModel)]="proj.checked" (change)="OnChangeProjectDropdown($event,proj)" style="display: block; margin-left: 2%;"
              *ngFor="let proj of projects" [value]="proj">{{proj.proJ_NM}}</mat-checkbox>
          </div>
        </div>
        <div class="col-sm-5" style="padding-top: 5px;">
          <span style="cursor: pointer;" (click)="clearProjects()">Clear All</span>
          <button [disabled]="selectedProject.length === 0 || inProgress" type="button" class="btn-apply" (click)="service_getTimesheetForApproval(timesheetType.selectedDateRange)">Apply</button>
        </div>
       
        <div *ngIf="!someProjectsSelected || inProgress" class="col-sm-4" style="padding-top: 5px;">

          <a *ngIf="!inProgress" [routerLink]="['/layout/timesheetnewreports/',_layoutService.selectedCust]" class="font-medium" style="font-size:10px;color: #2D2D2D">
            <img src="../assets/images/graph.png" />
            <span style="vertical-align: sub; padding-left: 7px;">View Reports</span>
          </a>
          <a *ngIf="inProgress" class="font-medium" style="cursor: not-allowed; font-size:10px;color: #2D2D2D">
            <img src="../assets/images/graph.png" />
            <span style="vertical-align: sub; padding-left: 7px;">View Reports</span>
          </a>
          
          <div *ngIf="_util.IsCustomer()" class="red-outline">
            <span>
              <img *ngIf="_util.IsCustomer()" src="../assets/images/close.svg" /> Reject </span>
          </div>
          <div *ngIf="_util.IsCustomer()" class="green-outline">
            <span>
              <img *ngIf="_util.IsCustomer()" src="../assets/images/checked.svg" /> Approve</span>
          </div>
         
          <div    *ngIf="_util.IsCSM() || _util.IsPMO()" (click)="bulkemail()" class="green-fill1">
            <span>
              <img *ngIf="_util.IsCSM() || _util.IsPMO()" src="../assets/images/checked.svg" />Email Reminder</span>
          </div>
          <div *ngIf="_util.IsCSM() || _util.IsPMO()" class="green-fill1">
            <span>
              <img *ngIf="_util.IsCSM() || _util.IsPMO()" src="../assets/images/checked.svg" />Send For Approval</span>
          </div>

        </div>
        <div *ngIf="someProjectsSelected && !inProgress" class="col-sm-3" style="padding-top: 5px;">
          <a routerLink="/layout/timesheetnewreports" class="font-medium" style="font-size:10px;color: #2D2D2D">
            <img src="../assets/images/graph.png" />
            <span style="vertical-align: sub; padding-left: 7px;">View Reports</span>
          </a>
          <div *ngIf="_util.IsCustomer()" (click)="onReject()" class="red-fill">
            <span>
              <img *ngIf="_util.IsCustomer()" src="../assets/images/close-white.svg" /> Reject </span>
          </div>
          <div *ngIf="_util.IsCustomer()" (click)="onApprove()" class="green-fill">
            <span>
              <img *ngIf="_util.IsCustomer()" src="../assets/images/checked-white.svg" /> Approve</span>
          </div>
         
          <div    *ngIf="_util.IsCSM() || _util.IsPMO()" (click)="bulkemail()" class="green-fill1">
            <span>
              <img *ngIf="_util.IsCSM() || _util.IsPMO()" src="../assets/images/checked.svg" />Email Reminder</span>
          </div>
          <div *ngIf="_util.IsCSM() || _util.IsPMO()" (click)="onSendForApproval()" class="green-fill1">
            <span>
              <img *ngIf="_util.IsCSM() || _util.IsPMO()" src="../assets/images/checked.svg" />Send For Approval</span>
          </div>
        </div>
      </div>
    </div>
    <!-- <button (click)="service_getTimesheetForApproval('07-Jun-2020 - 13-Jun-2020')">Button</button> -->

    <!-- <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
      <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToShow">
        <th mat-header-cell *matHeaderCellDef>
          <div *ngIf="column == 'checkbox' && expandElement == null">
            <mat-checkbox></mat-checkbox>
          </div>
          <div *ngIf="column != 'checkbox'">
            {{column}}
          </div>

        </th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="column == 'checkbox'">
            <mat-checkbox></mat-checkbox>
          </div>
          <div *ngIf="column != 'checkbox'">
            {{element[column]}}
          </div>
          <div *ngIf="column == 'button'">
            <a (click)="GetTimesheetData()">
              <img src="../src/assets/images/button.svg" (click)="expandElement = expandElement === element ? null : element" />
            </a>
          </div>
        </td>
      </ng-container>


      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element">
          <div class="example-element-detail" [@detailExpand]="element == expandElement ? 'expanded' : 'collapsed'">
            <div>
              <div class="col-sm-2half">
                <table class="table detailedNameTable" style="background-color:white;">
                  <thead>
                    <tr>
                      <th style="padding-left: 30px">
                        <div class="weekDate"> </div>
                      </th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let item of empGroup | groupBy: 'tasK_NAME' | keyvalue">
                    <tr style="height: 30px;">
                      <td colspan="5" class="task-type">
                        <b>{{item.key}}</b>
                      </td>
                      
                    </tr>
                    <tr *ngFor="let emp of item.value">
                      <td class="white-border">
                        <div>
                          <span class="name">{{emp.frsT_NM}}</span>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-sm-7" style="padding-left:0;padding-right: 0px; overflow-x: auto;">
                <table class="table detailedTable" style="background-color:white;">
                  <thead>
                    <tr>
                      <th style="padding-left: 30px;" *ngFor="let d of tmpSelectedDates;let i = index">
                        <div class="weekDate" [style.background]="GetBackgroundByDay(d)">
                          {{d | date:'MMM'}}
                          <span style="padding-left: 1px;"> {{d | date:'dd'}} </span>
                          <br>
                          <div style="padding-top: 2px;">{{d | date:'EEE'}}</div>
                        </div>
                      </th>

                    </tr>

                  </thead>
                  <tbody *ngFor="let item of empGroup | groupBy: 'tasK_NAME' | keyvalue;">

                    <tr style="height: 30px;">
                      <td [attr.colspan]="getTotalDays(tmpSelectedDates)" class="task-type"></td>

                    </tr>
                    <tr *ngFor="let emp of item.value">
                      <td class="white-border" *ngFor="let e of emp.timesheet" [style.background]="GetBackground(e)" style="text-align:center">
                        <div style="width:100px;">
                          <span *ngIf="e.clockeD_MINS > 0">{{e.clockeD_MINS}}
                            <img *ngIf="e.tasK_DESC != null" [matTooltip]="e.tasK_DESC" aria-label="Button that displays a tooltip when focused or hovered over"
                              src="assets/images/comment.svg">
                          </span>
                          <span *ngIf="e.clockeD_MINS == 0"> - </span>
                        </div>
                      </td>

                    </tr>

                  </tbody>
                </table>
              </div>
              <div>
                <mat-checkbox></mat-checkbox>
              </div>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToShow"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToShow;" class="example-element-row" [class.example-expanded-row]="expandElement === element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table> -->
    <mat-progress-bar *ngIf="bProgress" mode="indeterminate"></mat-progress-bar>
    <table mat-table [dataSource]="mainPageSource" multiTemplateDataRows class="mat-elevation-z8">
      <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
        <th mat-header-cell *matHeaderCellDef>
          <div *ngIf="column=='proJ_NM'">
            Projects
            <!-- <img src="../src/assets/images/Group6420.svg"> Projects
            <span *ngIf="!list" class="material-icons arrow valign" (click)="toggleList()">
              keyboard_arrow_down
            </span>
            <span *ngIf="list" class="material-icons arrow valign" (click)="toggleList()">
              keyboard_arrow_up
            </span>
            <div *ngIf="list" class="dropdown">
              <mat-form-field class="filter-project">
                <input matInput (keyup)="applyProjectFilter($event.target.value)" placeholder="Select Projects" style="text-indent: 10px;">
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
              <br/>
              <mat-checkbox (change)="OnChangeProjectDropdown($event,proj)" style="display: block; margin-left: 2%;" *ngFor="let proj of projects"
                [value]="proj">{{proj.proJ_NM}}</mat-checkbox>
            </div> -->
          </div>
          <div *ngIf="column=='displayName'">
            <!-- <img src="../src/assets/images/Group2.svg" /> Time Period            
            <div>
                <button type="button" class="btn-cancel">Cancel</button>
                <button type="button" class="btn-apply" (click)="service_getTimesheetForApproval(timesheetType.selectedDateRange)">Apply</button>
              </div> -->
            Time Period
          </div>

          <!-- <div *ngIf="column == 'waitinG_FOR_APPROVAL'">
            Waiting For Approval
          </div> -->
          <div *ngIf="column == 'totaL_EMPLOYEES'">
            Members
          </div>
          <div *ngIf="column == 'totaL_HOURS'" [ngClass]="column === 'totaL_HOURS'? 'center':''">
            Total Hrs
          </div>
          <div *ngIf="column == 'checkbox' && expandedElement == null">
            <mat-checkbox [(ngModel)]="allProjectsSelected" [indeterminate]="!allProjectsSelected && someProjectsSelected" (change)="submitDetails($event.checked,'all','all','all','all')"></mat-checkbox>
          </div>
        </th>
        <td mat-cell *matCellDef="let element; let index=dataIndex">
          <div *ngIf="column == 'button'">
            <img src="../assets/images/button.svg" [ngClass]="expandedElement === element ? 'rotate':''" (click)="expandedElement = expandedElement === element ? null : element;"
            />
          </div>
          <!-- <div *ngFor="let e of element"> -->
          <div *ngIf="column != 'checkbox' && column != 'waitinG_FOR_APPROVAL' && column != 'totaL_EMPLOYEES'" [ngClass]="column === 'totaL_HOURS'? 'center':''">
            {{element[0][column]}}
          </div>
          <!-- <div style="padding-left: 50px;" *ngIf="column == 'waitinG_FOR_APPROVAL'">
            <span style="color:#FF0000"> {{element[0][column]}} </span>
          </div> -->
          <div style="padding-left: 20px;" *ngIf="column == 'totaL_EMPLOYEES'">
            {{element[0][column]}}
          </div>
          <div *ngIf="column == 'checkbox'">
            <mat-checkbox [(ngModel)]="element[0].checked" [indeterminate]="!element[0].checked && element[0].selected" (change)="submitDetails($event.checked,element[0].proJ_ID,'all','all',element[0].displayName)"></mat-checkbox>
          </div>

          <!-- </div> -->
        </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element; let x = dataIndex" [attr.colspan]="columnsToDisplay.length">
          <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <table class="table detailedTable" style="background-color:white;">
              <thead>
                <tr>
                  <th style="padding-left: 30px">
                  </th>
                  <!-- <ng-container *ngFor="let date of tmpSelectedDatesPerProject[x]"> -->
                  <th style="padding-left: 30px;" *ngFor="let d of tmpSelectedDatesPerProject[x];let i = index">
                    <div class="weekDate" [style.background]="GetBackgroundByDay(d)">
                      {{getDateValue(d)}}
                      <!-- {{d | date:'MMM'}}
                      <span style="padding-left: 1px;"> {{d | date:'dd'}} </span>
                      <br>
                      <div style="padding-top: 2px;">{{d | date:'EEE'}}</div> -->
                    </div>
                  </th>
                  <!-- </ng-container> -->
                  <th style="width: 140px; padding-left: 28px;">
                    Total
                  </th>
                </tr>
              </thead>
              <tbody *ngFor="let item of expansionBlockSource | filterBy:['displayName']:element[0].displayName | filterBy:['proJ_ID']:element[0].proJ_ID | groupBy:'proJ_TASK' | keyvalue">
                <tr style="height: 30px;background-color: #edf8fd;">
                  <td colspan="10" class="task-type">
                    <b style="padding-left: 21px;">{{item.key}}</b>
                  </td>
                </tr>
                <tr *ngFor="let emp of item.value | filterBy:['proJ_TASK']:item.key | groupBy:'frsT_NM'  | keyvalue | truthify">
                  <td class="white-border name-column">
                    <div style="padding-left: 20px;">
                      <span class="name">{{emp.key}}</span>
                    </div>
                  </td>
                  <td class="white-border" *ngFor="let d of tmpSelectedDatesPerProject[x]" style="background-color:#C9EEFF;text-align:center;font-size:11px;width: 120px;"
                    [ngClass]="isClockedMinsPresent((emp.value),d) !== -1 ? 
                      (((emp.value)[isClockedMinsPresent((emp.value),d)].proJ_TASK_ID) === 5 ? 'leave': ((emp.value)[isClockedMinsPresent((emp.value),d)].proJ_TASK_ID) === 3?'holiday':''):''">
                    <div>
                      <span *ngIf="isClockedMinsPresent((emp.value),d) !== -1">
                        {{(emp.value)[isClockedMinsPresent((emp.value),d)].clockeD_MINS}}
                        <img *ngIf="(emp.value)[isClockedMinsPresent((emp.value),d)].tasK_DESC != null" [matTooltip]="(emp.value)[isClockedMinsPresent((emp.value),d)].tasK_DESC"
                          aria-label="Button that displays a tooltip when focused or hovered over" src="assets/images/comment.svg">
                      </span>
                      <span *ngIf="isClockedMinsPresent((emp.value),d) === -1">
                        -
                      </span>
                    </div>
                    <!-- <span *ngIf="isClockedMinsPresent((emp.value),d) !== -1">{{(emp.value)[isClockedMinsPresent((emp.value),d)].clockeD_MINS}}</span>
                      <span *ngIf="isClockedMinsPresent((emp.value),d) === -1"> - </span>
                    <span *ngIf="(emp.value)[0].clndR_DATE == d">{{(emp.value)[0].clockeD_MINS}}</span>
                      <span *ngIf="(emp.value)[0].clndR_DATE != d"> - </span> -->
                    <!-- <div style="width:100px;">
                      <span *ngIf="e.clockeD_MINS > 0">{{e.clockeD_MINS}}
                        <img *ngIf="e.tasK_DESC != null" [matTooltip]="e.tasK_DESC" aria-label="Button that displays a tooltip when focused or hovered over"
                          src="assets/images/comment.svg">
                      </span>
                      <span *ngIf="e.clockeD_MINS == 0"> - </span>
                    </div> -->
                  </td>
                  <td style="width:140px; padding-left: 35px;">
                    {{(emp.value) | pluck:'clockeD_MINS' | sum}}
                  </td>
                  <td style="text-align: center; right: 40px; position: relative; width: 60px;">
                    <mat-checkbox *ngIf="(emp.value)[getFirstIndex(emp.value)].dummy == false" [(ngModel)]="(emp.value)[getFirstIndex(emp.value)].selected" (change)="submitDetails($event.checked,(emp.value)[0].proJ_ID,(emp.value)[0].proJ_TASK,(emp.value)[0].emP_ID,(emp.value)[0].displayName)"></mat-checkbox>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="8" style="text-align: right;">
                    <div style="padding-top: 23px; padding-right:5px;">
                      <div style="display:inline-block;">
                        <div class="dot-leave"></div>

                        <div class="legend-key">Leave</div>
                      </div>
                      <div style="display:inline-block;padding-left:15px;">
                        <div class="dot-holiday"></div>
                        <div class="legend-key">Holiday</div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tfoot>
            </table>

          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row" [class.expanded-row]="expandedElement === element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
  </div>