<div style="font-size: 20px; text-align: center">
  Customer Success Survey Settings
</div>
<div>
  <div class="row">
    Batch Details
    <mat-icon class="mat-icon-refresh" (click)="btnRefresh_onclick()">refresh</mat-icon>

    <div style="margin-left: 83%; display: flex; align-items: center;">
      <button 
        style="text-transform: none; height: 35px; width: 130px;" 
        name="btnVerification"
        *ngIf="_access.IsAllowed(93, 1, '', '')" 
        (click)="openPopup()">
        Add Batch
      </button>
      <a class="iconbutton" title="Export to Excel" (click)="exportToExcel()" style="border: none; background: none; padding: 0 0 0 10px;">
        <i style="color: #207346; font-size: 20px;" class="fa fa-file-excel-o"></i>
      </a>
    </div>
  </div>
  <div class="example-container" style="margin-top: 10px">
    <table mat-table [dataSource]="Batches" class="table table-bordered" style="font-size: 12px">
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell [ngClass]="'indexWidth'" *matCellDef="let element = index">
          <a style="color: #0000FF;" class="link">
            {{ element + 1 }}
          </a>
        </td>
      </ng-container>
      <ng-container matColumnDef="frequency">
        <th mat-header-cell *matHeaderCellDef>Frequency</th>
        <td mat-cell *matCellDef="let element"><a style="color: #0000FF;" class="link">
            {{ element.frequency }}</a></td>
      </ng-container>
      <ng-container matColumnDef="starT_DATE">
        <th mat-header-cell *matHeaderCellDef>Start Date</th>
        <td mat-cell *matCellDef="let element"><a style="color: #0000FF;" class="link">
            {{ element.starT_DATE | date : "dd-MMM-yyy" }}</a>
        </td>
      </ng-container>
      <ng-container matColumnDef="enD_DATE">
        <th mat-header-cell *matHeaderCellDef>End Date</th>
        <td mat-cell *matCellDef="let element"><a style="color: #0000FF;" class="link">
            {{ element.enD_DATE | date : "dd-MMM-yyy" }}</a>
        </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element"><a style="color: #0000FF;" class="link">
            {{ element.status }}</a></td>
      </ng-container>
      <ng-container matColumnDef="totaL_RECORDS">
        <th mat-header-cell *matHeaderCellDef>Total</th>
        <td mat-cell *matCellDef="let element"><a style="color: #0000FF;" class="link">
          {{ element.totaL_RECORDS }} </a></td>
      </ng-container>
      <ng-container matColumnDef="pending">
        <th mat-header-cell *matHeaderCellDef>Pending</th>
        <td mat-cell *matCellDef="let element"><a style="color: #0000FF;" class="link">
          {{ element.pending }} </a></td>
      </ng-container>
      <ng-container matColumnDef="verified">
        <th mat-header-cell *matHeaderCellDef>Verified</th>
        <td mat-cell *matCellDef="let element"><a style="color: #0000FF;" class="link">
          {{ element.verified }} </a></td>
      </ng-container>
      <ng-container matColumnDef="rejected">
        <th mat-header-cell *matHeaderCellDef>Rejected</th>
        <td mat-cell *matCellDef="let element"><a style="color: #0000FF;" class="link">
          {{ element.rejected }} </a></td>
      </ng-container>
      <ng-container matColumnDef="surveY_SENT">
        <th mat-header-cell *matHeaderCellDef>Sent</th>
        <td mat-cell *matCellDef="let element"><a style="color: #0000FF;" class="link">
          {{ element.surveY_SENT }} </a></td>
      </ng-container>
      <ng-container matColumnDef="surveY_RECD">
        <th mat-header-cell *matHeaderCellDef>Received</th>
        <td mat-cell *matCellDef="let element"><a style="color: #0000FF;" class="link">
          {{ element.surveY_RECD }}</a></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="batchColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let element; columns: batchColumns" (click)="ViewBatch_onClick(element)"
        [ngClass]="{'selected-row': isSelectedRow(element)}"></tr>
    </table>
  </div>
</div>
<div>
  <div class="row" style="padding-top: 5px">
    <div class="col-lg-2 col-md-2 col-sm-2">Customer Details</div>
    <div class="col-lg-8 col-md-8 col-sm-8">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" />
      </mat-form-field>
    </div>
  
  
    <div class="col-lg-2 col-md-2 col-sm-2">
      <button style="text-transform: none; height: 35px;position: absolute;margin-left: -90%;margin-top: 0.5%;"
        name="btnGenerate" (click)="btnGenerateMissingContacts()">
        Generate Missing Contacts
      </button>
      <button style="text-transform: none; height: 35px; width: 130px" name="btnVerification"
        (click)="btnReGenerateCustomerList_OnClick()">
        Re-Generate List
      </button>
    </div>
  </div>
  <div class="row">
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  </div>
 
   <div class="example-container1" style="margin-top:5px;margin-bottom: 5px">
    <table #tableToExport mat-table [dataSource]="dataSource" class="table table-bordered" style="font-size:12px">
    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox *ngIf="row.status != 'COMPLETED'" (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell [ngClass]="'indexWidth'" *matCellDef="let element = index">
          {{ element + 1 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="cusT_NM">
        <th mat-header-cell *matHeaderCellDef>Customer</th>
        <td mat-cell *matCellDef="let element">{{ element.cusT_NM }}</td>
      </ng-container>
      <ng-container matColumnDef="proJ_NM">
        <th mat-header-cell *matHeaderCellDef>Project</th>
        <td mat-cell *matCellDef="let element">{{ element.proJ_NM }}</td>
      </ng-container>
      <ng-container matColumnDef="proJ_STATUS">
        <th mat-header-cell *matHeaderCellDef>Project Status</th>
        <td mat-cell *matCellDef="let element">{{ element.proJ_STATUS }}</td>
      </ng-container>
      <ng-container matColumnDef="displaY_NAME">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.displaY_NAME }}</td>
      </ng-container>
      <ng-container matColumnDef="emaiL_ID">
        <th mat-header-cell *matHeaderCellDef>Email Id</th>
        <td mat-cell *matCellDef="let element">{{ element.emaiL_ID }}</td>
      </ng-container>

      <ng-container matColumnDef="CSMList">
        <th mat-header-cell *matHeaderCellDef>CSM</th>
        <td mat-cell *matCellDef="let element">
          {{ GetCSM(element.proJ_ID) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="contacT_ROLE">
        <th mat-header-cell *matHeaderCellDef>Role</th>
        <td mat-cell *matCellDef="let element">{{ element.contacT_ROLE }}</td>
      </ng-container>
      <ng-container matColumnDef="revenuE_TYPE">
        <th mat-header-cell *matHeaderCellDef>Revenue Type</th>
        <td mat-cell *matCellDef="let element">{{ element.revenuE_TYPE }}</td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{ element.status }}</td>
      </ng-container>     
      <ng-container matColumnDef="sentdate">
        <th mat-header-cell *matHeaderCellDef>Survey Sent On</th>
        <td mat-cell *matCellDef="let element">
          {{ element.surveY_SENT_DATE | date : "dd-MMM" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="recddate">
        <th mat-header-cell *matHeaderCellDef>Survey received On</th>
        <td mat-cell *matCellDef="let element">
          {{ element.surveY_RECEIVED_DATE | date : "dd-MMM" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="unit">
        <th mat-header-cell *matHeaderCellDef>Contracting Unit</th>
        <td mat-cell *matCellDef="let element">{{ element.contractinG_UNIT }}</td>
      </ng-container>
      <ng-container matColumnDef="verified">
        <th mat-header-cell *matHeaderCellDef>Verified</th>
        <td mat-cell *matCellDef="let element">
          {{ getStatusText(element)}}
        </td>
      </ng-container>
      <ng-container matColumnDef="comments">
        <th mat-header-cell *matHeaderCellDef>Rejection Comments</th>
        <td mat-cell *matCellDef="let element">
          {{ element.comments}}
        </td>
      </ng-container>
      <ng-container matColumnDef="updatedBy">
        <th mat-header-cell *matHeaderCellDef>Updated By</th>
        <td mat-cell *matCellDef="let element">
          {{element.approver}}
        </td>
      </ng-container>
      <ng-container matColumnDef="updatedDate">
        <th mat-header-cell *matHeaderCellDef>Updated Date</th>
        <td mat-cell *matCellDef="let element">
          {{ element.updateD_DATE  | date : "dd-MMM-yyy"}}
        </td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell style="font-family: calibri" [ngClass]="'editWidth'" *matHeaderCellDef>
          <div></div>
        </th>
        <td mat-cell [ngClass]="'editWidth'" *matCellDef="let element">
          <a class="link" (click)="CopyToClipboard(element)">
            <img src="\assets\images\copy.png" style="width: 20px; height: 20px" />
          </a>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="batchCustomersColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: batchCustomersColumns"></tr>
    </table>
  </div>
</div>
<div *ngIf="selectedBatch != null && selectedBatch != undefined" class="row">
  <button style="text-transform: none; height: 50px; width: 180px; margin-right: 10px" name="btnVerification"
    (click)="btnVerification_OnClick()">
    Send Verification mail to
    <span style="font-weight: bold">CSM</span>
  </button>
  <button style="text-transform: none; height: 50px; width: 240px; margin-right: 10px" name="btnTriggerSurvey"
    (click)="btnTriggerSurvey_OnClick()"  *ngIf="_access.IsAllowed(117, 1, '', '')">
    Send Survey Request mails to
    <span style="font-weight: bold">Customer</span>
  </button>
  <button style="text-transform: none; height: 50px; width: 200px; margin-right: 10px" name="btnTriggerReminder"
    (click)="btnTriggerReminder_OnClick()"  *ngIf="_access.IsAllowed(117, 1, '', '')">
    Send Reminder mails to
    <span style="font-weight: bold">Customer</span>
  </button>
  <button *ngIf="selectedBatch.status != 'CREATED' " style="text-transform: none; height: 50px; width: 200px; margin-right: 10px" name="btnCreateActionItem"
    (click)="btnCreateActionItem_OnClick()">
    Create
    <span style="font-weight: bold">Action Item</span>
    for Not Responded CSAT
  </button>
  <button style="text-transform: none; height: 50px; width: 200px; margin-right: 10px" name="btnReactivateLink"
    (click)="btnReactivateLink()"  *ngIf="_access.IsAllowed(117, 1, '', '')">
    Activate  
    <br>
    <span style="font-weight: bold">CSS</span>
    link
  </button>
</div>