<div  class="row">
     <div class="col-lg-4 col-md-4 col-sm-4" *ngIf="_util.IsPremier(custId)" style=" text-align: left; margin-right: 20px; vertical-align: middle;">
        <mat-form-field style="width: 90%;">
          <mat-label> Portfolio :</mat-label>
          <mat-select   style="margin-right: 10px;" #select [(ngModel)]="portArray"   
              (selectionChange)="getProjectListForPremier1(portArray)" >
            <mat-option [value]="-1"   #allSelected>All</mat-option>
            <mat-option *ngFor="let port of portfolioList"   [value]="port.id">{{port.title}}</mat-option>
          </mat-select>
      </mat-form-field>
    </div>
     <div class="col-lg-4 col-md-4 col-sm-4" >
      <mat-form-field style="width: 100%;">
          <mat-label> Project :</mat-label>
          <mat-select #mySel   [(ngModel)]="projArray" (ngModelChange)="ddProject_Onchange()" [title]="getprojectTootip()">
            <!-- <mat-option [value]="-1" (click)="toggleProjectSelection()" #allProjectsSelected *ngIf="projectList?.length > 0">All</mat-option> -->
            <mat-option *ngFor="let proj of projectList" (click)="tosslePerProject()" [title] ="proj.proj_nm" 
            [value]="proj.proj_id">{{proj.proj_nm}}</mat-option>
          </mat-select>
      </mat-form-field>
    </div>  
    <div class="col-lg-4 col-md-4 col-sm-4">
      
    </div>
  </div>
  
  