<app-navbar-new [ShowMenu]="false" (showDashboardMenu)="onMenuToggleChange($event)">
</app-navbar-new>
<div class="pageborder">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: left;">
      <div style="display: inline-block; margin-right: 10px; cursor: pointer; text-decoration: none; outline: none"
        [routerLink]="['/newdashboard/cust', _layoutService.selectedCust, false]">
        <img src="assets/images/back_round.png">
      </div>
      <img class="image" style="height:45px;padding:5px" src="assets/images/{{_layoutService.selectedCust}}.png"
        onerror="this.src ='assets/images/CustomerLogo.png'">

      <mat-select placeholder="Select Project" [(ngModel)]="input_projectid" (selectionChange)="onProjectChange()"
        style="margin-left:15px; width:260px;background-color: white;border: solid #d0d0d0 1px;padding: 5px;">
        <mat-option *ngFor="let proj of projNames" [value]="proj.proJ_ID" [title]="proj.proJ_NM">{{proj.proJ_NM}}</mat-option>
      </mat-select>

    </div>
    <div class="col-lg-6 col-md-6 col-sm-6"
      style="font-size: 16px; font-weight: 700;font-family: 'Roboto', sans-serif; margin: 15px; color: #4e5882">

      <div style="display: inline-block; ">
        Compliance Insights
      </div>
    </div>

  </div>

<div class="container-fluid">
  <!-- <div style="text-align: center;font-size: 20px">Compliance Status of Resolution Notes</div> -->
  <br>
  <mat-progress-bar *ngIf="_loading" mode="indeterminate"></mat-progress-bar>
  <div style="background-color: white;padding-left:15px">
    <div class="row">
      <div class="col col-lg-3 col-md-4 col-sm-6">
        <mat-form-field style="padding-right:5px;" style="width:80%">
          <mat-select name="ddReportType" [(ngModel)]="selectedReportType" placeholder="Select Data Dump">
            <mat-option *ngFor="let r of reportTypes" [value]="r" [title]="r.datA_DUMP_NAME">{{r.datA_DUMP_NAME}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col col-lg-3 col-md-4 col-sm-6">
        <mat-form-field style="width:100%">
          <mat-select name="ddFilter" [(ngModel)]="dataDumpType" placeholder="select Data Dump Type">
            <mat-option *ngFor="let c of ddDataDumpType" [value]="c" [title]="c">{{c}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col col-lg-3 col-md-4 col-sm-6">
        <mat-form-field style="width: 88px;">
          <mat-label>Start date</mat-label>
          <input [max]= "endDate" matInput [(ngModel)]="startDate" [matDatepicker]="picker1">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field style="margin-left: 2%; width: 89px;">
          <mat-label>End date</mat-label>
          <input [min] = "startDate" matInput [(ngModel)]="endDate" [matDatepicker]="picker2">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2 color="primary"></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col col-lg-2">
        <button (click)="AnalyzeInsights()" class="analyze" mat-button> Analyze </button>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="filteredInsights != undefined && filteredInsights.total.length > 0 ">
    <div style="margin: 10px;float: left;">Total number of Record:
      <div style="display: inline;font-size: 30px;">{{filteredInsights.total[0].compliancE_TOTAL}}</div>
    </div>
    <div style="margin: 10px;float: left;">Number of Record Complaint:
      <div style="display: inline;font-size: 30px;">{{filteredInsights.total[0].compliance}}</div>
    </div>
    <div style="margin: 10px;float: left;">Number of Record Non-Complaint:
      <div style="display: inline;font-size: 30px;">{{filteredInsights.total[0].noN_COMPLIANCE}}</div>
    </div>
  </div>

  <div class="col-lg-8 col-md-4 col-sm-6" *ngIf="filteredInsights != undefined && filteredInsights.total.length > 0 ">
    <div style="margin-left: 1%;">
      <u>Contribution</u>
    </div>
    <table *ngIf="filteredInsights.detailList.length > 0" mat-table [dataSource]="filteredInsights.detailList" class="mat-elevation-z8">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef style="border: 1px solid #dddddd;"> No. </th>
        <td mat-cell *matCellDef="let element = index" style="border: 1px solid #dddddd;"> {{element + 1}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef style="border: 1px solid #dddddd;"> Name </th>
        <td mat-cell *matCellDef="let element" style="border: 1px solid #dddddd;"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="complaint">
        <th mat-header-cell *matHeaderCellDef style="border: 1px solid #dddddd;color: #3c763d;">
          <i class="material-icons">
            check
          </i>
        </th>
        <td (click)="getDetails(element.compliant)" mat-cell *matCellDef="let element" style="border: 1px solid #dddddd;"> {{element.compliant.length}} </td>
      </ng-container>
      <ng-container matColumnDef="noncomplaint">
        <th mat-header-cell *matHeaderCellDef style="border: 1px solid #dddddd;color: #f44336;">
          <i class="material-icons">
            cancel
          </i>
        </th>
        <td (click)="getDetails(element.noncompliant)" mat-cell *matCellDef="let element" style="border: 1px solid #dddddd;"> {{element.noncompliant.length}} </td>
      </ng-container>
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef style="border: 1px solid #dddddd;"> Total </th>
        <td mat-cell *matCellDef="let element" style="border: 1px solid #dddddd;"> {{element.totalemp.length}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div style="text-align: center;" *ngIf="filteredInsights.detailList.length == 0">
      <i style="font-size: 50px" class="material-icons">
        delete_outline
      </i>
      <div style="font-size: 15px">No data to display in the selected Period</div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12" *ngIf="filteredInsights != undefined && filteredInsights.detailList.length > 0">
    <h4 style="margin-left: 1%;">
      <u>Rules Applied</u>
    </h4>
    <div class="row">
      1.Resolution notes should not be empty
    </div>
    <div *ngIf="filteredInsights != undefined" class="row">
      2.Minimum number of characters : {{filteredInsights.ruleS_APPLIED[0].criteriA_LENGTH}}
    </div>
    <!-- <mat-card>
      <table *ngIf="filteredInsights != undefined" class="table table-bordered">
        <tr>
          <th>Rule Condition</th>
          <th>Rule Value</th>
        </tr>
        <tr *ngFor="let filter of filteredInsights.ruleS_APPLIED">
          <td>{{filter.criteriA_FILTER_CONDITION}}</td>
          <td>{{filter.criteriA_FILTER_VALUE}}</td>
        </tr>
      </table>
    </mat-card> -->
  </div>
</div>
</div>

<!-- <h4>choose Project</h4> -->