table 
{
    font-family: "Arial";
    
 }

 table#tblProcessMdl tr th
 {
    font-size: 14 px;
    background :#c6ddf9; 
    height: 40px; 
    border:1px solid lightgrey; 
    border-top:none;   
 }

 .link {
   cursor: pointer;
   text-decoration: none;
   vertical-align: middle;
   text-align: center;
   margin-right:3px;
 }
 .table-container {
   max-height: 700px; /* Adjust as needed */
   overflow-y: auto; /* Enable vertical scrolling */
   position: relative; /* Ensure positioning context for sticky headers */
 }
 
 .table-container thead th {
   position: sticky;
   top: 0;
   z-index: 1;
   background-color: #fff; /* Match with your table header background color */
   border-bottom: 2px solid #dee2e6; /* Optional: add a border for visual separation */
 }
 